<a href="https://colab.research.google.com/github/TimTree/DS-Unit-2-Regression-Classification/blob/master/module3/assignment_regression_classification_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science, Unit 2: Predictive Modeling

# Regression & Classification, Module 3

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

Instead, predict property sales prices for **One Family Dwellings** (`BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'`). 

Use a subset of the data where the **sale price was more than \\$100 thousand and less than $2 million.** 

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.

- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Fit a ridge regression model with multiple features.
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.


## Stretch Goals
- [ ] Add your own stretch goal(s) !
- [ ] Instead of `RidgeRegression`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `RidgeRegression`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
import os, sys
in_colab = 'google.colab' in sys.modules

# If you're in Colab...
if in_colab:
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification.git
    !git pull origin master
    
    # Install required python packages
    !pip install -r requirements.txt
    
    # Change into directory for module
    os.chdir('module3')

Reinitialized existing Git repository in /content/.git/
fatal: remote origin already exists.
From https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification
 * branch            master     -> FETCH_HEAD
Already up to date.
Requirement already satisfied: category_encoders==2.0.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 1)) (2.0.0)
Requirement already satisfied: eli5==0.10.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 2)) (0.10.0)
Requirement already satisfied: matplotlib!=3.1.1 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 3)) (3.0.3)
Requirement already satisfied: pandas-profiling==2.3.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 4)) (2.3.0)
Requirement already satisfied: pdpbox==0.2.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 5)) (0.2.0)
Requirement already satisfied: plotly==4.1.1 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 6)) (4.1.1)
Requirement already satisfied: seaborn==0.9.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 7)) (0.9.0)
Requirement already satisfied: scikit-learn==0.21.3 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 8)) (0.21.3)
Requirement already satisfied: shap==0.29.3 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 9)) (0.29.3)
Requirement already satisfied: statsmodels==0.10.1 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 10)) (0.10.1)
Requirement already satisfied: xgboost==0.90 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 11)) (0.90)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (0.5.1)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (1.3.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (1.16.5)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (0.24.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (1.12.0)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (0.8.5)
Requirement already satisfied: typing in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (3.7.4.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (2.10.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (0.10.1)
Requirement already satisfied: attrs>16.0.0 in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (19.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (2.5.3)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.4.2)
Requirement already satisfied: confuse>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.0.0)
Requirement already satisfied: htmlmin>=0.1.12 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.1.12)
Requirement already satisfied: astropy in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (3.0.5)
Requirement already satisfied: phik>=0.9.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.9.8)
Requirement already satisfied: psutil in /usr/local/lib/python3.6/dist-packages (from pdpbox==0.2.0->-r requirements.txt (line 5)) (5.4.8)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from pdpbox==0.2.0->-r requirements.txt (line 5)) (0.13.2)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly==4.1.1->-r requirements.txt (line 6)) (1.3.3)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.6/dist-packages (from shap==0.29.3->-r requirements.txt (line 9)) (4.28.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.6/dist-packages (from shap==0.29.3->-r requirements.txt (line 9)) (5.5.0)
Requirement already satisfied: scikit-image in /usr/local/lib/python3.6/dist-packages (from shap==0.29.3->-r requirements.txt (line 9)) (0.15.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.0.0->-r requirements.txt (line 1)) (2018.9)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->eli5==0.10.0->-r requirements.txt (line 2)) (1.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib!=3.1.1->-r requirements.txt (line 3)) (41.2.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from confuse>=1.0.0->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (3.13)
Requirement already satisfied: nbconvert>=5.3.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (5.6.0)
Requirement already satisfied: numba>=0.38.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.40.1)
Requirement already satisfied: pytest>=4.0.2 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (5.2.0)
Requirement already satisfied: jupyter-client>=5.2.3 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (5.3.3)
Requirement already satisfied: pytest-pylint>=0.13.0 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.14.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (4.3.2)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (0.8.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (4.4.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (2.1.3)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (4.7.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (1.0.16)
Requirement already satisfied: pillow>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (4.3.0)
Requirement already satisfied: imageio>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (2.4.1)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (2.3)
Requirement already satisfied: PyWavelets>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (1.0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.4.2)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.6.0)
Requirement already satisfied: nbformat>=4.4 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.4.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (3.1.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.5.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.8.4)
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.29.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (19.2)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.8.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (7.2.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.13.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.1.7)
Requirement already satisfied: importlib-metadata>=0.12; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.23)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.3.0)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (17.0.0)
Requirement already satisfied: tornado>=4.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.5.3)
Requirement already satisfied: pylint>=1.4.5 in /usr/local/lib/python3.6/dist-packages (from pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (2.4.2)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->ipython->shap==0.29.3->-r requirements.txt (line 9)) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython->shap==0.29.3->-r requirements.txt (line 9)) (0.6.0)
Requirement already satisfied: olefile in /usr/local/lib/python3.6/dist-packages (from pillow>=4.3.0->scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (0.46)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (2.6.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.5.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.6.0)
Requirement already satisfied: mccabe<0.7,>=0.6 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.6.1)
Requirement already satisfied: astroid<2.4,>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (2.3.1)
Requirement already satisfied: isort<5,>=4.2.5 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.3.21)
Requirement already satisfied: wrapt==1.11.* in /usr/local/lib/python3.6/dist-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.11.2)
Requirement already satisfied: lazy-object-proxy==1.4.* in /usr/local/lib/python3.6/dist-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.4.2)
Requirement already satisfied: typed-ast<1.5,>=1.4.0; implementation_name == "cpython" and python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.4.0)

In [0]:
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv('../data/condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [6]:
df.head()

  BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1                    OTHER  ...          0  01/01/2019
1       1                    OTHER  ...          0  01/01/2019
2       1                    OTHER  ...          0  01/01/2019
3       1                    OTHER  ...          0  01/01/2019
4       1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019

[5 rows x 21 columns]

In [7]:
df.dtypes

BOROUGH                            object
NEIGHBORHOOD                       object
BUILDING_CLASS_CATEGORY            object
TAX_CLASS_AT_PRESENT               object
BLOCK                               int64
LOT                                 int64
EASE-MENT                         float64
BUILDING_CLASS_AT_PRESENT          object
ADDRESS                            object
APARTMENT_NUMBER                   object
ZIP_CODE                          float64
RESIDENTIAL_UNITS                 float64
COMMERCIAL_UNITS                  float64
TOTAL_UNITS                       float64
LAND_SQUARE_FEET                   object
GROSS_SQUARE_FEET                 float64
YEAR_BUILT                        float64
TAX_CLASS_AT_TIME_OF_SALE           int64
BUILDING_CLASS_AT_TIME_OF_SALE     object
SALE_PRICE                          int64
SALE_DATE                          object
dtype: object

In [0]:
# Convert SALE_DATE to datetime

df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'])

In [9]:
df.head()

  BOROUGH             NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
0       1                    OTHER  ...          0 2019-01-01
1       1                    OTHER  ...          0 2019-01-01
2       1                    OTHER  ...          0 2019-01-01
3       1                    OTHER  ...          0 2019-01-01
4       1  UPPER EAST SIDE (59-79)  ...          0 2019-01-01

[5 rows x 21 columns]

In [0]:
# Filter dataset to one family dwellings
df2 = df[df['BUILDING_CLASS_CATEGORY']=='01 ONE FAMILY DWELLINGS']

In [11]:
df2.head()

   BOROUGH NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
7        2        OTHER  ...          0 2019-01-01
8        2        OTHER  ...          0 2019-01-01
9        2        OTHER  ...          0 2019-01-01
42       3        OTHER  ...          0 2019-01-01
44       3        OTHER  ...     550000 2019-01-01

[5 rows x 21 columns]

In [12]:
df2.dtypes

BOROUGH                                   object
NEIGHBORHOOD                              object
BUILDING_CLASS_CATEGORY                   object
TAX_CLASS_AT_PRESENT                      object
BLOCK                                      int64
LOT                                        int64
EASE-MENT                                float64
BUILDING_CLASS_AT_PRESENT                 object
ADDRESS                                   object
APARTMENT_NUMBER                          object
ZIP_CODE                                 float64
RESIDENTIAL_UNITS                        float64
COMMERCIAL_UNITS                         float64
TOTAL_UNITS                              float64
LAND_SQUARE_FEET                          object
GROSS_SQUARE_FEET                        float64
YEAR_BUILT                               float64
TAX_CLASS_AT_TIME_OF_SALE                  int64
BUILDING_CLASS_AT_TIME_OF_SALE            object
SALE_PRICE                                 int64
SALE_DATE                         datetime64[ns]
dtype: object

In [13]:
df2.shape

(5061, 21)

In [14]:
# Check for null values and drop them from the dataset
df2.isnull().sum()

BOROUGH                              0
NEIGHBORHOOD                         0
BUILDING_CLASS_CATEGORY              0
TAX_CLASS_AT_PRESENT                 0
BLOCK                                0
LOT                                  0
EASE-MENT                         5061
BUILDING_CLASS_AT_PRESENT            0
ADDRESS                              0
APARTMENT_NUMBER                  5059
ZIP_CODE                             0
RESIDENTIAL_UNITS                    0
COMMERCIAL_UNITS                     0
TOTAL_UNITS                          0
LAND_SQUARE_FEET                     0
GROSS_SQUARE_FEET                    0
YEAR_BUILT                           0
TAX_CLASS_AT_TIME_OF_SALE            0
BUILDING_CLASS_AT_TIME_OF_SALE       0
SALE_PRICE                           0
SALE_DATE                            0
dtype: int64

In [0]:
df2 = df2.drop(['EASE-MENT','APARTMENT_NUMBER'],axis=1)

In [16]:
df2.isnull().sum()

BOROUGH                           0
NEIGHBORHOOD                      0
BUILDING_CLASS_CATEGORY           0
TAX_CLASS_AT_PRESENT              0
BLOCK                             0
LOT                               0
BUILDING_CLASS_AT_PRESENT         0
ADDRESS                           0
ZIP_CODE                          0
RESIDENTIAL_UNITS                 0
COMMERCIAL_UNITS                  0
TOTAL_UNITS                       0
LAND_SQUARE_FEET                  0
GROSS_SQUARE_FEET                 0
YEAR_BUILT                        0
TAX_CLASS_AT_TIME_OF_SALE         0
BUILDING_CLASS_AT_TIME_OF_SALE    0
SALE_PRICE                        0
SALE_DATE                         0
dtype: int64

In [0]:
# Split train and test data

train = df2[(df2['SALE_DATE'] >= '2019-01-01') & (df2['SALE_DATE'] <= '2019-03-31')]
test = df2[(df2['SALE_DATE'] >= '2019-04-01') & (df2['SALE_DATE'] <= '2019-04-30')]

In [18]:
train.head()

   BOROUGH NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
7        2        OTHER  ...          0 2019-01-01
8        2        OTHER  ...          0 2019-01-01
9        2        OTHER  ...          0 2019-01-01
42       3        OTHER  ...          0 2019-01-01
44       3        OTHER  ...     550000 2019-01-01

[5 rows x 19 columns]

In [19]:
test.head()

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
18182       1        OTHER  ...          1 2019-04-01
18235       2        OTHER  ...     895000 2019-04-01
18239       2        OTHER  ...     253500 2019-04-01
18244       3        OTHER  ...    1300000 2019-04-01
18269       3        OTHER  ...          0 2019-04-01

[5 rows x 19 columns]

In [20]:
# Get categorical features
df2.describe(exclude=['number','datetime'])

       BOROUGH NEIGHBORHOOD  ... LAND_SQUARE_FEET BUILDING_CLASS_AT_TIME_OF_SALE
count     5061         5061  ...             5061                           5061
unique       5            9  ...             1469                             12
top          4        OTHER  ...            4,000                             A1
freq      2561         4679  ...              498                           1932

[4 rows x 8 columns]

In [0]:
# One-hot encode

import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)

In [0]:
train = encoder.fit_transform(train)

In [23]:
train.head()

    BOROUGH_2  BOROUGH_3  ...  SALE_PRICE  SALE_DATE
7           1          0  ...           0 2019-01-01
8           1          0  ...           0 2019-01-01
9           1          0  ...           0 2019-01-01
42          0          1  ...           0 2019-01-01
44          0          1  ...      550000 2019-01-01

[5 rows x 5395 columns]

In [0]:
test = encoder.transform(test)

In [25]:
test.head()

       BOROUGH_2  BOROUGH_3  ...  SALE_PRICE  SALE_DATE
18182          0          0  ...           1 2019-04-01
18235          1          0  ...      895000 2019-04-01
18239          1          0  ...      253500 2019-04-01
18244          0          1  ...     1300000 2019-04-01
18269          0          1  ...           0 2019-04-01

[5 rows x 5395 columns]

In [26]:
train.isnull().sum()

BOROUGH_2                                          0
BOROUGH_3                                          0
BOROUGH_4                                          0
BOROUGH_5                                          0
BOROUGH_1                                          0
NEIGHBORHOOD_OTHER                                 0
NEIGHBORHOOD_FLUSHING-NORTH                        0
NEIGHBORHOOD_BOROUGH PARK                          0
NEIGHBORHOOD_EAST NEW YORK                         0
NEIGHBORHOOD_UPPER EAST SIDE (59-79)               0
NEIGHBORHOOD_BEDFORD STUYVESANT                    0
NEIGHBORHOOD_FOREST HILLS                          0
NEIGHBORHOOD_ASTORIA                               0
NEIGHBORHOOD_UPPER EAST SIDE (79-96)               0
BUILDING_CLASS_CATEGORY_01 ONE FAMILY DWELLINGS    0
TAX_CLASS_AT_PRESENT_1                             0
TAX_CLASS_AT_PRESENT_1D                            0
TAX_CLASS_AT_PRESENT_1B                            0
BLOCK                                              0
LOT                                                0
BUILDING_CLASS_AT_PRESENT_A1                       0
BUILDING_CLASS_AT_PRESENT_A5                       0
BUILDING_CLASS_AT_PRESENT_A9                       0
BUILDING_CLASS_AT_PRESENT_A3                       0
BUILDING_CLASS_AT_PRESENT_A2                       0
BUILDING_CLASS_AT_PRESENT_A0                       0
BUILDING_CLASS_AT_PRESENT_S1                       0
BUILDING_CLASS_AT_PRESENT_A7                       0
BUILDING_CLASS_AT_PRESENT_A4                       0
BUILDING_CLASS_AT_PRESENT_A6                       0
                                                  ..
LAND_SQUARE_FEET_5,466                             0
LAND_SQUARE_FEET_1,380                             0
LAND_SQUARE_FEET_1,930                             0
LAND_SQUARE_FEET_3,338                             0
LAND_SQUARE_FEET_3,692                             0
LAND_SQUARE_FEET_11,800                            0
LAND_SQUARE_FEET_2,755                             0
LAND_SQUARE_FEET_5,202                             0
LAND_SQUARE_FEET_3,230                             0
LAND_SQUARE_FEET_2,121                             0
LAND_SQUARE_FEET_4,361                             0
LAND_SQUARE_FEET_3,910                             0
LAND_SQUARE_FEET_6,867                             0
GROSS_SQUARE_FEET                                  0
YEAR_BUILT                                         0
TAX_CLASS_AT_TIME_OF_SALE                          0
BUILDING_CLASS_AT_TIME_OF_SALE_A1                  0
BUILDING_CLASS_AT_TIME_OF_SALE_A5                  0
BUILDING_CLASS_AT_TIME_OF_SALE_A9                  0
BUILDING_CLASS_AT_TIME_OF_SALE_A3                  0
BUILDING_CLASS_AT_TIME_OF_SALE_A2                  0
BUILDING_CLASS_AT_TIME_OF_SALE_A0                  0
BUILDING_CLASS_AT_TIME_OF_SALE_S1                  0
BUILDING_CLASS_AT_TIME_OF_SALE_A7                  0
BUILDING_CLASS_AT_TIME_OF_SALE_A4                  0
BUILDING_CLASS_AT_TIME_OF_SALE_A6                  0
BUILDING_CLASS_AT_TIME_OF_SALE_A8                  0
BUILDING_CLASS_AT_TIME_OF_SALE_S0                  0
SALE_PRICE                                         0
SALE_DATE                                          0
Length: 5395, dtype: int64

In [0]:
# Do feature selection with selectkbest

features = train.columns.drop(['SALE_DATE', 'SALE_PRICE'])
target = 'SALE_PRICE'

x_train = train[features]
y_train = train[target]

x_test = train[features]
y_test = test[target]

In [28]:
features

Index(['BOROUGH_2', 'BOROUGH_3', 'BOROUGH_4', 'BOROUGH_5', 'BOROUGH_1',
       'NEIGHBORHOOD_OTHER', 'NEIGHBORHOOD_FLUSHING-NORTH',
       'NEIGHBORHOOD_BOROUGH PARK', 'NEIGHBORHOOD_EAST NEW YORK',
       'NEIGHBORHOOD_UPPER EAST SIDE (59-79)',
       ...
       'BUILDING_CLASS_AT_TIME_OF_SALE_A9',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A3',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A2',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A0',
       'BUILDING_CLASS_AT_TIME_OF_SALE_S1',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A7',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A4',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A6',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A8',
       'BUILDING_CLASS_AT_TIME_OF_SALE_S0'],
      dtype='object', length=5393)

In [29]:
x_train

       BOROUGH_2  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
7              1  ...                                  0
8              1  ...                                  0
9              1  ...                                  0
42             0  ...                                  0
44             0  ...                                  0
48             0  ...                                  0
55             0  ...                                  0
61             0  ...                                  0
63             0  ...                                  0
78             1  ...                                  0
83             1  ...                                  0
108            0  ...                                  0
110            0  ...                                  0
111            0  ...                                  0
119            0  ...                                  0
120            0  ...                                  0
121            0  ...                                  0
122            0  ...                                  0
123            0  ...                                  0
132            0  ...                                  0
136            0  ...                                  0
137            0  ...                                  0
138            0  ...                                  0
139            0  ...                                  0
140            0  ...                                  0
141            0  ...                                  0
150            0  ...                                  0
154            0  ...                                  0
155            0  ...                                  0
156            0  ...                                  0
...          ...  ...                                ...
18100          0  ...                                  0
18101          0  ...                                  0
18102          0  ...                                  0
18105          0  ...                                  0
18106          0  ...                                  0
18107          0  ...                                  0
18108          0  ...                                  0
18110          0  ...                                  0
18111          0  ...                                  0
18112          0  ...                                  0
18114          0  ...                                  0
18116          0  ...                                  0
18117          0  ...                                  0
18119          0  ...                                  0
18120          0  ...                                  0
18123          0  ...                                  0
18124          0  ...                                  0
18125          0  ...                                  0
18127          0  ...                                  0
18128          0  ...                                  0
18129          0  ...                                  0
18130          0  ...                                  0
18132          0  ...                                  0
18134          0  ...                                  0
18135          0  ...                                  0
18139          0  ...                                  0
18140          0  ...                                  0
18147          0  ...                                  0
18152          0  ...                                  0
18165          0  ...                                  0

[4094 rows x 5393 columns]

In [30]:


from sklearn.feature_selection import f_regression, SelectKBest

selector = SelectKBest(score_func=f_regression, k=15)
x_train_selected = selector.fit_transform(x_train,y_train)
x_test_selected = selector.transform(x_test)

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1892: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [31]:
x_train_selected.shape, x_test_selected.shape

((4094, 15), (4094, 15))

In [32]:
all_names = x_train.columns
selected_mask = selector.get_support()
selected_names = all_names[selected_mask]
print(selected_names)

Index(['BOROUGH_1', 'NEIGHBORHOOD_UPPER EAST SIDE (59-79)',
       'NEIGHBORHOOD_UPPER EAST SIDE (79-96)', 'BUILDING_CLASS_AT_PRESENT_A4',
       'ADDRESS_412 AVENUE T', 'ADDRESS_101 EAST 63RD STREET',
       'ADDRESS_23 CORNELIA STREET', 'ADDRESS_49 EAST 68TH STREET',
       'ADDRESS_11 EAST 82ND STREET', 'ADDRESS_16 MORTON STREET',
       'LAND_SQUARE_FEET_2,510', 'LAND_SQUARE_FEET_2,056',
       'LAND_SQUARE_FEET_2,554', 'GROSS_SQUARE_FEET',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A4'],
      dtype='object')

In [0]:
# Feature scaling
from sklearn.preprocessing import scale

In [0]:
x_train = pd.DataFrame(scale(x_train_selected), columns=selected_names)

In [35]:
x_train

      BOROUGH_1  ...  BUILDING_CLASS_AT_TIME_OF_SALE_A4
0     -0.088757  ...                          -0.110062
1     -0.088757  ...                          -0.110062
2     -0.088757  ...                          -0.110062
3     -0.088757  ...                          -0.110062
4     -0.088757  ...                          -0.110062
5     -0.088757  ...                          -0.110062
6     -0.088757  ...                          -0.110062
7     -0.088757  ...                          -0.110062
8     -0.088757  ...                          -0.110062
9     -0.088757  ...                          -0.110062
10    -0.088757  ...                          -0.110062
11    -0.088757  ...                          -0.110062
12    -0.088757  ...                          -0.110062
13    -0.088757  ...                          -0.110062
14    -0.088757  ...                          -0.110062
15    -0.088757  ...                          -0.110062
16    -0.088757  ...                          -0.110062
17    -0.088757  ...                          -0.110062
18    -0.088757  ...                          -0.110062
19    -0.088757  ...                          -0.110062
20    -0.088757  ...                          -0.110062
21    -0.088757  ...                          -0.110062
22    -0.088757  ...                          -0.110062
23    -0.088757  ...                          -0.110062
24    -0.088757  ...                          -0.110062
25    -0.088757  ...                          -0.110062
26    -0.088757  ...                          -0.110062
27    -0.088757  ...                          -0.110062
28    -0.088757  ...                          -0.110062
29    -0.088757  ...                          -0.110062
...         ...  ...                                ...
4064  -0.088757  ...                          -0.110062
4065  -0.088757  ...                          -0.110062
4066  -0.088757  ...                          -0.110062
4067  -0.088757  ...                          -0.110062
4068  -0.088757  ...                          -0.110062
4069  -0.088757  ...                          -0.110062
4070  -0.088757  ...                          -0.110062
4071  -0.088757  ...                          -0.110062
4072  -0.088757  ...                          -0.110062
4073  -0.088757  ...                          -0.110062
4074  -0.088757  ...                          -0.110062
4075  -0.088757  ...                          -0.110062
4076  -0.088757  ...                          -0.110062
4077  -0.088757  ...                          -0.110062
4078  -0.088757  ...                          -0.110062
4079  -0.088757  ...                          -0.110062
4080  -0.088757  ...                          -0.110062
4081  -0.088757  ...                          -0.110062
4082  -0.088757  ...                          -0.110062
4083  -0.088757  ...                          -0.110062
4084  -0.088757  ...                          -0.110062
4085  -0.088757  ...                          -0.110062
4086  -0.088757  ...                          -0.110062
4087  -0.088757  ...                          -0.110062
4088  -0.088757  ...                          -0.110062
4089  -0.088757  ...                          -0.110062
4090  -0.088757  ...                          -0.110062
4091  -0.088757  ...                          -0.110062
4092  -0.088757  ...                          -0.110062
4093  -0.088757  ...                          -0.110062

[4094 rows x 15 columns]

In [0]:
x_test = pd.DataFrame(scale(x_test_selected), columns=selected_names)

In [37]:
x_test

      BOROUGH_1  ...  BUILDING_CLASS_AT_TIME_OF_SALE_A4
0     -0.088757  ...                          -0.110062
1     -0.088757  ...                          -0.110062
2     -0.088757  ...                          -0.110062
3     -0.088757  ...                          -0.110062
4     -0.088757  ...                          -0.110062
5     -0.088757  ...                          -0.110062
6     -0.088757  ...                          -0.110062
7     -0.088757  ...                          -0.110062
8     -0.088757  ...                          -0.110062
9     -0.088757  ...                          -0.110062
10    -0.088757  ...                          -0.110062
11    -0.088757  ...                          -0.110062
12    -0.088757  ...                          -0.110062
13    -0.088757  ...                          -0.110062
14    -0.088757  ...                          -0.110062
15    -0.088757  ...                          -0.110062
16    -0.088757  ...                          -0.110062
17    -0.088757  ...                          -0.110062
18    -0.088757  ...                          -0.110062
19    -0.088757  ...                          -0.110062
20    -0.088757  ...                          -0.110062
21    -0.088757  ...                          -0.110062
22    -0.088757  ...                          -0.110062
23    -0.088757  ...                          -0.110062
24    -0.088757  ...                          -0.110062
25    -0.088757  ...                          -0.110062
26    -0.088757  ...                          -0.110062
27    -0.088757  ...                          -0.110062
28    -0.088757  ...                          -0.110062
29    -0.088757  ...                          -0.110062
...         ...  ...                                ...
4064  -0.088757  ...                          -0.110062
4065  -0.088757  ...                          -0.110062
4066  -0.088757  ...                          -0.110062
4067  -0.088757  ...                          -0.110062
4068  -0.088757  ...                          -0.110062
4069  -0.088757  ...                          -0.110062
4070  -0.088757  ...                          -0.110062
4071  -0.088757  ...                          -0.110062
4072  -0.088757  ...                          -0.110062
4073  -0.088757  ...                          -0.110062
4074  -0.088757  ...                          -0.110062
4075  -0.088757  ...                          -0.110062
4076  -0.088757  ...                          -0.110062
4077  -0.088757  ...                          -0.110062
4078  -0.088757  ...                          -0.110062
4079  -0.088757  ...                          -0.110062
4080  -0.088757  ...                          -0.110062
4081  -0.088757  ...                          -0.110062
4082  -0.088757  ...                          -0.110062
4083  -0.088757  ...                          -0.110062
4084  -0.088757  ...                          -0.110062
4085  -0.088757  ...                          -0.110062
4086  -0.088757  ...                          -0.110062
4087  -0.088757  ...                          -0.110062
4088  -0.088757  ...                          -0.110062
4089  -0.088757  ...                          -0.110062
4090  -0.088757  ...                          -0.110062
4091  -0.088757  ...                          -0.110062
4092  -0.088757  ...                          -0.110062
4093  -0.088757  ...                          -0.110062

[4094 rows x 15 columns]

In [0]:
y_train = scale(y_train)

In [39]:
y_train

array([-0.51546148, -0.51546148, -0.51546148, ..., -0.39839858,
       -0.51546148, -0.51546148])

In [0]:
from sklearn.linear_model import Ridge

ridge_reg = Ridge().fit(x_train, y_train)

In [41]:
ridge_reg

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [43]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_train, ridge_reg.predict(x_test))

0.3123849685555089

In [44]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression().fit(x_train, y_train)
mean_squared_error(y_train, lin_reg.predict(x_test))

0.3125147260476147

In [0]:
# What happens if you scale a one-hot-encoded dataset