<a href="https://colab.research.google.com/github/LambdaTheda/DS-Unit-2-Linear-Models/blob/master/11pm_S_Mar_7_build_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# read in dataset 1: pokemon Go character sightings

import pandas as pd
#import zipfile

#predictemall.read_csv
#predictemall.zip.extractall(path=None, members=None, pwd=None)
df = pd.read_csv('300k.csv')
pd.set_option("display.max_rows", 91835)
#pd.set_option("display.max_columns", 300)
df

In [0]:
df.shape

(203081, 208)

In [0]:
df.head()

   pokemonId   latitude   longitude  ... cooc_150 cooc_151  class
0         16  20.525745  -97.460829  ...    False    False   16.0
1        133  20.523695  -97.461167  ...    False    False  133.0
2         16  38.903590  -77.199780  ...    False    False   16.0
3         13  47.665903 -122.312561  ...    False    False   13.0
4        133  47.666454 -122.311628  ...    False    False  133.0

[5 rows x 208 columns]

In [23]:
# read in dataset 2: encoded names and corresponding id#s
df_Names = pd.read_csv('pokemonNumbers.csv', header= None)
pd.set_option("display.max_rows", 91835)
df_Names.columns=['pokemonId', 'pokemonName'] # change df_Names column names to align with the proper columns for merge.

df_Names

     pokemonId pokemonName
0            1   Bulbasaur
1            2     Ivysaur
2            3    Venusaur
3            4  Charmander
4            5  Charmeleon
5            6   Charizard
6            7    Squirtle
7            8   Wartortle
8            9   Blastoise
9           10    Caterpie
10          11     Metapod
11          12  Butterfree
12          13      Weedle
13          14      Kakuna
14          15    Beedrill
15          16      Pidgey
16          17   Pidgeotto
17          18     Pidgeot
18          19     Rattata
19          20    Raticate
20          21     Spearow
21          22      Fearow
22          23       Ekans
23          24       Arbok
24          25     Pikachu
25          26      Raichu
26          27   Sandshrew
27          28   Sandslash
28          29   Nidoran F
29          30    Nidorina
30          31   Nidoqueen
31          32   Nidoran M
32          33    Nidorino
33          34    Nidoking
34          35    Clefairy
35          36    Clefable
36          37      Vulpix
37          38   Ninetales
38          39  Jigglypuff
39          40  Wigglytuff
40          41       Zubat
41          42      Golbat
42          43      Oddish
43          44       Gloom
44          45   Vileplume
45          46       Paras
46          47    Parasect
47          48     Venonat
48          49    Venomoth
49          50     Diglett
50          51     Dugtrio
51          52      Meowth
52          53     Persian
53          54     Psyduck
54          55     Golduck
55          56      Mankey
56          57    Primeape
57          58   Growlithe
58          59    Arcanine
59          60     Poliwag
60          61   Poliwhirl
61          62   Poliwrath
62          63        Abra
63          64     Kadabra
64          65    Alakazam
65          66      Machop
66          67     Machoke
67          68     Machamp
68          69  Bellsprout
69          70  Weepinbell
70          71  Victreebel
71          72   Tentacool
72          73  Tentacruel
73          74     Geodude
74          75    Graveler
75          76       Golem
76          77      Ponyta
77          78    Rapidash
78          79    Slowpoke
79          80     Slowbro
80          81   Magnemite
81          82    Magneton
82          83  Farfetch'd
83          84       Doduo
84          85      Dodrio
85          86        Seel
86          87     Dewgong
87          88      Grimer
88          89         Muk
89          90    Shellder
90          91    Cloyster
91          92      Gastly
92          93     Haunter
93          94      Gengar
94          95        Onix
95          96     Drowzee
96          97       Hypno
97          98      Krabby
98          99     Kingler
99         100     Voltorb
100        101   Electrode
101        102   Exeggcute
102        103   Exeggutor
103        104      Cubone
104        105     Marowak
105        106   Hitmonlee
106        107  Hitmonchan
107        108   Lickitung
108        109     Koffing
109        110     Weezing
110        111     Rhyhorn
111        112      Rhydon
112        113     Chansey
113        114     Tangela
114        115  Kangaskhan
115        116      Horsea
116        117      Seadra
117        118     Goldeen
118        119     Seaking
119        120      Staryu
120        121     Starmie
121        122    Mr. Mime
122        123     Scyther
123        124        Jynx
124        125  Electabuzz
125        126      Magmar
126        127      Pinsir
127        128      Tauros
128        129    Magikarp
129        130    Gyarados
130        131      Lapras
131        132       Ditto
132        133       Eevee
133        134    Vaporeon
134        135     Jolteon
135        136     Flareon
136        137     Porygon
137        138     Omanyte
138        139     Omastar
139        140      Kabuto
140        141    Kabutops
141        142  Aerodactyl
142        143     Snorlax
143        144    Articuno
144        145      Zapdos
145        146     Moltres
146        147     Dratini
147        148   Dragonair
148        149   Dragonite
149        150      Mewtwo

In [0]:
df_Names.head()

In [0]:
df_Names.shape

In [0]:
#EXPLORATORY DATA ANALYSIS/DATA WRANGLING

# change df_Names column names
df_Names.columns=['pokeID_num_From_df_Names', 'pokemonName']
df_Names

In [0]:
# check df_Names column datatypes
print(df_Names.dtypes)

pokeID_num_From_df_Names     int64
pokemonName                 object
dtype: object

In [0]:
# join df and df_Names using .concat for union of dfs - WORKS but GET NaNs
'''
df3 =  pd.concat([df_Names, df], axis=1, sort=False)
pd.set_option("display.max_rows", 91835)
df3
'''

'\ndf3 =  pd.concat([df_Names, df], axis=1, sort=False)\npd.set_option("display.max_rows", 91835)\ndf3\n'

In [0]:
# merge df and df_Names using -NOT WORK
# df_Names.merge(df, left_on='pokemonName', right_on='pokemonId')

In [0]:
# MATCH or REPLACE pokemonId with pokemonName

# 1. convert df_Names into a dictionary

In [0]:
# check Nulls- returns 0 for all columns
df.isnull().sum()

In [0]:

#drop df cols with nulls
#df.dropna() - not work right
df.dropna(axis='columns') # also not work right
df

        pokemonId   latitude   longitude  ... cooc_150 cooc_151  class
0              16  20.525745  -97.460829  ...    False    False   16.0
1             133  20.523695  -97.461167  ...    False    False  133.0
2              16  38.903590  -77.199780  ...    False    False   16.0
3              13  47.665903 -122.312561  ...    False    False   13.0
4             133  47.666454 -122.311628  ...    False    False  133.0
...           ...        ...         ...  ...      ...      ...    ...
183789         23  18.156010  -67.141550  ...    False    False   23.0
183790         41  48.742799    2.405089  ...    False    False   41.0
183791        102  37.547138  -77.449356  ...    False    False  102.0
183792         13  38.558872  -92.197425  ...    False    False   13.0
183793        111  40.045760 -105.252897  ...      NaN      NaN    NaN

[183794 rows x 208 columns]

In [0]:
df.isnull().sum()

In [0]:
df.columns.to_list()

In [0]:
#trim df to reduce noise including nulls
df_trimmed = df.drop(columns=['gymIn100m',
 'gymIn250m',
 'gymIn500m',
 'gymIn1000m',
 'gymIn2500m',
 'gymIn5000m',
 'cooc_114',
 'cooc_115',
 'cooc_116',
 'cooc_117',
 'cooc_118',
 'cooc_119',
 'cooc_120',
 'cooc_121',
 'cooc_122',
 'cooc_123',
 'cooc_124',
 'cooc_125',
 'cooc_126',
 'cooc_127',
 'cooc_128',
 'cooc_129',
 'cooc_130',
 'cooc_131',
 'cooc_132',
 'cooc_133',
 'cooc_134',
 'cooc_135',
 'cooc_136',
 'cooc_137',
 'cooc_138',
 'cooc_139',
 'cooc_140',
 'cooc_141',
 'cooc_142',
 'cooc_143',
 'cooc_144',
 'cooc_145',
 'cooc_146',
 'cooc_147',
 'cooc_148',
 'cooc_149',
 'cooc_150',
 'cooc_151',
 ])

In [0]:
df_trimmed

In [0]:
#df_trimmed.sort_by('pokemonId', ascending = True)

In [0]:
#check data distribution to see if linear model is appropriate- IT IS NOT; THIS IS MULTI-CLASS CLASSIFICATiON PROBLEM
df_trimmed.plot.hist()

In [0]:
df_trimmed.isnull().sum()

In [0]:
#Get BASELINE- the first way to get the highest accuracy by assuming majority, [by] assum[ing] majority:

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_row', 300000)
'''
average for regression should be the majority value in a sense; 
classification is assuming all values are the highest majority value- BASELINE IS PREDICTING MODE CLASS (largest # of observations
'''

df['appearedDayOfWeek'].value_counts()
# our BASELINE IS SATURDAY, WITH 72201 appearances on that day

Saturday     72201
Friday       68037
Sunday       32056
dummy_day     9001
Thursday      2499
Name: appearedDayOfWeek, dtype: int64

In [0]:
df['appearedDayOfWeek'].nunique()

5

In [0]:
# Fit a Classification model
# Try a shallow decision tree as a fast, first model

#pip install --upgrade category_encoders
# from sklearn.preprocessing import CategoricalEncoder
#pip install category_encoders

!pip install category_encoders==2.* 

import numpy as np
import category_encoders as ce
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

#encoder = ce.OrdinalEncoder(cols=[...])

target = 'appearedDayOfWeek'
features = ['appearedMonth', 'appearedYear', 'appearedDay', 'pokestopDistanceKm', 'weather', 'latitude', 'longitude']

#train = df 

X_train, X_test, y_train, y_test = train_test_split(df[features], df[target])
train, test = train_test_split(df)

pipeline = make_pipeline(
    ce.OrdinalEncoder(),
    SimpleImputer(strategy='most_frequent'),
    RandomForestClassifier()
)

In [0]:
# function to Convert 'appearedDayOfWeek' string values into floats

'''
def convertDayToFloat():

    week = list(df['appearedDayOfWeek'].replace('1.0', '2.0', '3.0','4.0','5.0','6.0','7.0'))

    print(week)

convertDayToFloat
'''

"\ndef convertDayToFloat():\n\n    week = list(df['appearedDayOfWeek'].replace('1.0', '2.0', '3.0','4.0','5.0','6.0','7.0'))\n\n    print(week)\n\nconvertDayToFloat\n"

In [0]:
#dictionary to Convert 'appearedDayOfWeek' string values into floats

dict = {'Sunday':'1.0', 'dummy_day':'2.0', 'Tuesday':'3.0','Wednesday':'4.0','Thursday':'5.0', 'Friday':'6.0', 'Saturday':'7.0' }

In [0]:
#fit model 1: Random Forest Classifier and score accuracy

In [0]:

pipeline.fit(X_train, y_train)
acc_score = pipeline.score(test[features], test[target])
#ra_score = roc_auc_score(test[target], pipeline.predict(test[features]))

print(f'Test Accuracy: {pipeline.score(X_test, y_test)}')
print(f'Test ROC AUC: {roc_auc_score(y_test, pipeline.predict(X_test))}\n')

'''
print(f'Val Accuracy: {acc_score}')
print(f'Val ROC AUC: {ra_score}')
'''