<a href="https://colab.research.google.com/github/aidanvu1992/DS-Unit-2-Linear-Models/blob/master/Anh_Vu_assignment_regression_classification_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.
- [ ] Watch Aaron's [video #1](https://www.youtube.com/watch?v=pREaWFli-5I) (12 minutes) & [video #2](https://www.youtube.com/watch?v=bDQgVt4hFgY) (9 minutes) to learn about the mathematics of Logistic Regression.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [7]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [11]:
print(df.shape)
df.dtypes

(421, 59)

Burrito            object
Date               object
Yelp              float64
Google            float64
Chips              object
Cost              float64
Hunger            float64
Mass (g)          float64
Density (g/mL)    float64
Length            float64
Circum            float64
Volume            float64
Tortilla          float64
Temp              float64
Meat              float64
Fillings          float64
Meat:filling      float64
Uniformity        float64
Salsa             float64
Synergy           float64
Wrap              float64
Unreliable         object
NonSD              object
Beef               object
Pico               object
Guac               object
Cheese             object
Fries              object
Sour cream         object
Pork               object
Chicken            object
Shrimp             object
Fish               object
Rice               object
Beans              object
Lettuce            object
Tomato             object
Bell peper         object
Carrots            object
Cabbage            object
Sauce              object
Salsa.1            object
Cilantro           object
Onion              object
Taquito            object
Pineapple          object
Ham                object
Chile relleno      object
Nopales            object
Lobster            object
Queso             float64
Egg                object
Mushroom           object
Bacon              object
Sushi              object
Avocado            object
Corn               object
Zucchini           object
Great                bool
dtype: object

In [10]:
df.Unreliable.value_counts()

x    33
Name: Unreliable, dtype: int64

In [0]:
# Extract year from date column, create year column

df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format = True)
df['year'] = df['Date'].dt.year

In [44]:
# Check value of year column
df.year.value_counts()

2016    296
2017     85
2018     27
2019     10
2026      1
2015      1
2011      1
Name: year, dtype: int64

In [0]:
# Create train, validate, test split

train = df[df['year'] < 2017]
validate = df[df['year'] == 2017]
test = df[df['year'] > 2017]

In [46]:
train.shape, test.shape, validate.shape

((298, 60), (38, 60), (85, 60))

In [47]:
train['Date'].value_counts()

2016-08-30    29
2016-06-24     9
2016-05-13     7
2016-05-06     7
2016-04-15     7
              ..
2016-10-07     1
2016-09-26     1
2016-11-14     1
2016-09-13     1
2016-12-15     1
Name: Date, Length: 110, dtype: int64

In [48]:
df.head(5)

      Burrito       Date  Yelp  Google Chips  ...  Avocado  Corn  Zucchini  Great  year
0  California 2016-01-18   3.5     4.2   NaN  ...      NaN   NaN       NaN  False  2016
1  California 2016-01-24   3.5     3.3   NaN  ...      NaN   NaN       NaN  False  2016
2    Carnitas 2016-01-24   NaN     NaN   NaN  ...      NaN   NaN       NaN  False  2016
3       Asada 2016-01-24   NaN     NaN   NaN  ...      NaN   NaN       NaN  False  2016
4  California 2016-01-27   4.0     3.8     x  ...      NaN   NaN       NaN   True  2016

[5 rows x 60 columns]

In [49]:
test['Date'].value_counts()

2019-08-27    9
2018-05-22    5
2018-04-09    3
2018-04-20    2
2018-04-29    2
2018-05-07    2
2018-04-16    2
2018-04-14    2
2018-04-21    2
2018-01-12    2
2026-04-25    1
2019-08-24    1
2018-11-06    1
2018-01-09    1
2018-01-02    1
2018-04-04    1
2018-05-01    1
Name: Date, dtype: int64

#Begin with baselines for classification.

In [50]:
# Create class for target 'Great'
target = 'Great'
y_train = train[target]
y_train.value_counts(normalize = True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [51]:
# Guessing the majority class for every prediction
majority_class = y_train.mode()[0]
y_pred = [majority_class] * len(y_train)
y_pred

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [52]:
# Baseline accuracy for guessing majority class for every prediction
from sklearn.metrics import accuracy_score as AS 
AS(y_train, y_pred)

0.5906040268456376

In [53]:
# Accuracy score for validated set
y_val = validate[target]
y_pred = [majority_class] * len(y_val)
AS(y_val, y_pred)

0.5529411764705883

# Use scikit-learn for logistic regression.
# Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
# Get your model's test accuracy. (One time, at the end.)

In [58]:
train.describe()

            Yelp     Google        Cost  ...        Wrap  Queso         year
count  71.000000  71.000000  292.000000  ...  296.000000    0.0   298.000000
mean    3.897183   4.142254    6.896781  ...    3.955068    NaN  2015.979866
std     0.478680   0.371738    1.211412  ...    1.167341    NaN     0.295187
min     2.500000   2.900000    2.990000  ...    0.000000    NaN  2011.000000
25%     3.500000   4.000000    6.250000  ...    3.500000    NaN  2016.000000
50%     4.000000   4.200000    6.850000  ...    4.000000    NaN  2016.000000
75%     4.000000   4.400000    7.500000  ...    5.000000    NaN  2016.000000
max     4.500000   4.900000   11.950000  ...    5.000000    NaN  2016.000000

[8 rows x 20 columns]

In [64]:
# Validation Accuracy
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

target = 'Great'
features = ['Tortilla','Temp','Meat','Fillings']
X_train = train[features]
y_train = train[target]

X_val = validate[features]
y_val = validate[target]

# One-hot encoding
encoder = ce.OneHotEncoder(use_cat_names = True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)

# Imputing missing values
imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train_imputed)
X_val_imputed = imputer.transform(X_val_imputed)

# Scaling features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)

# Find Validation Accuracy
model = LogisticRegression(random_state = 42)
model.fit(X_train_scaled, y_train)
print ('Validation Accuracy', model.score(X_val_scaled,y_val))

Validation Accuracy 0.8705882352941177

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [65]:
# Find Test Accuracy

X_test = test[features]
y_test = test[target]

X_test_encoded = encoder.transform(X_test)
X_test_imputed = imputer.transform(X_test_encoded)
X_test_scaled = scaler.transform(X_test_imputed)
print('Test Accuracy', model.score(X_test_scaled, y_test))

Test Accuracy 0.7105263157894737