<a href="https://colab.research.google.com/github/SamH3pn3r/DS-Unit-2-Regression-Classification/blob/master/Copy_of_assignment_regression_classification_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science, Unit 2: Predictive Modeling

# Regression & Classification, Module 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [X] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [X] Engineer at least two new features. (See below for explanation & ideas.)
- [X] Fit a linear regression model with at least two features.
- [X] Get the model's coefficients and intercept.
- [X] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [X] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [X] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Do the [Plotly Dash](https://dash.plot.ly/) Tutorial, Parts 1 & 2.
- [ ] Add your own stretch goal(s) !

In [0]:
# If you're in Colab...
import os, sys
in_colab = 'google.colab' in sys.modules

if in_colab:
    # Install required python packages:
    # pandas-profiling, version >= 2.0
    # plotly, version >= 4.0
    !pip install --upgrade pandas-profiling plotly
    
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification.git
    !git pull origin master
    
    # Change into directory for module
    os.chdir('module1')

In [0]:
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv('../data/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [0]:
# Change created column to datetime dtype
df['created'] = pd.to_datetime(df['created'])

In [0]:
# The dataset only contains the year 2016
# so you only need to make a condition for month
df['created'].sort_values()

In [0]:
# Sort through data to get the months we need for the train
tr_cond = (df['created'].dt.month == 4) | (df['created'].dt.month == 5)
train = df[tr_cond]

# Select june in created column for test
te_cond = (df['created'].dt.month == 6)
test = df[te_cond]

In [0]:
# Set up features
train['Num of Rooms'] = train['bathrooms'] + train['bedrooms']
test['Num of Rooms'] = test['bathrooms'] + test['bedrooms']

train['Pets'] = train['cats_allowed']+train['dogs_allowed']
test['Pets'] = test['cats_allowed']+test['dogs_allowed']

train['fancy'] = train['hardwood_floors']+train['doorman']+train['dishwasher'] + train['fitness_center'] + train['laundry_in_unit'] + train['dining_room'] + train['outdoor_space']
test['fancy'] = test['hardwood_floors'] + test['doorman'] + test['dishwasher'] + test['fitness_center'] + test['laundry_in_unit'] + test['dining_room'] + test['outdoor_space']

In [73]:
# Look at all that!
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
# Training and testing is busy work so we'll let the computer do it
from sklearn.linear_model import LinearRegression

model = LinearRegression()
features = ['Num of Rooms','bathrooms','Pets', 'fancy', 'longitude','latitude']
target = 'price'

tr_X = train[features]
te_X = test[features]

tr_y = train[target]
te_y = test[target]

model.fit(tr_X,tr_y)
y_pred = model.predict(te_X)

In [109]:
# Coefficients
print('The train coefficients:', model.coef_)
print('The train intercept:', model.intercept_)

The train coefficients: [   422.97293808   1481.76251305     53.09612963    104.22196344
 -14477.88668673   1782.42194006]
The train intercept: -1143229.1641882139

In [110]:
# Find all the errors!
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mse = mean_squared_error(te_y, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(te_y, y_pred)
r2 = r2_score(te_y, y_pred)
print('The root mean squared error:', rmse)
print('The mean absolute error:', mae)
print('R^2:', r2)

The root mean squared error: 1117.9621265848502
The mean absolute error: 730.2972874548137
R^2: 0.5978665495613944