<a href="https://colab.research.google.com/github/ssbyrne89/DS-Unit-2-Linear-Models/blob/master/DSPT5_HW_LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, and
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [198]:
print(df.shape)
print(df.columns)
df.head()

(48817, 34)
Index(['bathrooms', 'bedrooms', 'created', 'description', 'display_address',
       'latitude', 'longitude', 'price', 'street_address', 'interest_level',
       'elevator', 'cats_allowed', 'hardwood_floors', 'dogs_allowed',
       'doorman', 'dishwasher', 'no_fee', 'laundry_in_building',
       'fitness_center', 'pre-war', 'laundry_in_unit', 'roof_deck',
       'outdoor_space', 'dining_room', 'high_speed_internet', 'balcony',
       'swimming_pool', 'new_construction', 'terrace', 'exclusive', 'loft',
       'garden_patio', 'wheelchair_access', 'common_outdoor_space'],
      dtype='object')

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [199]:
df['created'] = pd.to_datetime(df['created'], infer_datetime_format=True)
df['month']=df['created'].dt.month
df['month']

0        6
1        6
2        4
3        4
4        4
        ..
49347    6
49348    4
49349    4
49350    4
49351    4
Name: month, Length: 48817, dtype: int64

In [115]:
df['month'].value_counts()

6    16973
4    16217
5    15627
Name: month, dtype: int64

In [0]:
train = df[df['month']<=5] ## make training subset

In [0]:
test = df[df['month']>5] ### make test subset

In [250]:
print(train['month'].value_counts())
print(test['month'].value_counts())

4    16217
5    15627
Name: month, dtype: int64
6    16973
Name: month, dtype: int64

In [0]:
###### NEW FEATURES###
## Ratio of beds to baths
## The neighborhood, based on latitude & longitude

In [0]:
df = df.replace(to_replace =np.inf, 
                 value = 0.0)

In [0]:
df['bed/bath_ratio'] = df['bedrooms']/df['bathrooms']

In [247]:
df['bed/bath_ratio'].dtype

dtype('float64')

In [0]:
df['point'] = df['longitude']/df['latitude']

In [242]:
df['point'].dtype

dtype('float64')

In [0]:
#### STARTING AT THE ZERO BASELINE

In [243]:
train['point'].mean()

-1.815253814198296

In [253]:
train['bed/bath_ratio'].mean()

1.2681876410983353

In [0]:
target = 'point'

In [0]:

y_train = train[target]
y_test = test[target]

In [256]:
y_test

0       -1.816122
1       -1.813145
11      -1.810257
14      -1.814713
24      -1.816280
           ...
49305   -1.810136
49310   -1.813306
49320   -1.814995
49332   -1.813194
49347   -1.815765
Name: point, Length: 16973, dtype: float64

In [257]:
guess = y_train.mean()
guess

-1.815253814198296

In [258]:
from sklearn.metrics import mean_absolute_error
y_pred = [guess]*len(y_train)
mae = mean_absolute_error(y_train, y_pred)
print(f'Train Error (April-May): {mae:.2f}%')

Train Error (April-May): 0.00%

In [259]:
y_pred = [guess]*len(y_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'Test Error (June): {mae:.2f}%')

Test Error (June): 0.00%

In [260]:
(y_test - y_pred).abs().mean()

0.0016413490693393657

In [261]:
### check your work because it looks too perfect
(y_test - y_pred).abs().mean()

0.0016413490693393657