<a href="https://colab.research.google.com/github/LambdaTheda/DS-Unit-2-Linear-Models/blob/master/new_Fri_Mar_6_build_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# read in dataset 1: pokemon Go character sightings

import pandas as pd

df = pd.read_csv('300k.csv')
pd.set_option("display.max_rows", 91835)
df

In [0]:
# read in dataset 2: encoded names and corresponding id#s
df_Names = pd.read_csv('pokemonNumbers.csv', header= None)
pd.set_option("display.max_rows", 91835)
df_Names

In [0]:
#EXPLORATORY DATA ANALYSIS/DATA WRANGLING

# change  df_Names column names
df_Names.columns=['pokeID_num_From_df_Names', 'pokemonName']
df_Names

In [0]:
# check df_Names column datatypes
print(df_Names.dtypes)