<a href="https://colab.research.google.com/github/JulieWang417/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/Julie_Wang_of_assignment_regression_classification_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

### Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.

In [3]:
df.head(2)

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0

[2 rows x 34 columns]

In [0]:
df['created']=pd.to_datetime(df['created'],infer_datetime_format=True)
train= df[df.created.dt.month < 6]
test= df[df.created.dt.month == 6]

In [5]:
train.shape,test.shape

((31844, 34), (16973, 34))

In [6]:
print(train['created'].dt.month.unique())

[4 5]

In [7]:
print(test['created'].dt.month.unique())

[6]

### Fit a linear regression model with all numric features.

In [0]:
# 1. Import the appropriate estimator class from Scikit-Learn
from sklearn.linear_model import LinearRegression

In [0]:
# 2. Instantiate this class
model = LinearRegression()

In [0]:
# 3. Arrange X features matrices (already did y target vectors)

target='price'
number_column = train.select_dtypes(include='number').columns.drop(target).tolist()
features=number_column

X_train= train[features]
y_train= train[target]
X_test=test[features]
y_test=test[target]

In [11]:
X_train.head(2)

   bathrooms  bedrooms  ...  wheelchair_access  common_outdoor_space
2        1.0         1  ...                  0                     0
3        1.0         1  ...                  0                     0

[2 rows x 28 columns]

In [17]:
# 4. Fit the model
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

model.fit(X_train, y_train)
y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred)
print(f'Train Error: {mae:.2f} percentage points')

Train Error: 692.77 percentage points

In [13]:
# 5. Apply the model to new data
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'Test Error: {mae:.2f} percentage points')

Test Error: 701.30 percentage points

### Get the model's coefficients and intercept.

In [14]:
model.coef_ , model.intercept_

(array([  1767.65847061,    478.69419282,   1640.01296384, -13684.08544205,
           148.33308341,    -39.99620752,   -205.87802723,     99.74235872,
           482.36099372,     52.24276003,   -167.49428686,   -259.87411575,
           140.60672309,    -68.66326592,    497.34700918,   -169.76173796,
          -111.87480765,    242.3136244 ,   -342.13765685,    -49.09159929,
            55.4970733 ,   -136.6118457 ,    180.83818846,    123.0167035 ,
           114.21393883,    -45.78046277,    188.99007939,   -101.58576592]),
 -1078605.3909081258)

### Get regression metrics RMSE, MAE, and  R2 , for both the train and test data.

In [34]:
 # Print regression metrics (train data)
    y_pred = model.predict(X_train)
    mse = mean_squared_error(y_train, y_pred)
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(y_train, y_pred)
    r2 = r2_score(y_train, y_pred)
    print('Train Mean Squared Error:', mse)
    print('Train Root Mean Squared Error:', rmse)
    print('Train Mean Absolute Error:', mae)
    print('Train score R^2:', r2)

Train Mean Squared Error: 1188346.2698617138
Train Root Mean Squared Error: 1090.1129619730764
Train Mean Absolute Error: 692.7740796618217
Train score R^2: 0.6172832623502627

In [35]:
 # Print regression metrics (test data)
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print('Test Mean Squared Error:', mse)
print('Test Root Mean Squared Error:', rmse)
print('Test Mean Absolute Error:', mae)
print('Test score R^2:', r2)

Test Mean Squared Error: 1163402.2199110745
Test Root Mean Squared Error: 1078.6112459598567
Test Mean Absolute Error: 701.3000059272376
Test score R^2: 0.6256775228842276