<a href="https://colab.research.google.com/github/jpiche0720/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [X] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [X] Engineer at least two new features. (See below for explanation & ideas.)
- [X] Fit a linear regression model with at least two features.
- [X] Get the model's coefficients and intercept.
- [X] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [X] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

# DATA EXPLORATION

## Feature Engineering
- Bedrooms + Bathrooms + Dining Room
- Description length
- ADA Rank = Elevator + Wheelchair access + laundry in unit + newconstruction + dogs allowed

In [3]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
df['ADA_Rank'] = df['elevator']+df['laundry_in_unit']+df['laundry_in_building']+ df['new_construction']+df['wheelchair_access']+df['dogs_allowed']

In [5]:
df['ADA_Rank'].value_counts()

1    19875
2    11986
0    11258
3     4437
4      966
5      293
6        2
Name: ADA_Rank, dtype: int64

In [0]:
df['Total_Rooms']= df['bathrooms']+df['bedrooms']+df['dining_room']

In [0]:
df['Extra_areas']= df['fitness_center']+df['roof_deck']+df['outdoor_space']+df['balcony']+df['garden_patio']+df['swimming_pool']+df['terrace']

In [0]:
df['description'] = df.description.astype(str)

In [9]:


def string_length(string):
  return len(string)

df['description_length'] = df['description'].apply(string_length)

df['description_length']

0         588
1           8
2         691
3         492
4         479
         ...
49347     787
49348    1125
49349     671
49350     735
49351     799
Name: description_length, Length: 48817, dtype: int64

In [10]:
df.head()

   bathrooms  bedrooms  ... Extra_areas description_length
0        1.5         3  ...           0                588
1        1.0         2  ...           1                  8
2        1.0         1  ...           0                691
3        1.0         1  ...           0                492
4        1.0         4  ...           0                479

[5 rows x 38 columns]

In [127]:
def word_in(str):
  word = 'renovated'
  if word in str:
    return 1
  else:
    return 0

df['renovated'] = df['description'].apply(word_in)

df.head()

   bathrooms  bedrooms  ... renovated interest_converts
0        1.5         3  ...         0                 1
1        1.0         2  ...         0                 0
2        1.0         1  ...         0                 2
3        1.0         1  ...         1                 0
4        1.0         4  ...         1                 0

[5 rows x 40 columns]

In [0]:
converts = {'low': 0,'medium':1,'high':2}

df['interest_converts'] = df['interest_level'].map(converts)

# Train/Test split 
- Using the "created" column split april and may with june.
- train (31844,35)
-test(16973,35)

In [0]:
df['created'] = pd.to_datetime(df['created'])

In [0]:
train = df[df['created'] < pd.to_datetime('2016-06-01')]
test = df[df['created']>= pd.to_datetime('2016-06-01')]

In [135]:
print(train.shape)
train.head()

(31844, 41)

   bathrooms  bedrooms  ... interest_converts     point
2        1.0         1  ...                 2  114.7406
3        1.0         1  ...                 0  114.7216
4        1.0         4  ...                 0  114.7734
5        2.0         4  ...                 1  114.7457
6        1.0         2  ...                 0  114.7672

[5 rows x 41 columns]

In [136]:
print(test.shape)
test.head()

(16973, 41)

    bathrooms  bedrooms  ... interest_converts     point
0         1.5         3  ...                 1  114.6570
1         1.0         2  ...                 0  114.7614
11        1.0         1  ...                 0  114.7844
14        1.0         1  ...                 0  114.7232
24        2.0         4  ...                 1  114.7327

[5 rows x 41 columns]

# Set and Fit model for at leat two new features
## Metrics

- Mean Absolute Error (average varience of predictions)
- Root Mean Squared Error (square root of the average squared varience of predictions)
- R^2 score (what percentage of predictions were within the explained varience)

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import plotly.express as px

In [0]:
model = LinearRegression()

#features = ['ADA_Rank', 'Total_Rooms','Extra_areas','description_length']
features = ['bathrooms','bedrooms','Extra_areas','ADA_Rank','interest_converts','latitude','longitude']

target = 'price'

In [0]:
X_train = train[features]
y_train = train[target]

In [0]:
X_test = test[features]
y_true = test[target]

In [163]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [164]:
predictions = model.predict(X_test)
predictions

array([3794.34158714, 3697.47161806, 2564.68785602, ..., 2887.4046625 ,
       3551.47081266, 3294.70230331])

In [165]:
y_true

0        3000
1        5465
11       1675
14       3050
24       7400
         ...
49305    2295
49310    3995
49320    2727
49332    4850
49347    3200
Name: price, Length: 16973, dtype: int64

In [166]:
print('x_1 =', model.coef_[0])
#print('x_2 =',  model.coef_[1])
#print('x_3 =',model.coef_[2])
#print('x_4 =', model.coef_[3])

x_1 = 1838.7055841941462

In [167]:
model.intercept_

-1105186.9676180836

In [168]:
mean_absolute_error(y_true,predictions)

701.0734822967048

In [169]:
mean_squared_error(y_true,predictions)**.5

1079.6726853180567

In [170]:
r2_score(y_true,predictions)

0.6249404341343775