<a href="https://colab.research.google.com/github/alf-faren/DS-Unit-2-Linear-Models/blob/master/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [x] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [x] Engineer at least two new features. (See below for explanation & ideas.)
- [x] Fit a linear regression model with at least two features.
- [x] Get the model's coefficients and intercept.
- [x] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 


#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [93]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [94]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]
house =df.copy()

# Code Start

In [95]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48817 entries, 0 to 49351
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bathrooms             48817 non-null  float64
 1   bedrooms              48817 non-null  int64
 2   created               48817 non-null  object
 3   description           47392 non-null  object
 4   display_address       48684 non-null  object
 5   latitude              48817 non-null  float64
 6   longitude             48817 non-null  float64
 7   price                 48817 non-null  int64
 8   street_address        48807 non-null  object
 9   interest_level        48817 non-null  object
 10  elevator              48817 non-null  int64
 11  cats_allowed          48817 non-null  int64
 12  hardwood_floors       48817 non-null  int64
 13  dogs_allowed          48817 non-null  int64
 14  doorman               48817 non-null  int64
 15  dishwasher            48817 non-null  int64
 16  no_fee                48817 non-null  int64
 17  laundry_in_building   48817 non-null  int64
 18  fitness_center        48817 non-null  int64
 19  pre-war               48817 non-null  int64
 20  laundry_in_unit       48817 non-null  int64
 21  roof_deck             48817 non-null  int64
 22  outdoor_space         48817 non-null  int64
 23  dining_room           48817 non-null  int64
 24  high_speed_internet   48817 non-null  int64
 25  balcony               48817 non-null  int64
 26  swimming_pool         48817 non-null  int64
 27  new_construction      48817 non-null  int64
 28  terrace               48817 non-null  int64
 29  exclusive             48817 non-null  int64
 30  loft                  48817 non-null  int64
 31  garden_patio          48817 non-null  int64
 32  wheelchair_access     48817 non-null  int64
 33  common_outdoor_space  48817 non-null  int64
dtypes: float64(3), int64(26), object(5)
memory usage: 13.0+ MB

In [97]:
df.describe()

          bathrooms      bedrooms  ...  wheelchair_access  common_outdoor_space
count  48817.000000  48817.000000  ...       48817.000000          48817.000000
mean       1.201794      1.537149  ...           0.027224              0.026241
std        0.470711      1.106087  ...           0.162738              0.159852
min        0.000000      0.000000  ...           0.000000              0.000000
25%        1.000000      1.000000  ...           0.000000              0.000000
50%        1.000000      1.000000  ...           0.000000              0.000000
75%        1.000000      2.000000  ...           0.000000              0.000000
max       10.000000      8.000000  ...           1.000000              1.000000

[8 rows x 29 columns]

In [98]:
# y = target

y = house['price']
y.shape

(48817,)

In [99]:
# X = features 

X = house.drop('price', axis=1)
X.shape

(48817, 33)

In [100]:
y.head(3)

0    3000
1    5465
2    2850
Name: price, dtype: int64

In [101]:
X.head(3)

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0

[3 rows x 33 columns]

# Train/test split

In [102]:
# train is for April and May
train = df[df['created'].str.contains("2016-04|2016-05")==True]
# test is for June
test = df[df['created'].str.contains("2016-06")]

# Engineer 2 new features

In [103]:
# Total Number of rooms
X['rooms'] = X['bathrooms'] + X['bedrooms']

In [104]:
# Total number of outdoor facilities
X['out'] = X['balcony']+X['common_outdoor_space']+X['garden_patio']+X['outdoor_space']+X['terrace']+X['swimming_pool']+X['roof_deck']

In [105]:
X.head()

   bathrooms  bedrooms              created  ... common_outdoor_space rooms  out
0        1.5         3  2016-06-24 07:54:24  ...                    0   4.5    0
1        1.0         2  2016-06-12 12:19:27  ...                    0   3.0    0
2        1.0         1  2016-04-17 03:26:41  ...                    0   2.0    0
3        1.0         1  2016-04-18 02:22:02  ...                    0   2.0    0
4        1.0         4  2016-04-28 01:32:41  ...                    0   5.0    0

[5 rows x 35 columns]

# Linear regression

In [106]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [107]:
# Instantiate the class
model2 = LinearRegression()
# Make features and target
features = ['cats_allowed','dogs_allowed','latitude','longitude']
target = ['price']
print(f'Linear Regression, dependent on: {features}')
print(f'Linear Regression, independent on: {target}')
# Make train data
x_train = train[features]
y_train = train[target]
# Make test data
x_test = test[features]
y_test = test[target]
# Fit  the data to the model
model2.fit(x_train, y_train)

Linear Regression, dependent on: ['cats_allowed', 'dogs_allowed', 'latitude', 'longitude']
Linear Regression, independent on: ['price']

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [108]:
#test train data
train_pred = model2.predict(x_train)
#finding mae train
mae_train = mean_absolute_error(y_train,train_pred)
#train test data 
test_pred = model2.predict(x_test)
#find mae
mae_test = mean_absolute_error(y_test,test_pred)
#compare results
print(f'MAE Train Error off by ${mae_train:.2f}.')
print(f'MAE Test Error off by ${mae_test:.2f}.')

MAE Train Error off by $1144.58.
MAE Test Error off by $1137.85.

# Model's coef and intercept

In [109]:
# State the coefficients and the intercept
model2.intercept_, model2.coef_

(array([-1272124.71285601]),
 array([[   -78.80547882,    224.21403822,   2232.42504878,
         -16014.85815949]]))

In [110]:
print('Intercept', model2.intercept_)
coefficients = pd.Series(model2.coef_.flatten(), features)
print(coefficients.to_string())

# Should match with the above cell

Intercept [-1272124.71285601]
cats_allowed      -78.805479
dogs_allowed      224.214038
latitude         2232.425049
longitude      -16014.858159

#RMSE, MAE, $R^2$

In [111]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [112]:
# RMSE
rmse = sqrt(mean_squared_error(y_test, test_pred))
print(f' root mean squared error test: {rmse}')
# train data 
rmse = sqrt(mean_squared_error(y_train, train_pred))
print(f' root mean squared error train: {rmse}')

 root mean squared error test: 1701.110406213075
 root mean squared error train: 1702.529205728456

In [113]:
# R2
from sklearn.metrics import r2_score
r2 = r2_score(y_test,test_pred)
print(f' R2 score for test: {r2}')
r2 = r2_score(y_train,train_pred)
print(f' R2 score for train: {r2}')

 R2 score for test: 0.06893281456667055
 R2 score for train: 0.06648007909991394

In [114]:
# MAE
print(f'train error: ${mae_train:.2f} off')
print(f'test error: ${mae_test:.2f} off')

train error: $1144.58 off
test error: $1137.85 off