Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

### Read in data and create dataframe

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [45]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

### Engineer at least two new features. (See below for explanation & ideas.)

In [46]:
# does the apartements allow pets? 
# If dogs or cats are allowed then we want a 1 otherwise we want 0

df.loc[(df['cats_allowed'] == 1) | (df['dogs_allowed'] == 1), 'pets_allowed'] = 1
df.loc[(df['cats_allowed'] == 0) | (df['dogs_allowed'] == 1), 'pets_allowed'] = 1
df.loc[(df['cats_allowed'] == 1) | (df['dogs_allowed'] == 0), 'pets_allowed'] = 1

print((df['pets_allowed'] == 1).value_counts())
df.head()

True    48817
Name: pets_allowed, dtype: int64

   bathrooms  bedrooms  ... common_outdoor_space pets_allowed
0        1.5         3  ...                    0          1.0
1        1.0         2  ...                    0          1.0
2        1.0         1  ...                    0          1.0
3        1.0         1  ...                    0          1.0
4        1.0         4  ...                    0          1.0

[5 rows x 35 columns]

In [47]:
# luxury apartments... this is a little arbitrary but we will used certain features
# as those that would be considered luxury

# has doorman, fitness_center, terrace, exclusive, garden patio, roof_deck
# sum to find how many luxury features each apartment has.

luxury_features = ['doorman', 'fitness_center', 'terrace', 'exclusive', 'garden_patio', 'roof_deck']

df['luxury_features'] = df[luxury_features].sum(axis=1)

print(df['luxury_features'].value_counts())
df.head()

0    24174
1    10177
2     8316
3     5011
4      922
5      217
Name: luxury_features, dtype: int64

   bathrooms  bedrooms  ... pets_allowed luxury_features
0        1.5         3  ...          1.0               0
1        1.0         2  ...          1.0               2
2        1.0         1  ...          1.0               0
3        1.0         1  ...          1.0               0
4        1.0         4  ...          1.0               0

[5 rows x 36 columns]

In [50]:
# lets also make the interest level into a 1-3 scale. 
# 1 for low, 2 for medium, 3 for high

df['interest_level'].value_counts()

low       33946
medium    11181
high       3690
Name: interest_level, dtype: int64

In [56]:
df['interest_level'] = df['interest_level'].astype('category')


df['interest_level'] = df['interest_level'].cat.codes

df['interest_level'].value_counts()

1    33946
2    11181
0     3690
Name: interest_level, dtype: int64

### Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.

In [57]:
# create train data only data from April & May of 2016

train_start_date = '2016-04-01'
train_end_date = '2016-05-31'
test_start_date = '2016-06-01'
test_end_date = '2016-06-30'


train = df[(df['created'] >= train_start_date) & (df['created'] <= train_end_date)]
test = df[(df['created'] >= test_start_date) & (df['created'] <= test_end_date)]

print("dimensions of training data", train.shape)
print("dimensions of test data", test.shape)
print("dimensions of entire data", df.shape)

print('test data is', test.shape[0]/df.shape[0] *100, "% of the dataset")
print('training data is', train.shape[0]/df.shape[0] *100, "% of the dataset")

dimensions of training data (31839, 36)
dimensions of test data (16973, 36)
dimensions of entire data (48817, 36)
test data is 34.76862568367577 % of the dataset
training data is 65.22113198271094 % of the dataset

In [58]:
train.head()

   bathrooms  bedrooms  ... pets_allowed luxury_features
2        1.0         1  ...          1.0               0
3        1.0         1  ...          1.0               0
4        1.0         4  ...          1.0               0
5        2.0         4  ...          1.0               0
6        1.0         2  ...          1.0               0

[5 rows x 36 columns]

In [59]:
test.head()

    bathrooms  bedrooms  ... pets_allowed luxury_features
0         1.5         3  ...          1.0               0
1         1.0         2  ...          1.0               2
11        1.0         1  ...          1.0               0
14        1.0         1  ...          1.0               0
24        2.0         4  ...          1.0               3

[5 rows x 36 columns]

### Fit a linear regression model with at least two features

In [0]:
#import linear regression from sklearn

from sklearn.linear_model import LinearRegression

In [0]:
# set model class, instatiate linear regression

model = LinearRegression(fit_intercept=True)

In [0]:
# set the x features matrix and the y target matrix vectors

features = ['interest_level', 'pets_allowed', 'luxury_features']
target = ['price']

X_train = train[features]
X_test = test[features]
y_train = train[target]

In [65]:
# Fit the model

model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [87]:
# apply model to the test data

y_pred = model.predict(X_test)
y_pred.T

array([[3049.81622269, 4043.35709784, 3182.78739622, ..., 3049.81622269,
        3613.07224703, 3049.81622269]])

### Get the model's coefficients and intercept.

In [71]:
# Get the model's coefficients and intercept.

print('The intercept for the linear regression model is', model.intercept_[0])

pd.DataFrame(model.coef_.T, index=X_train.columns, columns=['Coefficients'])

The intercept for the linear regression model is 3315.7585697543323

                 Coefficients
interest_level    -132.971174
pets_allowed         0.000000
luxury_features    430.284851

### Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.

In [0]:
import numpy as np
from numpy import ndarray
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [131]:
np.sqrt(mean_squared_error(test['price'], y_pred))

1682.6976219473624

In [132]:
mean_absolute_error(test['price'], y_pred)

1137.008173060534

In [130]:
r2_score(test['price'], y_pred)

0.08897943646837758

In [134]:
## Lets check for the train dataset

y_pred = model.predict(X_train)
y_pred

array([[3315.75856975],
       [3182.78739622],
       [3182.78739622],
       ...,
       [3613.07224703],
       [3613.07224703],
       [3182.78739622]])

In [136]:
np.sqrt(mean_squared_error(y_train, y_pred))

1690.0974627762596

In [137]:
mean_absolute_error(y_train, y_pred)

1150.5763555213925

In [138]:
r2_score(y_train, y_pred)

0.08016400930731349

### try and feature engineer some new features to get a better outcome

In [142]:
!pip install zipcodes

Collecting zipcodes
  Downloading https://files.pythonhosted.org/packages/3a/9e/899d449f76e5f303c7fe2c9b6142ef0121b5ec1f1279a7f27b2bbb90025c/zipcodes-1.1.0-py2.py3-none-any.whl (715kB)
     |████████████████████████████████| 716kB 4.8MB/s
Installing collected packages: zipcodes
Successfully installed zipcodes-1.1.0

In [0]:
import zipcodes