Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [257]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [258]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [274]:
import pandas as pd
import seaborn as sns
import numpy as np
import plotly.express as px
import datetime
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.preprocessing import OneHotEncoder

In [260]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [262]:
# change created to data time format for subsetting by month
df['created'] = pd.to_datetime(df['created'])

In [263]:
# create column with month value
df['month'] = df['created'].map(lambda x: x.month)

In [264]:
# check
df['month'].value_counts()

6    16973
4    16217
5    15627
Name: month, dtype: int64

In [275]:
df['intrest'] = df['interest_level'].replace({'high':3,
                                              'medium':2,
                                              'low':1})

In [265]:
# create column for 'allows pets'
df['pets'] = df['cats_allowed'] + df['dogs_allowed']

In [266]:
# remap the values to with 1=allows pets, 0=doesnt allow pets
df['pets'] = df['pets'].mask(df['pets']==1,df['pets'].replace(1,0))
df['pets'] = df['pets'].mask(df['pets']==2,df['pets'].replace(2,1))

In [267]:
# create column that show the total number of rooms.
df['num_rooms'] = df['bedrooms'] + df['bathrooms']

In [268]:
df['perk'] = df.iloc[:,10:33].sum(axis=1)

In [278]:
# split data
train_months = [4,5]
train = df[df['month'].isin(train_months)]
test = df[df['month'] == 6]

In [291]:
# split data
train_months = [4,5]
train = df[df['month'].isin(train_months)]
test = df[df['month'] == 6]

# subset training and test data
model =LinearRegression()

features = ['bedrooms','bathrooms','num_rooms','pets','perk','intrest']
target = ['price']

X_train = train[features]
X_test  = test[features]
y_train = train[target]
y_test  = test[target]

# create model 
model.fit(X_train, y_train)

y_pred = model.predict(X_train)

mae = mean_absolute_error(y_train,y_pred)
mse = mean_squared_error(y_train,y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_train,y_pred)

print(f'Training Set errors-\nmean absolute error: {mae}\nmean squared error: {mse}\nRMSE: {rmse}\nr2: {r2}')

Training Set errors-
mean absolute error: 761.2791365212676
mean squared error: 1347588.3295968391
RMSE: 1160.8567222516476
r2: 0.5659980409092564

In [295]:
# run model on test set

model.fit(X_test,y_test)

y_pred = model.predict(X_test)
mean_absolute_error(y_test,y_pred)

mae = mean_absolute_error(y_test,y_pred)
mse = mean_squared_error(y_test,y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test,y_pred)
print(f'Training Set errors-\nmean absolute error: {mae}\nmean squared error: {mse}\nRMSE: {rmse}\nr2: {r2}')

Training Set errors-
mean absolute error: 762.6757476781943
mean squared error: 1307275.6550474993
RMSE: 1143.3615591961711
r2: 0.5793865156042705

In [290]:
y_pred = model.predict(X_test)
mean_absolute_error(y_test,y_pred)

762.6757476781943