<a href="https://colab.research.google.com/github/Logan-Stark/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [ ]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [ ]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

## Data exploration
- Looking through data to get an idea of what new features I want to make.

In [ ]:
df

       bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0            1.5         3  ...                 0                    0
1            1.0         2  ...                 0                    0
2            1.0         1  ...                 0                    0
3            1.0         1  ...                 0                    0
4            1.0         4  ...                 0                    0
...          ...       ...  ...               ...                  ...
49347        1.0         2  ...                 0                    0
49348        1.0         1  ...                 0                    1
49349        1.0         1  ...                 0                    0
49350        1.0         0  ...                 0                    0
49351        1.0         2  ...                 0                    0

[48817 rows x 34 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48817 entries, 0 to 49351
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bathrooms             48817 non-null  float64
 1   bedrooms              48817 non-null  int64
 2   created               48817 non-null  object
 3   description           47392 non-null  object
 4   display_address       48684 non-null  object
 5   latitude              48817 non-null  float64
 6   longitude             48817 non-null  float64
 7   price                 48817 non-null  int64
 8   street_address        48807 non-null  object
 9   interest_level        48817 non-null  object
 10  elevator              48817 non-null  int64
 11  cats_allowed          48817 non-null  int64
 12  hardwood_floors       48817 non-null  int64
 13  dogs_allowed          48817 non-null  int64
 14  doorman               48817 non-null  int64
 15  dishwasher            48817 non-null  int64
 16  no_fee                48817 non-null  int64
 17  laundry_in_building   48817 non-null  int64
 18  fitness_center        48817 non-null  int64
 19  pre-war               48817 non-null  int64
 20  laundry_in_unit       48817 non-null  int64
 21  roof_deck             48817 non-null  int64
 22  outdoor_space         48817 non-null  int64
 23  dining_room           48817 non-null  int64
 24  high_speed_internet   48817 non-null  int64
 25  balcony               48817 non-null  int64
 26  swimming_pool         48817 non-null  int64
 27  new_construction      48817 non-null  int64
 28  terrace               48817 non-null  int64
 29  exclusive             48817 non-null  int64
 30  loft                  48817 non-null  int64
 31  garden_patio          48817 non-null  int64
 32  wheelchair_access     48817 non-null  int64
 33  common_outdoor_space  48817 non-null  int64
dtypes: float64(3), int64(26), object(5)
memory usage: 13.0+ MB

## Making two new Features
- contructing new features Total rooms and cats and dogs allowed

In [ ]:
df['total_rooms'] =  df['bedrooms'] + df['bathrooms']

In [ ]:
df['cats_&_dogs_allowed'] = df['cats_allowed'] + df['dogs_allowed']

In [ ]:
df = df.replace({'cats_&_dogs_allowed': 1}, 0)

In [ ]:
df = df.replace({'cats_&_dogs_allowed': 2}, 1)

In [ ]:
df['created'] =  pd.to_datetime(df['created'])

In [ ]:
y = pd.Series(df['price'], name='price')

In [ ]:
X = df[['bathrooms','bedrooms','created']]

In [ ]:
X.head()

   bathrooms  bedrooms             created
0        1.5         3 2016-06-24 07:54:24
1        1.0         2 2016-06-12 12:19:27
2        1.0         1 2016-04-17 03:26:41
3        1.0         1 2016-04-18 02:22:02
4        1.0         4 2016-04-28 01:32:41

In [ ]:
df.sort_values(by='created')

       bathrooms  bedrooms  ... total_rooms cats_&_dogs_allowed
5186         1.0         1  ...         2.0                   0
7945         1.0         0  ...         1.0                   1
6424         2.0         3  ...         5.0                   1
7719         1.0         1  ...         2.0                   1
1723         1.0         1  ...         2.0                   1
...          ...       ...  ...         ...                 ...
19943        1.0         2  ...         3.0                   0
16801        1.0         1  ...         2.0                   1
32633        1.0         1  ...         2.0                   1
20560        1.0         3  ...         4.0                   1
17743        1.0         3  ...         4.0                   0

[48817 rows x 36 columns]

In [ ]:
X_train = X[X['created'] < '2016-6-1']

In [ ]:
X_train = X_train.drop('created', axis= 1)

In [ ]:
X_train.shape

(31844, 2)

In [ ]:
X_test = X[X['created'] >= '2016-6-1']

In [ ]:
X_test = X_test.drop('created', axis= 1)

In [ ]:
X_test.shape

(16973, 2)

In [ ]:
df2 = df[df['created'] < '2016-6-1']

In [ ]:
df3 = df[df['created'] >= '2016-6-1']

In [ ]:
y_train = df2['price']

In [ ]:
y_train.shape

(31844,)

In [ ]:
y_test = df3['price']

In [ ]:
y_test.shape

(16973,)

In [ ]:
# Import Linear regression from sklearn
from sklearn.linear_model import LinearRegression

# Instantiate the model
model = LinearRegression()

# Fit the model to our data
model.fit(X_train, y_train)

# Check our error metrics : training set
from sklearn.metrics import mean_absolute_error

y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred)
print('Training MAE:', mae)

# Check our error metrics : test set
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print('Test MAE:', mae)

Training MAE: 818.5310213271714
Test MAE: 825.8987822403527