Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [19]:
df

       bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0            1.5         3  ...                 0                    0
1            1.0         2  ...                 0                    0
2            1.0         1  ...                 0                    0
3            1.0         1  ...                 0                    0
4            1.0         4  ...                 0                    0
...          ...       ...  ...               ...                  ...
49347        1.0         2  ...                 0                    0
49348        1.0         1  ...                 0                    1
49349        1.0         1  ...                 0                    0
49350        1.0         0  ...                 0                    0
49351        1.0         2  ...                 0                    0

[48817 rows x 34 columns]

## Train/test Split

In [0]:
df['created'] = pd.to_datetime(df['created'])

In [56]:
mask = (df['created'] > '2016-04-01') & (df['created'] <= '2016-05-01')
train = df.loc[mask]

train.shape

(16217, 34)

In [62]:
# from April & May 2016 to train. Use data from June 2016 to test.
maskt = (df['created'] > '2016-06-01')
test = df.loc[maskt]
train.shape, test.shape

((16217, 34), (16973, 34))

In [63]:
train['bedrooms'].mean()

1.5150767712893878

In [0]:
target  = 'bedrooms'
y_train = train[target]
y_test  = test[target]

In [65]:
y_train

2        1
3        1
4        4
5        4
6        2
        ..
49346    1
49348    1
49349    1
49350    0
49351    2
Name: bedrooms, Length: 16217, dtype: int64

In [66]:
y_test

0        3
1        2
11       1
14       1
24       4
        ..
49305    2
49310    3
49320    1
49332    2
49347    2
Name: bedrooms, Length: 16973, dtype: int64

In [67]:
guess = y_train.mean()
guess

1.5150767712893878

In [68]:
def test_error(X, header):
  from sklearn.metrics import mean_absolute_error
  y_pred = [guess] * len(X)
  mae    = mean_absolute_error(X, y_pred)
  return print(f'{header} is {mae:.2f}')

test_error(y_train, "Train error")

test_error(y_test, "Test error")

Train error is 0.93
Test error is 0.93

## Used the function from the previous lesson

In [0]:


# Built a function to pass arbitrary values, X, Y and input value
def sk_predict(df, X, Y, in_value):
  from sklearn.linear_model import LinearRegression

  # Linear Regression
  model = LinearRegression()

  # features and target take string perimetersd
  features = [X]
  target   = [Y]
  x_Train  = df[features]
  y_Train  = df[target]

  # This fits the model
  model.fit(x_Train, y_Train)

  print("The model coefficient adds $", model.coef_[0], "for every ", X)

  # Input value
  input_value = in_value
  x_test = [[input_value]]
  y_pred = model.predict(x_test)

  # return our desired prediction
  return y_pred

def plotly(x1,y1,x2,y2):
  import plotly.graph_objects as go

  fig = go.Figure()

  # Add traces
  fig.add_trace(go.Scatter(x=x1, y=y1,
                      mode='markers',
                      name='Ground Truth'))

  fig.add_trace(go.Scatter(x=x2, y=y2,
                      mode='lines+markers',
                      name='Prediction'))

  return fig.show()


# chart prediction calls nested sk_predict function and plotly function
def chart_prediction(df, X, Y, range1, range2):
  stored_data = []
  x2 = []
  for i in range(range1,range2):
    stored_data.append(sk_predict(df,X, Y, i))
    x2.append(i)

  pretty_data = []
  # prettify array
  for i in range(range1,range2):
    pretty_data.append(stored_data[i][0][0])

  X = df[X]
  Y = df[Y]

  return plotly(X,Y,x2, pretty_data)


chart_prediction(df, 'bedrooms','price', 0, 9)