Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [3]:
print(df.shape)
df.head()

(48817, 34)

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [12]:
df.dtypes

bathrooms               float64
bedrooms                  int64
created                  object
description              object
display_address          object
latitude                float64
longitude               float64
price                     int64
street_address           object
interest_level           object
elevator                  int64
cats_allowed              int64
hardwood_floors           int64
dogs_allowed              int64
doorman                   int64
dishwasher                int64
no_fee                    int64
laundry_in_building       int64
fitness_center            int64
pre-war                   int64
laundry_in_unit           int64
roof_deck                 int64
outdoor_space             int64
dining_room               int64
high_speed_internet       int64
balcony                   int64
swimming_pool             int64
new_construction          int64
terrace                   int64
exclusive                 int64
loft                      int64
garden_patio              int64
wheelchair_access         int64
common_outdoor_space      int64
dtype: object

In [16]:
#okay our data frame is already restricted to the total domain we want to work
#in, so I should feature engineer for the whole data frame then train/test split
print(df['created'].max())
print(df['created'].min())

2016-06-29 21:41:47
2016-04-01 22:12:41

In [0]:
#import block
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import datetime

In [0]:
#Okay so lets think about this.

#A) Engineer two features
#B) then split into train 4-5/16, test 6/16
#C) if those two seem interesting fit model
#D) make a regression stats function that mae, rmse, r2
#E) tweak to get best mae
#F) Stretch, make a function that will at least gather the stats of every single
#permutation of features in the data set.

#A

In [0]:
#A) well lets just make this like I was apartment hunting.  I'll make a feature
#called "perfect fit" that will be the ideal bedroom and bathroom situation for
#my fiance and myself.  Then I'll make "perfect ameneties." This one I think
#will be laundry in unit, dishwasher, and hardwood floors.  Sounds nicer than
#my currend place :D

#Okay a few different ways to do this.  I think maybe if I just make a function
#that checks each of my desired categories, and outputs a 0 or a 1 will do.

def perf_fit(foo):
  if (foo['bedrooms'] >= 1) and (foo['bathrooms'] >= 1): return 1
  else: return 0

def perf_amen(bar):
  if (bar['laundry_in_unit'] > 0) and (bar['dishwasher'] > 0) and (bar['hardwood_floors'] > 0): return 1
  else: return 0

In [23]:
df['perf_fit'] = df.apply(perf_fit, axis = 1)
df['perf_amen'] = df.apply(perf_amen, axis = 1)
print(df.shape)
df.head()

(48817, 36)

   bathrooms  bedrooms  ... perf_fit perf_amen
0        1.5         3  ...        1         0
1        1.0         2  ...        1         0
2        1.0         1  ...        1         0
3        1.0         1  ...        1         0
4        1.0         4  ...        1         0

[5 rows x 36 columns]

In [24]:
# a little curious.
df['perf_fit'].value_counts()

1    39347
0     9470
Name: perf_fit, dtype: int64

In [25]:
#kind of expected that
df['perf_amen'].value_counts()

0    41901
1     6916
Name: perf_amen, dtype: int64

#B

In [32]:
#B) split data into training and testing sets
#I can do this in one line but we aren't playing code golf.  Lets make it
#easy to read.

#I will use this date for comparison.  Less than is training, great than or equa
#is test
split = datetime.datetime(year = 2016, month = 6, day = 1)

df['datetime'] = pd.to_datetime(df['created'])

train = df[df['datetime'] < split]
test = df[df['datetime'] >= split]

print(train.shape)
print('The max date for training is: ', train['datetime'].max())
print('The min date for training is: ', train['datetime'].min())
train.head()

(31844, 37)
The max date for training is:  2016-05-31 23:10:48
The min date for training is:  2016-04-01 22:12:41

   bathrooms  bedrooms  ... perf_amen            datetime
2        1.0         1  ...         0 2016-04-17 03:26:41
3        1.0         1  ...         0 2016-04-18 02:22:02
4        1.0         4  ...         0 2016-04-28 01:32:41
5        2.0         4  ...         0 2016-04-19 04:24:47
6        1.0         2  ...         0 2016-04-27 03:19:56

[5 rows x 37 columns]

In [33]:
#both are looking good
print(test.shape)
print('The max date for test is: ', test['datetime'].max())
print('The min date for test is: ', test['datetime'].min())
test.head()

(16973, 37)
The max date for test is:  2016-06-29 21:41:47
The min date for test is:  2016-06-01 01:10:37

    bathrooms  bedrooms  ... perf_amen            datetime
0         1.5         3  ...         0 2016-06-24 07:54:24
1         1.0         2  ...         0 2016-06-12 12:19:27
11        1.0         1  ...         0 2016-06-03 03:21:22
14        1.0         1  ...         0 2016-06-01 03:11:01
24        2.0         4  ...         0 2016-06-07 04:39:56

[5 rows x 37 columns]

#C

In [0]:
#C Lets do that five step scikit learn process
#1 import estimator already done with import block
#2 Instantiate the class
model = LinearRegression()

In [35]:
#3 arrange X feature matrix, and y target vector.  Since we will be fitting
#our model with this, this must come from the training set

X = train[['perf_fit', 'perf_amen']]
y = train['price']

print(X.shape, y.shape)

(31844, 2) (31844,)

In [36]:
#4 fit the model
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [39]:
#mvp
print('The coeficient of my perfect fit is: ', model.coef_[0])
print('The coeficient of my perfect amenities is: ', model.coef_[1])
print('The intercept of the model is: ', model.intercept_)

The coeficient of my perfect fit is:  1246.5691727502042
The coeficient of my perfect amenities is:  1177.9215461589945
The intercept of the model is:  2408.233345744511

In [0]:
#TODO: come back and make a better more descriptive interpretation of this.

In [0]:
#5 apply to new (test) data

X_test = test[['perf_fit', 'perf_amen']]
y_pred = model.predict(X_test)

#D

In [0]:
#D make a function for RMSE, MAE, and R2

def reg_metrics(y, y_pred):
  mse = mean_squared_error(y, y_pred)
  rmse = np.sqrt(mse)
  mae = mean_absolute_error(y, y_pred)
  r2 = r2_score(y, y_pred)

  print('Mean Squared Error: ', mse)
  print('Root Mean Squared Error (RMSE): ', rmse)
  print('Mean Absolute Error (MAE): ', mae)

In [45]:
reg_metrics(y, y_pred)

ValueError: ignored