<a href="https://colab.research.google.com/github/jamesluttringer2019/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [192]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [193]:
#create new series that contains each apartment's description length
df['description_length'] = df.description.str.len()
df.head()

   bathrooms  bedrooms  ... common_outdoor_space description_length
0        1.5         3  ...                    0              588.0
1        1.0         2  ...                    0                8.0
2        1.0         1  ...                    0              691.0
3        1.0         1  ...                    0              492.0
4        1.0         4  ...                    0              479.0

[5 rows x 35 columns]

In [194]:
#create a columns that counts how many luxury features are available
luxury_features = ['elevator', 'doorman',
                   'laundry_in_unit', 'fitness_center',
                   'roof_deck', 'outdoor_space',
                   'dining_room', 'balcony', 
                   'swimming_pool', 'terrace',
                   'exclusive', 'garden_patio',
                   ]
df['luxury_count'] = 0
for i in luxury_features:
  df['luxury_count'] += df[i]

df.head()

   bathrooms  bedrooms  ... description_length luxury_count
0        1.5         3  ...              588.0            0
1        1.0         2  ...                8.0            3
2        1.0         1  ...              691.0            0
3        1.0         1  ...              492.0            0
4        1.0         4  ...              479.0            0

[5 rows x 36 columns]

In [0]:
#convert interest level to numeric
ranks = {'low':0,'medium':1, 'high':2}
df['interest_level'] = df['interest_level'].replace(ranks)

In [196]:
#keep only the desired columns
df = df[['created','price','bathrooms', 'bedrooms', 'luxury_count','interest_level']]
df.head()

               created  price  ...  luxury_count  interest_level
0  2016-06-24 07:54:24   3000  ...             0               1
1  2016-06-12 12:19:27   5465  ...             3               0
2  2016-04-17 03:26:41   2850  ...             0               2
3  2016-04-18 02:22:02   3275  ...             0               0
4  2016-04-28 01:32:41   3350  ...             0               0

[5 rows x 6 columns]

In [0]:
#convert created to datetime
df['created'] = pd.to_datetime(df['created'],infer_datetime_format=True)

In [198]:
#get month into a usable format
month = []
for i in df['created']:
  month.append(i.month)
month = pd.Series(month)
df['month']=month
df= df.drop('created',axis=1)
df.head()

   price  bathrooms  bedrooms  luxury_count  interest_level  month
0   3000        1.5         3             0               1    6.0
1   5465        1.0         2             3               0    6.0
2   2850        1.0         1             0               2    4.0
3   3275        1.0         1             0               0    4.0
4   3350        1.0         4             0               0    4.0

In [0]:
#seperate into train and test
train = df[df['month']==4]
train = train.append(df[df['month']==5])
test = df[df['month']==6]

In [0]:
#break down into y vector and x matrix
features = ['bathrooms','bedrooms','luxury_count','interest_level']
X_train = train[features]
X_test = test[features]

y_train = train['price']
y_test = test['price']

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from math import sqrt

In [0]:
#instantiate linear regression model
model = LinearRegression()

In [203]:
#fit model to train data
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [204]:
print('Intercept', model.intercept_)
coefficients = pd.Series(model.coef_, features)
print(str(coefficients))

Intercept 633.0163657831677
bathrooms         1788.340841
bedrooms           434.322991
luxury_count       158.584492
interest_level    -505.176142
dtype: float64

In [205]:
#calculate baseline mea
tryme = [df['price'].mean()]
base = mean_absolute_error(df['price'],tryme*len(df['price']))
basermse = sqrt(mean_squared_error(df['price'],tryme*len(df['price'])))
print(f'Baseline MEA: ${base:,.0f}')
print(f'Baseline RMSE: ${basermse:,.0f}')

Baseline MEA: $1,202
Baseline RMSE: $1,762

In [206]:
#calculate mea for train data
y_pred = model.predict(X_train)
mea = mean_absolute_error(y_train,y_pred)
rmse = sqrt(mean_squared_error(y_train,y_pred))
r2 = r2_score(y_train,y_pred)
print(f'Train MEA: ${mea:,.0f}')
print(f'Train RMSE: ${rmse:,.0f}')
print('R^2: ', r2)

Train MEA: $749
Train RMSE: $1,139
R^2:  0.5768490629571497

In [207]:
y_pred = model.predict(X_test)
mea = mean_absolute_error(y_test,y_pred)
rmse = sqrt(mean_squared_error(y_test,y_pred))
r2 = r2_score(y_test,y_pred)
print(f'Test MEA: ${mea:,.0f}')
print(f'Test RMSE: ${rmse:,.0f}')
print('R^2: ',r2)

Test MEA: $753
Test RMSE: $1,145
R^2:  0.586165215651387