<a href="https://colab.research.google.com/github/OhOmah/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [61]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv', index_col='created')
assert df.shape == (49352, 33)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [62]:
# Getting the information I need to manipulate the data
df.head()

                     bathrooms  ...  common_outdoor_space
created                         ...
2016-06-24 07:54:24        1.5  ...                     0
2016-06-12 12:19:27        1.0  ...                     0
2016-04-17 03:26:41        1.0  ...                     0
2016-04-18 02:22:02        1.0  ...                     0
2016-04-28 01:32:41        1.0  ...                     0

[5 rows x 33 columns]

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48817 entries, 2016-06-24 07:54:24 to 2016-04-12 02:48:07
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bathrooms             48817 non-null  float64
 1   bedrooms              48817 non-null  int64
 2   description           47392 non-null  object
 3   display_address       48684 non-null  object
 4   latitude              48817 non-null  float64
 5   longitude             48817 non-null  float64
 6   price                 48817 non-null  int64
 7   street_address        48807 non-null  object
 8   interest_level        48817 non-null  object
 9   elevator              48817 non-null  int64
 10  cats_allowed          48817 non-null  int64
 11  hardwood_floors       48817 non-null  int64
 12  dogs_allowed          48817 non-null  int64
 13  doorman               48817 non-null  int64
 14  dishwasher            48817 non-null  int64
 15  no_fee                48817 non-null  int64
 16  laundry_in_building   48817 non-null  int64
 17  fitness_center        48817 non-null  int64
 18  pre-war               48817 non-null  int64
 19  laundry_in_unit       48817 non-null  int64
 20  roof_deck             48817 non-null  int64
 21  outdoor_space         48817 non-null  int64
 22  dining_room           48817 non-null  int64
 23  high_speed_internet   48817 non-null  int64
 24  balcony               48817 non-null  int64
 25  swimming_pool         48817 non-null  int64
 26  new_construction      48817 non-null  int64
 27  terrace               48817 non-null  int64
 28  exclusive             48817 non-null  int64
 29  loft                  48817 non-null  int64
 30  garden_patio          48817 non-null  int64
 31  wheelchair_access     48817 non-null  int64
 32  common_outdoor_space  48817 non-null  int64
dtypes: float64(3), int64(26), object(4)
memory usage: 12.7+ MB

In [64]:
df.describe()

          bathrooms      bedrooms  ...  wheelchair_access  common_outdoor_space
count  48817.000000  48817.000000  ...       48817.000000          48817.000000
mean       1.201794      1.537149  ...           0.027224              0.026241
std        0.470711      1.106087  ...           0.162738              0.159852
min        0.000000      0.000000  ...           0.000000              0.000000
25%        1.000000      1.000000  ...           0.000000              0.000000
50%        1.000000      1.000000  ...           0.000000              0.000000
75%        1.000000      2.000000  ...           0.000000              0.000000
max       10.000000      8.000000  ...           1.000000              1.000000

[8 rows x 29 columns]

In [65]:
# Starting out by splitting, doing a plot with price (My target), and if dogs are allowed. (feature)
col = 'dogs_allowed'
col2 = 'cats_allowed'
# My target
y = df['price']

# My feature Matrix
X = df[[col,
       col2]]

In [66]:
# Splitting my data, my training will include april and may and validation will be june 

# Creating my mask so I can seperate my training data and my validation data
mask = X.index < '2016-06-01'

# Now defining my first split, my training data
X_train, y_train = X.loc[mask], y.loc[mask]

# And everything that was in not in my filter will be in my validation data. 
X_val, y_val = X.loc[~mask], y.loc[~mask]

In [71]:
# Now time to create two new features
# Since I replaced my index 

# making a function that will take in both of the old data frames make a new one 
def check_for_both(cats, dogs):
  both = []
  for both in len(df):
    if cats. == dogs[]:
      both.appened(1)
    else:
      both.append(0)

# Making a for loop that will make my new feature.
both = []

for value in df[['cats_allowed', 'dogs_allowed']]

# My first feature, both dogs and cat allowed. 
df['cats_and_dogs_allowed'] = check_for_both(df['cats_allowed'], df['dogs_allowed'])

# My second feature 
df['total_perks'] = df[['elevators', 
                        'cats_allowed',
                        'hardwood_floors',
                        'dogs_allowed',
                        'doorman',
                        'dishwasher',
                        'no_fee',
                        'laundry_in_building',
                        'fitness_center',
                        'laundry_in_unit',
                        'roof_deck',
                        'outdoor_space',
                        'dining_room',
                        'high_speed_internet',
                        'balcony',
                        'swimming_pool',
                        'new_construction',
                        'terrace',
                        'exclusive',
                        'loft',
                        'garden_patio',
                        'wheelchair_access',
                        'common_outdoor_space']].sum()

TypeError: ignored

In [39]:
df['cats_and_dogs_allowed']

created
2016-06-24 07:54:24   -1
2016-06-12 12:19:27    1
2016-04-17 03:26:41   -1
2016-04-18 02:22:02   -1
2016-04-28 01:32:41   -1
                      ..
2016-06-02 05:41:05   -1
2016-04-04 18:22:34    1
2016-04-16 02:13:40    1
2016-04-08 02:13:33    1
2016-04-12 02:48:07   -1
Name: cats_and_dogs_allowed, Length: 48817, dtype: int64