Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [0]:
print(df.shape)
df.head(2)

(48817, 34)

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0

[2 rows x 34 columns]

In [0]:
# Looking at the type of data that is shown in the created
df['created'].dtype

dtype('O')

In [0]:
# Will change the  date that the apartments were made into a date time object
import datetime

In [0]:
df['created'] = pd.to_datetime(df['created'])
# Looking at the year ranges of the  created info
df['created'].dt.year.value_counts(dropna=False)

2016    48817
Name: created, dtype: int64

In [0]:
# Won't use anything with the date (for feature engineering), 
# becuase they are all in the same year.

In [0]:
# I will make a new feature that will count the number of perks that each
# apartment has. Bedrooms and bathrooms will not be condisdered perks.

# Making my function to add up the perks
def addPerks(row):
  numPerks = 0
  for i in range(10,len(df.columns)):
    if row[i] == 1:
      numPerks = numPerks + 1
  return numPerks

In [0]:
# Using the function to make the new feature
df['numPerks'] = df.apply(addPerks, axis=1)

In [0]:
# Checking to see what values are held in the numPerks column
df['numPerks'].value_counts()

2     10670
3      7259
4      5766
5      4942
6      3853
0      3729
7      2985
8      2459
9      2039
10     1552
11     1221
12      893
13      659
14      393
15      214
16      107
17       60
18       12
19        4
Name: numPerks, dtype: int64

In [0]:
# Going to create a second feature
# Will try to use the descriptions
print(df['description'].dtype)
df['description'].isnull().sum()

object

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1627
<p><a  website_redacted                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                325
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       235
A detailed description is coming soon. Please contact your Highline Residential agent with any questions.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              123
These pictures are from a similarlisting.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               64
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
PRIME MURRAY HILL LOCATION. 30's AND 3rd Ave. 24 HOUR DOORMAN BUILDING WITH ELEVATORS AND A LAUNDRY ROOM. VALET SERVICE AVAILABLE. THE BUILDING IS SURROUND BY ALL OF MURRAY HILL'S BEST RESTAURANTS AND BARS. JUST STEPS FROM THE SUBWAY.<br /><br />RECENTLY RENOVATED AND SPACIOUS STUDIO WITH A DINING ROOM AREA, AS WELL AS A SEPARATE WINDOWED KITCHEN THAT WAS JUST UPDATED WITH NEW STAINLESS STEEL APPLIANCES. KITCHEN HAS A MICROWAVE AND A DISHWASHER. RENOVATED MARBLE BATHROOM. THIS UNIT HAS HIGH CEILINGS AND PLENTY OF NATURAL SUNLIGHT. HARDWOOD FLOOR THROUGHOUT. WALK-IN CLOSET WITH PLENTY OF STORAGE SPACE. GREAT DEAL!<br /><br />Contact: KSENIA BELOVA Email: kagglemanager@renthop.com Cell: 774-340-6664 CALL/TEXT ANYTIME!!!<br /><br /><p><a  website_redacted                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               1
This studio apartment is located in the UES. The apartment is located in a walk up building. The apartment features a spacious living area, hardwood floors, a separate kitchen with modern appliances and a renovated bathroom. Pets and Guarantors are allowed. Lets make this beauty your next home!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
great apartment in a great building ..in a great neighborhood.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
        Just Listed 4/12/16<br /> immediate available- 5/1/16<br /><br />Just steps away from historic Brooklyn Bridge Park and at the epicenter of Brooklyn’s flourishing arts and culture community,  is a new construction rental developed and managed by Two Trees Management and designed by LEESER Architecture. The modern yet reflective façade is inspired by the building’s views of both the Manhattan and Brooklyn bridges. Light-filled apartments offer floor-to-ceiling windows, which feature elegant island kitchens, stainless appliances, dozens of outlets, and well-appointed floor plans. On the upper floors, a shared roof deck designed by the architects behind the High Line offers Manhattan-facing vistas.<br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
THIS BUILDING OFFER RESIDENCES AN AMAZING AMENITY PACKAGE...INCLUDED IN THE RENT*HEAT/HOT WATER/GAS*ACCESS TO THE WI-FI LOUNGE AND RESIDENCE LOUNGE*ACCESS TO THE STATE-OF-THE-ART GYM*ACCESS TO THE ROOF-TOP AREA WITH AMAZING SWEEPING VIEWS OF DOWNTOWN MANHATTAN AND BBQ GRILLSLife at this building promises stunning city and waterfront views that take your breath away. This 32-story Emory Roth & Sons-designed building is best known for its oversized residences and iconic 50' high digital clock created by Rudolph de Harak. Located across from the Seaport and steps from the chic eateries on quaint, cobblestoned Stone Street, this building puts residents in immediate proximity of fine dining and shopping. The address is also two blocks from the Fulton Street transit hub and adjacent to the Financial District. Standing elegant and high, this unique statement of modern living is also a mainstay in the neighborhood. Originally built in 1971 as an office building, 200 Water was inspired by the principles of International Style of design championed by Philip Johnson, and was deliberately set back to allow for enhanced light and views.<br /><br />CENTRALLY LOCATED IN THE HEART OF THE FIDISTEPS AWAY FROM SOUTH STREET SEAPORT, AND ALL OF THE MAJOR SUBWAYSPLEASE FEEL FREE TO CONTACT ME TO SCHEDULE AN APPT FOR THIS UNIT AND I WILL ALSO TAKE YOU OUT ON A TOUR OF EVERYTHING THAT IS ALSO AVAILABLE IN THE AREA...HUGE LOFT LIKE STUDIO WHICH YOU CAN FLEX INTO A TWO BR WITH A T-WALL...THE BUILDING IS PAYING $1000 TOWARDS THE BROKERS FEE. THE FEE IS JUST ONE MONTH MINUS $1000.IAN CHRISTIECHRISTIE PROPERTY kagglemanager@renthop.com<br /><br /><br /><br /><p><a  website_redacted        1
Name: description, Length: 37853, dtype: int64

In [0]:
# I think that I will make the second feature be the length of the description
# Here is my function that will find the length of the description string
def descriptionLen(descriptionStr):
  theString = str(descriptionStr)
  if not theString.strip():
    return 0
  else:
    return len(theString)

In [0]:
df['descriptionLen'] = df['description'].apply(descriptionLen)

In [0]:
df.head(4)

   bathrooms  bedrooms  ... numPerks descriptionLen
0        1.5         3  ...        0            588
1        1.0         2  ...        5              0
2        1.0         1  ...        3            691
3        1.0         1  ...        2            492

[4 rows x 36 columns]

In [33]:
df['created'].dt.month.value_counts()

6    16973
4    16217
5    15627
Name: created, dtype: int64

In [34]:
# Splitting my data for a train and test groups
train = df[df['created'].dt.month < 6 ]
test = df[df['created'].dt.month == 6]
print(train.shape, test.shape)

(31844, 36) (16973, 36)

In [0]:
# doing the imports for sklearn
from sklearn.linear_model import LinearRegression

In [0]:
myModel = LinearRegression()

In [0]:
# I will try using 3 different features
# "bedrooms", 'numPerks', and 'descriptionLen'
features = ['bedrooms', "numPerks",'descriptionLen']
target = 'price'

In [38]:
# fitting my model
myModel.fit(train[features], train[target])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
# testing the model with the test group
y_preds = myModel.predict(test[features])

In [41]:
print(f"The coeficient is: {myModel.coef_}, and the intercept is: {myModel.intercept_}")

The coeficient is: [8.10806204e+02 1.24307779e+02 3.53696343e-02], and the intercept is: 1717.3220948264493

In [45]:
# Showing it in a pandas dataFrame
myCoef = pd.Series(myModel.coef_, features)
print('Intercept', myModel.intercept_)
print(myCoef)

Intercept 1717.3220948264493
bedrooms          810.806204
numPerks          124.307779
descriptionLen      0.035370
dtype: float64

In [0]:
# creating a function to predict the  same thing 
def makePred(mfeatures=features, mTarget='price'):
  model = LinearRegression()
  model.fit(train[mfeatures), mTarget)
  y_pred = model.predict(test[mfeatures])