Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [ ]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [ ]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [ ]:
# See the dataframe's head
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [ ]:
# Make the created column into date-time object
df['created'] = pd.to_datetime(df['created'])

In [ ]:
# Make the train dataframe with conditions
train = (pd.DatetimeIndex(df['created']).month == 4) | (pd.DatetimeIndex(df['created']).month == 5)

data = df[train]

dt = pd.DataFrame(data, columns = df.columns)

In [ ]:
# Make the test dataframe with conditions
test = (pd.DatetimeIndex(df['created']).month == 6) 

data = df[test]

dtr = pd.DataFrame(data, columns = df.columns)

In [ ]:
# See how the train data looks
dt.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0
5        2.0         4  ...                 0                    0
6        1.0         2  ...                 0                    0

[5 rows x 34 columns]

In [48]:
# Baseline model
dt['price'].mean()

3575.604007034292

In [53]:
# Look at baseline mean_absolute_error
from sklearn.metrics import mean_absolute_error

y_pred = [dt['price'].mean()] * len(dt['price'])
mean_absolute_error(dt['price'], y_pred)

1201.8811133682555

In [ ]:
# Conditions for cats and dogs
def cats_n_dogs(x):
  if(x['cats_allowed'] == 1) & (x['dogs_allowed'] == 1):
    return 1
  else:
    return 0

In [ ]:
# Apply on both datasets
dt['cats_n_dogs'] = dt.apply(cats_n_dogs, axis=1)
dtr['cats_n_dogs'] = dtr.apply(cats_n_dogs, axis=1)

In [ ]:
# Conditions for next feature, interest to number
def interest_to_number(interest_level):
  if interest_level == 'low':
    return 0
  elif interest_level == 'medium':
    return 1
  else:
    return 2

In [ ]:
# Apply on both datasets
dt['interest_numerical'] = dt['interest_level'].apply(interest_to_number)
dtr['interest_numerical'] = dtr['interest_level'].apply(interest_to_number)

In [ ]:
# Look at train data now with new features
dt.head()

   bathrooms  bedrooms  ... cats_n_dogs interest_numerical
2        1.0         1  ...           0                  2
3        1.0         1  ...           0                  0
4        1.0         4  ...           0                  0
5        2.0         4  ...           0                  1
6        1.0         2  ...           1                  0

[5 rows x 36 columns]

In [ ]:
# Look at the test data with new features
dtr.head()

    bathrooms  bedrooms  ... cats_n_dogs interest_numerical
0         1.5         3  ...           0                  1
1         1.0         2  ...           1                  0
11        1.0         1  ...           0                  0
14        1.0         1  ...           0                  0
24        2.0         4  ...           1                  1

[5 rows x 36 columns]

In [ ]:
# Make features
features = ['cats_n_dogs', 'interest_numerical']
# Separate X and y
X_train_app = dt[features]
y_train_app = dt['price']
# Import model, make model
from sklearn.linear_model import LinearRegression
model = LinearRegression()
# Fit model
model.fit(X_train_app, y_train_app)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
# Print coefficients and intercept
print(model.coef_)
print(model.intercept_)

[ 173.23790401 -561.24851112]
3713.530957003558

In [ ]:
# Import the metrics for the statistical tests
from sklearn import metrics

In [ ]:
# Make test feature matrix
features = ['cats_n_dogs', 'interest_numerical']
# Separate X and y
X_test_app = dtr[features]

In [ ]:
# Make array of predictions
y_predict = model.predict(X_test_app)

In [ ]:
# Mean squared error of prediction and estimated
metrics.mean_squared_error(dtr['price'], y_predict)

2967807.1281890064

In [ ]:
# Mean absolute error of prediction and estimated
metrics.mean_absolute_error(dtr['price'], y_predict)

1171.83672396778

In [ ]:
# R^2 score of prediction and estimated
metrics.r2_score(dtr['price'], y_predict)

0.045113635840862254