Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [4]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [11]:
df.dtypes

bathrooms               float64
bedrooms                  int64
created                  object
description              object
display_address          object
latitude                float64
longitude               float64
price                     int64
street_address           object
interest_level           object
elevator                  int64
cats_allowed              int64
hardwood_floors           int64
dogs_allowed              int64
doorman                   int64
dishwasher                int64
no_fee                    int64
laundry_in_building       int64
fitness_center            int64
pre-war                   int64
laundry_in_unit           int64
roof_deck                 int64
outdoor_space             int64
dining_room               int64
high_speed_internet       int64
balcony                   int64
swimming_pool             int64
new_construction          int64
terrace                   int64
exclusive                 int64
loft                      int64
garden_patio              int64
wheelchair_access         int64
common_outdoor_space      int64
dtype: object

In [17]:
#change created to datetime
df['created'] = pd.to_datetime(df['created'])
df.dtypes

bathrooms                      float64
bedrooms                         int64
created                 datetime64[ns]
description                     object
display_address                 object
latitude                       float64
longitude                      float64
price                            int64
street_address                  object
interest_level                  object
elevator                         int64
cats_allowed                     int64
hardwood_floors                  int64
dogs_allowed                     int64
doorman                          int64
dishwasher                       int64
no_fee                           int64
laundry_in_building              int64
fitness_center                   int64
pre-war                          int64
laundry_in_unit                  int64
roof_deck                        int64
outdoor_space                    int64
dining_room                      int64
high_speed_internet              int64
balcony                          int64
swimming_pool                    int64
new_construction                 int64
terrace                          int64
exclusive                        int64
loft                             int64
garden_patio                     int64
wheelchair_access                int64
common_outdoor_space             int64
dtype: object

In [29]:
df['month'] = df['created'].dt.month
df['month']

0        6
1        6
2        4
3        4
4        4
        ..
49347    6
49348    4
49349    4
49350    4
49351    4
Name: month, Length: 48817, dtype: int64

In [23]:
df['year'] = df['created'].dt.year
df['year']

0        2016
1        2016
2        2016
3        2016
4        2016
         ...
49347    2016
49348    2016
49349    2016
49350    2016
49351    2016
Name: year, Length: 48817, dtype: int64

In [35]:
df['year'].value_counts()

2016    48817
Name: year, dtype: int64

In [0]:
condition1 =  df['month'] >= 4
condition2 = df['month'] <= 5

In [39]:
df_con1 = df[condition1] 
df_con1

       bathrooms  bedrooms             created  ... months  year  month
0            1.5         3 2016-06-24 07:54:24  ...      6  2016      6
1            1.0         2 2016-06-12 12:19:27  ...      6  2016      6
2            1.0         1 2016-04-17 03:26:41  ...      4  2016      4
3            1.0         1 2016-04-18 02:22:02  ...      4  2016      4
4            1.0         4 2016-04-28 01:32:41  ...      4  2016      4
...          ...       ...                 ...  ...    ...   ...    ...
49347        1.0         2 2016-06-02 05:41:05  ...      6  2016      6
49348        1.0         1 2016-04-04 18:22:34  ...      4  2016      4
49349        1.0         1 2016-04-16 02:13:40  ...      4  2016      4
49350        1.0         0 2016-04-08 02:13:33  ...      4  2016      4
49351        1.0         2 2016-04-12 02:48:07  ...      4  2016      4

[48817 rows x 37 columns]

In [40]:
df_con2 = df_con1[condition2]
df_con2

       bathrooms  bedrooms             created  ... months  year  month
2            1.0         1 2016-04-17 03:26:41  ...      4  2016      4
3            1.0         1 2016-04-18 02:22:02  ...      4  2016      4
4            1.0         4 2016-04-28 01:32:41  ...      4  2016      4
5            2.0         4 2016-04-19 04:24:47  ...      4  2016      4
6            1.0         2 2016-04-27 03:19:56  ...      4  2016      4
...          ...       ...                 ...  ...    ...   ...    ...
49346        1.0         1 2016-04-22 15:44:11  ...      4  2016      4
49348        1.0         1 2016-04-04 18:22:34  ...      4  2016      4
49349        1.0         1 2016-04-16 02:13:40  ...      4  2016      4
49350        1.0         0 2016-04-08 02:13:33  ...      4  2016      4
49351        1.0         2 2016-04-12 02:48:07  ...      4  2016      4

[31844 rows x 37 columns]

In [43]:
df_con2['month'].value_counts()

4    16217
5    15627
Name: month, dtype: int64

In [0]:
import plotly.express as px

#simple 1 feature prediction

In [0]:
#1 import the appropiate estimator class form scikit-learn
from sklearn.linear_model import LinearRegression

In [0]:
#2 instantiate class
model = LinearRegression()

In [0]:
#3

In [0]:
#4

In [0]:
#5 apply the model to new data