<a href="https://colab.research.google.com/github/John-G-Thomas/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [2]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

### 1) Spilt with Train and Test

In [3]:
print(df.shape)
df.head()

(48817, 34)

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [4]:
df['created'].dtype

dtype('O')

In [7]:
#Train is arpil and may dates
Train = df[df['created'].str.contains("2016-04|2016-05")==True]
#Test is June
Test = df[df['created'].str.contains("2016-06")]

In [11]:
print(Train.shape)
Train

(31844, 34)

       bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
2            1.0         1  ...                 0                    0
3            1.0         1  ...                 0                    0
4            1.0         4  ...                 0                    0
5            2.0         4  ...                 0                    0
6            1.0         2  ...                 0                    0
...          ...       ...  ...               ...                  ...
49346        1.0         1  ...                 0                    0
49348        1.0         1  ...                 0                    1
49349        1.0         1  ...                 0                    0
49350        1.0         0  ...                 0                    0
49351        1.0         2  ...                 0                    0

[31844 rows x 34 columns]

In [10]:
print(Test.shape)
Test

(16973, 34)

       bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0            1.5         3  ...                 0                    0
1            1.0         2  ...                 0                    0
11           1.0         1  ...                 0                    0
14           1.0         1  ...                 0                    0
24           2.0         4  ...                 0                    0
...          ...       ...  ...               ...                  ...
49305        1.0         2  ...                 0                    0
49310        1.0         3  ...                 0                    0
49320        1.0         1  ...                 0                    0
49332        1.0         2  ...                 0                    0
49347        1.0         2  ...                 0                    0

[16973 rows x 34 columns]

### 2) Engineer at least two new features

In [12]:
# Feature 1 on if dogs or cats allowed
def pets_allowed(cats,dogs):
  if cats & dogs == 1:
    return 1
  else: 
    return 0

In [13]:
# If pets are allowed
df['pets_allowed'] = df.apply(lambda x: pets_allowed(x['cats_allowed'], x['dogs_allowed']), axis=1)

In [14]:
print(df.shape)
df.head()

(48817, 35)

   bathrooms  bedrooms  ... common_outdoor_space pets_allowed
0        1.5         3  ...                    0            0
1        1.0         2  ...                    0            1
2        1.0         1  ...                    0            0
3        1.0         1  ...                    0            0
4        1.0         4  ...                    0            0

[5 rows x 35 columns]

In [15]:
# Feature 2 on total rooms based on bedrooms and bathrooms
df['total_rooms']=df['bedrooms']+df['bathrooms']
print(df.shape)
df.head()

(48817, 36)

   bathrooms  bedrooms  ... pets_allowed total_rooms
0        1.5         3  ...            0         4.5
1        1.0         2  ...            1         3.0
2        1.0         1  ...            0         2.0
3        1.0         1  ...            0         2.0
4        1.0         4  ...            0         5.0

[5 rows x 36 columns]

### 3)Features LR

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [18]:
#make and train our model 
#initiate the class
model_2f =  LinearRegression()
#make features and target
features = ['bedrooms','bathrooms','latitude','longitude']
target = ['price']
#make train data
x_train = Train[features]
y_train = Train[target]
#make test data
x_test = Test[features]
y_test = Test[target]
#fit the model 
model_2f.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
#test train data
train_pred = model_2f.predict(x_train)
#find our mean abs error aka accuracy
mae_train = mean_absolute_error(y_train,train_pred)
#train test data 
test_pred = model_2f.predict(x_test)
#find mean abs error
mae_test = mean_absolute_error(y_test,test_pred)
#compare results
print(f'train error: ${mae_train:.2f} off')
print(f'test error: ${mae_test:.2f} off')

train error: $739.18 off
test error: $744.98 off

In [ ]:
#MeanAbsError ^^^^^^

### 4) coefficent and intercept

In [20]:
model_2f.intercept_

array([-1283306.49069029])

In [21]:
model_2f.coef_.flatten()

array([   428.45152883,   2002.79660997,   1863.91519176, -16328.42647587])

In [22]:
print('Intercept', model_2f.intercept_)
coefficients = pd.Series(model_2f.coef_.flatten(),features)
print(coefficients.to_string())

Intercept [-1283306.49069029]
bedrooms       428.451529
bathrooms     2002.796610
latitude      1863.915192
longitude   -16328.426476

### 5)Mean Squared Error and dont need R^2 yet and  for train and test

In [25]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [26]:
# test data
rmse = sqrt(mean_squared_error(y_test, test_pred))
print(f' root mean squared error test: {rmse}')
# train data 
rmse = sqrt(mean_squared_error(y_train, train_pred))
print(f' root mean squared error train: {rmse}')

 root mean squared error test: 1131.1950868928661
 root mean squared error train: 1146.1715544741894

In [30]:
#mean abs error
print(f'train error: ${mae_train:.2f} off')
print(f'test error: ${mae_test:.2f} off')

train error: $739.18 off
test error: $744.98 off