<a href="https://colab.research.google.com/github/karencfisher/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/Manhattan_Neighborhoods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Install googlemaps API into colab virtual environment
!pip install googlemaps

Collecting googlemaps
  Downloading https://files.pythonhosted.org/packages/be/17/bf1ec4b3668984c6f25be4e2d348914b333c64e148c53d04f3db328aea81/googlemaps-4.3.1.tar.gz
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from googlemaps) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2020.4.5.1)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... done
  Created wheel for googlemaps: filename=googlemaps-4.3.1-cp36-none-any.whl size=37711 sha256=34169d0ad6fe1a1e2c57a7810ee8c51eebbee044acffe2938a7b9a7ad3596681
  Stored in directory: /root/.cache/pip/wheels/85/13/9a/6be797f54ea8759a77961114dcbac86fef2a6cc7a4d6ad9785
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.3.1

In [0]:
import pandas as pd
import googlemaps
import numpy as np

In [0]:
# Fill in google maps API key to us the API. That will require open an account
# with Google, create a project and enable geolocation and geocode APIs, and
# obtain an API key.
API_key = 'yourAPIkeyhere'
gmaps = googlemaps.Client(key=API_key)

In [85]:
# Get's a table of Manhattan neighborhoods from an HTML table scraped from a website on average
# rents by neighborhood (https://www.rentcafe.com/average-rent-market-trends/us/ny/manhattan/).
neighborhoods = pd.DataFrame(pd.read_html('https://raw.githubusercontent.com/karencfisher/DS-Unit-2-Linear-Models/master/module2-regression-2/rents.html')[0])

# Create NaN placeholders for latitude and longitude
neighborhoods['latitude'] = np.NaN
neighborhoods['longitude'] = np.NaN

neighborhoods

                       Neighborhood Average Rent  latitude  longitude
0                       Marble Hill       $1,708       NaN        NaN
1                Washington Heights       $2,284       NaN        NaN
2                            Inwood       $2,375       NaN        NaN
3        Randalls and Wards Islands       $2,394       NaN        NaN
4                            Harlem       $2,948       NaN        NaN
5                       East Harlem       $2,965       NaN        NaN
6                  Roosevelt Island       $3,416       NaN        NaN
7                   Stuyvesant Town       $3,611       NaN        NaN
8                    Liberty Island       $3,648       NaN        NaN
9                  Governors Island       $3,648       NaN        NaN
10                     Ellis Island       $3,648       NaN        NaN
11                       Tudor City       $3,808       NaN        NaN
12                       Turtle Bay       $3,906       NaN        NaN
13                     Sutton Place       $3,941       NaN        NaN
14                  Central Midtown       $4,022       NaN        NaN
15               Central Park South       $4,038       NaN        NaN
16         Clinton - Hell's Kitchen       $4,053       NaN        NaN
17  Theatre District - Times Square       $4,059       NaN        NaN
18               Financial District       $4,142       NaN        NaN
19                      Murray Hill       $4,143       NaN        NaN
20             Peter Cooper Village       $4,154       NaN        NaN
21                         Kips Bay       $4,172       NaN        NaN
22                       Lenox Hill       $4,231       NaN        NaN
23                            NoMad       $4,243       NaN        NaN
24                    Gramercy Park       $4,275       NaN        NaN
25                        Koreatown       $4,276       NaN        NaN
26                 Garment District       $4,276       NaN        NaN
27                Flatiron District       $4,276       NaN        NaN
28                     East Village       $4,320       NaN        NaN
29             Meatpacking District       $4,363       NaN        NaN
30                          Chelsea       $4,370       NaN        NaN
31                Greenwich Village       $4,378       NaN        NaN
32              Morningside Heights       $4,388       NaN        NaN
33                             NoHo       $4,394       NaN        NaN
34                     Hudson Yards       $4,416       NaN        NaN
35                        Yorkville       $4,458       NaN        NaN
36                    Carnegie Hill       $4,458       NaN        NaN
37                     Civic Center       $4,489       NaN        NaN
38                      Two Bridges       $4,544       NaN        NaN
39                     West Village       $4,598       NaN        NaN
40                  Upper West Side       $4,668       NaN        NaN
41                  Lower East Side       $4,676       NaN        NaN
42                 Manhattan Valley       $4,711       NaN        NaN
43                   Lincoln Square       $4,795       NaN        NaN
44                    Hudson Square       $5,055       NaN        NaN
45                        Chinatown       $5,116       NaN        NaN
46                             SoHo       $5,301       NaN        NaN
47                           NoLIta       $5,301       NaN        NaN
48                Battery Park City       $5,605       NaN        NaN
49                          TriBeCa       $5,607       NaN        NaN
50                     Little Italy       $5,607       NaN        NaN

In [87]:
# For each neighborhood, find the aproximate coordinates for each and replace
# NaNs with values
for row in neighborhoods.index:
  
  # location searched for is '<neighborhood>, Manhattan'
  nhood = neighborhoods.loc[row]['Neighborhood'] + ', Manhattan'

  # find the geocode data for it
  geocode_result = gmaps.geocode(nhood)

  # strip out the appropriate values from the API output
  geocode = geocode_result[0]['geometry']['location']

  # Update row in the dataframe
  neighborhoods.at[row, 'latitude'] = geocode['lat']
  neighborhoods.at[row, 'longitude'] = geocode['lng']

neighborhoods

                       Neighborhood Average Rent   latitude  longitude
0                       Marble Hill       $1,708  40.876117 -73.910263
1                Washington Heights       $2,284  40.841708 -73.939355
2                            Inwood       $2,375  40.867714 -73.921202
3        Randalls and Wards Islands       $2,394  40.793227 -73.921286
4                            Harlem       $2,948  40.811550 -73.946477
5                       East Harlem       $2,965  40.795740 -73.938921
6                  Roosevelt Island       $3,416  40.760503 -73.950993
7                   Stuyvesant Town       $3,611  40.731690 -73.977849
8                    Liberty Island       $3,648  40.689545 -74.044929
9                  Governors Island       $3,648  40.689450 -74.016792
10                     Ellis Island       $3,648  40.699475 -74.039559
11                       Tudor City       $3,808  40.748849 -73.971616
12                       Turtle Bay       $3,906  40.757143 -73.971881
13                     Sutton Place       $3,941  40.757628 -73.961698
14                  Central Midtown       $4,022  40.752726 -73.977229
15               Central Park South       $4,038  40.766185 -73.977304
16         Clinton - Hell's Kitchen       $4,053  40.763758 -73.991818
17  Theatre District - Times Square       $4,059  40.759011 -73.984472
18               Financial District       $4,142  40.707714 -74.008279
19                      Murray Hill       $4,143  40.747879 -73.975657
20             Peter Cooper Village       $4,154  40.731690 -73.977849
21                         Kips Bay       $4,172  40.742329 -73.980064
22                       Lenox Hill       $4,231  40.766232 -73.960231
23                            NoMad       $4,243  40.744607 -73.987410
24                    Gramercy Park       $4,275  40.736778 -73.984472
25                        Koreatown       $4,276  40.747738 -73.986894
26                 Garment District       $4,276  40.754707 -73.991634
27                Flatiron District       $4,276  40.740083 -73.990349
28                     East Village       $4,320  40.726477 -73.981534
29             Meatpacking District       $4,363  40.740986 -74.007611
30                          Chelsea       $4,370  40.746500 -74.001374
31                Greenwich Village       $4,378  40.733572 -74.002742
32              Morningside Heights       $4,388  40.810544 -73.962058
33                             NoHo       $4,394  40.728659 -73.992553
34                     Hudson Yards       $4,416  40.753774 -74.001688
35                        Yorkville       $4,458  40.776223 -73.949208
36                    Carnegie Hill       $4,458  40.784465 -73.955086
37                     Civic Center       $4,489  40.714052 -74.002836
38                      Two Bridges       $4,544  40.710747 -73.996960
39                     West Village       $4,598  40.734680 -74.004755
40                  Upper West Side       $4,668  40.787011 -73.975368
41                  Lower East Side       $4,676  40.715033 -73.984272
42                 Manhattan Valley       $4,711  40.796699 -73.968425
43                   Lincoln Square       $4,795  40.774177 -73.984912
44                    Hudson Square       $5,055  40.726583 -74.007473
45                        Chinatown       $5,116  40.715751 -73.997031
46                             SoHo       $5,301  40.723301 -74.002988
47                           NoLIta       $5,301  40.723041 -73.994861
48                Battery Park City       $5,605  40.711579 -74.015844
49                          TriBeCa       $5,607  40.716269 -74.008632
50                     Little Italy       $5,607  40.719141 -73.997327

In [0]:
# Output our CSV file!
neighborhoods.to_csv('manhattan_neighborhoods.csv')