<a href="https://colab.research.google.com/github/Nckflannery/DS-Unit-2-Regression-Classification/blob/master/module2/assignment_regression_classification_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science, Unit 2: Predictive Modeling

# Regression & Classification, Module 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

## Import

In [1]:
import os, sys
in_colab = 'google.colab' in sys.modules

# If you're in Colab...
if in_colab:
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification.git
    !git pull origin master
    
    # Install required python packages
    !pip install -r requirements.txt
    
    # Change into directory for module
    os.chdir('module2')

Initialized empty Git repository in /content/.git/
remote: Enumerating objects: 156, done.
remote: Total 156 (delta 0), reused 0 (delta 0), pack-reused 156
Receiving objects: 100% (156/156), 19.30 MiB | 19.57 MiB/s, done.
Resolving deltas: 100% (71/71), done.
From https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification
 * branch            master     -> FETCH_HEAD
 * [new branch]      master     -> origin/master
Collecting category_encoders==2.0.0 (from -r requirements.txt (line 1))
  Downloading https://files.pythonhosted.org/packages/6e/a1/f7a22f144f33be78afeb06bfa78478e8284a64263a3c09b1ef54e673841e/category_encoders-2.0.0-py2.py3-none-any.whl (87kB)
     |████████████████████████████████| 92kB 2.9MB/s
Collecting eli5==0.10.0 (from -r requirements.txt (line 2))
  Downloading https://files.pythonhosted.org/packages/e6/ea/47bd5844bb609d45821114aa7e0bc9e4422053fe24a6cf6b357f0d3f74d3/eli5-0.10.0-py2.py3-none-any.whl (105kB)
     |████████████████████████████████| 112kB 8.7MB/s
Requirement already satisfied: matplotlib!=3.1.1 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 3)) (3.0.3)
Collecting pandas-profiling==2.3.0 (from -r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/2c/2f/aae19e2173c10a9bb7fee5f5cad35dbe53a393960fc91abc477dcc4661e8/pandas-profiling-2.3.0.tar.gz (127kB)
     |████████████████████████████████| 133kB 20.5MB/s
Collecting pdpbox==0.2.0 (from -r requirements.txt (line 5))
  Downloading https://files.pythonhosted.org/packages/87/23/ac7da5ba1c6c03a87c412e7e7b6e91a10d6ecf4474906c3e736f93940d49/PDPbox-0.2.0.tar.gz (57.7MB)
     |████████████████████████████████| 57.7MB 456kB/s
Requirement already satisfied: plotly==4.1.1 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 6)) (4.1.1)
Requirement already satisfied: seaborn==0.9.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 7)) (0.9.0)
Requirement already satisfied: scikit-learn==0.21.3 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 8)) (0.21.3)
Collecting shap==0.29.3 (from -r requirements.txt (line 9))
  Downloading https://files.pythonhosted.org/packages/80/82/bab67238ac27d53214b12f6ed095493dc7b43be07c615b8b0dbb7da33157/shap-0.29.3.tar.gz (230kB)
     |████████████████████████████████| 235kB 36.0MB/s
Requirement already satisfied: statsmodels==0.10.1 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 10)) (0.10.1)
Requirement already satisfied: xgboost==0.90 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 11)) (0.90)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (1.16.5)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (0.24.2)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (1.3.1)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (0.8.5)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (2.10.1)
Requirement already satisfied: attrs>16.0.0 in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (19.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (1.12.0)
Requirement already satisfied: typing in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (3.7.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (0.10.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (2.5.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (2.4.2)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.4.2)
Collecting htmlmin>=0.1.12 (from pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/b3/e7/fcd59e12169de19f0131ff2812077f964c6b960e7c09804d30a7bf2ab461/htmlmin-0.1.12.tar.gz
Collecting phik>=0.9.8 (from pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/45/ad/24a16fa4ba612fb96a3c4bb115a5b9741483f53b66d3d3afd987f20fa227/phik-0.9.8-py3-none-any.whl (606kB)
     |████████████████████████████████| 614kB 34.6MB/s
Collecting confuse>=1.0.0 (from pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/4c/6f/90e860cba937c174d8b3775729ccc6377eb91f52ad4eeb008e7252a3646d/confuse-1.0.0.tar.gz
Requirement already satisfied: astropy in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (3.0.5)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from pdpbox==0.2.0->-r requirements.txt (line 5)) (0.13.2)
Requirement already satisfied: psutil in /usr/local/lib/python3.6/dist-packages (from pdpbox==0.2.0->-r requirements.txt (line 5)) (5.4.8)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly==4.1.1->-r requirements.txt (line 6)) (1.3.3)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.6/dist-packages (from shap==0.29.3->-r requirements.txt (line 9)) (4.28.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.6/dist-packages (from shap==0.29.3->-r requirements.txt (line 9)) (5.5.0)
Requirement already satisfied: scikit-image in /usr/local/lib/python3.6/dist-packages (from shap==0.29.3->-r requirements.txt (line 9)) (0.15.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.0.0->-r requirements.txt (line 1)) (2018.9)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->eli5==0.10.0->-r requirements.txt (line 2)) (1.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib!=3.1.1->-r requirements.txt (line 3)) (41.2.0)
Collecting pytest>=4.0.2 (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/9a/46/903ea822d83187bb8b354fcb3d085fb10b7787be39f9cf1628bc6ef8f9c9/pytest-5.2.0-py3-none-any.whl (226kB)
     |████████████████████████████████| 235kB 41.9MB/s
Requirement already satisfied: numba>=0.38.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.40.1)
Collecting pytest-pylint>=0.13.0 (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/64/dc/6f35f114844fb12e38d60c4f3d2441a55baff7043ad4e013777dff55746c/pytest_pylint-0.14.1-py3-none-any.whl
Requirement already satisfied: nbconvert>=5.3.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (5.6.0)
Requirement already satisfied: jupyter-client>=5.2.3 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (5.3.3)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from confuse>=1.0.0->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (3.13)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (4.3.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (4.4.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (0.8.1)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (4.7.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (2.1.3)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (1.0.16)
Requirement already satisfied: PyWavelets>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (1.0.3)
Requirement already satisfied: imageio>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (2.4.1)
Requirement already satisfied: pillow>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (4.3.0)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (2.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.1.7)
Collecting pluggy<1.0,>=0.12 (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/92/c7/48439f7d5fd6bddb4c04b850bb862b42e3e2b98570040dfaf68aedd8114b/pluggy-0.13.0-py2.py3-none-any.whl
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.8.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (19.2)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (7.2.0)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.3.0)
Requirement already satisfied: importlib-metadata>=0.12; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.23)
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.29.0)
Collecting pylint>=1.4.5 (from pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/ef/ed/1cb8e7b85a31807aa0bff8b3e60935370bed7e141df8b530aac6352bddff/pylint-2.4.2-py3-none-any.whl (302kB)
     |████████████████████████████████| 307kB 35.3MB/s
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.6.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.8.4)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (3.1.0)
Requirement already satisfied: nbformat>=4.4 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.4.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.4.2)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.4.2)
Requirement already satisfied: tornado>=4.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.5.3)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (17.0.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->ipython->shap==0.29.3->-r requirements.txt (line 9)) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython->shap==0.29.3->-r requirements.txt (line 9)) (0.6.0)
Requirement already satisfied: olefile in /usr/local/lib/python3.6/dist-packages (from pillow>=4.3.0->scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (0.46)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.6.0)
Collecting mccabe<0.7,>=0.6 (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/87/89/479dc97e18549e21354893e4ee4ef36db1d237534982482c3681ee6e7b57/mccabe-0.6.1-py2.py3-none-any.whl
Collecting astroid<2.4,>=2.3.0 (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/13/e1/74a63c85c501c29c52da5be604c025e368f4dd77daf1fa13c878a33e5a36/astroid-2.3.1-py3-none-any.whl (205kB)
     |████████████████████████████████| 215kB 38.9MB/s
Collecting isort<5,>=4.2.5 (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/e5/b0/c121fd1fa3419ea9bfd55c7f9c4fedfec5143208d8c7ad3ce3db6c623c21/isort-4.3.21-py2.py3-none-any.whl (42kB)
     |████████████████████████████████| 51kB 19.9MB/s
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.5.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (2.6.0)
Collecting typed-ast<1.5,>=1.4.0; implementation_name == "cpython" and python_version < "3.8" (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/31/d3/9d1802c161626d0278bafb1ffb32f76b9d01e123881bbf9d91e8ccf28e18/typed_ast-1.4.0-cp36-cp36m-manylinux1_x86_64.whl (736kB)
     |████████████████████████████████| 737kB 33.5MB/s
Requirement already satisfied: wrapt==1.11.* in /usr/local/lib/python3.6/dist-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.11.2)
Collecting lazy-object-proxy==1.4.* (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/0e/26/534a6d32572a9dbca11619321535c0a7ab34688545d9d67c2c204b9e3a3d/lazy_object_proxy-1.4.2-cp36-cp36m-manylinux1_x86_64.whl (49kB)
     |████████████████████████████████| 51kB 16.7MB/s
Building wheels for collected packages: pandas-profiling, pdpbox, shap, htmlmin, confuse
  Building wheel for pandas-profiling (setup.py) ... done
  Created wheel for pandas-profiling: filename=pandas_profiling-2.3.0-py2.py3-none-any.whl size=145035 sha256=2ce033e335811a2ddf0c95bb7be3283ff2a8aac245babe82e265b1450e829066
  Stored in directory: /root/.cache/pip/wheels/ce/c7/f1/dbfef4848ebb048cb1d4a22d1ed0c62d8ff2523747235e19fe
  Building wheel for pdpbox (setup.py) ... done
  Created wheel for pdpbox: filename=PDPbox-0.2.0-cp36-none-any.whl size=57690723 sha256=37123751dc61adb620736fb07f604f9d9b18678845040d7c7b4b2f42ec49bc48
  Stored in directory: /root/.cache/pip/wheels/7d/08/51/63fd122b04a2c87d780464eeffb94867c75bd96a64d500a3fe
  Building wheel for shap (setup.py) ... done
  Created wheel for shap: filename=shap-0.29.3-cp36-cp36m-linux_x86_64.whl size=344724 sha256=34f70310821e895c7b72428c9cecbaff7e79213403bc810155531d145b8b203c
  Stored in directory: /root/.cache/pip/wheels/00/20/87/d199e4d7397997f5494e4098104f91313ac8120753bee7b032
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-cp36-none-any.whl size=27084 sha256=e7d4ab9ec429295c12368daf9089ce3c2a2687d0b2efded432b2b8a88f0936b5
  Stored in directory: /root/.cache/pip/wheels/43/07/ac/7c5a9d708d65247ac1f94066cf1db075540b85716c30255459
  Building wheel for confuse (setup.py) ... done
  Created wheel for confuse: filename=confuse-1.0.0-cp36-none-any.whl size=17486 sha256=9649caee00296a98e15a0c7017916324257d58a5c63d90b0cec0bbf779819a23
  Stored in directory: /root/.cache/pip/wheels/b0/b2/96/2074eee7dbf7b7df69d004c9b6ac4e32dad04fb7666cf943bd
Successfully built pandas-profiling pdpbox shap htmlmin confuse
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
Installing collected packages: category-encoders, eli5, htmlmin, pluggy, pytest, mccabe, typed-ast, lazy-object-proxy, astroid, isort, pylint, pytest-pylint, phik, confuse, pandas-profiling, pdpbox, shap
  Found existing installation: pluggy 0.7.1
    Uninstalling pluggy-0.7.1:
      Successfully uninstalled pluggy-0.7.1
  Found existing installation: pytest 3.6.4
    Uninstalling pytest-3.6.4:
      Successfully uninstalled pytest-3.6.4
  Found existing installation: pandas-profiling 1.4.1
    Uninstalling pandas-profiling-1.4.1:
      Successfully uninstalled pandas-profiling-1.4.1
Successfully installed astroid-2.3.1 category-encoders-2.0.0 confuse-1.0.0 eli5-0.10.0 htmlmin-0.1.12 isort-4.3.21 lazy-object-proxy-1.4.2 mccabe-0.6.1 pandas-profiling-2.3.0 pdpbox-0.2.0 phik-0.9.8 pluggy-0.13.0 pylint-2.4.2 pytest-5.2.0 pytest-pylint-0.14.1 shap-0.29.3 typed-ast-1.4.0

In [0]:
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv('../data/apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [0]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import plotly.express as px
import matplotlib.pyplot as plt
### For later!

# Assignment

## Split by date

In [42]:
# Look at df
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [157]:
# Check dtype of created column
df['created'].dtypes

dtype('O')

In [0]:
# Change to datetime dtype for easier filtering
df['created'] = pd.to_datetime(df['created'])

In [159]:
# Check dtype change
df['created'].dtypes

dtype('<M8[ns]')

In [160]:
# Check min and max
min(df['created']), max(df['created'])

(Timestamp('2016-04-01 22:12:41'), Timestamp('2016-06-29 21:41:47'))

In [0]:
# Filter train and test datasets using June as cutoff for test
train = df[df['created'] < '06-01-2016']
test = df[df['created'] >= '06-01-2016']

In [51]:
# Check date ranges are correct
min(train['created']), max(train['created']), min(test['created']), max(test['created'])

(Timestamp('2016-04-01 22:12:41'),
 Timestamp('2016-05-31 23:10:48'),
 Timestamp('2016-06-01 01:10:37'),
 Timestamp('2016-06-29 21:41:47'))

## Engineer 2 new features

In [0]:
# Let's create a feature called Rooms that has the total number of bedrooms and 
# bathrooms
df['Rooms'] = df['bathrooms'] + df['bedrooms']

In [137]:
df.head()

   bathrooms  bedrooms  ... common_outdoor_space Rooms
0        1.5         3  ...                    0   4.5
1        1.0         2  ...                    0   3.0
2        1.0         1  ...                    0   2.0
3        1.0         1  ...                    0   2.0
4        1.0         4  ...                    0   5.0

[5 rows x 35 columns]

In [0]:
# Let's create another new feature that factors in many features to create 
# a "deluxe" rating, which tells you how many of the amenities the property has
df['Deluxe'] = ''

In [139]:
# Testing for how I want to sum all values
df.iloc[:,10:35]

       elevator  cats_allowed  ...  common_outdoor_space  Rooms
0             0             0  ...                     0    4.5
1             1             1  ...                     0    3.0
2             0             0  ...                     0    2.0
3             0             0  ...                     0    2.0
4             0             0  ...                     0    5.0
5             0             0  ...                     0    6.0
6             0             1  ...                     0    3.0
7             1             0  ...                     0    3.0
8             1             1  ...                     0    2.0
9             0             0  ...                     0    6.0
10            0             0  ...                     0    1.0
11            0             0  ...                     0    2.0
12            1             0  ...                     0    3.0
13            0             1  ...                     0    4.0
14            1             0  ...                     0    2.0
15            1             0  ...                     0    1.0
16            0             0  ...                     0    3.0
17            0             0  ...                     0    2.0
18            0             1  ...                     0    5.0
19            0             1  ...                     0    2.0
20            1             0  ...                     0    4.0
21            1             0  ...                     0    3.0
22            0             1  ...                     0    2.0
23            1             1  ...                     0    2.0
24            1             1  ...                     0    6.0
25            1             0  ...                     0    7.5
26            0             0  ...                     0    2.0
27            1             0  ...                     0    2.0
29            1             0  ...                     0    4.0
30            1             1  ...                     0    1.0
...         ...           ...  ...                   ...    ...
49322         0             1  ...                     0    2.0
49323         1             1  ...                     0    2.0
49324         1             1  ...                     0    1.0
49325         0             0  ...                     0    3.0
49326         0             1  ...                     0    4.0
49327         0             0  ...                     0    2.0
49328         0             1  ...                     0    2.0
49329         1             1  ...                     0    3.0
49330         0             0  ...                     0    2.0
49331         0             0  ...                     0    1.5
49332         0             1  ...                     0    3.0
49333         1             1  ...                     0    2.0
49334         1             1  ...                     1    4.0
49335         0             0  ...                     0    2.0
49336         1             0  ...                     0    5.0
49337         0             0  ...                     0    1.0
49338         1             1  ...                     0    5.0
49339         1             0  ...                     0    4.0
49340         0             0  ...                     0    2.0
49341         1             1  ...                     1    1.0
49342         1             1  ...                     0    2.0
49343         1             0  ...                     0    2.0
49344         1             0  ...                     0    2.0
49345         0             0  ...                     0    2.0
49346         1             1  ...                     0    2.0
49347         1             0  ...                     0    3.0
49348         1             1  ...                     1    2.0
49349         1             1  ...                     0    2.0
49350         1             1  ...                     0    1.0
49351         0             0  ...                     0    3.0

[48817 rows x 25 columns]

In [140]:
df.iloc[:,10:35].values

array([[0. , 0. , 0. , ..., 0. , 0. , 4.5],
       [1. , 1. , 0. , ..., 0. , 0. , 3. ],
       [0. , 0. , 1. , ..., 0. , 0. , 2. ],
       ...,
       [1. , 1. , 0. , ..., 0. , 0. , 2. ],
       [1. , 1. , 0. , ..., 0. , 0. , 1. ],
       [0. , 0. , 1. , ..., 0. , 0. , 3. ]])

In [141]:
# Not what I want...
sum(df.iloc[:,10:35].values)

array([ 25621.,  23348.,  23348.,  21852.,  20740.,  20263.,  17920.,
         2576.,  13105.,   9063.,   8587.,   6481.,   6756.,   5020.,
         4257.,   2952.,   2695.,   2534.,   2255.,   2114.,   2085.,
         1920.,   1329.,   1281., 133707.])

In [145]:
# there we go
sum(df.iloc[:,10:35].values.T)

array([4.5, 8. , 5. , ..., 7. , 6. , 4. ])

In [0]:
df['Deluxe'] = sum(df.iloc[:,10:35].values.T)

In [154]:
# This gives us a rough grading scale of how 'nice' an apartment is by how many
# features and rooms it has
df['Deluxe'].value_counts()

5.0     5952
6.0     5841
4.0     5072
7.0     4853
3.0     3964
8.0     3824
9.0     3200
10.0    2666
2.0     2255
11.0    2178
12.0    1846
13.0    1484
14.0    1196
15.0     957
16.0     680
1.0      613
17.0     480
18.0     317
19.0     204
20.0     130
9.5      102
8.5      101
11.5      87
7.5       78
6.5       72
12.5      68
10.5      68
5.5       66
13.5      55
21.0      50
15.5      47
4.5       47
0.0       42
3.5       38
22.0      33
14.5      32
16.5      22
17.5      19
18.5      18
19.5      15
20.5      11
2.5       11
23.0       7
24.0       6
25.0       3
21.5       2
22.5       2
23.5       2
1.5        1
Name: Deluxe, dtype: int64

In [155]:
# Now we have a 25 point rating
df['Deluxe'].min(), df['Deluxe'].max()

(0.0, 25.0)

## Fit a linear regression model with at least two features

In [0]:
# Let's start with longitude and latitude as our two features

In [174]:
model = LinearRegression()
features = ['longitude', 'latitude']
target = 'price'
X_train = df[features]
y_train = df[target]
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [175]:
# These numbers look crazy because of the nature of longitude and latitude
print('Intercept', model.intercept_)
coefficients = pd.Series(model.coef_, features)
print(coefficients.to_string())

Intercept -1302468.0701019831
longitude   -16360.381742
latitude      2351.491444

In [0]:
# Let's try again with our new features and write a quick function
def model_2_features(data, feature1, feature2, target):
  model = LinearRegression()
  features = [feature1, feature2]
  X_train = df[features]
  y_train = df[target]
  model.fit(X_train, y_train)
  print('Intercept', model.intercept_)
  coefficients = pd.Series(model.coef_, features)
  print(coefficients.to_string())

In [177]:
model_2_features(df, 'Deluxe', 'bedrooms', 'price')

Intercept 1536.0138729832158
Deluxe      147.037881
bedrooms    620.495945

In [178]:
model_2_features(df, 'bathrooms', 'bedrooms', 'price')

Intercept 464.92844095548935
bathrooms    2099.112156
bedrooms      385.099606

##Get regression metrics RMSE, MAE, and  R2 , for both the train and test data.

In [0]:
model = LinearRegression()
features = ['longitude', 'latitude']
target = 'price'

X_train = train[features]
y_train = train[target]
model.fit(X_train, y_train)
X_test = test[features]
y_test = test[target]

y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

In [436]:
train_mae = mean_absolute_error(y_train, y_train_pred)
print(train_mae)
test_mae = mean_absolute_error(y_test, y_test_pred)
print(test_mae)

1147.1493278231853
1139.700457630829

In [437]:
train_rmse = np.sqrt(mean_squared_error(y_train, y_train_pred))
print(train_rmse)
test_rmse = np.sqrt(mean_squared_error(y_test, y_test_pred))
print(test_rmse)

1704.2079552598782
1703.0806186783316

In [438]:
train_r2 = r2_score(y_train, y_train_pred)
print(train_r2)
test_r2 = r2_score(y_test, y_test_pred)
print(test_r2)

0.06463820907125062
0.06677485649195314

## Searching for best MAE

In [208]:
df.head()

   bathrooms  bedrooms             created  ... common_outdoor_space Rooms  Deluxe
0        1.5         3 2016-06-24 07:54:24  ...                    0   4.5     4.5
1        1.0         2 2016-06-12 12:19:27  ...                    0   3.0     8.0
2        1.0         1 2016-04-17 03:26:41  ...                    0   2.0     5.0
3        1.0         1 2016-04-18 02:22:02  ...                    0   2.0     4.0
4        1.0         4 2016-04-28 01:32:41  ...                    0   5.0     6.0

[5 rows x 36 columns]

In [560]:
min(df['longitude']), max(df['longitude']), min(df['latitude']), max(df['latitude'])

(-74.0873, -73.7001, 40.5757, 40.9894)

In [564]:
(df['longitude']<=-73.97).value_counts()

True     29295
False    19522
Name: longitude, dtype: int64

In [565]:
# Let's seperate it by lat 40.75 and long -73.97
df['East_West'] = (df['longitude'] <= -73.97).astype(int)
df['East_West'].head(20)

0     0
1     0
2     1
3     0
4     0
5     1
6     0
7     1
8     0
9     1
10    0
11    0
12    1
13    1
14    0
15    1
16    1
17    0
18    0
19    1
Name: East_West, dtype: int64

In [566]:
df['North_South'] = (df['latitude'] >= 40.75).astype(int)
df['North_South'].head(20)

0     0
1     1
2     0
3     1
4     1
5     0
6     1
7     0
8     1
9     0
10    1
11    1
12    0
13    1
14    1
15    0
16    0
17    1
18    1
19    0
Name: North_South, dtype: int64

In [0]:
df['North_South'] = df['North_South'].replace({0:2, 1:4})

In [568]:
df.head()

   bathrooms  bedrooms             created  ... East_West North_South  Sector
0        1.5         3 2016-06-24 07:54:24  ...         0           2       2
1        1.0         2 2016-06-12 12:19:27  ...         0           4       1
2        1.0         1 2016-04-17 03:26:41  ...         1           2       2
3        1.0         1 2016-04-18 02:22:02  ...         0           4       1
4        1.0         4 2016-04-28 01:32:41  ...         0           4       1

[5 rows x 39 columns]

In [0]:
df['Sector'] = df['North_South'] + df['East_West']

In [570]:
df['Sector'].value_counts()

3    19834
4    15469
5     9461
2     4053
Name: Sector, dtype: int64

In [0]:
df['Sector'] = df['Sector'].replace({2:0, 5:1, 3:2, 4:3})

In [508]:
df.columns

Index(['bathrooms', 'bedrooms', 'created', 'description', 'display_address',
       'latitude', 'longitude', 'price', 'street_address', 'interest_level',
       'elevator', 'cats_allowed', 'hardwood_floors', 'dogs_allowed',
       'doorman', 'dishwasher', 'no_fee', 'laundry_in_building',
       'fitness_center', 'pre-war', 'laundry_in_unit', 'roof_deck',
       'outdoor_space', 'dining_room', 'high_speed_internet', 'balcony',
       'swimming_pool', 'new_construction', 'terrace', 'exclusive', 'loft',
       'garden_patio', 'wheelchair_access', 'common_outdoor_space', 'Rooms',
       'Deluxe', 'East_West', 'North_South', 'Sector'],
      dtype='object')

In [0]:
def my_train_test(data, feature, target, testsize=1/3):
  X_train, X_test, y_train, y_test = train_test_split(data[feature], 
                                                      data[target], 
                                                      test_size=testsize,
                                                      random_state=42)
  model = LinearRegression()
  model.fit(X_train, y_train)
  y_train_pred = model.predict(X_train)
  y_test_pred = model.predict(X_test)
  
  print(f'For {feature} to {target} with testsize {testsize:.2f}')
  
  train_mae = mean_absolute_error(y_train, y_train_pred)
  print(f'Training MAE: {train_mae:.05f}')
  
  train_rmse = np.sqrt(mean_squared_error(y_train, y_train_pred))
  print(f'Train RMSE: {train_rmse:.05f}')
  
  train_r2 = r2_score(y_train, y_train_pred)
  print(f'Train R^2: {train_r2:.05f}')
  
  
  test_mae = mean_absolute_error(y_test, y_test_pred)
  print(f'Test MAE: {test_mae:.05f}')
  
  test_rmse = np.sqrt(mean_squared_error(y_test, y_test_pred))
  print(f'Test RMSE: {test_rmse:.05f}')
  
  test_r2 = r2_score(y_test, y_test_pred)
  print(f'Test R^2: {test_r2:.05f}')

In [590]:
my_train_test(df, feature=['Deluxe', 'Rooms'], target='price', testsize=.01)

For ['Deluxe', 'Rooms'] to price with testsize 0.01
Training MAE: 860.50361
Train RMSE: 1293.00753
Train R^2: 0.46074
Test MAE: 927.66654
Test RMSE: 1464.40811
Test R^2: 0.41617

In [483]:
my_train_test(df, feature=['longitude', 'latitude'], target='Deluxe')

For ['longitude', 'latitude'] to Deluxe with testsize 0.33
Training MAE: 3.03917
Train RMSE: 3.83331
Train R^2: 0.04348
Test MAE: 3.01536
Test RMSE: 3.80419
Test R^2: 0.04577

In [484]:
my_train_test(df, ['Deluxe'], 'bedrooms')

For ['Deluxe'] to bedrooms with testsize 0.33
Training MAE: 0.79096
Train RMSE: 0.98639
Train R^2: 0.20461
Test MAE: 0.79548
Test RMSE: 0.99444
Test R^2: 0.19150

In [499]:
my_train_test(df, ['latitude', 'longitude'], 'price')

For ['latitude', 'longitude'] to price with testsize 0.33
Training MAE: 1139.87523
Train RMSE: 1695.28278
Train R^2: 0.06361
Test MAE: 1147.65989
Test RMSE: 1720.89967
Test R^2: 0.06844

In [487]:
my_train_test(df, ['Deluxe'], 'price')

For ['Deluxe'] to price with testsize 0.33
Training MAE: 1006.72135
Train RMSE: 1509.59981
Train R^2: 0.25750
Test MAE: 1032.56100
Test RMSE: 1557.22701
Test R^2: 0.23721

In [553]:
my_train_test(df, ['Sector'], 'price')

For ['Sector'] to price with testsize 0.33
Training MAE: 1182.71826
Train RMSE: 1745.74384
Train R^2: 0.00704
Test MAE: 1196.65742
Test RMSE: 1776.23143
Test R^2: 0.00758

In [506]:
my_train_test(df, ['cats_allowed', 'dogs_allowed'], 'price')

For ['cats_allowed', 'dogs_allowed'] to price with testsize 0.33
Training MAE: 1189.31343
Train RMSE: 1748.39320
Train R^2: 0.00402
Test MAE: 1203.98830
Test RMSE: 1780.13775
Test R^2: 0.00321

In [578]:
# All of the numeric columns
for col in df.select_dtypes(include=[np.number]).columns.tolist():
  my_train_test(df, [col], 'price') 
  print('\n')

For ['bathrooms'] to price with testsize 0.33
Training MAE: 885.33630
Train RMSE: 1274.70701
Train R^2: 0.47059
Test MAE: 895.44764
Test RMSE: 1291.17525
Test R^2: 0.47559


For ['bedrooms'] to price with testsize 0.33
Training MAE: 967.25919
Train RMSE: 1474.93360
Train R^2: 0.29121
Test MAE: 991.73393
Test RMSE: 1515.03263
Test R^2: 0.27799


For ['latitude'] to price with testsize 0.33
Training MAE: 1191.18795
Train RMSE: 1750.92074
Train R^2: 0.00114
Test MAE: 1205.32235
Test RMSE: 1781.86255
Test R^2: 0.00127


For ['longitude'] to price with testsize 0.33
Training MAE: 1137.49190
Train RMSE: 1697.64862
Train R^2: 0.06099
Test MAE: 1144.87522
Test RMSE: 1722.74478
Test R^2: 0.06644


For ['price'] to price with testsize 0.33
Training MAE: 0.00000
Train RMSE: 0.00000
Train R^2: 1.00000
Test MAE: 0.00000
Test RMSE: 0.00000
Test R^2: 1.00000


For ['interest_level'] to price with testsize 0.33
Training MAE: 1192.55864
Train RMSE: 1751.22747
Train R^2: 0.00079
Test MAE: 1206.84734
Test RMSE: 1781.99689
Test R^2: 0.00112


For ['elevator'] to price with testsize 0.33
Training MAE: 1164.34565
Train RMSE: 1711.32763
Train R^2: 0.04580
Test MAE: 1183.73559
Test RMSE: 1749.74414
Test R^2: 0.03695


For ['cats_allowed'] to price with testsize 0.33
Training MAE: 1190.05458
Train RMSE: 1749.56000
Train R^2: 0.00269
Test MAE: 1204.78287
Test RMSE: 1781.03458
Test R^2: 0.00220


For ['hardwood_floors'] to price with testsize 0.33
Training MAE: 1191.04341
Train RMSE: 1742.93823
Train R^2: 0.01022
Test MAE: 1204.33789
Test RMSE: 1773.98696
Test R^2: 0.01008


For ['dogs_allowed'] to price with testsize 0.33
Training MAE: 1189.27870
Train RMSE: 1748.61920
Train R^2: 0.00376
Test MAE: 1203.87804
Test RMSE: 1780.26363
Test R^2: 0.00306


For ['doorman'] to price with testsize 0.33
Training MAE: 1148.80020
Train RMSE: 1682.21585
Train R^2: 0.07799
Test MAE: 1164.00718
Test RMSE: 1716.97941
Test R^2: 0.07268


For ['dishwasher'] to price with testsize 0.33
Training MAE: 1163.56827
Train RMSE: 1706.71622
Train R^2: 0.05094
Test MAE: 1179.51288
Test RMSE: 1739.46088
Test R^2: 0.04824


For ['no_fee'] to price with testsize 0.33
Training MAE: 1183.89323
Train RMSE: 1735.33016
Train R^2: 0.01885
Test MAE: 1202.52059
Test RMSE: 1770.06064
Test R^2: 0.01446


For ['laundry_in_building'] to price with testsize 0.33
Training MAE: 1193.29475
Train RMSE: 1751.72761
Train R^2: 0.00022
Test MAE: 1207.92553
Test RMSE: 1782.77355
Test R^2: 0.00025


For ['fitness_center'] to price with testsize 0.33
Training MAE: 1161.52227
Train RMSE: 1704.27031
Train R^2: 0.05365
Test MAE: 1176.99336
Test RMSE: 1738.35915
Test R^2: 0.04944


For ['pre-war'] to price with testsize 0.33
Training MAE: 1192.67612
Train RMSE: 1751.19055
Train R^2: 0.00083
Test MAE: 1207.08352
Test RMSE: 1782.54091
Test R^2: 0.00051


For ['laundry_in_unit'] to price with testsize 0.33
Training MAE: 1151.92486
Train RMSE: 1684.18936
Train R^2: 0.07582
Test MAE: 1173.10543
Test RMSE: 1720.56287
Test R^2: 0.06881


For ['roof_deck'] to price with testsize 0.33
Training MAE: 1184.15706
Train RMSE: 1737.01032
Train R^2: 0.01695
Test MAE: 1201.92737
Test RMSE: 1773.09065
Test R^2: 0.01108


For ['outdoor_space'] to price with testsize 0.33
Training MAE: 1179.58418
Train RMSE: 1732.27391
Train R^2: 0.02230
Test MAE: 1196.69561
Test RMSE: 1768.96478
Test R^2: 0.01568


For ['dining_room'] to price with testsize 0.33
Training MAE: 1158.23118
Train RMSE: 1695.23123
Train R^2: 0.06367
Test MAE: 1182.60417
Test RMSE: 1738.39886
Test R^2: 0.04940


For ['high_speed_internet'] to price with testsize 0.33
Training MAE: 1187.03145
Train RMSE: 1743.47227
Train R^2: 0.00962
Test MAE: 1203.55694
Test RMSE: 1778.72856
Test R^2: 0.00478


For ['balcony'] to price with testsize 0.33
Training MAE: 1178.56222
Train RMSE: 1734.04392
Train R^2: 0.02030
Test MAE: 1196.10694
Test RMSE: 1767.62963
Test R^2: 0.01716


For ['swimming_pool'] to price with testsize 0.33
Training MAE: 1185.01164
Train RMSE: 1735.11429
Train R^2: 0.01909
Test MAE: 1199.83355
Test RMSE: 1768.87165
Test R^2: 0.01578


For ['new_construction'] to price with testsize 0.33
Training MAE: 1191.99951
Train RMSE: 1746.59050
Train R^2: 0.00607
Test MAE: 1208.17175
Test RMSE: 1780.54750
Test R^2: 0.00275


For ['terrace'] to price with testsize 0.33
Training MAE: 1179.49718
Train RMSE: 1730.76531
Train R^2: 0.02400
Test MAE: 1198.03671
Test RMSE: 1769.10413
Test R^2: 0.01552


For ['exclusive'] to price with testsize 0.33
Training MAE: 1193.34307
Train RMSE: 1751.72403
Train R^2: 0.00022
Test MAE: 1207.96585
Test RMSE: 1783.25488
Test R^2: -0.00029


For ['loft'] to price with testsize 0.33
Training MAE: 1193.72828
Train RMSE: 1751.89220
Train R^2: 0.00003
Test MAE: 1208.48136
Test RMSE: 1783.25161
Test R^2: -0.00028


For ['garden_patio'] to price with testsize 0.33
Training MAE: 1186.19255
Train RMSE: 1741.66828
Train R^2: 0.01167
Test MAE: 1201.57012
Test RMSE: 1775.34383
Test R^2: 0.00857


For ['wheelchair_access'] to price with testsize 0.33
Training MAE: 1191.26462
Train RMSE: 1746.18909
Train R^2: 0.00653
Test MAE: 1207.15265
Test RMSE: 1780.96668
Test R^2: 0.00228


For ['common_outdoor_space'] to price with testsize 0.33
Training MAE: 1193.31864
Train RMSE: 1751.72758
Train R^2: 0.00022
Test MAE: 1208.13537
Test RMSE: 1783.37827
Test R^2: -0.00043


For ['Rooms'] to price with testsize 0.33
Training MAE: 891.83260
Train RMSE: 1329.00283
Train R^2: 0.42453
Test MAE: 913.76399
Test RMSE: 1363.73527
Test R^2: 0.41500


For ['Deluxe'] to price with testsize 0.33
Training MAE: 1006.72135
Train RMSE: 1509.59981
Train R^2: 0.25750
Test MAE: 1032.56100
Test RMSE: 1557.22701
Test R^2: 0.23721


For ['East_West'] to price with testsize 0.33
Training MAE: 1152.27485
Train RMSE: 1715.21266
Train R^2: 0.04146
Test MAE: 1162.45431
Test RMSE: 1738.77060
Test R^2: 0.04899


For ['North_South'] to price with testsize 0.33
Training MAE: 1186.81227
Train RMSE: 1748.82025
Train R^2: 0.00353
Test MAE: 1200.84985
Test RMSE: 1779.57651
Test R^2: 0.00383


For ['Sector'] to price with testsize 0.33
Training MAE: 1193.47271
Train RMSE: 1751.91423
Train R^2: 0.00000
Test MAE: 1208.19715
Test RMSE: 1783.32260
Test R^2: -0.00036

In [0]:
df['interest_level'] = df['interest_level'].astype('category').cat.codes

In [559]:
my_train_test(df, ['interest_level'], 'price')

For ['interest_level'] to price with testsize 0.33
Training MAE: 1192.55864
Train RMSE: 1751.22747
Train R^2: 0.00079
Test MAE: 1206.84734
Test RMSE: 1781.99689
Test R^2: 0.00112