<a href="https://colab.research.google.com/github/davidanagy/DS-Unit-2-Regression-Classification/blob/master/module2/assignment_regression_classification_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science, Unit 2: Predictive Modeling

# Regression & Classification, Module 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [310]:
import os, sys
in_colab = 'google.colab' in sys.modules

# If you're in Colab...
if in_colab:
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification.git
    !git pull origin master
    
    # Install required python packages
    !pip install -r requirements.txt
    
    # Change into directory for module
    os.chdir('module2')

Reinitialized existing Git repository in /content/.git/
fatal: remote origin already exists.
From https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification
 * branch            master     -> FETCH_HEAD
Already up to date.
Requirement already satisfied: category_encoders==2.0.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 1)) (2.0.0)
Requirement already satisfied: eli5==0.10.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 2)) (0.10.0)
Requirement already satisfied: matplotlib!=3.1.1 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 3)) (3.0.3)
Requirement already satisfied: pandas-profiling==2.3.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 4)) (2.3.0)
Requirement already satisfied: pdpbox==0.2.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 5)) (0.2.0)
Requirement already satisfied: plotly==4.1.1 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 6)) (4.1.1)
Requirement already satisfied: seaborn==0.9.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 7)) (0.9.0)
Requirement already satisfied: scikit-learn==0.21.3 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 8)) (0.21.3)
Requirement already satisfied: shap==0.29.3 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 9)) (0.29.3)
Requirement already satisfied: statsmodels==0.10.1 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 10)) (0.10.1)
Requirement already satisfied: xgboost==0.90 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 11)) (0.90)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (0.24.2)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (1.16.5)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (1.3.1)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0->-r requirements.txt (line 1)) (0.5.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (1.12.0)
Requirement already satisfied: attrs>16.0.0 in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (19.1.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (0.10.1)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (0.8.5)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (2.10.1)
Requirement already satisfied: typing in /usr/local/lib/python3.6/dist-packages (from eli5==0.10.0->-r requirements.txt (line 2)) (3.7.4.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (2.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (2.5.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.1.1->-r requirements.txt (line 3)) (1.1.0)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.4.2)
Requirement already satisfied: htmlmin>=0.1.12 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.1.12)
Requirement already satisfied: confuse>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.0.0)
Requirement already satisfied: astropy in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (3.0.5)
Requirement already satisfied: phik>=0.9.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.9.8)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from pdpbox==0.2.0->-r requirements.txt (line 5)) (0.13.2)
Requirement already satisfied: psutil in /usr/local/lib/python3.6/dist-packages (from pdpbox==0.2.0->-r requirements.txt (line 5)) (5.4.8)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly==4.1.1->-r requirements.txt (line 6)) (1.3.3)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.6/dist-packages (from shap==0.29.3->-r requirements.txt (line 9)) (4.28.1)
Requirement already satisfied: scikit-image in /usr/local/lib/python3.6/dist-packages (from shap==0.29.3->-r requirements.txt (line 9)) (0.15.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.6/dist-packages (from shap==0.29.3->-r requirements.txt (line 9)) (5.5.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.0.0->-r requirements.txt (line 1)) (2018.9)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->eli5==0.10.0->-r requirements.txt (line 2)) (1.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib!=3.1.1->-r requirements.txt (line 3)) (41.2.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from confuse>=1.0.0->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (3.13)
Requirement already satisfied: nbconvert>=5.3.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (5.6.0)
Requirement already satisfied: pytest>=4.0.2 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (5.2.0)
Requirement already satisfied: pytest-pylint>=0.13.0 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.14.1)
Requirement already satisfied: numba>=0.38.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.40.1)
Requirement already satisfied: jupyter-client>=5.2.3 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (5.3.3)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (2.3)
Requirement already satisfied: pillow>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (4.3.0)
Requirement already satisfied: imageio>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (2.4.1)
Requirement already satisfied: PyWavelets>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (1.0.3)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (4.3.2)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (1.0.16)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (4.4.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (4.7.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (0.8.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (2.1.3)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython->shap==0.29.3->-r requirements.txt (line 9)) (0.7.5)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.6.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.4.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.4.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (3.1.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.3)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.5.0)
Requirement already satisfied: nbformat>=4.4 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.4.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.8.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.13.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (7.2.0)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (19.2)
Requirement already satisfied: importlib-metadata>=0.12; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.23)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.1.7)
Requirement already satisfied: pylint>=1.4.5 in /usr/local/lib/python3.6/dist-packages (from pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (2.4.2)
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.29.0)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (17.0.0)
Requirement already satisfied: tornado>=4.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.5.3)
Requirement already satisfied: olefile in /usr/local/lib/python3.6/dist-packages (from pillow>=4.3.0->scikit-image->shap==0.29.3->-r requirements.txt (line 9)) (0.46)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->ipython->shap==0.29.3->-r requirements.txt (line 9)) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython->shap==0.29.3->-r requirements.txt (line 9)) (0.6.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.5.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (2.6.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.6.0)
Requirement already satisfied: astroid<2.4,>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (2.3.1)
Requirement already satisfied: isort<5,>=4.2.5 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (4.3.21)
Requirement already satisfied: mccabe<0.7,>=0.6 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (0.6.1)
Requirement already satisfied: wrapt==1.11.* in /usr/local/lib/python3.6/dist-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.11.2)
Requirement already satisfied: lazy-object-proxy==1.4.* in /usr/local/lib/python3.6/dist-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.4.2)
Requirement already satisfied: typed-ast<1.5,>=1.4.0; implementation_name == "cpython" and python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from astroid<2.4,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0->-r requirements.txt (line 4)) (1.4.0)

In [0]:
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv('../data/apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [313]:
print(df.shape)
df.head()

(48817, 34)

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [314]:
df.describe()

          bathrooms      bedrooms  ...  wheelchair_access  common_outdoor_space
count  48817.000000  48817.000000  ...       48817.000000          48817.000000
mean       1.201794      1.537149  ...           0.027224              0.026241
std        0.470711      1.106087  ...           0.162738              0.159852
min        0.000000      0.000000  ...           0.000000              0.000000
25%        1.000000      1.000000  ...           0.000000              0.000000
50%        1.000000      1.000000  ...           0.000000              0.000000
75%        1.000000      2.000000  ...           0.000000              0.000000
max       10.000000      8.000000  ...           1.000000              1.000000

[8 rows x 29 columns]

### Train/test split: April & May / June

In [315]:
df['created'] = pd.to_datetime(df['created'], infer_datetime_format=True)
df.dtypes

bathrooms                      float64
bedrooms                         int64
created                 datetime64[ns]
description                     object
display_address                 object
latitude                       float64
longitude                      float64
price                            int64
street_address                  object
interest_level                  object
elevator                         int64
cats_allowed                     int64
hardwood_floors                  int64
dogs_allowed                     int64
doorman                          int64
dishwasher                       int64
no_fee                           int64
laundry_in_building              int64
fitness_center                   int64
pre-war                          int64
laundry_in_unit                  int64
roof_deck                        int64
outdoor_space                    int64
dining_room                      int64
high_speed_internet              int64
balcony                          int64
swimming_pool                    int64
new_construction                 int64
terrace                          int64
exclusive                        int64
loft                             int64
garden_patio                     int64
wheelchair_access                int64
common_outdoor_space             int64
dtype: object

In [316]:
df['created'].head().values

array(['2016-06-24T07:54:24.000000000', '2016-06-12T12:19:27.000000000',
       '2016-04-17T03:26:41.000000000', '2016-04-18T02:22:02.000000000',
       '2016-04-28T01:32:41.000000000'], dtype='datetime64[ns]')

In [317]:
df['created'].dt.month

0        6
1        6
2        4
3        4
4        4
5        4
6        4
7        4
8        4
9        4
10       4
11       6
12       4
13       4
14       6
15       4
16       4
17       4
18       4
19       4
20       4
21       4
22       4
23       4
24       6
25       4
26       4
27       4
29       4
30       4
        ..
49322    4
49323    4
49324    4
49325    4
49326    4
49327    4
49328    4
49329    4
49330    4
49331    4
49332    6
49333    4
49334    4
49335    4
49336    4
49337    4
49338    4
49339    4
49340    4
49341    4
49342    4
49343    4
49344    4
49345    4
49346    4
49347    6
49348    4
49349    4
49350    4
49351    4
Name: created, Length: 48817, dtype: int64

In [318]:
train = df[df['created'].dt.month < 6]
test = df[df['created'].dt.month == 6]
print(train.shape)
train.head()

(31844, 34)

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0
5        2.0         4  ...                 0                    0
6        1.0         2  ...                 0                    0

[5 rows x 34 columns]

In [319]:
print(test.shape)
test.head()

(16973, 34)

    bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0         1.5         3  ...                 0                    0
1         1.0         2  ...                 0                    0
11        1.0         1  ...                 0                    0
14        1.0         1  ...                 0                    0
24        2.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
assert train.shape[0] + test.shape[0] == df.shape[0]

### Engineer new features

In [321]:
df.columns

Index(['bathrooms', 'bedrooms', 'created', 'description', 'display_address',
       'latitude', 'longitude', 'price', 'street_address', 'interest_level',
       'elevator', 'cats_allowed', 'hardwood_floors', 'dogs_allowed',
       'doorman', 'dishwasher', 'no_fee', 'laundry_in_building',
       'fitness_center', 'pre-war', 'laundry_in_unit', 'roof_deck',
       'outdoor_space', 'dining_room', 'high_speed_internet', 'balcony',
       'swimming_pool', 'new_construction', 'terrace', 'exclusive', 'loft',
       'garden_patio', 'wheelchair_access', 'common_outdoor_space'],
      dtype='object')

In [322]:
train['description']

2        Top Top West Village location, beautiful Pre-w...
3        Building Amenities - Garage - Garden - fitness...
4        Beautifully renovated 3 bedroom flex 4 bedroom...
5
6        Stunning unit with a great location and lots o...
7        This huge sunny ,plenty of lights 1 bed/2 bath...
8                                 <p><a  website_redacted
9        This is a spacious four bedroom with every bed...
10       New to the market! Spacious studio located in ...
12       ***LOW FEE. Beautiful CHERRY OAK WOODEN FLOORS...
13       Lincoln Square's premier full service building...
15       Stunning  full renovated studio unit. High cei...
16       East Village is a great community with great p...
17       *Location: Thayer St. &amp; Broadway, Manhatta...
18
19
20       BEAUTIFUL 2 BEDROOM POSSIBLE CONVERSION INTO T...
21       No fee huge two bedroom apartment. Great locat...
22
23       CooperCooper.com :: Web ID #179546; Access 100...
25       Amazing 4 bedroom convertible. Remarkably luxu...
26       Don't miss out on this fantastic apartment.......
27       The TRUE 1 bedroom apartment features extra la...
29       Gut Renovated Apartment with Stainless steel a...
30       Enjoy the Upper West Side life-style!  This ap...
31       --Prime location of the Upper West Side, this ...
32       This apartment features south and west exposur...
33       Prime location in the heart of Greenwich Villa...
35       Located on 106th &amp; 2nd Ave. Trains: 6 at 1...
37       Located in one of Manhattan's most desirable a...
                               ...
49319    Come see this stunning apartment with its stun...
49321    Building Features & AmenitiesElevatorFull-time...
49322    Elegant, spacious one bedroom in modern luxury...
49323                                                  NaN
49324    (((((IMPORTANT NOTICE))))) If you are planning...
49325    WASHER & DRYER IN UNIT ++ 5 MINUTE WALK TO R T...
49326    Tremendous Classic Six in a Luxurious Prewar D...
49327    Luxury Living--- Full-Time Doorman--- Concierg...
49328    Only one block form Washington Square Park! Ne...
49329    THIS RESIDENCE FEATURES STAINLESS STEAL  APPLI...
49330    This newly renovated 1 bedroom unit is recentl...
49331    Bedroom on top, Living room on bottom<br /><br...
49333    This exquisitely appointed 1 bedroom, 1 bath r...
49334    This spacious two bedroom apartment features e...
49335    Great Lower East Side one bedroom.Well maintai...
49336    THIS LARGE AND SPACIOUS 3 BD/ONE BA APARTMENT ...
49337    77TH ST! FULLY GUT RENOV STUDIO! HI CEIL! XPSD...
49338    Full-Time Doorman PET FRIENDLYElevator GYMLaun...
49339    This is a Great Opportunity to Rent an Excelle...
49340
49341    Incredibly sunny and spacious studio apartment...
49342    LUXURY BUILDING IN MIDTOWN WEST, 24 HR DOORMAN...
49343    Huge true king size one bedroom in an elevator...
49344    Charming one bedroom! Hardwood floors, sunny, ...
49345    **89th & Park Ave! (block from the central par...
49346    24hr Doorman Luxury building in the heart of t...
49348    HIGH END condo finishes, swimming pool, and ki...
49349    Large Renovated One Bedroom Apartment with Sta...
49350    Stylishly sleek studio apartment with unsurpas...
49351    Look no further!!!  This giant 2 bedroom apart...
Name: description, Length: 31844, dtype: object

In [323]:
train['desc_length'] = train['description'].str.len()
train.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   bathrooms  bedrooms  ... common_outdoor_space desc_length
2        1.0         1  ...                    0       691.0
3        1.0         1  ...                    0       492.0
4        1.0         4  ...                    0       479.0
5        2.0         4  ...                    0         8.0
6        1.0         2  ...                    0       579.0

[5 rows x 35 columns]

In [324]:
test['desc_length'] = test['description'].str.len()
test.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

    bathrooms  bedrooms  ... common_outdoor_space desc_length
0         1.5         3  ...                    0       588.0
1         1.0         2  ...                    0         8.0
11        1.0         1  ...                    0       690.0
14        1.0         1  ...                    0       569.0
24        2.0         4  ...                    0       870.0

[5 rows x 35 columns]

In [325]:
df.columns

Index(['bathrooms', 'bedrooms', 'created', 'description', 'display_address',
       'latitude', 'longitude', 'price', 'street_address', 'interest_level',
       'elevator', 'cats_allowed', 'hardwood_floors', 'dogs_allowed',
       'doorman', 'dishwasher', 'no_fee', 'laundry_in_building',
       'fitness_center', 'pre-war', 'laundry_in_unit', 'roof_deck',
       'outdoor_space', 'dining_room', 'high_speed_internet', 'balcony',
       'swimming_pool', 'new_construction', 'terrace', 'exclusive', 'loft',
       'garden_patio', 'wheelchair_access', 'common_outdoor_space'],
      dtype='object')

In [326]:
train['outside'] = ((train['roof_deck'] + train['outdoor_space'] + train['balcony'] +
                     train['terrace'] + train['garden_patio'] + train['common_outdoor_space']) >= 1)
train['outside'].value_counts()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

False    23621
True      8223
Name: outside, dtype: int64

In [327]:
test['outside'] = ((test['roof_deck'] + test['outdoor_space'] + test['balcony'] +
                    test['terrace'] + test['garden_patio'] + test['common_outdoor_space']) >= 1)
test['outside'].value_counts()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

False    12758
True      4215
Name: outside, dtype: int64

### Linear Regression Model:

In [328]:
train['desc_length'].isnull().value_counts()

False    30875
True       969
Name: desc_length, dtype: int64

In [329]:
train['outside'].isnull().value_counts()

False    31844
Name: outside, dtype: int64

In [330]:
null = train[train['desc_length'].isnull() == True]
null.head()

     bathrooms  bedrooms  ... desc_length outside
57         1.0         0  ...         NaN   False
67         1.0         1  ...         NaN   False
73         1.0         1  ...         NaN   False
174        1.0         1  ...         NaN   False
210        1.0         1  ...         NaN   False

[5 rows x 36 columns]

In [331]:
train['description'].values[3]

'        '

In [332]:
train = train.replace({'description': {'        ': '', np.nan: ''}})
train['desc_length'] = train['description'].str.len()
train.head()

   bathrooms  bedrooms  ... desc_length outside
2        1.0         1  ...         691   False
3        1.0         1  ...         492   False
4        1.0         4  ...         479   False
5        2.0         4  ...           0   False
6        1.0         2  ...         579   False

[5 rows x 36 columns]

In [333]:
train['desc_length'].isnull().value_counts()

False    31844
Name: desc_length, dtype: int64

In [334]:
test = test.replace({'description': {'        ': '', np.nan: ''}})
test['desc_length'] = test['description'].str.len()
test.head()

    bathrooms  bedrooms  ... desc_length outside
0         1.5         3  ...         588   False
1         1.0         2  ...           0   False
11        1.0         1  ...         690   False
14        1.0         1  ...         569   False
24        2.0         4  ...         870    True

[5 rows x 36 columns]

In [335]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

features = ['desc_length', 'outside']
target = 'price'
X_train = train[features]
y_train = train[target]

model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### Get coefficients and intercept:

In [336]:
print('The coefficient for description length is', model.coef_[0],
      'and the coefficient for whether there is an outside component is', model.coef_[1])
print('The intercept value is', model.intercept_)

The coefficient for description length is 0.5092353569341063 and the coefficient for whether there is an outside component is 614.9863782798722
The intercept value is 3107.711384584068

### Get regression metrics RMSE, MAE, and  R2 , for both the train and test data:

In [337]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

X_test = test[features]
y_test = test[target]

y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

train_mae = mean_absolute_error(y_train, y_train_pred)
test_mae = mean_absolute_error(y_test, y_test_pred)

train_rmse = np.sqrt(mean_squared_error(y_train, y_train_pred))
test_rmse = np.sqrt(mean_squared_error(y_test, y_test_pred))

train_r2 = r2_score(y_train, y_train_pred)
test_r2 = r2_score(y_test, y_test_pred)

print('Train regression metrics: \n RMSE =', train_rmse, 'MAE =', train_mae, 'R2 =', train_r2)
print('Test regression metrics: \n RMSE =', test_rmse, 'MAE =', test_mae, 'R2 =', test_r2)

# These are really bad lol

Train regression metrics:
 RMSE = 1720.9641415901904 MAE = 1174.5008128861753 R2 = 0.0461543764485689
Test regression metrics:
 RMSE = 1715.9326489895836 MAE = 1160.4210333303563 R2 = 0.05263683800245911

### What's the best test MAE you can get?

I'll have this as a stretch goal: write a loop to determine what the lowest possible test MAE is.

In [338]:
df.columns

Index(['bathrooms', 'bedrooms', 'created', 'description', 'display_address',
       'latitude', 'longitude', 'price', 'street_address', 'interest_level',
       'elevator', 'cats_allowed', 'hardwood_floors', 'dogs_allowed',
       'doorman', 'dishwasher', 'no_fee', 'laundry_in_building',
       'fitness_center', 'pre-war', 'laundry_in_unit', 'roof_deck',
       'outdoor_space', 'dining_room', 'high_speed_internet', 'balcony',
       'swimming_pool', 'new_construction', 'terrace', 'exclusive', 'loft',
       'garden_patio', 'wheelchair_access', 'common_outdoor_space'],
      dtype='object')

In [339]:
# First, to engineer more features!

df = df.replace({'description': {'        ': '', np.nan: ''}})
df['desc_exists'] = (df['description'].str.len() > 0)
df['desc_length'] = df['description'].str.len()
df['total_perks'] = (df['elevator'] + df['cats_allowed'] + df['hardwood_floors'] + df['dogs_allowed'] +
                    df['doorman'] + df['dishwasher'] + df['no_fee'] + df['laundry_in_building'] +
                    df['fitness_center'] + df['laundry_in_unit'] + df['roof_deck'] - df['pre-war'] +
                    df['outdoor_space'] + df['dining_room'] + df['high_speed_internet'] + df['balcony'] +
                    df['swimming_pool'] + df['new_construction'] + df['terrace'] + df['exclusive'] +
                    df['garden_patio'] + df['wheelchair_access'] + df['common_outdoor_space'] - df['loft'])
df['cats_or_dogs'] = (df['cats_allowed'] + df['dogs_allowed'] >= 1)
df['cats_and_dogs'] = (df['cats_allowed'] + df['dogs_allowed'] == 2)
df['total_rooms'] = (df['bathrooms'] + df['bedrooms'])

beds_per_bath = []
for i in range(len(df)):
  if df.iloc[i, 0] == 0:
    beds_per_bath.append(0)
  else:
    beds_per_bath.append(df.iloc[i,1] / df.iloc[i,0])
df['beds_per_bath'] = np.array(beds_per_bath)
df.head()

   bathrooms  bedrooms  ... total_rooms beds_per_bath
0        1.5         3  ...         4.5           2.0
1        1.0         2  ...         3.0           2.0
2        1.0         1  ...         2.0           1.0
3        1.0         1  ...         2.0           1.0
4        1.0         4  ...         5.0           4.0

[5 rows x 41 columns]

In [340]:
df['created_flt'] = (df['created'].dt.month + df['created'].dt.day/100)

from pandas.api.types import CategoricalDtype

cat_type = CategoricalDtype(categories=['low', 'medium', 'high'], ordered=True)

df['interest_level'] = df['interest_level'].astype(cat_type)
df['interest_cat'] = df['interest_level'].cat.codes

df.head()

   bathrooms  bedrooms  ... created_flt interest_cat
0        1.5         3  ...        6.24            1
1        1.0         2  ...        6.12            0
2        1.0         1  ...        4.17            2
3        1.0         1  ...        4.18            0
4        1.0         4  ...        4.28            0

[5 rows x 43 columns]

In [341]:
train = df[df['created'].dt.month < 6]
train = train.drop(['created', 'description', 'display_address', 'street_address', 'interest_level'], axis=1)
test = df[df['created'].dt.month == 6]
test = test.drop(['created', 'description', 'display_address', 'street_address', 'interest_level'], axis=1)
print(train.shape)
train.head()

(31844, 38)

   bathrooms  bedrooms  latitude  ...  beds_per_bath  created_flt  interest_cat
2        1.0         1   40.7388  ...            1.0         4.17             2
3        1.0         1   40.7539  ...            1.0         4.18             0
4        1.0         4   40.8241  ...            4.0         4.28             0
5        2.0         4   40.7429  ...            2.0         4.19             1
6        1.0         2   40.8012  ...            2.0         4.27             0

[5 rows x 38 columns]

In [342]:
variables = list(train.columns)
variables.remove('price')
variables

['bathrooms',
 'bedrooms',
 'latitude',
 'longitude',
 'elevator',
 'cats_allowed',
 'hardwood_floors',
 'dogs_allowed',
 'doorman',
 'dishwasher',
 'no_fee',
 'laundry_in_building',
 'fitness_center',
 'pre-war',
 'laundry_in_unit',
 'roof_deck',
 'outdoor_space',
 'dining_room',
 'high_speed_internet',
 'balcony',
 'swimming_pool',
 'new_construction',
 'terrace',
 'exclusive',
 'loft',
 'garden_patio',
 'wheelchair_access',
 'common_outdoor_space',
 'desc_exists',
 'desc_length',
 'total_perks',
 'cats_or_dogs',
 'cats_and_dogs',
 'total_rooms',
 'beds_per_bath',
 'created_flt',
 'interest_cat']

In [343]:
np.max(df['beds_per_bath'].values)

6.0

In [344]:
for i in range(len(variables)):
  x = 1000000
  results = []
  for k in range(len(variables) - 1):
    y_train = train['price']
    y_test = test['price']
    features = []
    features.append(variables[i])
    features.append(variables[k])
    X_train = train[features]
    X_test = test[features]
    model = LinearRegression()
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mae = mean_absolute_error(y_test, y_pred)
    if mae < x:
      x = mae
      results = features
      continue
    else:
      continue
      
results

['interest_cat', 'bathrooms']

In [346]:
for i in range(len(variables)):
  x = 1000000
  results = []
  for k in range(len(variables)):
    for m in range(len(variables)):
      y_train = train['price']
      y_test = test['price']
      features = []
      features.append(variables[i])
      features.append(variables[k])
      X_train = train[features]
      X_test = test[features]
      model = LinearRegression()
      model.fit(X_train, y_train)
      y_pred = model.predict(X_test)
      mae = mean_absolute_error(y_test, y_pred)
      if mae < x:
        x = mae
        results = features
        continue
      else:
        continue
      
results

['interest_cat', 'bathrooms']

In [347]:
features = ['interest_cat', 'bathrooms']
X_train = train[features]
X_test = test[features]
y_train = train['price']
y_test = test['price']
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)

rmse = np.sqrt(mean_squared_error(y_test, y_pred))

r2 = r2_score(y_test, y_pred)

print('The results when using interest and bathrooms as features are:')
print('Mean Absolute Error --', mae)
print('Root Mean Squared Error --', rmse)
print('R^2 Score --', r2)

The results when using interest and bathrooms as features are:
Mean Absolute Error -- 864.3132314715668
Root Mean Squared Error -- 1239.4582830926988
R^2 Score -- 0.505712251258643

### The rest is my attempt to determine neighborhoods, but the last cell was taking forever to operate so I gave up...

In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
hoods = pd.read_csv('zillow-neighborhoods.csv', sep=';')
print(hoods.shape)
hoods.head()

In [0]:
hoods.dtypes

In [0]:
nyc = hoods[hoods['City'].str.contains('New York')]
print(nyc.shape)
nyc.head()

In [0]:
nyc = nyc.reset_index(drop=True)
nyc.head()

In [0]:
nyc.iloc[0,1]

In [0]:
nyc.dtypes

In [0]:
s = 'a,b'
t = s.split(',')
t[0]

In [0]:
nyc.iloc[0,0].split(',')

In [0]:
geo_point = np.array(nyc['Geo Point'])
geo_point[0].split(',')[0]

In [0]:
nyc.iloc[29]

In [0]:
nyc = nyc.drop(29, axis=0)
nyc.iloc[29]

In [0]:
lat_long = []
for n in range(len(nyc)):
  lat_long.append(nyc.iloc[n,0].split(','))
  
lat_long

In [0]:
latitude = [float(lat_long[n][0]) for n in range(len(lat_long))]
longitude = [float(lat_long[p][1]) for p in range(len(lat_long))]
latitude

In [0]:
nyc['latitude'] = np.array(latitude)
nyc['longitude'] = np.array(longitude)
nyc.head()

In [0]:
df.describe()

In [0]:
df_lats = df['latitude'].values.tolist()
df_lats[:5]

In [0]:
df_longs = df['longitude'].values.tolist()

In [0]:
nyc.iloc[276]

In [0]:
locations = []

# for i in range(len(df_lats)):
#  for j in range(len(df_longs)):
#    for k in range(len(nyc)):
#      x = 50
#      temp = 'NYC'
#      if (np.abs(df_lats[i] - latitude[k]) + np.abs(df_longs[j] - longitude[k])) < x:
#        x = (np.abs(df_lats[i] - latitude[k]) + np.abs(df_longs[j] - longitude[k]))
#        temp = nyc.iloc[k,5]
#      else:
#         continue
#  locations.append(temp)
  
#locations