<a href="https://colab.research.google.com/github/Bayaniblues/DS-Unit-2-Linear-Models/blob/master/module3-ridge-regression/Copy_of_LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [2]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [3]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [4]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

Use a subset of the data where BUILDING_CLASS_CATEGORY == '01 ONE FAMILY DWELLINGS' and the sale price was more than 100 thousand and less than 2 million.

In [5]:
# Filter by class Fruitful function
def get_subset():
  feature = ['BUILDING_CLASS_CATEGORY', '01 ONE FAMILY DWELLINGS']
  subset = df[df[feature[0]] == feature[1]] 
  target = "SALE_PRICE"
  a = subset[target] > 100000
  b = subset[target] < 2000000
  mask = (a) & (b)
  return subset[mask]

get_subset().head()

    BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44        3        OTHER  ...     550000  01/01/2019
61        4        OTHER  ...     200000  01/01/2019
78        2        OTHER  ...     810000  01/02/2019
108       3        OTHER  ...     125000  01/02/2019
111       3        OTHER  ...     620000  01/02/2019

[5 rows x 21 columns]

 Do train/test split. Use data from January â€” March 2019 to train. Use data from April 2019 to test.

In [6]:
# Filter by date fruitful function
def filter_date(subset, date_a, date_b):
  a = subset["SALE_DATE"] >= date_a
  b = subset["SALE_DATE"] < date_b
  mask = (a) & (b)
  product = get_subset().loc[mask]
  return product

In [7]:
train = filter_date(get_subset(), '01/01/2019', '03/01/2019')
test = filter_date(get_subset(), '03/01/2019', '04/01/2019')
train.shape, test.shape

((1708, 21), (799, 21))

In [8]:
train, test

(      BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
 44          3        OTHER  ...     550000  01/01/2019
 61          4        OTHER  ...     200000  01/01/2019
 78          2        OTHER  ...     810000  01/02/2019
 108         3        OTHER  ...     125000  01/02/2019
 111         3        OTHER  ...     620000  01/02/2019
 ...       ...          ...  ...        ...         ...
 12045       5        OTHER  ...     460000  02/28/2019
 12051       5        OTHER  ...     870000  02/28/2019
 12053       5        OTHER  ...     380000  02/28/2019
 12054       5        OTHER  ...     520000  02/28/2019
 12055       5        OTHER  ...     584284  02/28/2019

 [1708 rows x 21 columns],
       BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
 12115       2        OTHER  ...     515000  03/01/2019
 12116       2        OTHER  ...     555000  03/01/2019
 12124       2        OTHER  ...     571000  03/01/2019
 12127       2        OTHER  ...     580000  03/01/2019
 12130       2        OTHER  ...     687000  03/01/2019
 ...       ...          ...  ...        ...         ...
 18129       5        OTHER  ...     330000  03/29/2019
 18130       5        OTHER  ...     690000  03/29/2019
 18132       5        OTHER  ...     610949  03/29/2019
 18134       5        OTHER  ...     520000  03/29/2019
 18147       4        OTHER  ...     104000  03/30/2019

 [799 rows x 21 columns])

In [12]:
train.describe(exclude="number")

       BOROUGH NEIGHBORHOOD  ... BUILDING_CLASS_AT_TIME_OF_SALE   SALE_DATE
count     1708         1708  ...                           1708        1708
unique       4            6  ...                             11          44
top          4        OTHER  ...                             A1  01/31/2019
freq       816         1625  ...                            635          78

[4 rows x 10 columns]

In [13]:
features = ["BOROUGH",	"NEIGHBORHOOD",	"BUILDING_CLASS_CATEGORY",	"TAX_CLASS_AT_PRESENT",	"BUILDING_CLASS_AT_PRESENT",	"ADDRESS",	"APARTMENT_NUMBER",	"LAND_SQUARE_FEET",	"BUILDING_CLASS_AT_TIME_OF_SALE",	"SALE_DATE"]
target = "SALE_PRICE"
X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

 Do one-hot encoding of categorical features.

In [14]:
print('Mean Baseline')
guess = y_train.mean()
print(guess)

Mean Baseline
623486.388173302

In [15]:
X_train.head()

    BOROUGH NEIGHBORHOOD  ... BUILDING_CLASS_AT_TIME_OF_SALE   SALE_DATE
44        3        OTHER  ...                             A9  01/01/2019
61        4        OTHER  ...                             A1  01/01/2019
78        2        OTHER  ...                             A1  01/02/2019
108       3        OTHER  ...                             A1  01/02/2019
111       3        OTHER  ...                             A5  01/02/2019

[5 rows x 10 columns]

In [20]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
ohe.fit(X_train[['NEIGHBORHOOD']])
train_trans = ohe.transform(X_train[['NEIGHBORHOOD']]).toarray()

In [21]:
print(train_trans)

[[0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0. 1.]
 ...
 [0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0. 1.]]

In [40]:
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)
onehot = lambda a: encoder.fit_transform(a)
X_train2 = encoder.fit_transform(X_train)
X_train2

       BOROUGH_3  BOROUGH_4  ...  SALE_DATE_02/27/2019  SALE_DATE_02/28/2019
44             1          0  ...                     0                     0
61             0          1  ...                     0                     0
78             0          0  ...                     0                     0
108            1          0  ...                     0                     0
111            1          0  ...                     0                     0
...          ...        ...  ...                   ...                   ...
12045          0          0  ...                     0                     1
12051          0          0  ...                     0                     1
12053          0          0  ...                     0                     1
12054          0          0  ...                     0                     1
12055          0          0  ...                     0                     1

[1708 rows x 2461 columns]

 Do feature selection with SelectKBest.

In [41]:
from sklearn.feature_selection import SelectKBest, chi2

X_new = SelectKBest(chi2, k='all').fit_transform(X_train2, y_train)
X_new

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]])

In [44]:
def selectk(X_train,X_test,y_train):
  from sklearn.feature_selection import SelectKBest
  X_train = X_train.select_dtypes(include='number')
  X_test = X_test.select_dtypes(include='number')
  
  selector = SelectKBest(k='all')

  X_train_selected = selector.fit_transform(X_train, y_train)
  return X_train_selected
  #X_test_selected = selector.transform(X_test)
selectk(onehot(X_train),onehot(X_test),y_train )

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:114: UserWarning: Features [  10   24   25   32   33   38   47   56   68   73   77   79   80   81
   82   87   88   93  100  107  108  110  117  121  126  127  140  146
  149  160  169  171  172  173  175  180  182  183  185  193  202  204
  211  220  226  228  231  234  243  246  249  251  252  257  258  259
  262  274  278  295  302  306  309  310  322  325  333  339  343  346
  350  356  359  361  363  365  373  374  376  377  378  381  382  383
  385  386  395  404  407  408  411  412  425  427  429  431  433  437
  438  444  448  452  453  457  459  461  473  474  479  486  487  492
  493  502  506  510  514  515  518  520  522  526  527  530  531  532
  541  546  555  558  560  563  565  568  583  584  588  591  593  595
  599  600  603  610  612  618  620  621  627  632  634  635  636  638
  639  640  642  645  647  649  651  654  656  663  664  670  678  683
  684  688  690  692  693  694  696  703  704  706  708  709  710  718
  721  725  726  735  747  749  750  760  763  773  774  777  778  779
  781  784  785  792  793  801  819  821  828  830  834  845  852  857
  858  865  867  872  874  881  884  886  887  888  896  897  905  909
  910  911  912  913  919  921  924  926  935  936  939  943  947  951
  952  956  959  964  979  980  983  985  990 1002 1005 1006 1007 1009
 1010 1015 1019 1021 1022 1024 1027 1038 1045 1046 1047 1048 1049 1052
 1053 1067 1070 1073 1076 1083 1084 1085 1089 1091 1092 1093 1095 1097
 1098 1102 1105 1119 1121 1124 1128 1130 1132 1134 1136 1138 1151 1153
 1156 1161 1166 1167 1170 1181 1182 1188 1189 1190 1191 1198 1205 1208
 1215 1219 1224 1225 1226 1232 1233 1236 1237 1241 1242 1244 1247 1253
 1256 1260 1261 1272 1273 1279 1280 1283 1284 1294 1295 1302 1305 1307
 1311 1312 1318 1319 1322 1325 1326 1327 1328 1329 1331 1343 1349 1351
 1361 1362 1365 1369 1376 1377 1382 1385 1388 1391 1393 1401 1411 1414
 1415 1425 1435 1436 1439 1450 1452 1459 1460 1464 1467 1468 1491 1492
 1493 1495 1496 1498 1503 1504 1513 1514 1516 1517 1521 1525 1530 1531
 1532 1537 1541 1547 1550 1552 1555 1562 1564 1565 1566 1574 1575 1579
 1581 1587 1590 1596 1597 1599 1601 1602 1607 1608 1609 1611 1616 1619
 1622 1624 1625 1627 1630 1633 1636 1647 1654 1655 1665 1666 1669 1682
 1683 1689 1690 1695 1698 1701 1714 1716 1724 1729 1730 1731 1745 1755
 1758 1763 1765 1770 1771 1780 1781 1788 1795 1796 1805 1810 1825 1826
 1845 1850 1851 1856 1858 1860 1864 1880 1881 1889 1895 1899 1912 1915
 1917 1923 1930 1932 1937 1941 1942 1943 1952 1964 1971 1978 1984 1989
 2001 2002 2008 2009 2020 2021 2022 2025 2027 2030 2033 2038 2042 2047
 2048 2050 2052 2053 2055 2058 2059 2063 2073 2079 2084 2085 2086 2091
 2092 2101 2107 2114 2120 2126 2128 2129 2132 2133 2137 2138 2144 2150
 2151 2155 2163 2165 2170 2171 2172 2173 2177 2178 2184 2188 2191 2195
 2197 2204 2216 2228 2233 2237 2240 2241 2247 2248 2252 2255 2256 2257
 2264 2265 2268 2276 2279 2280 2282 2287 2288 2289 2293 2295 2302 2304
 2311 2312 2321 2322 2326 2331 2332 2334 2335 2341 2342 2344 2345 2348
 2350 2352 2353 2355 2358 2361 2365 2368 2371 2372 2376 2377 2386 2390
 2392 2398 2404 2405 2416] are constant.
  UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]])

 Fit a ridge regression model with multiple features. Use the normalize=True parameter (or do feature scaling beforehand â€” use the scaler's fit_transform method with the train set, and the scaler's transform method with the test set)

 Get mean absolute error for the test set.

In [64]:
def test_error(X, header):
  from sklearn.metrics import mean_absolute_error
  y_pred = [guess] * len(X)
  mae    = mean_absolute_error(X, y_pred)
  return print(f'{header} is {mae:.2f}')

test_error(y_train, "Train error")

test_error(y_test, "Test error")

Train error is 214345.38
Test error is 216849.11

Did a streach goal, made a pipeline with ridge regression

In [63]:
import category_encoders as ce
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import Ridge

pipeline = make_pipeline(
    ce.OneHotEncoder(),
    Ridge(normalize=True)
)

# fit on train
pipeline.fit(X_train, y_train)
print('Training Accuracy:', pipeline.score(X_train, y_train))
print('test Accuracy:', pipeline.score(X_test, y_test))

Training Accuracy: 0.8470139499655494
test Accuracy: 0.17995445264702525