<a href="https://colab.research.google.com/github/jacob-torres/DS-Unit-2-Linear-Models/blob/master/module3-ridge-regression/Jacob_Torres_LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [30]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [31]:
import pandas as pd
import pandas_profiling
from category_encoders.one_hot import OneHotEncoder
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error

In [32]:
# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [33]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [34]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [35]:
print(df.shape)
df.head()

(23040, 21)

  BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1                    OTHER  ...          0  01/01/2019
1       1                    OTHER  ...          0  01/01/2019
2       1                    OTHER  ...          0  01/01/2019
3       1                    OTHER  ...          0  01/01/2019
4       1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019

[5 rows x 21 columns]

## Split for Training and Testing

In [36]:
# Subset dataframe
one_family_df = df[
                   (df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS') &
                   (df['SALE_PRICE'] > 100000) &
                   (df['SALE_PRICE'] < 2000000)
].copy()

print(one_family_df.shape)
one_family_df.head()

(3151, 21)

    BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44        3        OTHER  ...     550000  01/01/2019
61        4        OTHER  ...     200000  01/01/2019
78        2        OTHER  ...     810000  01/02/2019
108       3        OTHER  ...     125000  01/02/2019
111       3        OTHER  ...     620000  01/02/2019

[5 rows x 21 columns]

In [37]:
# Convert date column to datetime
one_family_df['SALE_DATE'] = pd.to_datetime(
    one_family_df['SALE_DATE'], infer_datetime_format=True
)

one_family_df['SALE_DATE'].head()

44    2019-01-01
61    2019-01-01
78    2019-01-02
108   2019-01-02
111   2019-01-02
Name: SALE_DATE, dtype: datetime64[ns]

In [38]:
"""Split dataframe to train and test
  (manually by date, not via train_test_split)
"""

# Train on dates from jan-mar
train = one_family_df[
                      (one_family_df['SALE_DATE'].dt.month >= 1) &
                      (one_family_df['SALE_DATE'].dt.month <= 3)
].copy()

# Test on dates in Apr
test = one_family_df[
                     one_family_df['SALE_DATE'].dt.month == 4
].copy()

In [39]:
# Subset categorical features
cat_features = [
            'BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
            'BUILDING_CLASS_AT_PRESENT', 'BUILDING_CLASS_AT_TIME_OF_SALE'
]
            
target = 'SALE_PRICE'

# Split into training and testing sets
X_train = train[cat_features]
y_train = train[target]
X_test = test[cat_features]
y_test = test[target]

print(f"""Training dataset
  features: {X_train.shape}
  Target: {y_train.shape}
  
Testing dataset
  Features: {X_test.shape}
  Target: {y_test.shape}

The training data is {
    round((train.shape[0] / len(one_family_df)) *100, 2)}%,
  and the testing data is {
      round((test.shape[0] / len(one_family_df)) *100, 2)}% of the total data.
""")

Training dataset
  features: (2507, 5)
  Target: (2507,)

Testing dataset
  Features: (644, 5)
  Target: (644,)

The training data is 79.56%,
  and the testing data is 20.44% of the total data.

In [40]:
# Implement one-hot encoding on the categorical features
encoder = OneHotEncoder()
X_train_encoded = encoder.fit_transform(X_train)
print(f"x_train: {X_train.shape}")
print(f"x_train_encoded: {X_train_encoded.shape}")

x_train: (2507, 5)
x_train_encoded: (2507, 37)

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [41]:
# Use KBest to select the most important features
selector = SelectKBest(score_func=f_regression, k=3)
X_train_fit = selector.fit_transform(X_train_encoded, y_train)
selected_mask = selector.get_support()
all_features = X_train_encoded.columns
selected_features = all_features[selected_mask]
X_train_selected = X_train_encoded[selected_features]

print(f"The selected features are {selected_features}")

The selected features are Index(['BOROUGH_1', 'BUILDING_CLASS_AT_PRESENT_6',
       'BUILDING_CLASS_AT_TIME_OF_SALE_6'],
      dtype='object')

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [42]:
# Scale the data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_selected, y_train)

In [43]:
# Fit a ridge regression model to the scaled data
model = Ridge(normalize=True)
X_train_fit = model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_train_scaled)

In [47]:
# Test prediction accuracy with MAE
mae = mean_absolute_error(y_train, y_pred)
print(f"MAE = {mae}")

MAE = 206687.12681449766