Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

# Use a subset of the data where BUILDING_CLASS_CATEGORY == '01 ONE FAMILY DWELLINGS' and the sale price was more than 100 thousand and less than 2 million.

In [0]:
sale_price_limit = (df['SALE_PRICE'] > 100000) & (df['SALE_PRICE'] < 2000000)
building_cat = df['BUILDING_CLASS_CATEGORY']== '01 ONE FAMILY DWELLINGS'
df = df[(building_cat) & (sale_price_limit)]

In [11]:
df.head()

    BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44        3        OTHER  ...     550000  01/01/2019
61        4        OTHER  ...     200000  01/01/2019
78        2        OTHER  ...     810000  01/02/2019
108       3        OTHER  ...     125000  01/02/2019
111       3        OTHER  ...     620000  01/02/2019

[5 rows x 21 columns]

In [12]:
df.shape

(3151, 21)

# Do train/test split. Use data from January â€” March 2019 to train. Use data from April 2019 to test.

In [16]:
df['SALE_DATE'].value_counts().sort_index(ascending=True)

01/01/2019     2
01/02/2019    21
01/03/2019    40
01/04/2019    33
01/07/2019    30
              ..
04/24/2019    15
04/25/2019    18
04/26/2019     8
04/29/2019    21
04/30/2019    26
Name: SALE_DATE, Length: 91, dtype: int64

In [0]:
cutoff_date = pd.to_datetime('2019-04-01')
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'], infer_datetime_format=True)

In [0]:
df['LAND_SQUARE_FEET'] = df['LAND_SQUARE_FEET'].apply(lambda x: int(x.replace(',', '')))

In [0]:
train = df[df['SALE_DATE']<cutoff_date]
test = df[df['SALE_DATE']>=cutoff_date]

In [0]:
target = 'SALE_PRICE'
high_card = ['BUILDING_CLASS_CATEGORY', 'TAX_CLASS_AT_PRESENT', 'EASE-MENT', 'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'BUILDING_CLASS_AT_TIME_OF_SALE', 'SALE_PRICE', 'SALE_DATE', 'TAX_CLASS_AT_TIME_OF_SALE']
features = train.columns.drop(high_card)

In [0]:
X_train = train[features]
y_train = train[target]

X_test = test[features]
y_test = test[target]

#Do one-hot encoding of categorical features.

In [87]:
df.head()

    BOROUGH NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
44        3        OTHER  ...     550000 2019-01-01
61        4        OTHER  ...     200000 2019-01-01
78        2        OTHER  ...     810000 2019-01-02
108       3        OTHER  ...     125000 2019-01-02
111       3        OTHER  ...     620000 2019-01-02

[5 rows x 21 columns]

In [88]:
df.describe()

              BLOCK          LOT  ...  TAX_CLASS_AT_TIME_OF_SALE    SALE_PRICE
count   3151.000000  3151.000000  ...                     3151.0  3.151000e+03
mean    6917.976515    75.981593  ...                        1.0  6.285601e+05
std     3963.326705   161.089514  ...                        0.0  2.929904e+05
min       21.000000     1.000000  ...                        1.0  1.040000e+05
25%     4016.000000    21.000000  ...                        1.0  4.475000e+05
50%     6301.000000    42.000000  ...                        1.0  5.680000e+05
75%    10208.500000    69.000000  ...                        1.0  7.600000e+05
max    16350.000000  2720.000000  ...                        1.0  1.955000e+06

[8 rows x 12 columns]

In [0]:
import category_encoders as ce

In [0]:
encoder = ce.one_hot.OneHotEncoder(use_cat_names=True)

In [0]:
X_train_enc = encoder.fit_transform(X_train)
X_test_enc = encoder.transform(X_test)

In [92]:
X_train_enc.head()

     BOROUGH_3  BOROUGH_4  ...  GROSS_SQUARE_FEET  YEAR_BUILT
44           1          0  ...             1325.0      1930.0
61           0          1  ...             2001.0      1940.0
78           0          0  ...             2043.0      1925.0
108          1          0  ...             2680.0      1899.0
111          1          0  ...             1872.0      1940.0

[5 rows x 21 columns]

In [93]:
X_test_enc.head()

       BOROUGH_3  BOROUGH_4  ...  GROSS_SQUARE_FEET  YEAR_BUILT
18235          0          0  ...             2272.0      1930.0
18239          0          0  ...              720.0      1935.0
18244          1          0  ...             2210.0      1925.0
18280          1          0  ...             1520.0      1915.0
18285          1          0  ...              840.0      1925.0

[5 rows x 21 columns]

#Do feature selection with SelectKBest.

In [94]:
X_train_enc.shape

(2507, 21)

In [0]:
from sklearn.feature_selection import SelectKBest, f_regression

In [0]:
selector = SelectKBest(score_func=f_regression, k=12)

In [0]:
X_train_kbest = selector.fit_transform(X_train_enc, y_train)
X_test_kbest = selector.transform(X_test_enc)

In [99]:
X_train_kbest.shape

(2507, 12)

In [100]:
mask = selector.get_support()
mask

array([ True, False,  True,  True, False,  True,  True, False, False,
        True, False, False,  True, False,  True, False,  True,  True,
        True,  True, False])

In [101]:
X_train_enc.columns[mask]

Index(['BOROUGH_3', 'BOROUGH_2', 'BOROUGH_5', 'NEIGHBORHOOD_OTHER',
       'NEIGHBORHOOD_FLUSHING-NORTH', 'NEIGHBORHOOD_FOREST HILLS', 'BLOCK',
       'ZIP_CODE', 'COMMERCIAL_UNITS', 'TOTAL_UNITS', 'LAND_SQUARE_FEET',
       'GROSS_SQUARE_FEET'],
      dtype='object')

# Fit a ridge regression model with multiple features. Use the normalize=True parameter (or do feature scaling beforehand â€” use the scaler's fit_transform method with the train set, and the scaler's transform method with the test set)

In [0]:
from sklearn.linear_model import Ridge

In [0]:
ridge = Ridge(normalize=True)

In [127]:
ridge.fit(X_train_kbest, y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None, normalize=True,
      random_state=None, solver='auto', tol=0.001)

In [128]:
ridge.coef_

array([ 7.33770882e+04, -6.90023671e+04, -5.24165108e+04, -5.13628023e+04,
        8.04373018e+04,  2.31170115e+05, -7.48266176e+00,  5.11587485e+01,
        7.79051855e+04,  2.45177330e+04,  1.93745089e+01,  9.45502404e+01])

In [129]:
ridge.intercept_

-63284.49828553724

#Get mean absolute error for the test set.

In [0]:
X_train_kbest = X_train_enc[X_train_enc.columns[mask]]
X_test_kbest = X_test_enc[X_test_enc.columns[mask]]

In [0]:
from sklearn.metrics import mean_absolute_error

In [132]:
y_pred = ridge.predict(X_train_kbest)
mae = mean_absolute_error(y_train, y_pred)
mae

170634.13600454424

In [142]:
y_pred = ridge.predict(X_test_kbest)
mae = mean_absolute_error(y_test, y_pred)
mae

170519.6706633737