Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [38]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [39]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [40]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [41]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [42]:
# Read DataFrame head
df.head()

  BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1                    OTHER  ...          0  01/01/2019
1       1                    OTHER  ...          0  01/01/2019
2       1                    OTHER  ...          0  01/01/2019
3       1                    OTHER  ...          0  01/01/2019
4       1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019

[5 rows x 21 columns]

In [43]:
# Read shape
df.shape

(23040, 21)

In [44]:
# Convert to datetime to use for index
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'])
df = df.set_index('SALE_DATE')

In [45]:
# First condition
condition1 = df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS'
df = df[condition1]

In [46]:
# See shape
df.shape

(5061, 20)

In [47]:
# Second Condition
condition2 = (df['SALE_PRICE'] > 1000) & (df['SALE_PRICE'] < 2000000)
df = df[condition2]

In [48]:
# See the shape
df.shape

(3203, 20)

In [49]:
# Drop useless columns
df = df.drop('EASE-MENT', axis=1)
df =df.drop('APARTMENT_NUMBER', axis=1)

In [50]:
df.shape

(3203, 18)

In [51]:
X = df.drop('SALE_PRICE', axis=1)
y = df['SALE_PRICE']

In [53]:
df.dtypes

BOROUGH                            object
NEIGHBORHOOD                       object
BUILDING_CLASS_CATEGORY            object
TAX_CLASS_AT_PRESENT               object
BLOCK                               int64
LOT                                 int64
BUILDING_CLASS_AT_PRESENT          object
ADDRESS                            object
ZIP_CODE                          float64
RESIDENTIAL_UNITS                 float64
COMMERCIAL_UNITS                  float64
TOTAL_UNITS                       float64
LAND_SQUARE_FEET                   object
GROSS_SQUARE_FEET                 float64
YEAR_BUILT                        float64
TAX_CLASS_AT_TIME_OF_SALE           int64
BUILDING_CLASS_AT_TIME_OF_SALE     object
SALE_PRICE                          int64
dtype: object

In [54]:
df['BOROUGH'] = df['BOROUGH'].astype(float)

In [62]:
df.head()

            BOROUGH NEIGHBORHOOD  ... BUILDING_CLASS_AT_TIME_OF_SALE SALE_PRICE
SALE_DATE                         ...
2019-01-01      3.0        OTHER  ...                             A9     550000
2019-01-01      4.0        OTHER  ...                             A1     200000
2019-01-02      2.0        OTHER  ...                             A1     810000
2019-01-02      3.0        OTHER  ...                             A1     125000
2019-01-02      3.0        OTHER  ...                             A5     620000

[5 rows x 18 columns]

In [71]:
cutoff = ((X.index.month >= 1) & ((X.index.month <= 3)))

X_train_l = X[cutoff]
y_train = y[cutoff]

In [72]:
cutoff_t = ((X.index.month >= 4))

X_test_l = X[cutoff_t]
y_test = y[cutoff_t]

In [73]:
X_train = X_train_l.copy()
X_test = X_test_l.copy()
# Remove commas
X_train['LAND_SQUARE_FEET']= X_train['LAND_SQUARE_FEET'].str.replace(',', '')
X_test['LAND_SQUARE_FEET']= X_test['LAND_SQUARE_FEET'].str.replace(',', '')
# Convert to ints
X_train['LAND_SQUARE_FEET'] = X_train['LAND_SQUARE_FEET'].astype(int)
X_test['LAND_SQUARE_FEET']= X_test['LAND_SQUARE_FEET'].astype(int)

In [77]:
X_train['BOROUGH'] = X_train['BOROUGH'].astype(float)
X_test['BOROUGH'] = X_test['BOROUGH'].astype(float)

In [78]:
from category_encoders import OneHotEncoder

ohe = OneHotEncoder(use_cat_names=True)

ohe.fit(X_train)
X_train = ohe.transform(X_train)

ohe.fit(X_test)
X_test = ohe.transform(X_test)

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [79]:
# See how the training data looks
X_train.head()

            BOROUGH  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
SALE_DATE            ...
2019-01-01      3.0  ...                                  0
2019-01-01      4.0  ...                                  0
2019-01-02      2.0  ...                                  0
2019-01-02      3.0  ...                                  0
2019-01-02      3.0  ...                                  0

[5 rows x 2587 columns]

## Feature Selection with SelectKBest

In [80]:
from sklearn.feature_selection import SelectKBest, f_regression

selector = SelectKBest(score_func=f_regression, k=10)

X_train_selected = selector.fit_transform(X_train, y_train)

selected_mask = selector.get_support()
all_features = X_train.columns
selected_feature = all_features[selected_mask]

print("The selected features: ", selected_feature)

The selected features:  Index(['NEIGHBORHOOD_OTHER', 'NEIGHBORHOOD_FLUSHING-NORTH',
       'NEIGHBORHOOD_FOREST HILLS', 'BLOCK', 'BUILDING_CLASS_AT_PRESENT_A3',
       'ZIP_CODE', 'TOTAL_UNITS', 'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A3'],
      dtype='object')

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

## Ridge Regression

In [89]:
from sklearn.linear_model import Ridge
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
ridge_model = make_pipeline(PolynomialFeatures(10),
                           Ridge(normalize=True, alpha=0.05))

In [90]:
# Chose what features to use
X_train = X_train[['NEIGHBORHOOD_OTHER', 'NEIGHBORHOOD_FLUSHING-NORTH',
       'NEIGHBORHOOD_FOREST HILLS', 'BLOCK', 'BUILDING_CLASS_AT_PRESENT_A3',
       'ZIP_CODE', 'TOTAL_UNITS', 'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A3']]
X_test = X_test[['NEIGHBORHOOD_OTHER', 'NEIGHBORHOOD_FLUSHING-NORTH',
       'NEIGHBORHOOD_FOREST HILLS', 'BLOCK', 'BUILDING_CLASS_AT_PRESENT_A3',
       'ZIP_CODE', 'TOTAL_UNITS', 'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A3']]

In [91]:
# Fit model
ridge_model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('polynomialfeatures',
                 PolynomialFeatures(degree=10, include_bias=True,
                                    interaction_only=False, order='C')),
                ('ridge',
                 Ridge(alpha=0.05, copy_X=True, fit_intercept=True,
                       max_iter=None, normalize=True, random_state=None,
                       solver='auto', tol=0.001))],
         verbose=False)

In [92]:
# Predict
yfit_ridge = ridge_model.predict(X_test)

In [93]:
# See what the MAE
from sklearn import metrics
print("Mean Absolute Error: ", metrics.mean_absolute_error(y_test, yfit_ridge))

Mean Absolute Error:  162871.52588541587

In [94]:
# Make the Baseline
baseline = [y_test.mean()] * len(y_test)

In [95]:
# See what the MAE is
from sklearn import metrics
print("Mean Absolute Error: ", metrics.mean_absolute_error(y_test, baseline))

Mean Absolute Error:  219269.74841022078

## Relatively lower than the Baseline! This means the model is performing quite well. Of course, we could probably maximize the performance even more with more features, but google colab will crash if I try any more of them

### Linear Regression stretch goal

In [96]:
from sklearn.linear_model import LinearRegression

In [97]:
model = LinearRegression()

In [98]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [99]:
yfit_linear = ridge_model.predict(X_test)

In [100]:
print("Mean Absolute Error: ", metrics.mean_absolute_error(y_test, yfit_linear))

Mean Absolute Error:  162871.52588541587

In [101]:
metrics.r2_score(y_test, yfit_linear)

0.32125168648107727

### RidgeCV

In [102]:
from sklearn.linear_model import RidgeCV

ridge_model = make_pipeline(PolynomialFeatures(10),
                           RidgeCV(normalize=True, alphas=(0.1, 1.0, 10.0)))

In [103]:
ridge_model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('polynomialfeatures',
                 PolynomialFeatures(degree=10, include_bias=True,
                                    interaction_only=False, order='C')),
                ('ridgecv',
                 RidgeCV(alphas=array([ 0.1,  1. , 10. ]), cv=None,
                         fit_intercept=True, gcv_mode=None, normalize=True,
                         scoring=None, store_cv_values=False))],
         verbose=False)

In [104]:
ridgecv = ridge_model.predict(X_test)

In [105]:
print("Mean Absolute Error: ", metrics.mean_absolute_error(y_test, ridgecv))

Mean Absolute Error:  158078.05193874054

## Stretch goal, use XGBoost!

In [108]:
from xgboost import XGBRegressor

model = XGBRegressor()

model.fit(X_train, y_train)

[12:54:53] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [109]:
y_pred = model.predict(X_test)

In [110]:
print("Mean Absolute Error: ", metrics.mean_absolute_error(y_test, y_pred))

Mean Absolute Error:  143619.29901113673

In [111]:
print("R^2 metric: ", metrics.r2_score(y_test, y_pred))

R^2 metric:  0.47174317795818677