<a href="https://colab.research.google.com/github/alf-faren/DS-Unit-2-Linear-Models/blob/master/Copy_of_LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [2]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [3]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [4]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

### Data exploration

In [5]:
df.dtypes

BOROUGH                            object
NEIGHBORHOOD                       object
BUILDING_CLASS_CATEGORY            object
TAX_CLASS_AT_PRESENT               object
BLOCK                               int64
LOT                                 int64
EASE-MENT                         float64
BUILDING_CLASS_AT_PRESENT          object
ADDRESS                            object
APARTMENT_NUMBER                   object
ZIP_CODE                          float64
RESIDENTIAL_UNITS                 float64
COMMERCIAL_UNITS                  float64
TOTAL_UNITS                       float64
LAND_SQUARE_FEET                   object
GROSS_SQUARE_FEET                 float64
YEAR_BUILT                        float64
TAX_CLASS_AT_TIME_OF_SALE           int64
BUILDING_CLASS_AT_TIME_OF_SALE     object
SALE_PRICE                          int64
SALE_DATE                          object
dtype: object

In [6]:
df.shape

(23040, 21)

In [7]:
# changing to a datetime format:
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'], infer_datetime_format=True)

In [8]:
# checking for nulls
print(df.isnull().sum())

BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING_CLASS_CATEGORY               0
TAX_CLASS_AT_PRESENT                  1
BLOCK                                 0
LOT                                   0
EASE-MENT                         23040
BUILDING_CLASS_AT_PRESENT             1
ADDRESS                               0
APARTMENT_NUMBER                  17839
ZIP_CODE                              1
RESIDENTIAL_UNITS                     1
COMMERCIAL_UNITS                      1
TOTAL_UNITS                           1
LAND_SQUARE_FEET                     53
GROSS_SQUARE_FEET                     1
YEAR_BUILT                           35
TAX_CLASS_AT_TIME_OF_SALE             0
BUILDING_CLASS_AT_TIME_OF_SALE        0
SALE_PRICE                            0
SALE_DATE                             0
dtype: int64

In [311]:
# drop 'EASE-MENT' since it is all null values
# df = df.drop(columns='EASE-MENT')

### Use a subset of the data where BUILDING_CLASS_CATEGORY == '01 ONE FAMILY DWELLINGS' and the sale price was more than 100 thousand and less than 2 million.

In [9]:
subset = df.loc[(df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS') & 
             (df['SALE_PRICE'] > 100000) & (df['SALE_PRICE'] < 2000000)]
print(subset.shape)
subset['SALE_DATE'].dt.month.value_counts()

(3151, 21)

1    947
3    799
2    761
4    644
Name: SALE_DATE, dtype: int64

### Do train/test split. Use data from January â€” March 2019 to train. Use data from April 2019 to test.

In [10]:
# training data for Jan - March 2019
train = subset[subset['SALE_DATE'].dt.month < 4]
print(train.shape)

(2507, 21)

In [11]:
# testing data for April 2019
test = subset[subset['SALE_DATE'].dt.month == 4]
print(test.shape)

(644, 21)

###Do one-hot encoding of categorical features

In [12]:
# sorting by non-numeric categorical features
train.describe(exclude='number').T.sort_values(by='unique')

                               count unique  ...      first       last
BUILDING_CLASS_CATEGORY         2507      1  ...        NaT        NaT
APARTMENT_NUMBER                   1      1  ...        NaT        NaT
TAX_CLASS_AT_PRESENT            2507      2  ...        NaT        NaT
BOROUGH                         2507      5  ...        NaT        NaT
NEIGHBORHOOD                    2507      7  ...        NaT        NaT
BUILDING_CLASS_AT_TIME_OF_SALE  2507     11  ...        NaT        NaT
BUILDING_CLASS_AT_PRESENT       2507     13  ...        NaT        NaT
SALE_DATE                       2507     68  ... 2019-01-01 2019-03-30
LAND_SQUARE_FEET                2507    887  ...        NaT        NaT
ADDRESS                         2507   2497  ...        NaT        NaT

[10 rows x 6 columns]

In [13]:
# dropping the SALE_PRICE column and the 3 with high cardinality(most unique, uncommon):
target = 'SALE_PRICE'
high_cardinality = ['SALE_DATE', 'LAND_SQUARE_FEET', 'ADDRESS']

features = train.columns.drop([target] + high_cardinality)
X_train = train[features]
y_train = train[target]

X_test = test[features]
y_test = test[target]

In [317]:
# target = 'SALE_PRICE'
# numerics = train.select_dtypes(include='number').columns.drop(target).tolist()
# categoricals = train.select_dtypes(exclude='number').columns.tolist()
# low_cardinality_categoricals = [col for col in categoricals
#                                if train[col].nunique() <= 50]

# features = numerics + low_cardinality_categoricals


# X_train = train[features]
# y_train = train[target]

# X_test = test[features]
# y_test = test[target]

In [17]:
X_train

      BOROUGH  ... BUILDING_CLASS_AT_TIME_OF_SALE
44          3  ...                             A9
61          4  ...                             A1
78          2  ...                             A1
108         3  ...                             A1
111         3  ...                             A5
...       ...  ...                            ...
18129       5  ...                             A2
18130       5  ...                             A5
18132       5  ...                             A1
18134       5  ...                             A2
18147       4  ...                             A0

[2507 rows x 17 columns]

In [18]:
import category_encoders as ce

encoder = ce.OneHotEncoder(use_cat_names=True)
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

In [19]:
X_train_enc = X_train_enc.drop(columns='EASE-MENT')
X_test_enc = X_test_enc.drop(columns='EASE-MENT')

###Do feature selection with SelectKBest.

In [20]:
from sklearn.feature_selection import f_regression, SelectKBest
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import Ridge
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
warnings.filterwarnings(action='ignore', category=RuntimeWarning, module='sklearn')
warnings.filterwarnings(action='ignore', category=RuntimeWarning, module='scipy')

In [21]:
# feature scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_enc)
X_test_scaled = scaler.transform(X_test_enc)

In [22]:
# SelectKBest

for k in range(1, len(X_train_enc.columns)+1):
  print(f'{k} features')
  
  selector = SelectKBest(score_func=f_regression, k=k)
  X_train_selected = selector.fit_transform(X_train_scaled, y_train)
  X_test_selected = selector.transform(X_test_scaled)
  
  model=Ridge()
  model.fit(X_train_selected, y_train)
  
  y_pred = model.predict(X_test_selected)
  mae = mean_absolute_error(y_test, y_pred)
  print(f'Test Mean Absolute Error: ${mae:,.0f} \n')

1 features
Test Mean Absolute Error: $183,644

2 features
Test Mean Absolute Error: $182,573

3 features
Test Mean Absolute Error: $182,573

4 features
Test Mean Absolute Error: $183,442

5 features
Test Mean Absolute Error: $181,935

6 features
Test Mean Absolute Error: $176,458

7 features
Test Mean Absolute Error: $176,999

8 features
Test Mean Absolute Error: $176,704

9 features
Test Mean Absolute Error: $171,669

10 features
Test Mean Absolute Error: $170,980

11 features
Test Mean Absolute Error: $170,525

12 features
Test Mean Absolute Error: $162,283

13 features
Test Mean Absolute Error: $163,497

14 features
Test Mean Absolute Error: $162,504

15 features
Test Mean Absolute Error: $162,505

16 features
Test Mean Absolute Error: $162,360

17 features
Test Mean Absolute Error: $162,360

18 features
Test Mean Absolute Error: $162,116

19 features
Test Mean Absolute Error: $162,116

20 features
Test Mean Absolute Error: $157,841

21 features
Test Mean Absolute Error: $157,909

22 features
Test Mean Absolute Error: $157,912

23 features
Test Mean Absolute Error: $157,912

24 features
Test Mean Absolute Error: $157,584

25 features
Test Mean Absolute Error: $157,535

26 features
Test Mean Absolute Error: $157,515

27 features
Test Mean Absolute Error: $157,608

28 features
Test Mean Absolute Error: $157,582

29 features
Test Mean Absolute Error: $158,448

30 features
Test Mean Absolute Error: $158,545

31 features
Test Mean Absolute Error: $158,545

32 features
Test Mean Absolute Error: $158,543

33 features
Test Mean Absolute Error: $158,195

34 features
Test Mean Absolute Error: $158,174

35 features
Test Mean Absolute Error: $158,195

36 features
Test Mean Absolute Error: $157,848

37 features
Test Mean Absolute Error: $157,848

38 features
Test Mean Absolute Error: $158,860

39 features
Test Mean Absolute Error: $158,176

40 features
Test Mean Absolute Error: $158,212

41 features
Test Mean Absolute Error: $158,207

42 features
Test Mean Absolute Error: $158,207

43 features
Test Mean Absolute Error: $158,238

44 features
Test Mean Absolute Error: $158,405

45 features
Test Mean Absolute Error: $158,396

46 features
Test Mean Absolute Error: $158,396

47 features
Test Mean Absolute Error: $158,395

48 features
Test Mean Absolute Error: $158,409

49 features
Test Mean Absolute Error: $158,409

50 features
Test Mean Absolute Error: $158,409

In [23]:
# to find the features:
k = 27
selector = SelectKBest(score_func=f_regression, k=k)
X_train_selected = selector.fit_transform(X_train_scaled, y_train)

all_features = X_train_enc.columns
selected_mask = selector.get_support()
selected_names = all_features[selected_mask]
unselected_names = all_features[~selected_mask]

print('Features selected:')
for name in selected_names:
  print(name)
  
print('\nFeatures not selected:')
for name in unselected_names:
  print(name)

Features selected:
BOROUGH_3
BOROUGH_4
BOROUGH_2
BOROUGH_5
NEIGHBORHOOD_OTHER
NEIGHBORHOOD_FLUSHING-NORTH
NEIGHBORHOOD_FOREST HILLS
NEIGHBORHOOD_BOROUGH PARK
TAX_CLASS_AT_PRESENT_1D
BLOCK
BUILDING_CLASS_AT_PRESENT_A5
BUILDING_CLASS_AT_PRESENT_A3
BUILDING_CLASS_AT_PRESENT_S1
BUILDING_CLASS_AT_PRESENT_A6
BUILDING_CLASS_AT_PRESENT_A8
BUILDING_CLASS_AT_PRESENT_S0
ZIP_CODE
RESIDENTIAL_UNITS
COMMERCIAL_UNITS
TOTAL_UNITS
GROSS_SQUARE_FEET
BUILDING_CLASS_AT_TIME_OF_SALE_A5
BUILDING_CLASS_AT_TIME_OF_SALE_A3
BUILDING_CLASS_AT_TIME_OF_SALE_S1
BUILDING_CLASS_AT_TIME_OF_SALE_A6
BUILDING_CLASS_AT_TIME_OF_SALE_A8
BUILDING_CLASS_AT_TIME_OF_SALE_S0

Features not selected:
BOROUGH_1
NEIGHBORHOOD_EAST NEW YORK
NEIGHBORHOOD_BEDFORD STUYVESANT
NEIGHBORHOOD_ASTORIA
BUILDING_CLASS_CATEGORY_01 ONE FAMILY DWELLINGS
TAX_CLASS_AT_PRESENT_1
LOT
BUILDING_CLASS_AT_PRESENT_A9
BUILDING_CLASS_AT_PRESENT_A1
BUILDING_CLASS_AT_PRESENT_A0
BUILDING_CLASS_AT_PRESENT_A2
BUILDING_CLASS_AT_PRESENT_A4
BUILDING_CLASS_AT_PRESENT_B2
BUILDING_CLASS_AT_PRESENT_B3
APARTMENT_NUMBER_nan
APARTMENT_NUMBER_RP.
YEAR_BUILT
TAX_CLASS_AT_TIME_OF_SALE
BUILDING_CLASS_AT_TIME_OF_SALE_A9
BUILDING_CLASS_AT_TIME_OF_SALE_A1
BUILDING_CLASS_AT_TIME_OF_SALE_A0
BUILDING_CLASS_AT_TIME_OF_SALE_A2
BUILDING_CLASS_AT_TIME_OF_SALE_A4

###Fit a ridge regression model with multiple features. Use the normalize=True parameter (or do feature scaling beforehand â€” use the scaler's fit_transform method with the train set, and the scaler's transform method with the test set)

In [25]:
import matplotlib.pyplot as plt
from sklearn.linear_model import Ridge

for alpha in [.001, .01, .1, 1.0, 10.0, 100.0]:


  features = ['BOROUGH_3', 'BOROUGH_2', 'BOROUGH_5']
  print(f'Ridge Regression, with alpha={alpha}')
  model = Ridge(alpha = alpha, normalize=True)
  model.fit(X_train[features], y_train)

  y_pred = model.predict(X_test[features])
  mae = mean_absolute_error(y_test, y_pred)
  print(f'Test mean Absolute Error: ${mae:,.0f}')

Ridge Regression, with alpha=0.001
Test mean Absolute Error: $211,052
Ridge Regression, with alpha=0.01
Test mean Absolute Error: $210,953
Ridge Regression, with alpha=0.1
Test mean Absolute Error: $210,234
Ridge Regression, with alpha=1.0
Test mean Absolute Error: $209,090
Ridge Regression, with alpha=10.0
Test mean Absolute Error: $210,570
Ridge Regression, with alpha=100.0
Test mean Absolute Error: $211,445