<a href="https://colab.research.google.com/github/jpiche0720/DS-Unit-2-Linear-Models/blob/master/module3-ridge-regression/LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# DIRECTIONS

italicized text# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [X] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [X] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [X] Do one-hot encoding of categorical features.
- [X] Do feature selection with `SelectKBest`.
- [X] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [X] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


#Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

# BEGIN CODE

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

# Subset Data 

- for single family dwellings 100k - 2m
- train jan-march for april testing

In [148]:
print(df.shape)
df.head()

(23040, 21)

  BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1                    OTHER  ...          0  01/01/2019
1       1                    OTHER  ...          0  01/01/2019
2       1                    OTHER  ...          0  01/01/2019
3       1                    OTHER  ...          0  01/01/2019
4       1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019

[5 rows x 21 columns]

In [149]:
df.describe()

              BLOCK           LOT  ...  TAX_CLASS_AT_TIME_OF_SALE    SALE_PRICE
count  23040.000000  23040.000000  ...               23040.000000  2.304000e+04
mean    4459.116493    353.948481  ...                   1.624479  1.328133e+06
std     3713.269887    628.025255  ...                   0.803898  1.025394e+07
min        1.000000      1.000000  ...                   1.000000  0.000000e+00
25%     1341.000000     22.000000  ...                   1.000000  0.000000e+00
50%     3546.000000     49.000000  ...                   1.000000  4.550000e+05
75%     6673.750000    375.000000  ...                   2.000000  8.750000e+05
max    16350.000000   9057.000000  ...                   4.000000  8.500000e+08

[8 rows x 11 columns]

In [150]:
df['BUILDING_CLASS_CATEGORY'].value_counts()

01 ONE FAMILY DWELLINGS                       5061
02 TWO FAMILY DWELLINGS                       4567
10 COOPS - ELEVATOR APARTMENTS                3471
13 CONDOS - ELEVATOR APARTMENTS               3339
03 THREE FAMILY DWELLINGS                     1438
07 RENTALS - WALKUP APARTMENTS                 807
09 COOPS - WALKUP APARTMENTS                   672
15 CONDOS - 2-10 UNIT RESIDENTIAL              421
04 TAX CLASS 1 CONDOS                          418
44 CONDO PARKING                               366
17 CONDO COOPS                                 300
05 TAX CLASS 1 VACANT LAND                     288
22 STORE BUILDINGS                             288
12 CONDOS - WALKUP APARTMENTS                  256
14 RENTALS - 4-10 UNIT                         200
29 COMMERCIAL GARAGES                          147
08 RENTALS - ELEVATOR APARTMENTS               120
30 WAREHOUSES                                  105
21 OFFICE BUILDINGS                             96
43 CONDO OFFICE BUILDINGS                       80
31 COMMERCIAL VACANT LAND                       80
47 CONDO NON-BUSINESS STORAGE                   75
46 CONDO STORE BUILDINGS                        65
27 FACTORIES                                    54
06 TAX CLASS 1 - OTHER                          42
37 RELIGIOUS FACILITIES                         38
45 CONDO HOTELS                                 32
41 TAX CLASS 4 - OTHER                          30
11A CONDO-RENTALS                               30
16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT      29
33 EDUCATIONAL FACILITIES                       24
28 COMMERCIAL CONDOS                            23
32 HOSPITAL AND HEALTH FACILITIES               21
26 OTHER HOTELS                                 15
35 INDOOR PUBLIC AND CULTURAL FACILITIES         7
23 LOFT BUILDINGS                                7
34 THEATRES                                      7
25 LUXURY HOTELS                                 6
36 OUTDOOR RECREATIONAL FACILITIES               4
49 CONDO WAREHOUSES/FACTORY/INDUS                4
48 CONDO TERRACES/GARDENS/CABANAS                3
38 ASYLUMS AND HOMES                             2
39 TRANSPORTATION FACILITIES                     1
42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC        1
Name: BUILDING_CLASS_CATEGORY, dtype: int64

In [151]:
data = df[df['BUILDING_CLASS_CATEGORY']== '01 ONE FAMILY DWELLINGS']
print(data.shape)
data.head()

(5061, 21)

   BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
7        2        OTHER  ...          0  01/01/2019
8        2        OTHER  ...          0  01/01/2019
9        2        OTHER  ...          0  01/01/2019
42       3        OTHER  ...          0  01/01/2019
44       3        OTHER  ...     550000  01/01/2019

[5 rows x 21 columns]

In [152]:
data = data[data['SALE_PRICE']>= 100000]
data = data[data['SALE_PRICE']<= 2000000]
data['SALE_PRICE'].max()

2000000

In [0]:
data['SALE_DATE'] = pd.to_datetime(data['SALE_DATE'])

In [154]:
data['SALE_DATE'].max()

Timestamp('2019-04-30 00:00:00')

In [0]:
data = data.dropna(axis=1)

# Train/Test

In [0]:
train = data[data['SALE_DATE']< pd.to_datetime('04/01/2019')]
test = data[data['SALE_DATE']>= pd.to_datetime('04/01/2019')]

In [157]:
print(train.shape)
train.head()

(2517, 19)

    BOROUGH NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
44        3        OTHER  ...     550000 2019-01-01
61        4        OTHER  ...     200000 2019-01-01
78        2        OTHER  ...     810000 2019-01-02
108       3        OTHER  ...     125000 2019-01-02
111       3        OTHER  ...     620000 2019-01-02

[5 rows x 19 columns]

In [158]:
print(test.shape)
test.head()

(647, 19)

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
18235       2        OTHER  ...     895000 2019-04-01
18239       2        OTHER  ...     253500 2019-04-01
18244       3        OTHER  ...    1300000 2019-04-01
18280       3        OTHER  ...     789000 2019-04-01
18285       3        OTHER  ...     525000 2019-04-01

[5 rows x 19 columns]

# Layout Variables

In [0]:
target = 'SALE_PRICE'
features = train.columns.drop(['SALE_PRICE','SALE_DATE','TAX_CLASS_AT_TIME_OF_SALE','BUILDING_CLASS_CATEGORY'])
X_train = train[features]
y_train = train[target]
X_test = test[features]
y_true = test[target]

# One-Hot encoding for cat variables

In [0]:
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)

X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

In [161]:
print(X_train.shape)
X_train.head()

(2517, 3442)

     BOROUGH_3  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
44           1  ...                                  0
61           0  ...                                  0
78           0  ...                                  0
108          1  ...                                  0
111          1  ...                                  0

[5 rows x 3442 columns]

In [162]:
print(X_test.shape)
X_test.head()

(647, 3442)

       BOROUGH_3  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
18235          0  ...                                  0
18239          0  ...                                  0
18244          1  ...                                  0
18280          1  ...                                  0
18285          1  ...                                  0

[5 rows x 3442 columns]

# SELECTKBEST

In [0]:
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from sklearn.metrics import mean_absolute_error
import numpy as np

selector = SelectKBest(score_func=f_regression,k=12)

In [164]:


X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)
X_train_selected.shape, X_test_selected.shape

((2517, 12), (647, 12))

In [0]:


colnames = X_train.columns
selected_mask = selector.get_support()
col_sel = colnames[selected_mask]
col_unsel = colnames[~selected_mask]

In [166]:
for name in col_sel:
  print(name)

BOROUGH_3
BOROUGH_2
BOROUGH_5
NEIGHBORHOOD_OTHER
NEIGHBORHOOD_FLUSHING-NORTH
NEIGHBORHOOD_FOREST HILLS
BLOCK
BUILDING_CLASS_AT_PRESENT_A3
ZIP_CODE
TOTAL_UNITS
GROSS_SQUARE_FEET
BUILDING_CLASS_AT_TIME_OF_SALE_A3

In [167]:

for k in range(1,15):
  
  selector = SelectKBest(score_func=f_regression,k=k)
  X_train_selected = selector.fit_transform(X_train, y_train)
  X_test_selected = selector.transform(X_test)
  
  model = LinearRegression()
  model.fit(X_train_selected,y_train)
  y_pred = model.predict(X_test_selected)
  
  mae = mean_absolute_error(y_true,y_pred)
  
  print(f'The mae = ${mae:.0f}')

The mae = $185788
The mae = $184748
The mae = $184748
The mae = $185822
The mae = $184054
The mae = $178877
The mae = $179359
The mae = $179041
The mae = $174044
The mae = $165820
The mae = $165486
The mae = $164614
The mae = $166183
The mae = $165316

# Ridge Regression

In [0]:
selector = SelectKBest(score_func=f_regression,k=922)
X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)

In [0]:
model = Ridge(normalize=True)
model.fit(X_train_selected,y_train)
y_pred = model.predict(X_test_selected)

In [170]:
mae = mean_absolute_error(y_true, y_pred)
print(f'The MAE = ${mae:.0f}')

The MAE = $181779

# RIDGECV

In [0]:


selector = SelectKBest(score_func=f_regression,k=39)
X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)

In [0]:
model = RidgeCV()
model.fit(X_train_selected,y_train)
y_pred = model.predict(X_test_selected)

In [207]:
mae = mean_absolute_error(y_true, y_pred)
print(f'The MAE considering 38 features = ${mae:.0f}')

The MAE considering 38 features = $158909

In [199]:
for k in range(30,45):
  
  selector = SelectKBest(score_func=f_regression,k=k)
  X_train_selected = selector.fit_transform(X_train, y_train)
  X_test_selected = selector.transform(X_test)
  
  model = RidgeCV()
  model.fit(X_train_selected,y_train)
  y_pred = model.predict(X_test_selected)
  
  mae = mean_absolute_error(y_true,y_pred)
  
  print(f'The mae = ${mae:.0f}')

The mae = $159432
The mae = $159435
The mae = $159437
The mae = $159369
The mae = $159387
The mae = $159145
The mae = $159039
The mae = $158976
The mae = $158939
The mae = $158909
The mae = $159966
The mae = $160017
The mae = $160020
The mae = $159984
The mae = $159992