Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [17]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [18]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [19]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [20]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [21]:
df.sample(5)

      BOROUGH    NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
18915       1           OTHER  ...     910000  04/04/2019
4741        1           OTHER  ...    2665000  01/25/2019
22890       1           OTHER  ...          0  04/30/2019
22630       3           OTHER  ...          0  04/26/2019
3161        4  FLUSHING-NORTH  ...    5000000  01/17/2019

[5 rows x 21 columns]

In [22]:
#subsetting the data

df = df[(df['SALE_PRICE'] > 100000) & (df['SALE_PRICE'] < 2000000) & 
        (df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS')]

df.sample(5)

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
16137       4        OTHER  ...     810000  03/21/2019
16149       4        OTHER  ...     490000  03/21/2019
3127        4      ASTORIA  ...    1260000  01/17/2019
6229        3        OTHER  ...     522500  01/31/2019
14084       4        OTHER  ...     850000  03/12/2019

[5 rows x 21 columns]

In [23]:
#splitting into test and train

df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'], infer_datetime_format=True)
train_cutoff = pd.to_datetime('03/31/2019', infer_datetime_format=True)
train = df[df['SALE_DATE'] <= train_cutoff]
test = df[df['SALE_DATE'] > train_cutoff]
train.shape, test.shape

((2507, 21), (644, 21))

#One Hot Encoding

In [24]:
#finding the categorical features with low cardinality 

train.describe(exclude='number')

       BOROUGH NEIGHBORHOOD  ... BUILDING_CLASS_AT_TIME_OF_SALE            SALE_DATE
count     2507         2507  ...                           2507                 2507
unique       5            7  ...                             11                   68
top          4        OTHER  ...                             A1  2019-01-31 00:00:00
freq      1204         2360  ...                            919                   78
first      NaN          NaN  ...                            NaN  2019-01-01 00:00:00
last       NaN          NaN  ...                            NaN  2019-03-30 00:00:00

[6 rows x 10 columns]

In [25]:
#splitting into X and y 

target = 'SALE_PRICE'
high_cardinality = ['ADDRESS', 'LAND_SQUARE_FEET', 'SALE_DATE']
features = train.columns.drop([target] + high_cardinality)

features

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING_CLASS_AT_PRESENT', 'APARTMENT_NUMBER', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'GROSS_SQUARE_FEET', 'YEAR_BUILT', 'TAX_CLASS_AT_TIME_OF_SALE',
       'BUILDING_CLASS_AT_TIME_OF_SALE'],
      dtype='object')

In [26]:
X_train = train[features]
y_train = train[target]

X_test = test[features]
y_test = test[target]

In [27]:
#Applying one hot encoding to the data'
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)
X_train.sample(5)

       BOROUGH_3  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
2354           0  ...                                  0
16468          0  ...                                  0
9851           0  ...                                  0
13209          1  ...                                  0
7604           1  ...                                  0

[5 rows x 51 columns]

In [28]:
#adding back square feet of land to test and train because it may be a useful column 
X_train['LAND_SQUARE_FEET'] = train['LAND_SQUARE_FEET'].str.replace(',', '').astype(int)
X_test['LAND_SQUARE_FEET'] = test['LAND_SQUARE_FEET'].str.replace(',', '').astype(int)

In [29]:
list(X_test.columns)

['BOROUGH_3',
 'BOROUGH_4',
 'BOROUGH_2',
 'BOROUGH_5',
 'BOROUGH_1',
 'NEIGHBORHOOD_OTHER',
 'NEIGHBORHOOD_FLUSHING-NORTH',
 'NEIGHBORHOOD_EAST NEW YORK',
 'NEIGHBORHOOD_BEDFORD STUYVESANT',
 'NEIGHBORHOOD_FOREST HILLS',
 'NEIGHBORHOOD_BOROUGH PARK',
 'NEIGHBORHOOD_ASTORIA',
 'BUILDING_CLASS_CATEGORY_01 ONE FAMILY DWELLINGS',
 'TAX_CLASS_AT_PRESENT_1',
 'TAX_CLASS_AT_PRESENT_1D',
 'BLOCK',
 'LOT',
 'EASE-MENT',
 'BUILDING_CLASS_AT_PRESENT_A9',
 'BUILDING_CLASS_AT_PRESENT_A1',
 'BUILDING_CLASS_AT_PRESENT_A5',
 'BUILDING_CLASS_AT_PRESENT_A0',
 'BUILDING_CLASS_AT_PRESENT_A2',
 'BUILDING_CLASS_AT_PRESENT_A3',
 'BUILDING_CLASS_AT_PRESENT_S1',
 'BUILDING_CLASS_AT_PRESENT_A4',
 'BUILDING_CLASS_AT_PRESENT_A6',
 'BUILDING_CLASS_AT_PRESENT_A8',
 'BUILDING_CLASS_AT_PRESENT_B2',
 'BUILDING_CLASS_AT_PRESENT_S0',
 'BUILDING_CLASS_AT_PRESENT_B3',
 'APARTMENT_NUMBER_nan',
 'APARTMENT_NUMBER_RP.',
 'ZIP_CODE',
 'RESIDENTIAL_UNITS',
 'COMMERCIAL_UNITS',
 'TOTAL_UNITS',
 'GROSS_SQUARE_FEET',
 'YEAR_BUILT',
 'TAX_CLASS_AT_TIME_OF_SALE',
 'BUILDING_CLASS_AT_TIME_OF_SALE_A9',
 'BUILDING_CLASS_AT_TIME_OF_SALE_A1',
 'BUILDING_CLASS_AT_TIME_OF_SALE_A5',
 'BUILDING_CLASS_AT_TIME_OF_SALE_A0',
 'BUILDING_CLASS_AT_TIME_OF_SALE_A2',
 'BUILDING_CLASS_AT_TIME_OF_SALE_A3',
 'BUILDING_CLASS_AT_TIME_OF_SALE_S1',
 'BUILDING_CLASS_AT_TIME_OF_SALE_A4',
 'BUILDING_CLASS_AT_TIME_OF_SALE_A6',
 'BUILDING_CLASS_AT_TIME_OF_SALE_A8',
 'BUILDING_CLASS_AT_TIME_OF_SALE_S0',
 'LAND_SQUARE_FEET']

In [30]:
X_train.isnull().sum()

BOROUGH_3                                             0
BOROUGH_4                                             0
BOROUGH_2                                             0
BOROUGH_5                                             0
BOROUGH_1                                             0
NEIGHBORHOOD_OTHER                                    0
NEIGHBORHOOD_FLUSHING-NORTH                           0
NEIGHBORHOOD_EAST NEW YORK                            0
NEIGHBORHOOD_BEDFORD STUYVESANT                       0
NEIGHBORHOOD_FOREST HILLS                             0
NEIGHBORHOOD_BOROUGH PARK                             0
NEIGHBORHOOD_ASTORIA                                  0
BUILDING_CLASS_CATEGORY_01 ONE FAMILY DWELLINGS       0
TAX_CLASS_AT_PRESENT_1                                0
TAX_CLASS_AT_PRESENT_1D                               0
BLOCK                                                 0
LOT                                                   0
EASE-MENT                                          2507
BUILDING_CLASS_AT_PRESENT_A9                          0
BUILDING_CLASS_AT_PRESENT_A1                          0
BUILDING_CLASS_AT_PRESENT_A5                          0
BUILDING_CLASS_AT_PRESENT_A0                          0
BUILDING_CLASS_AT_PRESENT_A2                          0
BUILDING_CLASS_AT_PRESENT_A3                          0
BUILDING_CLASS_AT_PRESENT_S1                          0
BUILDING_CLASS_AT_PRESENT_A4                          0
BUILDING_CLASS_AT_PRESENT_A6                          0
BUILDING_CLASS_AT_PRESENT_A8                          0
BUILDING_CLASS_AT_PRESENT_B2                          0
BUILDING_CLASS_AT_PRESENT_S0                          0
BUILDING_CLASS_AT_PRESENT_B3                          0
APARTMENT_NUMBER_nan                                  0
APARTMENT_NUMBER_RP.                                  0
ZIP_CODE                                              0
RESIDENTIAL_UNITS                                     0
COMMERCIAL_UNITS                                      0
TOTAL_UNITS                                           0
GROSS_SQUARE_FEET                                     0
YEAR_BUILT                                            0
TAX_CLASS_AT_TIME_OF_SALE                             0
BUILDING_CLASS_AT_TIME_OF_SALE_A9                     0
BUILDING_CLASS_AT_TIME_OF_SALE_A1                     0
BUILDING_CLASS_AT_TIME_OF_SALE_A5                     0
BUILDING_CLASS_AT_TIME_OF_SALE_A0                     0
BUILDING_CLASS_AT_TIME_OF_SALE_A2                     0
BUILDING_CLASS_AT_TIME_OF_SALE_A3                     0
BUILDING_CLASS_AT_TIME_OF_SALE_S1                     0
BUILDING_CLASS_AT_TIME_OF_SALE_A4                     0
BUILDING_CLASS_AT_TIME_OF_SALE_A6                     0
BUILDING_CLASS_AT_TIME_OF_SALE_A8                     0
BUILDING_CLASS_AT_TIME_OF_SALE_S0                     0
LAND_SQUARE_FEET                                      0
dtype: int64

In [31]:
X_train.drop('EASE-MENT', axis=1, inplace=True)
X_test.drop('EASE-MENT', axis=1, inplace=True)

In [37]:
X_train.shape

(2507, 51)

In [ ]:
X_train.shape, y_train.shape

#selecting features with Kbest

In [40]:
#finding how what K value is best for out ridge regression data
import warnings
warnings.filterwarnings('ignore')

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.feature_selection import SelectKBest, f_regression

for k in range(1, len(X_train.columns)+ 1):
  print(k, 'features')

  selector = SelectKBest(score_func=f_regression, k=k)
  X_train_selected = selector.fit_transform(X_train, y_train)
  X_test_selected = selector.transform(X_test)

  model = LinearRegression()
  model.fit(X_train_selected, y_train)
  y_pred = model.predict(X_test_selected)
  mae = mean_absolute_error(y_test, y_pred)
  print(mae)

1 features
183640.5858012459
2 features
179554.76843033516
3 features
179291.46658251202
4 features
179291.46658251315
5 features
178896.91028453427
6 features
177128.05627841034
7 features
171377.51979181689
8 features
171464.9236411722
9 features
170925.15918959922
10 features
167467.6534826572
11 features
167181.8079770252
12 features
166712.32028072016
13 features
156488.3995649053
14 features
157546.39911151255
15 features
157543.1574464786
16 features
157544.7025643954
17 features
157405.8454338135
18 features
157405.8454338105
19 features
157282.47005799421
20 features
157282.47005800027
21 features
152830.40163785467
22 features
152861.07851621442
23 features
152861.07851623124
24 features
152861.07851623904
25 features
152861.0785162184
26 features
152551.53848446786
27 features
152414.7649820592
28 features
152337.67446251912
29 features
152288.19845744455
30 features
153293.65932598233
31 features
153448.67631508224
32 features
153448.67631506902
33 features
153437.25548474758
34 features
153418.89382234795
35 features
153413.73094079096
36 features
153394.25749326457
37 features
153204.70235751694
38 features
153204.7023575364
39 features
154578.88620324145
40 features
154681.4501848063
41 features
154737.99503713605
42 features
154731.71616770708
43 features
154731.71616770327
44 features
154720.2085300161
45 features
154956.90266176584
46 features
154917.93533506108
47 features
154913.92897563806
48 features
154914.903435559
49 features
154913.05953998448
50 features
154916.8312791149
51 features
154902.26048136645

31 features seems to be the sweet spot

In [41]:
#applying a KBest selector with 14 features 
selector = SelectKBest(k=31)

X_train = selector.fit_transform(X_train, y_train)
X_test = selector.transform(X_test)

X_train.shape, X_test.shape

((2507, 31), (644, 31))

#Running Ridge Regression

In [52]:
#finding the best alpha value 
alphas = []
for num in range (1,10000):
  x = num * .1
  alphas.append(x)

from sklearn.linear_model import RidgeCV
ridge = RidgeCV(alphas=alphas, normalize=True)
ridge.fit(X_train, y_train)
ridge.alpha_

0.1

In [56]:
#Fitting the model
from sklearn.linear_model import Ridge
model = Ridge(alpha=.1, normalize=True)
model.fit(X_train, y_train)
y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred)
mae

175898.57988723103

In [61]:
#applying the model to new data and testing 
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'test error is: {mae:,.02f} dollars')

test error is: 176,812.41 dollars