Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

- One Hot Encoding
- Feature Selection
- Feature Scaling
- Ridge Regression

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

1. ‚úîÔ∏è Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
2. ‚úîÔ∏è Do train/test split. Use data from January ‚Äî¬†March 2019 to train. Use data from April 2019 to test.
3. ‚úîÔ∏è Do one-hot encoding of categorical features.
4. ‚úîÔ∏è Do feature selection with `SelectKBest`.
5. ‚úîÔ∏è Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html). Use the scaler's `fit_transform` method with the train set. Use the scaler's `transform` method with the test set.
6. ‚úîÔ∏è Fit a ridge regression model with multiple features.
7. [ ] Get mean absolute error for the test set.
8. [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! üí•
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if you‚Äôre interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [5]:
df.head()

  BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1                    OTHER  ...          0  01/01/2019
1       1                    OTHER  ...          0  01/01/2019
2       1                    OTHER  ...          0  01/01/2019
3       1                    OTHER  ...          0  01/01/2019
4       1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019

[5 rows x 21 columns]

In [6]:
# Use a subset of the data where BUILDING_CLASS_CATEGORY == '01 ONE FAMILY DWELLINGS'
# and the sale price was more than 100 thousand and less than 2 million.
df2 = df[(df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS') &
         (df['SALE_PRICE'] > 100000) &
         (df['SALE_PRICE'] < 2000000)]
df2 = df2.drop(columns=['BUILDING_CLASS_CATEGORY'])

print(df.shape)
print(df2.shape)

(23040, 21)
(3151, 20)

In [7]:
# Do train/test split. Use data from January ‚Äî March 2019
# to train. Use data from April 2019 to test.

# make sure we're only working with Jan, Feb, Mar, Apr of 2019
df2['SALE_DATE'] = pd.to_datetime(df2['SALE_DATE'], infer_datetime_format=True)
m = df2['SALE_DATE'].dt.month
y = df2['SALE_DATE'].dt.year
print(m.describe())
print(y.describe())

count    3151.00000
mean        2.36179
std         1.11406
min         1.00000
25%         1.00000
50%         2.00000
75%         3.00000
max         4.00000
Name: SALE_DATE, dtype: float64
count    3151.0
mean     2019.0
std         0.0
min      2019.0
25%      2019.0
50%      2019.0
75%      2019.0
max      2019.0
Name: SALE_DATE, dtype: float64

In [8]:
df_train = df2[df2['SALE_DATE'].dt.month < 4]
df_test = df2[df2['SALE_DATE'].dt.month == 4]
df_train.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT',
       'EASE-MENT', 'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER',
       'ZIP_CODE', 'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_PRICE', 'SALE_DATE'],
      dtype='object')

In [0]:
# Do one-hot encoding of categorical features.

# Some categorical features have soo many unique
# values; let's drop them before one-hot-encoding
so_many_values = ['ADDRESS', 'LAND_SQUARE_FEET', 'SALE_DATE', 'EASE-MENT']
df_train = df_train.drop(columns=so_many_values)
df_test = df_test.drop(columns=so_many_values)

In [0]:
from category_encoders import OneHotEncoder
encoder = OneHotEncoder()
df_train = encoder.fit_transform(df_train)
df_test = encoder.transform(df_test)

In [28]:
# Do feature selection with `SelectKBest`.
from sklearn.feature_selection import f_regression, SelectKBest
selector = SelectKBest(score_func=f_regression, k=15)
X_train = selector.fit_transform(df_train.drop(columns=['SALE_PRICE']), df_train['SALE_PRICE'])
X_test = selector.transform(df_test.drop(columns=['SALE_PRICE']))

# What were chosen?
import numpy as np
oh_my_god = selector.get_support()
oh_my_god = np.append(oh_my_god, False)
df_train.columns[oh_my_god]

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1892: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

Index(['BOROUGH_1', 'BOROUGH_3', 'BOROUGH_4', 'NEIGHBORHOOD_1',
       'NEIGHBORHOOD_2', 'NEIGHBORHOOD_4', 'BLOCK',
       'BUILDING_CLASS_AT_PRESENT_3', 'BUILDING_CLASS_AT_PRESENT_6',
       'ZIP_CODE', 'COMMERCIAL_UNITS', 'TOTAL_UNITS', 'GROSS_SQUARE_FEET',
       'BUILDING_CLASS_AT_TIME_OF_SALE_3', 'BUILDING_CLASS_AT_TIME_OF_SALE_6'],
      dtype='object')

In [0]:
# Do feature scaling. Use the scaler's fit_transform method
# with the train set. Use the scaler's transform method with the test set.
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [0]:
# Fit a ridge regression model with multiple features.
from sklearn.linear_model import Ridge
model = Ridge()
y_train = df_train['SALE_PRICE']
y_test = df_test['SALE_PRICE']
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [32]:
# Get mean absolute error for the test set.
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

161662.93143523822