Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [75]:
print(df.shape)
df.head()

(23040, 21)

  BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1                    OTHER  ...          0  01/01/2019
1       1                    OTHER  ...          0  01/01/2019
2       1                    OTHER  ...          0  01/01/2019
3       1                    OTHER  ...          0  01/01/2019
4       1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019

[5 rows x 21 columns]

In [0]:
#Okay subsetting data.
#Doing a copy, because I'm going to use inplace later
#so first splitting to single family dwellings
subset = df[df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS'].copy()

#next price is 100,000 > 2,000,000
#lets try it with queries now
subset.query('SALE_PRICE > 100000', inplace = True)
subset.query('SALE_PRICE < 2000000', inplace = True)

In [77]:
#Just verifying I properly subset my data
print(subset.shape)
print(subset['SALE_PRICE'].min())
print(subset['SALE_PRICE'].max())
subset['BUILDING_CLASS_CATEGORY'].value_counts()

(3151, 21)
104000
1955000

01 ONE FAMILY DWELLINGS    3151
Name: BUILDING_CLASS_CATEGORY, dtype: int64

In [78]:
#I should check for nans
subset.isnull().sum()

BOROUGH                              0
NEIGHBORHOOD                         0
BUILDING_CLASS_CATEGORY              0
TAX_CLASS_AT_PRESENT                 0
BLOCK                                0
LOT                                  0
EASE-MENT                         3151
BUILDING_CLASS_AT_PRESENT            0
ADDRESS                              0
APARTMENT_NUMBER                  3150
ZIP_CODE                             0
RESIDENTIAL_UNITS                    0
COMMERCIAL_UNITS                     0
TOTAL_UNITS                          0
LAND_SQUARE_FEET                     0
GROSS_SQUARE_FEET                    0
YEAR_BUILT                           0
TAX_CLASS_AT_TIME_OF_SALE            0
BUILDING_CLASS_AT_TIME_OF_SALE       0
SALE_PRICE                           0
SALE_DATE                            0
dtype: int64

In [79]:
#Okay, easment is a garbage column so I can drop that, and apartment is more or
#less a garbage column with only one value.  So lets just kill those.
subset.drop(['EASE-MENT', 'APARTMENT_NUMBER'], axis = 1, inplace = True)
print(subset.shape)
subset.isnull().sum()

(3151, 19)

BOROUGH                           0
NEIGHBORHOOD                      0
BUILDING_CLASS_CATEGORY           0
TAX_CLASS_AT_PRESENT              0
BLOCK                             0
LOT                               0
BUILDING_CLASS_AT_PRESENT         0
ADDRESS                           0
ZIP_CODE                          0
RESIDENTIAL_UNITS                 0
COMMERCIAL_UNITS                  0
TOTAL_UNITS                       0
LAND_SQUARE_FEET                  0
GROSS_SQUARE_FEET                 0
YEAR_BUILT                        0
TAX_CLASS_AT_TIME_OF_SALE         0
BUILDING_CLASS_AT_TIME_OF_SALE    0
SALE_PRICE                        0
SALE_DATE                         0
dtype: int64

In [80]:
#turning sale date into datetime object for better analysis
subset['DATE_TIME'] = pd.to_datetime(subset['SALE_DATE'])
print(subset['DATE_TIME'].min())
print(subset['DATE_TIME'].max())

2019-01-01 00:00:00
2019-04-30 00:00:00

In [0]:
#okay easy enough, just split on the first of april
train = subset[subset['DATE_TIME'] < pd.Timestamp('04/01/2019')]
test = subset[subset['DATE_TIME'] >= pd.Timestamp('04/01/2019')]

In [82]:
print(train.shape)
train['DATE_TIME'].describe()

(2507, 20)

count                    2507
unique                     68
top       2019-01-31 00:00:00
freq                       78
first     2019-01-01 00:00:00
last      2019-03-30 00:00:00
Name: DATE_TIME, dtype: object

In [83]:
print(test.shape)
test['DATE_TIME'].describe()

(644, 20)

count                     644
unique                     23
top       2019-04-15 00:00:00
freq                       43
first     2019-04-01 00:00:00
last      2019-04-30 00:00:00
Name: DATE_TIME, dtype: object

In [89]:
#okay looks like training and testing sets are split like I wanted them to
#next I need to drop a few non-categorical columns for the actual training sets
#otherwise I get some wacky OneHotEncoding (like a category for every date
#in the data set).  

#So first lets just eyeball it and drop anything that I know will be a problem
subset.head()

    BOROUGH NEIGHBORHOOD  ...   SALE_DATE  DATE_TIME
44        3        OTHER  ...  01/01/2019 2019-01-01
61        4        OTHER  ...  01/01/2019 2019-01-01
78        2        OTHER  ...  01/02/2019 2019-01-02
108       3        OTHER  ...  01/02/2019 2019-01-02
111       3        OTHER  ...  01/02/2019 2019-01-02

[5 rows x 20 columns]

In [91]:
#trying to identify high cardinality features
for column in subset.columns:
  print(subset[column].value_counts())

4    1580
5     738
3     537
2     293
1       3
Name: BOROUGH, dtype: int64
OTHER                 2990
FLUSHING-NORTH          97
FOREST HILLS            22
BOROUGH PARK            19
ASTORIA                 14
BEDFORD STUYVESANT       9
Name: NEIGHBORHOOD, dtype: int64
01 ONE FAMILY DWELLINGS    3151
Name: BUILDING_CLASS_CATEGORY, dtype: int64
1     3111
1D      40
Name: TAX_CLASS_AT_PRESENT, dtype: int64
16350    21
1272      7
5506      6
6022      6
5735      6
         ..
569       1
4667      1
5730      1
6720      1
6145      1
Name: BLOCK, Length: 2496, dtype: int64
20      58
19      56
1       53
31      47
40      46
        ..
556      1
554      1
488      1
484      1
1200     1
Name: LOT, Length: 332, dtype: int64
A1    1185
A5     985
A2     491
A9     239
A0      85
S1      48
A3      43
A8      40
A4      16
A6      15
B2       2
B3       1
S0       1
Name: BUILDING_CLASS_AT_PRESENT, dtype: int64
33 BAILEY PLACE              2
216-29 114TH ROAD            2
118-20 202ND STREET          2
117-45 125TH STREET          2
130-52 LEFFERTS BOULEVARD    2
                            ..
2215 UNIVERSITY AVE          1
124 PELICAN CIRCLE           1
274 DAVIS AVENUE             1
40 LOTT LANE                 1
243-15 145TH AVENUE          1
Name: ADDRESS, Length: 3135, dtype: int64
10306.0    127
10312.0    124
10314.0    113
11434.0    100
11234.0     90
          ...
11220.0      1
10459.0      1
11238.0      1
11102.0      1
11217.0      1
Name: ZIP_CODE, Length: 125, dtype: int64
1.0    3110
0.0      40
2.0       1
Name: RESIDENTIAL_UNITS, dtype: int64
0.0    3102
1.0      48
2.0       1
Name: COMMERCIAL_UNITS, dtype: int64
1.0    3061
2.0      49
0.0      40
3.0       1
Name: TOTAL_UNITS, dtype: int64
4,000    289
2,000    239
2,500    196
1,800    130
3,000    111
        ...
1,992      1
2,402      1
5,994      1
3,915      1
9,164      1
Name: LAND_SQUARE_FEET, Length: 1035, dtype: int64
1440.0    47
1296.0    40
0.0       40
1280.0    39
1200.0    36
          ..
1317.0     1
2572.0     1
2852.0     1
2165.0     1
3229.0     1
Name: GROSS_SQUARE_FEET, Length: 1050, dtype: int64
1920.0    382
1925.0    374
1930.0    339
1950.0    265
1940.0    242
         ...
1937.0      1
1890.0      1
1941.0      1
1928.0      1
1927.0      1
Name: YEAR_BUILT, Length: 89, dtype: int64
1    3151
Name: TAX_CLASS_AT_TIME_OF_SALE, dtype: int64
A1    1186
A5     985
A2     493
A9     239
A0      85
S1      48
A3      43
A8      40
A4      16
A6      15
S0       1
Name: BUILDING_CLASS_AT_TIME_OF_SALE, dtype: int64
500000    48
550000    43
450000    40
525000    40
650000    36
          ..
413000     1
672045     1
457000     1
608550     1
727000     1
Name: SALE_PRICE, Length: 1000, dtype: int64
01/31/2019    78
03/29/2019    62
02/28/2019    58
01/15/2019    57
01/24/2019    56
              ..
03/09/2019     1
03/30/2019     1
02/17/2019     1
04/14/2019     1
03/17/2019     1
Name: SALE_DATE, Length: 91, dtype: int64
2019-01-31    78
2019-03-29    62
2019-02-28    58
2019-01-15    57
2019-01-24    56
              ..
2019-03-17     1
2019-03-30     1
2019-03-09     1
2019-02-17     1
2019-04-14     1
Name: DATE_TIME, Length: 91, dtype: int64

In [101]:
#removing all high cardinality columns, and YEAR_BUILT because it only has one
#value thus is meaningless. I left zipcode and year built in, because IDK they
#seem like they might actually be interesting categories, and they aren't HUGE
#but I might regret that.
to_drop = ['ADDRESS', 'SALE_DATE', 'DATE_TIME', 'SALE_PRICE', 'YEAR_BUILT', 
           'GROSS_SQUARE_FEET', 'LAND_SQUARE_FEET', 'LOT', 'BLOCK']

#lets do these before we drop sales prices
y_train = train['SALE_PRICE']
y_test = test['SALE_PRICE']


X_train = train.drop(to_drop, axis = 1)
X_test = test.drop(to_drop, axis = 1)

print(X_train.shape)
print(X_train.columns)
print(X_test.shape)
print(X_test.columns)

(2507, 11)
Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BUILDING_CLASS_AT_PRESENT', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE'],
      dtype='object')
(644, 11)
Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BUILDING_CLASS_AT_PRESENT', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE'],
      dtype='object')

In [102]:
#looking good, lets go ahead and encode
import category_encoders as ce

encoder = ce.OneHotEncoder(use_cat_names = True)
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

print(X_train.shape)
print(X_test.shape)

(2507, 43)
(644, 43)

In [110]:
#Now I'm checking for anything with a STD of 0.  Because it means that all rows
#in the dataset, have the exact same value (no deviation from the mean) and are
#useless for evaluation.  This step is particularly important for SelectKBest
#which will throw warnings for anything with a 0 std.
X_train.std()

BOROUGH_3                                            0.365521
BOROUGH_4                                            0.499710
BOROUGH_2                                            0.295375
BOROUGH_5                                            0.440920
BOROUGH_1                                            0.019972
NEIGHBORHOOD_OTHER                                   0.217700
NEIGHBORHOOD_FLUSHING-NORTH                          0.172576
NEIGHBORHOOD_BEDFORD STUYVESANT                      0.056411
NEIGHBORHOOD_FOREST HILLS                            0.082084
NEIGHBORHOOD_BOROUGH PARK                            0.069033
NEIGHBORHOOD_ASTORIA                                 0.066108
BUILDING_CLASS_CATEGORY_01 ONE FAMILY DWELLINGS      0.000000
TAX_CLASS_AT_PRESENT_1                               0.110532
TAX_CLASS_AT_PRESENT_1D                              0.110532
BUILDING_CLASS_AT_PRESENT_A9                         0.266620
BUILDING_CLASS_AT_PRESENT_A1                         0.481965
BUILDING_CLASS_AT_PRESENT_A5                         0.462885
BUILDING_CLASS_AT_PRESENT_A0                         0.161311
BUILDING_CLASS_AT_PRESENT_A2                         0.370296
BUILDING_CLASS_AT_PRESENT_A3                         0.122204
BUILDING_CLASS_AT_PRESENT_S1                         0.123776
BUILDING_CLASS_AT_PRESENT_A4                         0.071838
BUILDING_CLASS_AT_PRESENT_A6                         0.074535
BUILDING_CLASS_AT_PRESENT_A8                         0.110532
BUILDING_CLASS_AT_PRESENT_B2                         0.019972
BUILDING_CLASS_AT_PRESENT_S0                         0.019972
BUILDING_CLASS_AT_PRESENT_B3                         0.019972
ZIP_CODE                                           494.291462
RESIDENTIAL_UNITS                                    0.110532
COMMERCIAL_UNITS                                     0.129966
TOTAL_UNITS                                          0.171794
TAX_CLASS_AT_TIME_OF_SALE                            0.000000
BUILDING_CLASS_AT_TIME_OF_SALE_A9                    0.266620
BUILDING_CLASS_AT_TIME_OF_SALE_A1                    0.481965
BUILDING_CLASS_AT_TIME_OF_SALE_A5                    0.462885
BUILDING_CLASS_AT_TIME_OF_SALE_A0                    0.161311
BUILDING_CLASS_AT_TIME_OF_SALE_A2                    0.371019
BUILDING_CLASS_AT_TIME_OF_SALE_A3                    0.122204
BUILDING_CLASS_AT_TIME_OF_SALE_S1                    0.123776
BUILDING_CLASS_AT_TIME_OF_SALE_A4                    0.071838
BUILDING_CLASS_AT_TIME_OF_SALE_A6                    0.074535
BUILDING_CLASS_AT_TIME_OF_SALE_A8                    0.110532
BUILDING_CLASS_AT_TIME_OF_SALE_S0                    0.019972
dtype: float64

In [111]:
#Dropping the following for having 0 std, which means every value in the column
#is the same, and not useful for analysis.

std_0 = ['BUILDING_CLASS_CATEGORY_01 ONE FAMILY DWELLINGS', 
         'TAX_CLASS_AT_TIME_OF_SALE']

X_train.drop(std_0, axis = 1, inplace = True)
X_test.drop(std_0, axis = 1, inplace = True)
X_train.shape, X_test.shape

((2507, 41), (644, 41))

In [112]:
#okay lets us SelectKBest to pick 15 features that best correlate with the
#target. I selected 15 features as just an arbitrary number.  As a stretch I 
#will try to select the best set of features with the lowest mae.

from sklearn.feature_selection import f_regression, SelectKBest

selector = SelectKBest(score_func = f_regression, k = 15)

X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)

print(X_train_selected.shape)
print(X_test_selected.shape)

(2507, 15)
(644, 15)

In [113]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error

model = Ridge(alpha = 10, normalize = True)

model.fit(X_train_selected, y_train)

y_pred = model.predict(X_test_selected)

mae = mean_absolute_error(y_test, y_pred)

print('Mean absolute error for my MVP model is: $', mae)

Mean absolute error for my MVP model is: $ 207069.39660609598

#Stretch goal
Find the best combination of features that generates the lowest mae.