<a href="https://colab.research.google.com/github/accarter/DS-Unit-2-Linear-Models/blob/master/module3-ridge-regression/LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [ ]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [ ]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [ ]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [ ]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

## Subset the Data
1.  ```BUILDING_CLASS_CATEGORY == '01 ONE FAMILY DWELLINGS'```
2. Sale price was more than 100 thousand and less than 2 million

In [ ]:
df = df[(df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS') &
        ((df['SALE_PRICE'] > 1e5) & (df['SALE_PRICE'] < 2e6))]

In [ ]:
# verify results
df['SALE_PRICE'].describe()

count    3.151000e+03
mean     6.285601e+05
std      2.929904e+05
min      1.040000e+05
25%      4.475000e+05
50%      5.680000e+05
75%      7.600000e+05
max      1.955000e+06
Name: SALE_PRICE, dtype: float64

##  Train/Test Split
Train: January â€” March 2019

Test: April 2019

In [ ]:
df['SALE_DATE_DATETIME'] = pd.to_datetime(df['SALE_DATE'], infer_datetime_format=True)

In [ ]:
cutoff = pd.to_datetime('2019-04-01')
train = df[df['SALE_DATE_DATETIME'] < cutoff]
test = df[df['SALE_DATE_DATETIME'] >= cutoff]

## One-Hot Encoding

### Exclude non-numeric columns with high cardinality

In [ ]:
train.describe().T

                            count           mean  ...       75%        max
BLOCK                      2507.0    6758.303949  ...    9888.5    16350.0
LOT                        2507.0      75.778221  ...      70.0     2720.0
EASE-MENT                     0.0            NaN  ...       NaN        NaN
ZIP_CODE                   2507.0   10993.398484  ...   11413.0    11697.0
RESIDENTIAL_UNITS          2507.0       0.987635  ...       1.0        1.0
COMMERCIAL_UNITS           2507.0       0.016354  ...       0.0        2.0
TOTAL_UNITS                2507.0       1.003989  ...       1.0        3.0
GROSS_SQUARE_FEET          2507.0    1473.744715  ...    1683.0     7875.0
YEAR_BUILT                 2507.0    1944.766653  ...    1960.0     2018.0
TAX_CLASS_AT_TIME_OF_SALE  2507.0       1.000000  ...       1.0        1.0
SALE_PRICE                 2507.0  621573.742321  ...  750000.0  1955000.0

[11 rows x 8 columns]

In [ ]:
train.describe(exclude='number').T.sort_values(by='unique')

                               count unique  ...      first       last
BUILDING_CLASS_CATEGORY         2507      1  ...        NaT        NaT
APARTMENT_NUMBER                   1      1  ...        NaT        NaT
TAX_CLASS_AT_PRESENT            2507      2  ...        NaT        NaT
BOROUGH                         2507      5  ...        NaT        NaT
NEIGHBORHOOD                    2507      6  ...        NaT        NaT
BUILDING_CLASS_AT_TIME_OF_SALE  2507     11  ...        NaT        NaT
BUILDING_CLASS_AT_PRESENT       2507     13  ...        NaT        NaT
SALE_DATE                       2507     68  ...        NaT        NaT
SALE_DATE_DATETIME              2507     68  ... 2019-01-01 2019-03-30
LAND_SQUARE_FEET                2507    887  ...        NaT        NaT
ADDRESS                         2507   2497  ...        NaT        NaT

[11 rows x 6 columns]

In [ ]:
target = 'SALE_PRICE'
high_cardinality = ['SALE_DATE_DATETIME', 
                    'EASE-MENT', 
                    'ADDRESS', 
                    'LAND_SQUARE_FEET',
                    'SALE_DATE', 
                    'BUILDING_CLASS_CATEGORY',
                    'TAX_CLASS_AT_TIME_OF_SALE']

features = train.columns.drop([target] + high_cardinality)

X_train = train[features]
y_train = train[target]

X_test = test[features]
y_test = test[target]

In [ ]:
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)  # use_cat_names gives the suffixes at the end of the columns
X_train = encoder.fit_transform(X_train)        # returns new dataframe after the transformation has been applied
X_test = encoder.transform(X_test)              # applies same transformation as the training set
                                                # same mapping means SAME ORDER OF COLUMNS

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
# what does X_train look like after encoding?
X_train.head()

     BOROUGH_3  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
44           1  ...                                  0
61           0  ...                                  0
78           0  ...                                  0
108          1  ...                                  0
111          1  ...                                  0

[5 rows x 47 columns]

In [ ]:
X_train.shape

(2507, 47)

## Feature Selection with ```SelectKBest```

In [ ]:
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [ ]:
features = set()
for k in range(1, len(X_train.columns)+1):
    print(f'{k} features')
    
    selector = SelectKBest(score_func=f_regression, k=k)
    X_train_selected = selector.fit_transform(X_train, y_train)
    X_test_selected = selector.transform(X_test)
    
    new_features = set(X_train.columns[selector.get_support()])
    print(f'Feature added: {list(new_features.difference(features))[0]}')
    features = new_features

    model = LinearRegression()
    model.fit(X_train_selected, y_train)
    y_pred = model.predict(X_test_selected)
    mae = mean_absolute_error(y_test, y_pred)
    print(f'Test Mean Absolute Error: ${mae:,.0f} \n')

1 features
Feature added: GROSS_SQUARE_FEET
Test Mean Absolute Error: $183,641

2 features
Feature added: BUILDING_CLASS_AT_TIME_OF_SALE_A3
Test Mean Absolute Error: $182,569

3 features
Feature added: BUILDING_CLASS_AT_PRESENT_A3
Test Mean Absolute Error: $182,569

4 features
Feature added: NEIGHBORHOOD_OTHER
Test Mean Absolute Error: $173,706

5 features
Feature added: BOROUGH_3
Test Mean Absolute Error: $174,556

6 features
Feature added: ZIP_CODE
Test Mean Absolute Error: $172,843

7 features
Feature added: BOROUGH_5
Test Mean Absolute Error: $173,412

8 features
Feature added: NEIGHBORHOOD_FOREST HILLS
Test Mean Absolute Error: $173,241

9 features
Feature added: BOROUGH_2
Test Mean Absolute Error: $168,668

10 features
Feature added: NEIGHBORHOOD_FLUSHING-NORTH
Test Mean Absolute Error: $169,452

11 features
Feature added: TOTAL_UNITS
Test Mean Absolute Error: $169,006

12 features
Feature added: BLOCK
Test Mean Absolute Error: $161,221

13 features
Feature added: COMMERCIAL_UNITS
Test Mean Absolute Error: $162,578

14 features
Feature added: BUILDING_CLASS_AT_PRESENT_A5
Test Mean Absolute Error: $161,733

15 features
Feature added: BUILDING_CLASS_AT_TIME_OF_SALE_A5
Test Mean Absolute Error: $161,735

16 features
Feature added: BUILDING_CLASS_AT_TIME_OF_SALE_S1
Test Mean Absolute Error: $161,548

17 features
Feature added: BUILDING_CLASS_AT_PRESENT_S1
Test Mean Absolute Error: $161,548

18 features
Feature added: BUILDING_CLASS_AT_TIME_OF_SALE_A6
Test Mean Absolute Error: $161,308

19 features
Feature added: BUILDING_CLASS_AT_PRESENT_A6
Test Mean Absolute Error: $161,308

20 features
Feature added: NEIGHBORHOOD_BOROUGH PARK
Test Mean Absolute Error: $159,303

21 features
Feature added: BOROUGH_4
Test Mean Absolute Error: $159,371

22 features
Feature added: BUILDING_CLASS_AT_TIME_OF_SALE_S0
Test Mean Absolute Error: $159,371

23 features
Feature added: BUILDING_CLASS_AT_PRESENT_S0
Test Mean Absolute Error: $159,371

24 features
Feature added: RESIDENTIAL_UNITS
Test Mean Absolute Error: $159,371

25 features
Feature added: TAX_CLASS_AT_PRESENT_1
Test Mean Absolute Error: $159,107

26 features
Feature added: BUILDING_CLASS_AT_PRESENT_A8
Test Mean Absolute Error: $158,990

27 features
Feature added: TAX_CLASS_AT_PRESENT_1D
Test Mean Absolute Error: $158,924

28 features
Feature added: BUILDING_CLASS_AT_TIME_OF_SALE_A8
Test Mean Absolute Error: $158,882

29 features
Feature added: NEIGHBORHOOD_ASTORIA
Test Mean Absolute Error: $159,683

30 features
Feature added: BUILDING_CLASS_AT_TIME_OF_SALE_A4
Test Mean Absolute Error: $159,734

31 features
Feature added: BUILDING_CLASS_AT_PRESENT_A4
Test Mean Absolute Error: $159,734

32 features
Feature added: BUILDING_CLASS_AT_TIME_OF_SALE_A1
Test Mean Absolute Error: $159,311

33 features
Feature added: BUILDING_CLASS_AT_PRESENT_A1
Test Mean Absolute Error: $159,289

34 features
Feature added: LOT
Test Mean Absolute Error: $159,292

35 features
Feature added: BUILDING_CLASS_AT_TIME_OF_SALE_A0
Test Mean Absolute Error: $158,951

36 features
Feature added: BUILDING_CLASS_AT_PRESENT_A0
Test Mean Absolute Error: $158,951

37 features
Feature added: YEAR_BUILT
Test Mean Absolute Error: $159,749

38 features
Feature added: BUILDING_CLASS_AT_PRESENT_A2
Test Mean Absolute Error: $159,207

39 features
Feature added: BUILDING_CLASS_AT_TIME_OF_SALE_A2
Test Mean Absolute Error: $159,256

40 features
Feature added: APARTMENT_NUMBER_nan
Test Mean Absolute Error: $159,250

41 features
Feature added: APARTMENT_NUMBER_RP.
Test Mean Absolute Error: $159,250

42 features
Feature added: BUILDING_CLASS_AT_PRESENT_B3
Test Mean Absolute Error: $159,264

43 features
Feature added: BUILDING_CLASS_AT_PRESENT_B2
Test Mean Absolute Error: $159,596

44 features
Feature added: BUILDING_CLASS_AT_TIME_OF_SALE_A9
Test Mean Absolute Error: $159,555

45 features
Feature added: BUILDING_CLASS_AT_PRESENT_A9
Test Mean Absolute Error: $159,551

46 features
Feature added: BOROUGH_1
Test Mean Absolute Error: $159,552

47 features
Feature added: NEIGHBORHOOD_BEDFORD STUYVESANT
Test Mean Absolute Error: $159,553

Iterating through all possible values of k indicates that the number of features that should be included in order to pick the simplest model with the highest test validation score is 12.

## Ridge Regression and Mean Absolute Error

In [ ]:
selector = SelectKBest(score_func=f_regression, k=12)
X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)
    
features = list(X_train.columns[selector.get_support()])

for alpha in [0.001, 0.01, 0.1, 1.0, 1, 100.0, 1000.0]:
  from sklearn.linear_model import Ridge
  model = Ridge(alpha=alpha, normalize=True)
  model.fit(X_train[features], y_train)
  y_pred = model.predict(X_test[features])
  mae = mean_absolute_error(y_test, y_pred)
  print(f'alpha: {alpha:10} - mae: {mae:.0f}')

alpha:      0.001 - mae: 161183
alpha:       0.01 - mae: 161506
alpha:        0.1 - mae: 162267
alpha:        1.0 - mae: 175348
alpha:          1 - mae: 175348
alpha:      100.0 - mae: 210468
alpha:     1000.0 - mae: 211453

Optimal value for alpha is 0.001.