<a href="https://colab.research.google.com/github/BrokenShell/DS-Unit-2-Linear-Models/blob/master/module3-ridge-regression/LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [x] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [x] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [x] Do one-hot encoding of categorical features.
- [x] Do feature selection with `SelectKBest`.
- [x] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [x] Get mean absolute error for the test set.
- [x] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [x] Add your own stretch goal(s) !
- [x] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [x] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [x] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [x] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [0]:
df.head()

  BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1                    OTHER  ...          0  01/01/2019
1       1                    OTHER  ...          0  01/01/2019
2       1                    OTHER  ...          0  01/01/2019
3       1                    OTHER  ...          0  01/01/2019
4       1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019

[5 rows x 21 columns]

## Data Cleaning

In [0]:
df['EASE-MENT'].shape[0] - df['EASE-MENT'].isna().sum()

0

- Removing 'EASE-MENT' because all cells are NaN.
- Removing 'BUILDING_CLASS_CATEGORY' because we're only looking at one of them.
- Removing 'APARTMENT_NUMBER' because it shouldn't play a role.

In [0]:
housing = df[
    (df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS') &
    (df['SALE_PRICE'] > 100_000) & (df['SALE_PRICE'] < 2_000_000)
].drop(columns=[
    'EASE-MENT', 'APARTMENT_NUMBER', 'BUILDING_CLASS_CATEGORY', 'ADDRESS',
    'BUILDING_CLASS_AT_PRESENT',
])

housing['SALE_DATE'] = housing['SALE_DATE'].apply(lambda date: int(date.split('/')[0]))
housing['YEAR_BUILT'] = housing['YEAR_BUILT'].apply(int)
housing['ZIP_CODE'] = housing['ZIP_CODE'].apply(lambda z: str(int(z)))
housing['RESIDENTIAL_UNITS'] = housing['RESIDENTIAL_UNITS'].apply(int)
housing['COMMERCIAL_UNITS'] = housing['COMMERCIAL_UNITS'].apply(int)
housing['TOTAL_UNITS'] = housing['TOTAL_UNITS'].apply(int)
housing['LAND_SQUARE_FEET'] = housing['LAND_SQUARE_FEET'].str.replace(',', '').apply(int)

## Split Train vs Test
- Using data from January â€” March 2019 to train. 
- Using data from April 2019 to test.

In [0]:
housing_train = housing[housing['SALE_DATE'].isin((1,2,3))].drop(columns=['SALE_DATE'])
housing_test = housing[housing['SALE_DATE'] == 4].drop(columns=['SALE_DATE'])

## Split Target: Sale Price

In [0]:
target_train = housing_train['SALE_PRICE']
target_test = housing_test['SALE_PRICE']
housing_train = housing_train.drop(columns=['SALE_PRICE'])
housing_test = housing_test.drop(columns=['SALE_PRICE'])

#### Quick Reality Check

In [0]:
print(housing_train.shape)
print(target_train.shape)
print(housing_test.shape)
print(target_test.shape)

(2507, 14)
(2507,)
(644, 14)
(644,)

### One Hot "Cat" Encoding

All five of these seem reasonable categories for encoding.

In [0]:
housing_train.select_dtypes(exclude='number').describe().T

                               count unique    top  freq
BOROUGH                         2507      5      4  1204
NEIGHBORHOOD                    2507      6  OTHER  2382
TAX_CLASS_AT_PRESENT            2507      2      1  2476
ZIP_CODE                        2507    122  10312   115
BUILDING_CLASS_AT_TIME_OF_SALE  2507     11     A1   919

In [0]:
import category_encoders as ce

encoder = ce.OneHotEncoder(use_cat_names=True)
housing_train = encoder.fit_transform(housing_train)
housing_test = encoder.transform(housing_test)

housing_train

       BOROUGH_3  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
44             1  ...                                  0
61             0  ...                                  0
78             0  ...                                  0
108            1  ...                                  0
111            1  ...                                  0
...          ...  ...                                ...
18129          0  ...                                  0
18130          0  ...                                  0
18132          0  ...                                  0
18134          0  ...                                  0
18147          0  ...                                  0

[2507 rows x 155 columns]

In [0]:
housing_train.shape

(2507, 155)

> It seems to me that encoding categorical features - but doing so within the same column may make more sense. It seems odd that we divide the 5 boroughs into 5 columns. The relationship of this data seems to lose some meaning this way.

## Feature Selection: SelectKBest

In [0]:
from sklearn.feature_selection import f_regression, SelectKBest

In [0]:
selector = SelectKBest(score_func=f_regression, k=24)
X_train_selected = selector.fit_transform(housing_train, target_train)
X_test_selected = selector.transform(housing_test)

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [0]:
print(X_train_selected.shape)

(2507, 24)

In [0]:
names = housing_train.columns
selected_mask = selector.get_support()
selected_names = names[selected_mask]
print('Selected Features:', *selected_names, sep='\n')

Selected Features:
BOROUGH_3
BOROUGH_2
BOROUGH_5
NEIGHBORHOOD_OTHER
NEIGHBORHOOD_FLUSHING-NORTH
NEIGHBORHOOD_FOREST HILLS
BLOCK
ZIP_CODE_11230
ZIP_CODE_11365
ZIP_CODE_11434
ZIP_CODE_11218
ZIP_CODE_11210
ZIP_CODE_11215
ZIP_CODE_11375
ZIP_CODE_11357
ZIP_CODE_11209
ZIP_CODE_10303
ZIP_CODE_11225
COMMERCIAL_UNITS
TOTAL_UNITS
LAND_SQUARE_FEET
GROSS_SQUARE_FEET
BUILDING_CLASS_AT_TIME_OF_SALE_A5
BUILDING_CLASS_AT_TIME_OF_SALE_A3

## Ridge Regression with Normalization

In [0]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error

In [0]:
# Train the dragon
model = Ridge(normalize=True)
model.fit(X_train_selected, target_train)
y_pred = model.predict(X_test_selected)
# MAE
mae = mean_absolute_error(target_test, y_pred)
print(f"MAE: ${mae:,.2f}")

MAE: $164,489.36

## Pipeline

In [0]:
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

In [0]:
pipline = make_pipeline(
    ce.OrdinalEncoder(),
    StandardScaler(),
    RandomForestClassifier(n_jobs=-1, random_state=42)
)
pipline.fit(housing_train, target_train)
print(f"Validation: {100*pipline.score(housing_test, target_test):.2f}%")

Validation: 0.62%