Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [21]:
print(df.shape)
df.head()

(23040, 21)

  BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1                    OTHER  ...          0  01/01/2019
1       1                    OTHER  ...          0  01/01/2019
2       1                    OTHER  ...          0  01/01/2019
3       1                    OTHER  ...          0  01/01/2019
4       1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019

[5 rows x 21 columns]

##Use a subset of the data where BUILDING_CLASS_CATEGORY == '01 ONE FAMILY DWELLINGS' and the sale price was more than 100 thousand and less than 2 million.

In [22]:
df_1f = df[df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS']
df_1f = df_1f[df['SALE_PRICE'] > 100000]
df_1f = df_1f[df['SALE_PRICE'] < 2000000]
print(df_1f.shape)
df_1f.head()

(3151, 21)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

    BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44        3        OTHER  ...     550000  01/01/2019
61        4        OTHER  ...     200000  01/01/2019
78        2        OTHER  ...     810000  01/02/2019
108       3        OTHER  ...     125000  01/02/2019
111       3        OTHER  ...     620000  01/02/2019

[5 rows x 21 columns]

##Do train/test split. Use data from January â€” March 2019 to train. Use data from April 2019 to test.

In [23]:
df_1f.dtypes

BOROUGH                            object
NEIGHBORHOOD                       object
BUILDING_CLASS_CATEGORY            object
TAX_CLASS_AT_PRESENT               object
BLOCK                               int64
LOT                                 int64
EASE-MENT                         float64
BUILDING_CLASS_AT_PRESENT          object
ADDRESS                            object
APARTMENT_NUMBER                   object
ZIP_CODE                          float64
RESIDENTIAL_UNITS                 float64
COMMERCIAL_UNITS                  float64
TOTAL_UNITS                       float64
LAND_SQUARE_FEET                   object
GROSS_SQUARE_FEET                 float64
YEAR_BUILT                        float64
TAX_CLASS_AT_TIME_OF_SALE           int64
BUILDING_CLASS_AT_TIME_OF_SALE     object
SALE_PRICE                          int64
SALE_DATE                          object
dtype: object

In [24]:
#convert SALE_DATE to a date object type
df_1f['SALE_DATE'] = pd.to_datetime(df_1f['SALE_DATE'])
df_1f.dtypes

BOROUGH                                   object
NEIGHBORHOOD                              object
BUILDING_CLASS_CATEGORY                   object
TAX_CLASS_AT_PRESENT                      object
BLOCK                                      int64
LOT                                        int64
EASE-MENT                                float64
BUILDING_CLASS_AT_PRESENT                 object
ADDRESS                                   object
APARTMENT_NUMBER                          object
ZIP_CODE                                 float64
RESIDENTIAL_UNITS                        float64
COMMERCIAL_UNITS                         float64
TOTAL_UNITS                              float64
LAND_SQUARE_FEET                          object
GROSS_SQUARE_FEET                        float64
YEAR_BUILT                               float64
TAX_CLASS_AT_TIME_OF_SALE                  int64
BUILDING_CLASS_AT_TIME_OF_SALE            object
SALE_PRICE                                 int64
SALE_DATE                         datetime64[ns]
dtype: object

In [25]:
df_1f['SALE_DATE'].head()

44    2019-01-01
61    2019-01-01
78    2019-01-02
108   2019-01-02
111   2019-01-02
Name: SALE_DATE, dtype: datetime64[ns]

In [26]:
df_1f['LAND_SQUARE_FEET'] = df_1f['LAND_SQUARE_FEET'].str.replace(',', '').astype(float)
df_1f['LAND_SQUARE_FEET'].dtype

dtype('float64')

In [27]:
# split the data by date
train = df_1f[df_1f['SALE_DATE'] < '2019-03-01']
test = df_1f[df_1f['SALE_DATE'] >= '2019-03-01']
print(df_1f.shape,train.shape,test.shape)

(3151, 21) (1708, 21) (1443, 21)

##Do one-hot encoding of categorical features.

In [28]:
df_1f.head(1)

   BOROUGH NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
44       3        OTHER  ...     550000 2019-01-01

[1 rows x 21 columns]

In [29]:
# look to see which features are high carnality
full_features = df_1f.columns
for i in full_features:
  print(df_1f[i].value_counts())
  print()

4    1580
5     738
3     537
2     293
1       3
Name: BOROUGH, dtype: int64

OTHER                 2990
FLUSHING-NORTH          97
FOREST HILLS            22
BOROUGH PARK            19
ASTORIA                 14
BEDFORD STUYVESANT       9
Name: NEIGHBORHOOD, dtype: int64

01 ONE FAMILY DWELLINGS    3151
Name: BUILDING_CLASS_CATEGORY, dtype: int64

1     3111
1D      40
Name: TAX_CLASS_AT_PRESENT, dtype: int64

16350    21
1272      7
5506      6
6022      6
5735      6
         ..
569       1
4667      1
5730      1
6720      1
6145      1
Name: BLOCK, Length: 2496, dtype: int64

20      58
19      56
1       53
31      47
40      46
        ..
556      1
554      1
488      1
484      1
1200     1
Name: LOT, Length: 332, dtype: int64

Series([], Name: EASE-MENT, dtype: int64)

A1    1185
A5     985
A2     491
A9     239
A0      85
S1      48
A3      43
A8      40
A4      16
A6      15
B2       2
S0       1
B3       1
Name: BUILDING_CLASS_AT_PRESENT, dtype: int64

22-40 93RD STREET         2
57 CHESTNUT STREET        2
46-12 30TH ROAD           2
108-16 171ST PLACE        2
94 CELESTE COURT          2
                         ..
35 LEDYARD PLACE          1
31 POTTER AVENUE          1
2255 EAST 13TH ST         1
211-23 RICHLAND AVENUE    1
33-56 FISH AVENUE         1
Name: ADDRESS, Length: 3135, dtype: int64

RP.    1
Name: APARTMENT_NUMBER, dtype: int64

10306.0    127
10312.0    124
10314.0    113
11434.0    100
11234.0     90
          ...
11220.0      1
10459.0      1
11238.0      1
11102.0      1
11217.0      1
Name: ZIP_CODE, Length: 125, dtype: int64

1.0    3110
0.0      40
2.0       1
Name: RESIDENTIAL_UNITS, dtype: int64

0.0    3102
1.0      48
2.0       1
Name: COMMERCIAL_UNITS, dtype: int64

1.0    3061
2.0      49
0.0      40
3.0       1
Name: TOTAL_UNITS, dtype: int64

4000.0    289
2000.0    239
2500.0    196
1800.0    130
3000.0    111
         ...
3196.0      1
3967.0      1
1190.0      1
4465.0      1
3485.0      1
Name: LAND_SQUARE_FEET, Length: 1035, dtype: int64

1440.0    47
1296.0    40
0.0       40
1280.0    39
1200.0    36
          ..
1317.0     1
2572.0     1
2852.0     1
2165.0     1
3229.0     1
Name: GROSS_SQUARE_FEET, Length: 1050, dtype: int64

1920.0    382
1925.0    374
1930.0    339
1950.0    265
1940.0    242
         ...
1937.0      1
1890.0      1
1941.0      1
1928.0      1
1927.0      1
Name: YEAR_BUILT, Length: 89, dtype: int64

1    3151
Name: TAX_CLASS_AT_TIME_OF_SALE, dtype: int64

A1    1186
A5     985
A2     493
A9     239
A0      85
S1      48
A3      43
A8      40
A4      16
A6      15
S0       1
Name: BUILDING_CLASS_AT_TIME_OF_SALE, dtype: int64

500000    48
550000    43
450000    40
525000    40
650000    36
          ..
413000     1
672045     1
457000     1
608550     1
727000     1
Name: SALE_PRICE, Length: 1000, dtype: int64

2019-01-31    78
2019-03-29    62
2019-02-28    58
2019-01-15    57
2019-01-24    56
              ..
2019-03-17     1
2019-03-30     1
2019-03-09     1
2019-02-17     1
2019-04-14     1
Name: SALE_DATE, Length: 91, dtype: int64

In [33]:
# Exclude columns with high carnality.
target = 'SALE_PRICE'
high_carnality_or_redundant = ['EASE-MENT','BUILDING_CLASS_CATEGORY','BLOCK','LOT','ADDRESS','APARTMENT_NUMBER','ZIP_CODE','TAX_CLASS_AT_TIME_OF_SALE','SALE_DATE']
features = train.columns.drop([target] + high_carnality_or_redundant)

X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]
print(X_train.shape,X_test.shape)

(1708, 11) (1443, 11)

In [34]:
# perform OneHotEncoding on the remaining columns
import category_encoders as ce

encoder = ce.OneHotEncoder(use_cat_names=True)
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

print(X_train.shape,X_test.shape)

(1708, 42) (1443, 42)

In [35]:
X_train.head(1)

    BOROUGH_3  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
44          1  ...                                  0

[1 rows x 42 columns]

##Do feature selection with SelectKBest.

In [0]:
from sklearn.feature_selection import f_regression, SelectKBest
from sklearn.metrics import mean_absolute_error

In [39]:
# going to use SelectKBest to see the top 15 features as an abitrary number
selector = SelectKBest(score_func=f_regression,k=15)
X_train_selected = selector.fit_transform(X_train,y_train)
X_test_selected = selector.transform(X_test)
X_train_selected.shape

(1708, 15)

In [41]:
# see what features were selected
all_name = X_train.columns
selected_mask = selector.get_support()
selected_names = all_name[selected_mask]
unselected_names = all_name[~selected_mask]

print('Features Selected:')
for name in selected_names:
  print(name)
print()
print("Features Not Selected:")
for name in unselected_names:
  print(name)

Features Selected:
BOROUGH_3
BOROUGH_2
BOROUGH_5
NEIGHBORHOOD_OTHER
NEIGHBORHOOD_FLUSHING-NORTH
NEIGHBORHOOD_FOREST HILLS
NEIGHBORHOOD_BOROUGH PARK
NEIGHBORHOOD_ASTORIA
BUILDING_CLASS_AT_PRESENT_A5
BUILDING_CLASS_AT_PRESENT_A3
COMMERCIAL_UNITS
TOTAL_UNITS
LAND_SQUARE_FEET
GROSS_SQUARE_FEET
BUILDING_CLASS_AT_TIME_OF_SALE_A3

Features Not Selected:
BOROUGH_4
NEIGHBORHOOD_BEDFORD STUYVESANT
TAX_CLASS_AT_PRESENT_1
TAX_CLASS_AT_PRESENT_1D
BUILDING_CLASS_AT_PRESENT_A9
BUILDING_CLASS_AT_PRESENT_A1
BUILDING_CLASS_AT_PRESENT_A0
BUILDING_CLASS_AT_PRESENT_A2
BUILDING_CLASS_AT_PRESENT_S1
BUILDING_CLASS_AT_PRESENT_A4
BUILDING_CLASS_AT_PRESENT_A6
BUILDING_CLASS_AT_PRESENT_A8
BUILDING_CLASS_AT_PRESENT_B2
BUILDING_CLASS_AT_PRESENT_S0
BUILDING_CLASS_AT_PRESENT_B3
RESIDENTIAL_UNITS
YEAR_BUILT
BUILDING_CLASS_AT_TIME_OF_SALE_A9
BUILDING_CLASS_AT_TIME_OF_SALE_A1
BUILDING_CLASS_AT_TIME_OF_SALE_A5
BUILDING_CLASS_AT_TIME_OF_SALE_A0
BUILDING_CLASS_AT_TIME_OF_SALE_A2
BUILDING_CLASS_AT_TIME_OF_SALE_S1
BUILDING_CLASS_AT_TIME_OF_SALE_A4
BUILDING_CLASS_AT_TIME_OF_SALE_A6
BUILDING_CLASS_AT_TIME_OF_SALE_A8
BUILDING_CLASS_AT_TIME_OF_SALE_S0

##Fit a ridge regression model with multiple features. Use the normalize=True parameter (or do feature scaling beforehand â€” use the scaler's fit_transform method with the train set, and the scaler's transform method with the test set)

##And get mean absolute error for the test set.

In [0]:
import matplotlib.pyplot as plt
from IPython.display import display, HTML
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge

In [48]:
for alpha in [.001,.01,.1,1,10,100,1000]:
  # Fit Ridge Regression Model
  display(HTML(f'RidgeRegression with alpha={alpha}'))
  model = Ridge(alpha=alpha, normalize=True)
  model.fit(X_train,y_train)
  y_pred = model.predict(X_test)

  # Get Test MAE
  mae = mean_absolute_error(y_test,y_pred)
  display(HTML(f'Test Mean Absolute Error: ${mae:,.0f}'))

  #Plot coefficients
  coefficients = pd.Series(model.coef_,X_train.columns)
  plt.figure(figsize=(16,8))
  coefficients.sort_values().plot.barh(color='grey')
  plt.xlim(-400,700)
  plt.show()

##As always, commit your notebook to your fork of the GitHub repo.