<a href="https://colab.research.google.com/github/dggasque/DS-Unit-2-Linear-Models/blob/master/module3-ridge-regression/LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html). Use the scaler's `fit_transform` method with the train set. Use the scaler's `transform` method with the test set.
- [ ] Fit a ridge regression model with multiple features.
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [5]:
cond = df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS'

df = df[cond]

df.dtypes

BOROUGH                            object
NEIGHBORHOOD                       object
BUILDING_CLASS_CATEGORY            object
TAX_CLASS_AT_PRESENT               object
BLOCK                               int64
LOT                                 int64
EASE-MENT                         float64
BUILDING_CLASS_AT_PRESENT          object
ADDRESS                            object
APARTMENT_NUMBER                   object
ZIP_CODE                          float64
RESIDENTIAL_UNITS                 float64
COMMERCIAL_UNITS                  float64
TOTAL_UNITS                       float64
LAND_SQUARE_FEET                   object
GROSS_SQUARE_FEET                 float64
YEAR_BUILT                        float64
TAX_CLASS_AT_TIME_OF_SALE           int64
BUILDING_CLASS_AT_TIME_OF_SALE     object
SALE_PRICE                          int64
SALE_DATE                          object
dtype: object

In [0]:
df['LAND_SQUARE_FEET'] = df['LAND_SQUARE_FEET'].str.replace(',','').astype(float)

In [7]:
df['LAND_SQUARE_FEET'].dtypes

dtype('float64')

In [8]:
df.head()

   BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
7        2        OTHER  ...          0  01/01/2019
8        2        OTHER  ...          0  01/01/2019
9        2        OTHER  ...          0  01/01/2019
42       3        OTHER  ...          0  01/01/2019
44       3        OTHER  ...     550000  01/01/2019

[5 rows x 21 columns]

In [9]:
df.isnull().sum()

BOROUGH                              0
NEIGHBORHOOD                         0
BUILDING_CLASS_CATEGORY              0
TAX_CLASS_AT_PRESENT                 0
BLOCK                                0
LOT                                  0
EASE-MENT                         5061
BUILDING_CLASS_AT_PRESENT            0
ADDRESS                              0
APARTMENT_NUMBER                  5059
ZIP_CODE                             0
RESIDENTIAL_UNITS                    0
COMMERCIAL_UNITS                     0
TOTAL_UNITS                          0
LAND_SQUARE_FEET                     0
GROSS_SQUARE_FEET                    0
YEAR_BUILT                           0
TAX_CLASS_AT_TIME_OF_SALE            0
BUILDING_CLASS_AT_TIME_OF_SALE       0
SALE_PRICE                           0
SALE_DATE                            0
dtype: int64

In [0]:
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'], infer_datetime_format=True)

In [11]:
df['SALE_DATE'].dt.month.value_counts()

1    1512
3    1326
2    1256
4     967
Name: SALE_DATE, dtype: int64

In [0]:
cond = (df['SALE_PRICE'] > 0) & (df['SALE_PRICE'] < 2000000)
df = df[cond]

In [0]:
train = df[df['SALE_DATE'].dt.month < 4]
test = df[df['SALE_DATE'].dt.month == 4]

In [27]:
train.describe().T

                            count           mean  ...       75%        max
BLOCK                      2635.0    6758.511575  ...    9954.0    16350.0
LOT                        2635.0      77.954080  ...      70.0     2720.0
EASE-MENT                     0.0            NaN  ...       NaN        NaN
ZIP_CODE                   2635.0   10994.972676  ...   11412.5    11697.0
RESIDENTIAL_UNITS          2635.0       0.988235  ...       1.0        1.0
COMMERCIAL_UNITS           2635.0       0.015939  ...       0.0        2.0
TOTAL_UNITS                2635.0       1.004175  ...       1.0        3.0
LAND_SQUARE_FEET           2635.0    3145.233397  ...    4000.0    18906.0
GROSS_SQUARE_FEET          2635.0    1472.744972  ...    1680.0     7875.0
YEAR_BUILT                 2635.0    1944.589374  ...    1960.0     2018.0
TAX_CLASS_AT_TIME_OF_SALE  2635.0       1.000000  ...       1.0        1.0
SALE_PRICE                 2635.0  592235.387856  ...  740000.0  1955000.0

[12 rows x 8 columns]

In [28]:
train.describe(exclude='number').T

                               count unique  ...      first       last
BOROUGH                         2635      5  ...        NaT        NaT
NEIGHBORHOOD                    2635      6  ...        NaT        NaT
BUILDING_CLASS_CATEGORY         2635      1  ...        NaT        NaT
TAX_CLASS_AT_PRESENT            2635      3  ...        NaT        NaT
BUILDING_CLASS_AT_PRESENT       2635     14  ...        NaT        NaT
ADDRESS                         2635   2620  ...        NaT        NaT
APARTMENT_NUMBER                   1      1  ...        NaT        NaT
BUILDING_CLASS_AT_TIME_OF_SALE  2635     11  ...        NaT        NaT
SALE_DATE                       2635     75  ... 2019-01-01 2019-03-30

[9 rows x 6 columns]

In [0]:
target = 'SALE_PRICE'
high_cardinality = ['ADDRESS', 'SALE_DATE']
remove_columns = ['EASE-MENT', 'APARTMENT_NUMBER', 
                  'BUILDING_CLASS_CATEGORY', 
                  'TAX_CLASS_AT_TIME_OF_SALE'] # Columns are primarily NaN values or zero variation
features = train.columns.drop([target] + high_cardinality + remove_columns)

X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

In [0]:
import category_encoders as ce

encoder = ce.OneHotEncoder(use_cat_names=True)
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

In [31]:
X_train.describe()

         BOROUGH_3  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
count  2635.000000  ...                        2635.000000
mean      0.160531  ...                           0.000380
std       0.367168  ...                           0.019481
min       0.000000  ...                           0.000000
25%       0.000000  ...                           0.000000
50%       0.000000  ...                           0.000000
75%       0.000000  ...                           0.000000
max       1.000000  ...                           1.000000

[8 rows x 48 columns]

In [32]:
from sklearn.feature_selection import f_regression, SelectKBest
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
for k in range(1, len(X_train.columns)+1):
  print(f'{k} features')

  selector = SelectKBest(score_func=f_regression, k=k)
  X_train_selected = selector.fit_transform(X_train, y_train)
  X_test_selected = selector.transform(X_test)

  model = LinearRegression()
  model.fit(X_train_selected, y_train)

  y_pred = model.predict(X_test_selected)
  mae = mean_absolute_error(y_test, y_pred)
  print(f'Test Mean Absolute Error: ${mae:.0f}')

1 features
Test Mean Absolute Error: $196126
2 features
Test Mean Absolute Error: $193000
3 features
Test Mean Absolute Error: $185049
4 features
Test Mean Absolute Error: $184896
5 features
Test Mean Absolute Error: $184896
6 features
Test Mean Absolute Error: $183999
7 features
Test Mean Absolute Error: $181486
8 features
Test Mean Absolute Error: $181226
9 features
Test Mean Absolute Error: $181346
10 features
Test Mean Absolute Error: $179767
11 features
Test Mean Absolute Error: $180785
12 features
Test Mean Absolute Error: $180610
13 features
Test Mean Absolute Error: $171319
14 features
Test Mean Absolute Error: $173956
15 features
Test Mean Absolute Error: $174215
16 features
Test Mean Absolute Error: $174215
17 features
Test Mean Absolute Error: $174055
18 features
Test Mean Absolute Error: $174055
19 features
Test Mean Absolute Error: $173770
20 features
Test Mean Absolute Error: $173829
21 features
Test Mean Absolute Error: $171134
22 features
Test Mean Absolute Error: $172043
23 features
Test Mean Absolute Error: $172043
24 features
Test Mean Absolute Error: $172043
25 features
Test Mean Absolute Error: $171846
26 features
Test Mean Absolute Error: $172002
27 features
Test Mean Absolute Error: $171407
28 features
Test Mean Absolute Error: $171273
29 features
Test Mean Absolute Error: $171214
30 features
Test Mean Absolute Error: $171386
31 features
Test Mean Absolute Error: $171691
32 features
Test Mean Absolute Error: $171791
33 features
Test Mean Absolute Error: $171791
34 features
Test Mean Absolute Error: $171774
35 features
Test Mean Absolute Error: $171773
36 features
Test Mean Absolute Error: $171836
37 features
Test Mean Absolute Error: $172075
38 features
Test Mean Absolute Error: $171818
39 features
Test Mean Absolute Error: $171818
40 features
Test Mean Absolute Error: $171654
41 features
Test Mean Absolute Error: $171607
42 features
Test Mean Absolute Error: $171607
43 features
Test Mean Absolute Error: $171520
44 features
Test Mean Absolute Error: $173364
45 features
Test Mean Absolute Error: $173503
46 features
Test Mean Absolute Error: $173532
47 features
Test Mean Absolute Error: $173535
48 features
Test Mean Absolute Error: $173520

In [0]:
from sklearn.feature_selection import f_regression, SelectKBest

selector = SelectKBest(score_func=f_regression, k=21)
X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)

In [40]:
from sklearn.linear_model import Ridge, RidgeCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

model = Ridge(alpha=100)
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)

mae = mean_absolute_error(y_test, y_pred)
print(f'Test Mean Absolute Error: ${mae:,.0f}')

Test Mean Absolute Error: $172,467

In [41]:
model = RidgeCV(alphas=[1e-3, 1e-2, 1e-1, 1e0])
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)

mae = mean_absolute_error(y_test, y_pred)
print(f'Test Mean Absolute Error: ${mae:,.0f}')

Test Mean Absolute Error: $173,452

In [42]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_selected)
X_test_scaled = scaler.transform(X_test_selected)

model = Ridge(alpha=100)
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)

mae = mean_absolute_error(y_test, y_pred)
print(f'Test Mean Absolute Error: ${mae:,.0f}')

Test Mean Absolute Error: $169,866

In [43]:
model = RidgeCV()
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)

mae = mean_absolute_error(y_test, y_pred)
print(f'Test Mean Absolute Error: ${mae:,.0f}')

Test Mean Absolute Error: $170,995