Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [x] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [x] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [x] Do one-hot encoding of categorical features.
- [] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [55]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [56]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [57]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [58]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [110]:
# Use a subset of the data with one family dwellings

# Condition 
condition = (
    (df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS') &
    (df['SALE_PRICE'] > 100000) &
    (df['SALE_PRICE'] < 2000000)
)

# One family dwelling subset
ofd = df[condition].copy()

In [211]:
ofd['LAND_SQUARE_FEET'].isnull().sum()

0

In [111]:
# Convert date column to datetime
ofd['SALE_DATE'] = pd.to_datetime(ofd['SALE_DATE'])

In [162]:
# Convert year to int64
ofd['YEAR_BUILT'] = ofd['YEAR_BUILT'].astype(int)
ofd['YEAR_BUILT'].dtypes

dtype('int64')

In [203]:
ofd['LAND_SQUARE_FEET'] = pd.to_numeric(ofd['LAND_SQUARE_FEET'].str.replace(',', ''))
ofd['LAND_SQUARE_FEET'].dtype

dtype('int64')

In [212]:
# Do train/test split
train = ofd[ofd['SALE_DATE'].dt.month < 4]
test = ofd[ofd['SALE_DATE'].dt.month == 4]

In [213]:
# Drop some problematic columns
train = train.drop(['EASE-MENT', 'APARTMENT_NUMBER',
                    'TAX_CLASS_AT_TIME_OF_SALE', 'ZIP_CODE'], axis=1)
test = test.drop(['EASE-MENT', 'APARTMENT_NUMBER', 
                  'TAX_CLASS_AT_TIME_OF_SALE','ZIP_CODE'], axis=1)

In [114]:
# High cardinality categorical values to exclude
train.describe(exclude='number').T.sort_values(by='unique', ascending=False)

,count,unique,top,freq,first,last
ADDRESS,2507,2497,117-45 125TH STREET,2,NaT,NaT
LAND_SQUARE_FEET,2507,887,"4,000",234,NaT,NaT
SALE_DATE,2507,68,2019-01-31 00:00:00,78,2019-01-01,2019-03-30
BUILDING_CLASS_AT_PRESENT,2507,13,A1,919,NaT,NaT
BUILDING_CLASS_AT_TIME_OF_SALE,2507,11,A1,919,NaT,NaT
NEIGHBORHOOD,2507,7,OTHER,2360,NaT,NaT
BOROUGH,2507,5,4,1204,NaT,NaT
TAX_CLASS_AT_PRESENT,2507,2,1,2476,NaT,NaT
BUILDING_CLASS_CATEGORY,2507,1,01 ONE FAMILY DWELLINGS,2507,NaT,NaT

In [214]:
# Do one-hot encoding of categorical features


# Exclude high cardinality categorical variable from features
target = 'SALE_PRICE'
high_card = ['ADDRESS', 
             'SALE_DATE', 
             'BUILDING_CLASS_AT_PRESENT', 
             'BUILDING_CLASS_AT_TIME_OF_SALE']
features = train.columns.drop([target] + high_card)

In [215]:
features

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'RESIDENTIAL_UNITS',
       'COMMERCIAL_UNITS', 'TOTAL_UNITS', 'LAND_SQUARE_FEET',
       'GROSS_SQUARE_FEET', 'YEAR_BUILT'],
      dtype='object')

In [216]:
# Define feature matrices and target vectors
X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

In [35]:
y_test.dtypes

dtype('int64')

In [117]:
# Shape before encoding
X_train.shape

(2507, 12)

In [217]:
# Perform one-hot encoding
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

In [218]:
# Now there are more columns in X_train and X_test
print(X_train.shape)
print(X_test.shape)

(2507, 23)
(644, 23)

In [19]:
pd.set_option('display.max_columns', 30)

In [174]:
X_train["YEAR_BUILT"].dtype

dtype('int64')

In [242]:
# Do feature selection
from sklearn.feature_selection import SelectKBest, f_regression

selector = SelectKBest(score_func=f_regression, k=16)

X_train_select = selector.fit_transform(X_train, y_train)
X_test_select = selector.transform(X_test)

/Users/josemarquez/anaconda3/lib/python3.7/site-packages/sklearn/feature_selection/univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/Users/josemarquez/anaconda3/lib/python3.7/site-packages/sklearn/feature_selection/univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/Users/josemarquez/anaconda3/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/Users/josemarquez/anaconda3/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/Users/josemarquez/anaconda3/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:1892: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [101]:
X_train_select.shape, X_test_select.shape

((2507, 15), (644, 15))

In [243]:
# Fit into ridge regression
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error

for alpha in [0.001, 0.01, 0.1, 1.0, 1, 100.0, 1000.0]:
    print(f'Ridge Regression, with alpha={alpha}')
    model = Ridge(alpha=alpha, normalize=True)
    model.fit(X_train_select, y_train)
    y_pred = model.predict(X_test_select)
    
    mae = mean_absolute_error(y_test, y_pred)
    print(f'Test MAE: ${mae: .0f}')

Ridge Regression, with alpha=0.001
Test MAE: $ 152934
Ridge Regression, with alpha=0.01
Test MAE: $ 152871
Ridge Regression, with alpha=0.1
Test MAE: $ 153635
Ridge Regression, with alpha=1.0
Test MAE: $ 169197
Ridge Regression, with alpha=1
Test MAE: $ 169197
Ridge Regression, with alpha=100.0
Test MAE: $ 210279
Ridge Regression, with alpha=1000.0
Test MAE: $ 211433