<a href="https://colab.research.google.com/github/dgansen/DS-Unit-2-Linear-Models/blob/master/module2-regression2/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [59]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
# Make feature for whether the description contains "renovated"
df['Renovated'] = df['description'].str.contains('renovated',case=False,na=False)

In [0]:
# Function for converting Latitude/Longitude distance to actual distance
import numpy as np

def haversine_np(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

In [0]:
# Make feature for the distance of each apt from the median location of the data
center = [df['longitude'].median(), df['latitude'].median()]
df['Distance from center (km)'] = haversine_np(df['longitude'],df['latitude'],center[0],center[1])

In [0]:
#Convert Created column to datetime
df['created'] = pd.to_datetime(df['created'],yearfirst=True)

In [0]:
# Train/Test split
test_idx = df['created'].dt.month == 6
train_idx = df['created'].dt.month == (4 | 5)

In [0]:
#Define features/target
features = ['bedrooms','Distance from center (km)', 'Renovated']
target = ['price']
x_train = df[features][train_idx]
x_test = df[features][test_idx]
y_train = df[target][train_idx]
y_test = df[target][test_idx]

In [0]:
#Rev the engine
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [0]:
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [82]:
# Get model coefficients, intercept
print(f'Regression equation is:\n{model.intercept_[0]} +\n{model.coef_[0,1]}x1 +\n{model.coef_[0,1]}x2 +\n{model.coef_[0,2]}x3')

Regression equation is:
2968.6885741883743 +
-180.51458498596958x1 +
-180.51458498596958x2 +
-277.3695782557258x3

In [0]:
import sklearn.metrics as m

In [93]:
# Get Train RMSE, MAE, R2
rmse_train = (m.mean_squared_error(y_train,model.predict(x_train)))**0.5
mae_train = m.median_absolute_error(y_train,model.predict(x_train))
r2_train = m.r2_score(y_train,model.predict(x_train))
print('RMSE:',rmse_train)
print('MAE:',mae_train)
print('R2:',r2_train)

RMSE: 1394.418469300497
MAE: 657.4739532517574
R2: 0.397913302801121

In [96]:
# Get Test RMSE, MAE, R2
rmse_test = (m.mean_squared_error(y_test,y_pred))**0.5
mae_test = m.median_absolute_error(y_test,y_pred)
r2_test = m.r2_score(y_test,y_pred)
print('RMSE:',rmse_test)
print('MAE:',mae_test)
print('R2:',r2_test)

RMSE: 1381.6695329888755
MAE: 678.094416644878
R2: 0.3857793966420643