<a href="https://colab.research.google.com/github/ilEnzio/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/ERLE_GRANGER_DS18_LS_DS_214_assignment_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [58]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [59]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [60]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [61]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [62]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [63]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

## Import Libraries and Modules

In [64]:
import matplotlib.pyplot as plt
import numpy as np


from sklearn.model_selection import train_test_split


# special sauce for custom method :) 
from collections import namedtuple

# ML models
from sklearn.linear_model import LinearRegression # old reliable model, for continous
from sklearn.linear_model import Ridge # RidgeRegression to guard against overfit
from sklearn.linear_model import LogisticRegression # used to predict categorical vectors


# Metric accessing functions
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Transformers
from category_encoders import OneHotEncoder # splits cat variable 
from sklearn.feature_selection import SelectKBest # selects highest correlating features
from sklearn.impute import SimpleImputer

# Lets us combine the steps for man
from sklearn.pipeline import Pipeline

## Some EDA / Wrangle

#### **Goal** - Since there are only **400 observations** (less for each subset!) I want to get the parameters down to 20 or less - Accounting for possible expansion due to encoding transformations.

In [65]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [66]:
df.shape

(421, 59)

In [67]:
df.isnull().sum()

Burrito             0
Date                0
Yelp              334
Google            334
Chips             395
Cost                7
Hunger              3
Mass (g)          399
Density (g/mL)    399
Length            138
Circum            140
Volume            140
Tortilla            0
Temp               20
Meat               14
Fillings            3
Meat:filling        9
Uniformity          2
Salsa              25
Synergy             2
Wrap                3
Unreliable        388
NonSD             414
Beef              242
Pico              263
Guac              267
Cheese            262
Fries             294
Sour cream        329
Pork              370
Chicken           400
Shrimp            400
Fish              415
Rice              385
Beans             386
Lettuce           410
Tomato            414
Bell peper        414
Carrots           420
Cabbage           413
Sauce             383
Salsa.1           414
Cilantro          406
Onion             404
Taquito           417
Pineapple         414
Ham               419
Chile relleno     417
Nopales           417
Lobster           420
Queso             421
Egg               416
Mushroom          418
Bacon             418
Sushi             419
Avocado           408
Corn              418
Zucchini          420
Great               0
dtype: int64

In [68]:
df.describe()

            Yelp     Google        Cost  ...     Synergy        Wrap  Queso
count  87.000000  87.000000  414.000000  ...  419.000000  418.000000    0.0
mean    3.887356   4.167816    7.067343  ...    3.586993    3.979904    NaN
std     0.475396   0.373698    1.506742  ...    0.886807    1.118185    NaN
min     2.500000   2.900000    2.990000  ...    1.000000    0.000000    NaN
25%     3.500000   4.000000    6.250000  ...    3.000000    3.500000    NaN
50%     4.000000   4.200000    6.990000  ...    3.800000    4.000000    NaN
75%     4.000000   4.400000    7.880000  ...    4.000000    5.000000    NaN
max     4.500000   5.000000   25.000000  ...    5.000000    5.000000    NaN

[8 rows x 19 columns]

In [69]:
df.describe(exclude="number")

           Burrito       Date Chips Unreliable  ... Avocado Corn Zucchini  Great
count          421        421    26         33  ...      13    3        1    421
unique           5        169     4          1  ...       1    2        1      2
top     California  8/30/2016     x          x  ...       x    x        x  False
freq           169         29    21         33  ...      13    2        1    239

[4 rows x 40 columns]

In [70]:
df.columns

Index(['Burrito', 'Date', 'Yelp', 'Google', 'Chips', 'Cost', 'Hunger',
       'Mass (g)', 'Density (g/mL)', 'Length', 'Circum', 'Volume', 'Tortilla',
       'Temp', 'Meat', 'Fillings', 'Meat:filling', 'Uniformity', 'Salsa',
       'Synergy', 'Wrap', 'Unreliable', 'NonSD', 'Beef', 'Pico', 'Guac',
       'Cheese', 'Fries', 'Sour cream', 'Pork', 'Chicken', 'Shrimp', 'Fish',
       'Rice', 'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots',
       'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito',
       'Pineapple', 'Ham', 'Chile relleno', 'Nopales', 'Lobster', 'Queso',
       'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini',
       'Great'],
      dtype='object')

In [71]:
df.shape

(421, 59)

In [72]:
df["Guac"].value_counts()

x    114
X     40
Name: Guac, dtype: int64

In [73]:
df['Pico'].value_counts()

x    127
X     31
Name: Pico, dtype: int64

In [74]:
df['Chips'].value_counts()

x      21
X       3
No      1
Yes     1
Name: Chips, dtype: int64

In [75]:
df['Pork'].value_counts()

x    36
X    15
Name: Pork, dtype: int64

In [76]:
df['Beef'].value_counts()

x    137
X     42
Name: Beef, dtype: int64

In [77]:
df['Beef'].value_counts()

x    137
X     42
Name: Beef, dtype: int64

In [78]:
df["Unreliable"].value_counts()

x    33
Name: Unreliable, dtype: int64

In [79]:
df['Tortilla'].nunique()

18

In [80]:
df['Tortilla'].value_counts()

4.00    130
3.00    100
3.50     63
4.50     30
2.00     27
5.00     25
2.50     20
3.80      7
1.50      6
4.20      2
3.75      2
3.20      2
3.60      2
2.10      1
4.80      1
1.00      1
1.40      1
2.80      1
Name: Tortilla, dtype: int64

In [81]:
df["Meat"].value_counts()

4.00    120
3.50     69
3.00     62
4.50     37
5.00     35
2.00     25
2.50     18
1.50      5
3.80      5
4.20      4
3.30      4
4.30      3
1.00      3
3.20      3
3.70      3
2.60      2
3.75      2
2.75      2
4.70      1
2.70      1
2.80      1
4.10      1
3.90      1
Name: Meat, dtype: int64

In [82]:
df['Length'].value_counts()

20.00    34
19.00    29
18.00    24
18.50    23
19.50    21
21.00    19
20.50    17
22.50    16
23.00    16
22.00    16
17.00    14
21.50    13
17.50     9
16.50     5
23.50     5
24.00     4
25.00     2
25.50     2
15.00     2
15.50     2
24.50     2
21.30     1
20.75     1
16.00     1
26.00     1
21.59     1
17.78     1
17.70     1
22.20     1
Name: Length, dtype: int64

In [83]:
# Drop Mass, Density, Google, Yelp, Date, 'Unreliable', Circum, Volume, Queso
# Temp, 
# ingredients I might do 
# Fill with mean: length
# Engineer: 
# Tortilla, Meat, Synergy, Wrap, change to category; 
# Beef, Pico... - replace "X" or"x" with 1,
# 
# my strategy basically involves looking as the standard dev
# so... Keep:  Length, Meat, Tortilla, Synergy, Wrap, Pico, Beef,  'Guac',
#  'Cheese', 'Fries', 'Sour cream', 'Pork', 'Chicken', 'Shrimp', 'Fish',
#  'Rice', 'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots',
#  'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito',
#  'Pineapple', 'Ham', 'Chile relleno', 'Nopales', 'Lobster', 'Queso',
#  'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini',
#

In [84]:
data = ['Burrito', 'Yelp', 'Google', 'Chips', 'Cost', 'Hunger',
       'Mass (g)', 'Density (g/mL)','Circum', 'Volume','Temp', 'Fillings', 
      'Meat:filling', 'Uniformity', 'Unreliable', 'NonSD']

In [85]:
burr_ingredients_df = df.drop(labels=data, axis=1)
burr_ingredients_df.shape

(421, 43)

In [86]:
burr_ingredients_df.columns

Index(['Date', 'Length', 'Tortilla', 'Meat', 'Salsa', 'Synergy', 'Wrap',
       'Beef', 'Pico', 'Guac', 'Cheese', 'Fries', 'Sour cream', 'Pork',
       'Chicken', 'Shrimp', 'Fish', 'Rice', 'Beans', 'Lettuce', 'Tomato',
       'Bell peper', 'Carrots', 'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro',
       'Onion', 'Taquito', 'Pineapple', 'Ham', 'Chile relleno', 'Nopales',
       'Lobster', 'Queso', 'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado',
       'Corn', 'Zucchini', 'Great'],
      dtype='object')

In [87]:
burr_ingredients_df.head(5)

        Date  Length  Tortilla  Meat  Salsa  ...  Sushi  Avocado Corn Zucchini  Great
0  1/18/2016     NaN       3.0   3.0    4.0  ...    NaN      NaN  NaN      NaN  False
1  1/24/2016     NaN       2.0   2.5    3.5  ...    NaN      NaN  NaN      NaN  False
2  1/24/2016     NaN       3.0   2.5    3.0  ...    NaN      NaN  NaN      NaN  False
3  1/24/2016     NaN       3.0   3.5    4.0  ...    NaN      NaN  NaN      NaN  False
4  1/27/2016     NaN       4.0   4.0    2.5  ...    NaN      NaN  NaN      NaN   True

[5 rows x 43 columns]

In [88]:
# Replace all the X and x ??
burr_ingredients_df= burr_ingredients_df.replace(to_replace=["X", "x"], value=1)
burr_ingredients_df.head(5)

        Date  Length  Tortilla  Meat  ...  Avocado  Corn  Zucchini  Great
0  1/18/2016     NaN       3.0   3.0  ...      NaN   NaN       NaN  False
1  1/24/2016     NaN       2.0   2.5  ...      NaN   NaN       NaN  False
2  1/24/2016     NaN       3.0   2.5  ...      NaN   NaN       NaN  False
3  1/24/2016     NaN       3.0   3.5  ...      NaN   NaN       NaN  False
4  1/27/2016     NaN       4.0   4.0  ...      NaN   NaN       NaN   True

[5 rows x 43 columns]

In [89]:
burr_ingredients_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421 entries, 0 to 422
Data columns (total 43 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           421 non-null    object
 1   Length         283 non-null    float64
 2   Tortilla       421 non-null    float64
 3   Meat           407 non-null    float64
 4   Salsa          396 non-null    float64
 5   Synergy        419 non-null    float64
 6   Wrap           418 non-null    float64
 7   Beef           179 non-null    float64
 8   Pico           158 non-null    float64
 9   Guac           154 non-null    float64
 10  Cheese         159 non-null    float64
 11  Fries          127 non-null    float64
 12  Sour cream     92 non-null     float64
 13  Pork           51 non-null     float64
 14  Chicken        21 non-null     float64
 15  Shrimp         21 non-null     float64
 16  Fish           6 non-null      float64
 17  Rice           36 non-null     float64
 18  Beans          35 non-null     float64
 19  Lettuce        11 non-null     float64
 20  Tomato         7 non-null      float64
 21  Bell peper     7 non-null      float64
 22  Carrots        1 non-null      float64
 23  Cabbage        8 non-null      float64
 24  Sauce          38 non-null     float64
 25  Salsa.1        7 non-null      float64
 26  Cilantro       15 non-null     float64
 27  Onion          17 non-null     float64
 28  Taquito        4 non-null      float64
 29  Pineapple      7 non-null      float64
 30  Ham            2 non-null      float64
 31  Chile relleno  4 non-null      float64
 32  Nopales        4 non-null      float64
 33  Lobster        1 non-null      float64
 34  Queso          0 non-null      float64
 35  Egg            5 non-null      float64
 36  Mushroom       3 non-null      float64
 37  Bacon          3 non-null      float64
 38  Sushi          2 non-null      float64
 39  Avocado        13 non-null     float64
 40  Corn           3 non-null      float64
 41  Zucchini       1 non-null      float64
 42  Great          421 non-null    bool
dtypes: bool(1), float64(41), object(1)
memory usage: 141.8+ KB

In [90]:
new_types = {'Tortilla' : 'category', 'Meat' : 'category',
             'Synergy' : 'category', 'Wrap' : 'category',
             'Date':"datetime64"}

In [91]:
burr_ingredients_df= burr_ingredients_df.astype(new_types)
burr_ingredients_df.columns

Index(['Date', 'Length', 'Tortilla', 'Meat', 'Salsa', 'Synergy', 'Wrap',
       'Beef', 'Pico', 'Guac', 'Cheese', 'Fries', 'Sour cream', 'Pork',
       'Chicken', 'Shrimp', 'Fish', 'Rice', 'Beans', 'Lettuce', 'Tomato',
       'Bell peper', 'Carrots', 'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro',
       'Onion', 'Taquito', 'Pineapple', 'Ham', 'Chile relleno', 'Nopales',
       'Lobster', 'Queso', 'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado',
       'Corn', 'Zucchini', 'Great'],
      dtype='object')

In [92]:
burr_ingredients_df.shape

(421, 43)

## Because we're going to use imputer I think we are good to go! Create the Feature Matrix.

In [93]:
data_target = {"Great" : burr_ingredients_df["Great"]}

In [94]:
X_matrix = burr_ingredients_df.drop(labels="Great", axis=1)
X_matrix.shape

(421, 42)

In [95]:
y_target = pd.DataFrame(data_target)
y_target.shape

(421, 1)

In [96]:
X_matrix.shape

(421, 42)

# Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.

In [97]:
X_matrix["Date"].dt.year.value_counts()

2016    296
2017     85
2018     27
2019     10
2026      1
2015      1
2011      1
Name: Date, dtype: int64

In [98]:
# create a temp condition for all the training data - train + validation

cond_2017_Temptrain = X_matrix["Date"].dt.year <= 2017
cond_2017_Temptrain

0       True
1       True
2       True
3       True
4       True
       ...
418    False
419    False
420    False
421    False
422    False
Name: Date, Length: 421, dtype: bool

In [99]:
#split out the (train + val) from test
X_train, y_train = X_matrix.loc[cond_2017_Temptrain], y_target.loc[cond_2017_Temptrain]
X_test, y_test = X_matrix.loc[~cond_2017_Temptrain], y_target.loc[~cond_2017_Temptrain]

In [100]:
X_test.shape

(38, 42)

In [101]:
# now seperate the train from validation for use
cond_2016_train = X_matrix["Date"].dt.year >= 2017
cond_2016_train

0      False
1      False
2      False
3      False
4      False
       ...
418     True
419     True
420     True
421     True
422     True
Name: Date, Length: 421, dtype: bool

In [102]:
cond_2017_val = X_matrix["Date"].dt.year == 2017
cond_2017_val

0      False
1      False
2      False
3      False
4      False
       ...
418    False
419    False
420    False
421    False
422    False
Name: Date, Length: 421, dtype: bool

In [103]:
cond_2018_test = X_matrix["Date"].dt.year >= 2018
cond_2018_test

0      False
1      False
2      False
3      False
4      False
       ...
418     True
419     True
420     True
421     True
422     True
Name: Date, Length: 421, dtype: bool

In [104]:
X_train, y_train = X_matrix.loc[cond_2016_train], y_target.loc[cond_2016_train]
X_val, y_val = X_matrix.loc[cond_2017_val], y_target.loc[cond_2017_val]
X_test, y_test = X_matrix.loc[cond_2018_test], y_target.loc[cond_2018_test]

In [105]:
print(X_matrix.shape)
print()
print(X_train.shape)
print(X_val.shape)
print(X_test.shape)

(421, 42)

(123, 42)
(85, 42)
(38, 42)

In [106]:
X_train = X_train.drop(labels="Date", axis=1)
X_val = X_val.drop(labels="Date", axis=1)
X_test = X_test.drop(labels="Date", axis=1)

In [107]:
X_train.columns

Index(['Length', 'Tortilla', 'Meat', 'Salsa', 'Synergy', 'Wrap', 'Beef',
       'Pico', 'Guac', 'Cheese', 'Fries', 'Sour cream', 'Pork', 'Chicken',
       'Shrimp', 'Fish', 'Rice', 'Beans', 'Lettuce', 'Tomato', 'Bell peper',
       'Carrots', 'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro', 'Onion',
       'Taquito', 'Pineapple', 'Ham', 'Chile relleno', 'Nopales', 'Lobster',
       'Queso', 'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado', 'Corn',
       'Zucchini'],
      dtype='object')

In [108]:
print(y_target.shape)
print()
print(y_train.shape)
print(y_val.shape)
print(y_test.shape)

(421, 1)

(123, 1)
(85, 1)
(38, 1)

In [109]:
y_train.head()

     Great
77    True
301  False
302  False
303  False
304  False

In [110]:
#the majority classifier - I believe this is the 
y_train['Great'].value_counts(normalize=True).max()

0.5121951219512195

## Establish a Baseline 
#### Since the **Target Vector** is Categorical use a
####** majority classifier**.

In [111]:
print(f"Our Basline Accuracy Score will be: {y_train['Great'].value_counts(normalize=True).max()}")

Our Basline Accuracy Score will be: 0.5121951219512195

### Build Model
#### Use a pipeline: Imputer, Logistic Regression

In [112]:
log_reg_model = Pipeline([ 
      ("imputer", SimpleImputer()),
      ("regressor", LogisticRegression())])

log_reg_model.fit(X_train, y_train)

y_pred_log = log_reg_model.predict(X_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [113]:
X_train.head(2)

     Length Tortilla Meat  Salsa Synergy  ... Bacon  Sushi  Avocado  Corn  Zucchini
77    21.59      4.5  5.0    3.0     5.0  ...   NaN    NaN      NaN   NaN       NaN
301   23.00      4.0  4.0    1.5     3.5  ...   NaN    NaN      NaN   NaN       NaN

[2 rows x 41 columns]

### Check Metrics

In [114]:
print('Training Accuracy:', log_reg_model.score(X_train, y_train))
print('Validation Accuracy:', log_reg_model.score(X_val, y_val))

Training Accuracy: 0.8455284552845529
Validation Accuracy: 0.8588235294117647

In [116]:
print('Test Accuracy:', log_reg_model.score(X_test, y_test))
print("Compared to a baseline...")
print(f"Basline Accuracy Score: {y_train['Great'].value_counts(normalize=True).max()}")

Test Accuracy: 0.8157894736842105
Compared to a baseline...
Basline Accuracy Score: 0.5121951219512195