<a href="https://colab.research.google.com/github/jacob-torres/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/Jacob_Torres_LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [ ]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [ ]:
# Import libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, mean_absolute_error
from category_encoders.one_hot import OneHotEncoder

In [ ]:
# Load data downloaded from https://srcole.github.io/100burritos/
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

## EDA and Feature Engineering

In [ ]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [ ]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [ ]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [ ]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [ ]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421 entries, 0 to 422
Data columns (total 59 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Burrito         421 non-null    object
 1   Date            421 non-null    object
 2   Yelp            87 non-null     float64
 3   Google          87 non-null     float64
 4   Chips           26 non-null     object
 5   Cost            414 non-null    float64
 6   Hunger          418 non-null    float64
 7   Mass (g)        22 non-null     float64
 8   Density (g/mL)  22 non-null     float64
 9   Length          283 non-null    float64
 10  Circum          281 non-null    float64
 11  Volume          281 non-null    float64
 12  Tortilla        421 non-null    float64
 13  Temp            401 non-null    float64
 14  Meat            407 non-null    float64
 15  Fillings        418 non-null    float64
 16  Meat:filling    412 non-null    float64
 17  Uniformity      419 non-null    float64
 18  Salsa           396 non-null    float64
 19  Synergy         419 non-null    float64
 20  Wrap            418 non-null    float64
 21  Unreliable      33 non-null     object
 22  NonSD           7 non-null      object
 23  Beef            179 non-null    object
 24  Pico            158 non-null    object
 25  Guac            154 non-null    object
 26  Cheese          159 non-null    object
 27  Fries           127 non-null    object
 28  Sour cream      92 non-null     object
 29  Pork            51 non-null     object
 30  Chicken         21 non-null     object
 31  Shrimp          21 non-null     object
 32  Fish            6 non-null      object
 33  Rice            36 non-null     object
 34  Beans           35 non-null     object
 35  Lettuce         11 non-null     object
 36  Tomato          7 non-null      object
 37  Bell peper      7 non-null      object
 38  Carrots         1 non-null      object
 39  Cabbage         8 non-null      object
 40  Sauce           38 non-null     object
 41  Salsa.1         7 non-null      object
 42  Cilantro        15 non-null     object
 43  Onion           17 non-null     object
 44  Taquito         4 non-null      object
 45  Pineapple       7 non-null      object
 46  Ham             2 non-null      object
 47  Chile relleno   4 non-null      object
 48  Nopales         4 non-null      object
 49  Lobster         1 non-null      object
 50  Queso           0 non-null      float64
 51  Egg             5 non-null      object
 52  Mushroom        3 non-null      object
 53  Bacon           3 non-null      object
 54  Sushi           2 non-null      object
 55  Avocado         13 non-null     object
 56  Corn            3 non-null      object
 57  Zucchini        1 non-null      object
 58  Great           421 non-null    bool
dtypes: bool(1), float64(19), object(39)
memory usage: 194.5+ KB

In [ ]:
# Convert date column to datetime
df['Date'] = pd.to_datetime(
    df['Date'].copy(), infer_datetime_format=True
)

In [ ]:
# Drop columns if > half of their values == nulls
null_cols = []
max_nulls = df.shape[0] / 2

for col in df.columns:
  num_nulls = df[col].isnull().sum()
  if num_nulls >= max_nulls:
    null_cols.append(col)

df = df.drop(
    columns=null_cols
)

In [ ]:
# Encode great column from bool to int (0 or 1)
df['Great'] = df['Great'].astype('int')

In [ ]:
# Encode burrito column to int
df['Burrito'] = df['Burrito'].map(
    {'California': 0, 'Asada': 1, 'Surf': 2, 'Carnitas': 3}
)

In [ ]:
df.head()

   Burrito       Date  Cost  Hunger  ...  Salsa  Synergy  Wrap  Great
0      0.0 2016-01-18  6.49     3.0  ...    4.0      4.0   4.0      0
1      0.0 2016-01-24  5.45     3.5  ...    3.5      2.5   5.0      0
2      3.0 2016-01-24  4.85     1.5  ...    3.0      3.0   5.0      0
3      1.0 2016-01-24  5.25     2.0  ...    4.0      4.0   5.0      0
4      0.0 2016-01-27  6.59     4.0  ...    2.5      4.5   4.0      1

[5 rows x 17 columns]

In [ ]:
df.describe()

         Burrito        Cost      Hunger  ...     Synergy        Wrap       Great
count  237.00000  414.000000  418.000000  ...  419.000000  418.000000  421.000000
mean     0.49789    7.067343    3.495335  ...    3.586993    3.979904    0.432304
std      0.94162    1.506742    0.812069  ...    0.886807    1.118185    0.495985
min      0.00000    2.990000    0.500000  ...    1.000000    0.000000    0.000000
25%      0.00000    6.250000    3.000000  ...    3.000000    3.500000    0.000000
50%      0.00000    6.990000    3.500000  ...    3.800000    4.000000    0.000000
75%      1.00000    7.880000    4.000000  ...    4.000000    5.000000    1.000000
max      3.00000   25.000000    5.000000  ...    5.000000    5.000000    1.000000

[8 rows x 16 columns]

## Training, Validating, and Testing

In [ ]:
# Split data into train, validate, and test sets
train_mask = df['Date'].dt.year == 2016
val_mask = df['Date'].dt.year == 2017
test_mask = df['Date'].dt.year >= 2018

train_df = df[train_mask]
val_df = df[val_mask]
test_df = df[test_mask]

# Define feature and target matrices
X = ['Burrito', 'Cost', 'Hunger', 'Length',
  'Circum', 'Volume', 'Tortilla', 'Temp',
  'Meat', 'Fillings', 'Meat:filling', 'Uniformity',
  'Salsa', 'Synergy', 'Wrap']
y = ['Great']

X_train = train_df[X]
y_train = train_df[y]
X_val = val_df[X]
y_val = val_df[y]
X_test = test_df[X]
y_test = test_df[y]

# Concatenate encoded features
X_train = pd.concat([encoded_features_train, X_train])
X_val = pd.concat([encoded_features_val, X_val])
X_test = pd.concat([encoded_features_test, X_test])

print(f"""Train/validation/test proportions
  Training data: {
      (train_df.shape[0] / df.shape[0]) * 100}%
  Validation data: {
      (val_df.shape[0] / df.shape[0]) * 100}%
  Testing data: {
      (test_df.shape[0] / df.shape[0]) * 100}%
""")

Train/validation/test proportions
  Training data: 70.30878859857482%
  Validation data: 20.19002375296912%
  Testing data: 9.026128266033254%

In [ ]:
# Define the baseline for the great column
df['Great'].value_counts()

0    239
1    182
Name: Great, dtype: int64

In [ ]:
print(f"The baseline is {df['Great'].value_counts()[0] / len(df['Great'])}")

The baseline is 0.5676959619952494

In [ ]:
# Train a logistic regression model on the features
y_train = np.ravel(y_train)
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict using the model and test the accuracy
y_train_pred = model.predict(X_train)
r2 = r2_score(y_train, y_train_pred)
mae = mean_absolute_error(y_train, y_train_pred)

print(f"""
r^2 score: {r2}
MAE: {mae}
""")

ValueError: ignored