<a href="https://colab.research.google.com/github/JraHike76/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/Jay_Adamo_Logistical_Regression_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [0]:
df

        Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
0    California  1/18/2016   3.5     4.2  ...     NaN   NaN       NaN  False
1    California  1/24/2016   3.5     3.3  ...     NaN   NaN       NaN  False
2      Carnitas  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
3         Asada  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
4    California  1/27/2016   4.0     3.8  ...     NaN   NaN       NaN   True
..          ...        ...   ...     ...  ...     ...   ...       ...    ...
418       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN  False
419       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True
420  California  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN  False
421       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True
422       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True

[421 rows x 59 columns]

In [0]:
df['Great'] = df['Great'].astype(int)
df['Great'].head()

0    0
1    0
2    0
3    0
4    1
Name: Great, dtype: int64

In [0]:
# need to format date and time for test/train data

df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)
df['Date']

0     2016-01-18
1     2016-01-24
2     2016-01-24
3     2016-01-24
4     2016-01-27
         ...
418   2019-08-27
419   2019-08-27
420   2019-08-27
421   2019-08-27
422   2019-08-27
Name: Date, Length: 421, dtype: datetime64[ns]

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.

In [0]:
# train/validate/test split
# train: review <= 2016
# validate: review == 2017
# test: review == 2018

train =  df[(df['Date'] <= '2016-12-31')]
val = df[(df['Date'] >= '2017-01-01') & (df['Date'] <= '2017-12-31')]
test = df[(df['Date'] >= '2018-01-01')] 

train.shape, val.shape, test.shape

((298, 59), (85, 59), (38, 59))

- [ ] Begin with baselines for classification.

In [0]:
# Baselines for classification

target = 'Great'
y_train = train[target]
y_train.value_counts(normalize=True)

0    0.590604
1    0.409396
Name: Great, dtype: float64

In [0]:
y_train.mode()

0    0
dtype: int64

In [0]:
majority_class = y_train.mode()[0]
y_pred = [majority_class] * len(y_train)
y_pred[:5]

[0, 0, 0, 0, 0]

In [0]:
# Training accuracy of predicting majority class baseline
from sklearn.metrics import accuracy_score

accuracy_score(y_train, y_pred)

0.5906040268456376

In [0]:
# Calculate validation

y_val = val[target]
y_pred = [majority_class] * len(y_val)

accuracy_score(y_val, y_pred)

0.5529411764705883

In [0]:
# Looking at features to include

train.describe()

            Yelp     Google        Cost  ...        Wrap  Queso       Great
count  71.000000  71.000000  292.000000  ...  296.000000    0.0  298.000000
mean    3.897183   4.142254    6.896781  ...    3.955068    NaN    0.409396
std     0.478680   0.371738    1.211412  ...    1.167341    NaN    0.492550
min     2.500000   2.900000    2.990000  ...    0.000000    NaN    0.000000
25%     3.500000   4.000000    6.250000  ...    3.500000    NaN    0.000000
50%     4.000000   4.200000    6.850000  ...    4.000000    NaN    0.000000
75%     4.000000   4.400000    7.500000  ...    5.000000    NaN    1.000000
max     4.500000   4.900000   11.950000  ...    5.000000    NaN    1.000000

[8 rows x 20 columns]

In [0]:
# 1. Import estimator class
from sklearn.linear_model import LinearRegression

# 2. Instantiate this class
linear_reg = LinearRegression()

# 3. Arrange X feature matrices 
features = ['Cost', 'Length','Circum', 'Uniformity']
X_train = train[features]
X_val = val[features]

# Impute missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)

# 4. Fit the model
linear_reg.fit(X_train_imputed, y_train)

# 5. Apply the model to new data.
# The predictions look like this ...
linear_reg.predict(X_val_imputed)

array([ 0.66839599,  0.58178023,  0.63014428,  0.65938901,  0.19603426,
        0.28788786,  0.49191014,  0.24557479, -0.09760548,  0.4103079 ,
        0.42154975,  0.26510353,  0.33654736,  0.34413409,  0.50037799,
        0.09778546,  0.21903632,  0.45891777,  0.59368931,  0.57664066,
        0.49851871,  0.61999131,  0.29417471,  0.70383211,  0.50196499,
        0.58538549,  0.39460997,  0.38744765,  0.49470997,  0.64935877,
        0.54910551,  0.68663504,  0.49736607,  0.34085091,  0.43554511,
        0.46679389,  0.42555054,  0.37867737,  0.54744148,  0.56863569,
        0.38995446,  0.2913998 ,  0.22905704,  0.46461017,  0.38642148,
        0.39117061,  0.51169065,  0.50648923,  0.77874766,  0.23109131,
        0.36185283,  0.45925014,  0.64632889,  0.55523527,  0.41936747,
        0.44043518,  0.58231493,  0.49765474,  0.1053083 ,  0.42775533,
        0.350028  ,  0.39960848,  0.51054634,  0.43823808,  0.41934721,
        0.56261943,  0.56526612,  0.76290488,  0.3896329 ,  0.72198989,
        1.84097988,  0.45961607,  0.27550835,  0.64801821,  0.26185837,
        0.66977509,  0.36030842,  0.4324244 ,  0.63663011,  0.71301536,
        0.4516385 ,  0.37033742,  0.8720752 ,  0.56939422,  0.57642948])

In [0]:
# Coefficients

pd.Series(linear_reg.coef_, features)

Cost          0.072631
Length        0.010597
Circum        0.002375
Uniformity    0.156244
dtype: float64

- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)

In [0]:
# Validation accuracy
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(solver='lbfgs')
log_reg.fit(X_train_imputed, y_train)
print('Validation Accuracy', log_reg.score(X_val_imputed, y_val))

Validation Accuracy 0.5764705882352941

In [0]:
df.describe()

            Yelp     Google        Cost  ...        Wrap  Queso       Great
count  87.000000  87.000000  414.000000  ...  418.000000    0.0  421.000000
mean    3.887356   4.167816    7.067343  ...    3.979904    NaN    0.432304
std     0.475396   0.373698    1.506742  ...    1.118185    NaN    0.495985
min     2.500000   2.900000    2.990000  ...    0.000000    NaN    0.000000
25%     3.500000   4.000000    6.250000  ...    3.500000    NaN    0.000000
50%     4.000000   4.200000    6.990000  ...    4.000000    NaN    0.000000
75%     4.000000   4.400000    7.880000  ...    5.000000    NaN    1.000000
max     4.500000   5.000000   25.000000  ...    5.000000    NaN    1.000000

[8 rows x 20 columns]

In [125]:
# More validation

features1 = ['Cost', 'Temp', 'Uniformity']
target = 'Great'

X_train = train[features1]
y_train = train[target]
X_val = val[features1]
y_val = val[target]
X_test = test[features1]
y_test = test[target]

X_train.shape, y_train.shape, X_val.shape, y_val.shape, X_test.shape, y_test.shape

((298, 3), (298,), (85, 3), (85,), (38, 3), (38,))

In [126]:
# importing all libraries
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler

X_train.head()

   Cost  Temp  Uniformity
0  6.49   5.0         4.0
1  5.45   3.5         4.0
2  4.85   2.0         4.0
3  5.25   2.0         5.0
4  6.59   5.0         5.0

In [0]:
X_val.head()

     Cost  Temp  Uniformity
301  6.60   4.5         5.0
302  6.60   2.0         4.6
303  8.50   4.5         4.0
304  7.90   4.0         4.5
305  4.99   4.5         3.0

- [ ] Get your model's test accuracy. (One time, at the end.)

In [0]:
# One-Hot Encoding

encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)

In [0]:
# Imputing

imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train_encoded)
X_val_imputed = imputer.transform(X_val_encoded)

In [0]:
# Scaling

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)

In [0]:
# Fit our model
model = LogisticRegressionCV()
model.fit(X_train_scaled, y_train)

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=100, multi_class='auto', n_jobs=None,
                     penalty='l2', random_state=None, refit=True, scoring=None,
                     solver='lbfgs', tol=0.0001, verbose=0)

In [129]:
# Validation accuracy
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(solver='lbfgs')
log_reg.fit(X_train_imputed, y_train)
print('Validation Accuracy', log_reg.score(X_val_imputed, y_val))

Validation Accuracy 0.6588235294117647