<a href="https://colab.research.google.com/github/JeremySpradlin/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/Jeremy_Spradlin_LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [71]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [72]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [73]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [74]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [75]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [76]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

#Exploratory Data Analysis
Look over aspects of the data to get a feel for what we are working withi

In [110]:
#Imports
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from category_encoders import OneHotEncoder

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [78]:
print(df.shape)
df.head()

(421, 59)

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [80]:
df.isnull().sum()

Burrito             0
Date                0
Yelp              334
Google            334
Chips             395
Cost                7
Hunger              3
Mass (g)          399
Density (g/mL)    399
Length            138
Circum            140
Volume            140
Tortilla            0
Temp               20
Meat               14
Fillings            3
Meat:filling        9
Uniformity          2
Salsa              25
Synergy             2
Wrap                3
Unreliable        388
NonSD             414
Beef              242
Pico              263
Guac              267
Cheese            262
Fries             294
Sour cream        329
Pork              370
Chicken           400
Shrimp            400
Fish              415
Rice              385
Beans             386
Lettuce           410
Tomato            414
Bell peper        414
Carrots           420
Cabbage           413
Sauce             383
Salsa.1           414
Cilantro          406
Onion             404
Taquito           417
Pineapple         414
Ham               419
Chile relleno     417
Nopales           417
Lobster           420
Queso             421
Egg               416
Mushroom          418
Bacon             418
Sushi             419
Avocado           408
Corn              418
Zucchini          420
Great               0
dtype: int64

In [87]:
#Given that there is a lot of missing data, we will remove the columns that are missing a bunch of data.
df1 = df.dropna(thresh=300, axis=1)
df1.isnull().sum()

Burrito          0
Date             0
Cost             7
Hunger           3
Tortilla         0
Temp            20
Meat            14
Fillings         3
Meat:filling     9
Uniformity       2
Salsa           25
Synergy          2
Wrap             3
Great            0
dtype: int64

#Create Train/Validate/Test split on our data
Training data: Data prior to 2016
Validation data: 2017
Testing data: 2018 and later

In [88]:
df1.head()

      Burrito       Date  Cost  Hunger  ...  Salsa  Synergy  Wrap  Great
0  California  1/18/2016  6.49     3.0  ...    4.0      4.0   4.0  False
1  California  1/24/2016  5.45     3.5  ...    3.5      2.5   5.0  False
2    Carnitas  1/24/2016  4.85     1.5  ...    3.0      3.0   5.0  False
3       Asada  1/24/2016  5.25     2.0  ...    4.0      4.0   5.0  False
4  California  1/27/2016  6.59     4.0  ...    2.5      4.5   4.0   True

[5 rows x 14 columns]

In [91]:
#Now we need to split our dataframe based on time
#First we need to convert our date to a datetime format
df1['Date'] = pd.to_datetime(df1['Date'])
df1.dtypes

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Burrito                 object
Date            datetime64[ns]
Cost                   float64
Hunger                 float64
Tortilla               float64
Temp                   float64
Meat                   float64
Fillings               float64
Meat:filling           float64
Uniformity             float64
Salsa                  float64
Synergy                float64
Wrap                   float64
Great                     bool
dtype: object

In [92]:
#Split our dataset by X and y 
y = df1['Great']
print(y.shape)

(421,)

In [95]:
X = df1
print(X.shape)

(421, 13)

In [94]:
df1.head()

      Burrito       Date  Cost  Hunger  ...  Uniformity  Salsa  Synergy  Wrap
0  California 2016-01-18  6.49     3.0  ...         4.0    4.0      4.0   4.0
1  California 2016-01-24  5.45     3.5  ...         4.0    3.5      2.5   5.0
2    Carnitas 2016-01-24  4.85     1.5  ...         4.0    3.0      3.0   5.0
3       Asada 2016-01-24  5.25     2.0  ...         5.0    4.0      4.0   5.0
4  California 2016-01-27  6.59     4.0  ...         5.0    2.5      4.5   4.0

[5 rows x 13 columns]

In [106]:
#Split our X dataset by date into X_train and X_test
#Training Datasets
X_train = X[(X['Date'] < '2016-12-31')]
X_train = X_train.drop(columns='Date')
y_train = y[y.index.isin(X_train.index)]

print(X_train.shape)
print(y_train.shape)

(298, 12)
(298,)

In [107]:
#Validation Datasets
X_val = X[(X['Date'] >= '2017-01-01') & (X['Date'] <= '2017-12-31')]
X_val = X_val.drop(columns='Date')
y_val = y[y.index.isin(X_val.index)]

print(X_val.shape)
print(y_val.shape)

(85, 12)
(85,)

In [108]:
#Testing data sets
X_test = X[(X['Date'] >= '2018-01-01')]
X_test = X_test.drop(columns='Date')
y_test = y[y.index.isin(X_test.index)]

print(X_test.shape)
print(y_test.shape)

(38, 12)
(38,)

# Determine Baseline for classification

In [101]:
y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

#Build the model with logistic regression

In [112]:
X_train.dtypes

Burrito          object
Cost            float64
Hunger          float64
Tortilla        float64
Temp            float64
Meat            float64
Fillings        float64
Meat:filling    float64
Uniformity      float64
Salsa           float64
Synergy         float64
Wrap            float64
dtype: object

In [113]:
log_model = Pipeline([
                      ('ohe', OneHotEncoder(cols=['Burrito'])),
                      ('imputer', SimpleImputer()),
                      ('classifier', LogisticRegression())
])

In [114]:
#Fit our logistic regression model to our training data
log_model.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Pipeline(memory=None,
         steps=[('ohe',
                 OneHotEncoder(cols=['Burrito'], drop_invariant=False,
                               handle_missing='value', handle_unknown='value',
                               return_df=True, use_cat_names=False,
                               verbose=0)),
                ('imputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='mean',
                               verbose=0)),
                ('classifier',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

#Get our model's validation accuracy

In [117]:
#Check our accuracy on our different sets
print('Training Accuracy: ', log_model.score(X_train, y_train))
print('Validation Accuracy: ', log_model.score(X_val, y_val))

Training Accuracy:  0.889261744966443
Validation Accuracy:  0.8352941176470589

#Get our Model's Test Accuracy

In [118]:
print('Testing Accuracy: ', log_model.score(X_test, y_test))

Testing Accuracy:  0.7631578947368421