<a href="https://colab.research.google.com/github/jmmiddour/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [2]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [3]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [4]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [5]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [6]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

## Assignment:

In [7]:
# Look at the dataset:
print (df.shape)
df.head()

(421, 59)

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [8]:
# Check data type of date column:
df['Date'].dtypes

dtype('O')

In [9]:
# Change date column to datetime:
df['Date'] = pd.to_datetime(df['Date'])

# Check my work:
df['Date'].dtypes

dtype('<M8[ns]')

In [10]:
# Create a new column with just the year:
df['year'] = pd.DatetimeIndex(df['Date']).year

# Check my work:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Avocado  Corn  Zucchini  Great  year
0  California 2016-01-18   3.5     4.2   NaN  ...      NaN   NaN       NaN  False  2016
1  California 2016-01-24   3.5     3.3   NaN  ...      NaN   NaN       NaN  False  2016
2    Carnitas 2016-01-24   NaN     NaN   NaN  ...      NaN   NaN       NaN  False  2016
3       Asada 2016-01-24   NaN     NaN   NaN  ...      NaN   NaN       NaN  False  2016
4  California 2016-01-27   4.0     3.8     x  ...      NaN   NaN       NaN   True  2016

[5 rows x 60 columns]

In [11]:
# Look at the null values:
df.isnull().sum()

Burrito             0
Date                0
Yelp              334
Google            334
Chips             395
Cost                7
Hunger              3
Mass (g)          399
Density (g/mL)    399
Length            138
Circum            140
Volume            140
Tortilla            0
Temp               20
Meat               14
Fillings            3
Meat:filling        9
Uniformity          2
Salsa              25
Synergy             2
Wrap                3
Unreliable        388
NonSD             414
Beef              242
Pico              263
Guac              267
Cheese            262
Fries             294
Sour cream        329
Pork              370
Chicken           400
Shrimp            400
Fish              415
Rice              385
Beans             386
Lettuce           410
Tomato            414
Bell peper        414
Carrots           420
Cabbage           413
Sauce             383
Salsa.1           414
Cilantro          406
Onion             404
Taquito           417
Pineapple         414
Ham               419
Chile relleno     417
Nopales           417
Lobster           420
Queso             421
Egg               416
Mushroom          418
Bacon             418
Sushi             419
Avocado           408
Corn              418
Zucchini          420
Great               0
year                0
dtype: int64

In [12]:
# Get columns in a list:
df.columns

Index(['Burrito', 'Date', 'Yelp', 'Google', 'Chips', 'Cost', 'Hunger',
       'Mass (g)', 'Density (g/mL)', 'Length', 'Circum', 'Volume', 'Tortilla',
       'Temp', 'Meat', 'Fillings', 'Meat:filling', 'Uniformity', 'Salsa',
       'Synergy', 'Wrap', 'Unreliable', 'NonSD', 'Beef', 'Pico', 'Guac',
       'Cheese', 'Fries', 'Sour cream', 'Pork', 'Chicken', 'Shrimp', 'Fish',
       'Rice', 'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots',
       'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito',
       'Pineapple', 'Ham', 'Chile relleno', 'Nopales', 'Lobster', 'Queso',
       'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini',
       'Great', 'year'],
      dtype='object')

In [13]:
# Import libraries:
import numpy as np
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.impute import SimpleImputer
import category_encoders as ce
from sklearn.preprocessing import StandardScaler

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

### Do train / validate / test split. 
Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.

In [14]:
# Do a train, validate, and test split:
train = df[df['year'] <= 2016]
val = df[df['year'] == 2017]
test = df[df['year'] >= 2018]

# Check my work:
train.shape, val.shape, test.shape

((298, 60), (85, 60), (38, 60))

### Begin with baselines for classification.

In [15]:
# Determine the majority class:
target = 'Great'
y_train = train[target]
y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [16]:
# Guess the majority for all values to look at the accuracy score:
maj_class = y_train.mode()[0]
y_pred_train = [maj_class] * len(y_train)
y_pred_train

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [17]:
# Look at the accuracy score for the train set:
accuracy_score(y_train, y_pred_train)

0.5906040268456376

### Use scikit-learn for logistic regression.

In [18]:
# Since shape is only 421 rows, create a list with columns more than 415 NaN:
high_nan = ['Carrots', 'Taquito', 'Ham', 'Chile relleno', 'Nopales', 'Lobster',
            'Queso', 'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Corn', 'Zucchini']

In [19]:
# Since shape is only 421 rows, create a list with columns more than 410 NaN:
high_nan2 = ['NonSD', 'Fish', 'Tomato', 'Bell peper', 'Cabbage', 'Salsa.1',
              'Pineapple']

In [20]:
# Create logistic regression:
# Already imported the estimator class.

# Instantiate the class:
logreg = LogisticRegression(solver='lbfgs')

# Arrange the X feature matrices and y target vectors
  # (already did the y target vector for train):
''' 
  Accuracy for Training=0.9395973154362416, Validation=0.788235294117647, 
  and Test=0.8157894736842105, when I dropped only 'Burrito', 'Date',
  'Great', and 'year'. Now try to drop more columns with NaN more than 415.
'''
'''
  Accuracy for Training=0.9328859060402684, Validation=0.8, and 
  Test=0.8157894736842105, when I dropped features with more than 415 NaN's. 
  Now try to drop more columns with NaN more than 410.
'''
'''
  Accuracy for Training=0.9194630872483222, Validation=0.788235294117647, 
  and Test=0.7894736842105263, when I dropped features with more than 410 NaN's. 
  This actually reduced the accuracy scores, going back to NaN's with 415+.
'''
features = train.columns.drop(['Burrito', 'Date', 'Great', 'year', 'Carrots', 
                               'Taquito', 'Ham', 'Chile relleno', 'Nopales', 
                               'Lobster', 'Queso', 'Egg', 'Mushroom', 'Bacon', 
                               'Sushi', 'Corn', 'Zucchini', 'Fish'])
X_train = train[features]
X_val = val[features]
X_test = test[features]
y_val = val[target]
y_test = test[target]

# Encode categorical values:
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)
X_test_encoded = encoder.transform(X_test)

# Impute null values:
imputer = SimpleImputer()
X_train_imp = imputer.fit_transform(X_train_encoded)
X_val_imp = imputer.transform(X_val_encoded)
X_test_imp = imputer.transform(X_test_encoded)

# Scale the values:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imp)
X_val_scaled = scaler.transform(X_val_imp)
X_test_scaled = scaler.transform(X_test_imp)

# Fit the model:
logreg.fit(X_train_scaled, y_train)

# Show the train accuracy score:
print ('Training Accuracy', logreg.score(X_train_scaled, y_train))

Training Accuracy 0.9328859060402684

### Get your model's validation accuracy. 
(Multiple times if you try multiple iterations.)

In [21]:
# Look at the accuracy score for validation set:
y_pred_val = logreg.predict(X_val_scaled)
accuracy_score(y_val, y_pred_val)

0.8

### Get your model's test accuracy. 
(One time, at the end.)

In [22]:
# Look at the accuracy score for test set:
y_pred_test = logreg.predict(X_test_scaled)
accuracy_score(y_test, y_pred_test)

0.8157894736842105

### Commit your notebook to your fork of the GitHub repo.

In [23]:
# Done!!!

## Stretch Goals:

### Add your own stretch goal(s) !

### Make exploratory visualizations.

### Do one-hot encoding.

### Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).

### Get and plot your coefficients.

### Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).