<a href="https://colab.research.google.com/github/calebmckay1/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [122]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [123]:
import numpy as np

df = df.replace({'x': np.NaN})
df = df.replace({'X': np.NaN})

df.head()

# I'm assumming the x was a missing value, was causing issues later on

      Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2  ...     NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3  ...     NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8  ...     NaN   NaN       NaN   True

[5 rows x 59 columns]

In [0]:
import pandas as pd

df['Date'] = pd.to_datetime(df['Date'])

In [125]:
train = df[df['Date'] <= '2016-12-31']

val = df[df['Date'] >= '2017-01-01']
val = val[val['Date'] <= '2017-12-31']

test = df[df['Date'] >= '2018-01-01']

test.head()

# test data has year 2026 in date I'll just drop it out

        Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
77   California 2026-04-25   NaN     NaN  ...     NaN   NaN       NaN   True
386  California 2018-01-02   NaN     NaN  ...     NaN   NaN       NaN  False
387       Other 2018-01-09   4.5     3.8  ...     NaN   NaN       NaN  False
388  California 2018-01-12   3.5     4.3  ...     NaN   NaN       NaN   True
389       Other 2018-01-12   NaN     NaN  ...     NaN   NaN       NaN  False

[5 rows x 59 columns]

In [126]:
test['Date'].nlargest()
# looks like thats the only date thats in the future

77    2026-04-25
414   2019-08-27
415   2019-08-27
416   2019-08-27
417   2019-08-27
Name: Date, dtype: datetime64[ns]

In [127]:
test = test[test['Date'] < '2020-01-01']
test['Date'].nlargest()

# okay fixed it

414   2019-08-27
415   2019-08-27
416   2019-08-27
417   2019-08-27
418   2019-08-27
Name: Date, dtype: datetime64[ns]

In [0]:
####### begin with baselines for classification #######

In [129]:
target = 'Great'
y_train = train[target]
y_test = test[target]
y_train.value_counts(normalize=True)

# about 41% of our train data had Great.

# could also run mode, but I can tell the mode is false because mode is the 
# value that appears most often in a dataset

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [0]:
majority_class = y_train.mode()[0]
y_pred = [majority_class] * len(y_train)

# running mode into our baseline prediction because mode is the 
# values that appears most often in a dataset

In [131]:
from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_pred)

# baseline is 0.59

0.5906040268456376

In [132]:
y_val = val[target]
y_pred = [majority_class] * len(y_val)
accuracy_score(y_val, y_pred)

# with a validation score of 0.55

0.5529411764705883

In [0]:
###### Use scikit-learn for logistic regression ######

In [134]:
train.describe(exclude='number')

           Burrito                 Date Chips  Great
count          298                  298     0    298
unique           5                  110     0      2
top     California  2016-08-30 00:00:00   NaN  False
freq           118                   29   NaN    176
first          NaN  2011-05-16 00:00:00   NaN    NaN
last           NaN  2016-12-15 00:00:00   NaN    NaN

In [0]:
train = train.drop('Date',axis=1)

# removed date from train to easily encode the values in the columns

In [0]:
train = train.drop('Great', axis=1)

In [0]:
features = train.columns
x_train = train[features]
x_val = val[features]
x_test = test[features]

import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)
x_train = encoder.fit_transform(x_train)
x_test = encoder.transform(x_test)
x_val = encoder.transform(x_val)

# encoded strings to numbers

In [0]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
x_train_imputed = imputer.fit_transform(x_train)
x_val_imputed = imputer.transform(x_val)
x_test_imputed = imputer.transform(x_test)

In [139]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(x_train_imputed, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
####### Get your model's validation accuracy. (Multiple times if you try multiple iterations.) #######

In [141]:
print('Validation Accuracy:', LR.score(x_val_imputed, y_val))

Validation Accuracy: 0.8235294117647058

In [0]:
####### Get your model's test accuracy. (One time, at the end.) #######

In [143]:
score = LR.score(x_test_imputed, y_test)
print('Test Accuracy:', score)

Test Accuracy: 0.7837837837837838