Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [7]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [0]:
#making a new year column in order to split the dataset
df['Year'] = df['Date'].apply(lambda x: pd.to_datetime(x, infer_datetime_format=True)).apply(lambda x: x.year)

In [0]:
#splitting the dataset
train = df[df['Year'] <= 2016]
validate = df[df['Year'] == 2017]
test = df[df['Year'] >= 2018]

In [0]:
#false is the more common burrito answer
target = 'Great'
y_train = train[target]

majority_class = y_train.mode()[0]
y_pred_train = [majority_class] * len(y_train)

In [11]:
from sklearn.metrics import accuracy_score

accuracy_score(y_train, y_pred_train)

0.5906040268456376

In [12]:
#baseline accuracy on the validation set
y_val = validate[target]
y_pred_val = [majority_class] * len(y_val)
accuracy_score(y_val, y_pred_val)

0.5529411764705883

In [13]:
train.shape

(298, 60)

In [14]:
train['Fries'].value_counts()

x    97
X    22
Name: Fries, dtype: int64

In [15]:
train.describe(exclude='number')

           Burrito       Date Chips Unreliable  ... Avocado Corn Zucchini  Great
count          298        298    22         27  ...      13    2        1    298
unique           5        110     2          1  ...       1    2        1      2
top     California  8/30/2016     x          x  ...       x    X        x  False
freq           118         29    19         27  ...      13    1        1    176

[4 rows x 40 columns]

In [16]:
train.columns

Index(['Burrito', 'Date', 'Yelp', 'Google', 'Chips', 'Cost', 'Hunger',
       'Mass (g)', 'Density (g/mL)', 'Length', 'Circum', 'Volume', 'Tortilla',
       'Temp', 'Meat', 'Fillings', 'Meat:filling', 'Uniformity', 'Salsa',
       'Synergy', 'Wrap', 'Unreliable', 'NonSD', 'Beef', 'Pico', 'Guac',
       'Cheese', 'Fries', 'Sour cream', 'Pork', 'Chicken', 'Shrimp', 'Fish',
       'Rice', 'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots',
       'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito',
       'Pineapple', 'Ham', 'Chile relleno', 'Nopales', 'Lobster', 'Queso',
       'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini',
       'Great', 'Year'],
      dtype='object')

In [0]:
empty_columns = ['Mass (g)', 'Density (g/mL)', 'Queso']
date_data = ['Date', 'Year']
features = train.columns.drop([target] + empty_columns + date_data)

In [0]:
X_train = train[features]

In [104]:
#a lot of the features appear to be a binary value of if an ingredient was present or not
#this is coded as x, X or nan
#im assuming that x and X are the same

X_train = train[features]
X_train_binary = X_train.copy()
for column in X_train_binary.columns:
    column_mode = X_train_binary[column].mode()[0]
    if column_mode == 'x' or column_mode == 'X':
        print(column)
        X_train_binary[column] = X_train_binary[column].apply(lambda x: str(x).lower()).apply(lambda x: 1 if x == 'x' else 0)

Chips
Unreliable
NonSD
Beef
Pico
Guac
Cheese
Fries
Sour cream
Pork
Chicken
Shrimp
Fish
Rice
Beans
Lettuce
Tomato
Bell peper
Carrots
Cabbage
Sauce
Salsa.1
Cilantro
Onion
Taquito
Pineapple
Ham
Chile relleno
Nopales
Lobster
Egg
Mushroom
Bacon
Sushi
Avocado
Corn
Zucchini

In [105]:
X_train_binary

        Burrito  Yelp  Google  Chips  ...  Sushi  Avocado  Corn  Zucchini
0    California   3.5     4.2      0  ...      0        0     0         0
1    California   3.5     3.3      0  ...      0        0     0         0
2      Carnitas   NaN     NaN      0  ...      0        0     0         0
3         Asada   NaN     NaN      0  ...      0        0     0         0
4    California   4.0     3.8      1  ...      0        0     0         0
..          ...   ...     ...    ...  ...    ...      ...   ...       ...
296  California   4.0     4.3      0  ...      0        0     0         0
297       Other   NaN     NaN      0  ...      0        0     0         0
298  California   3.5     3.7      0  ...      0        0     0         0
299       Asada   NaN     NaN      0  ...      0        0     0         0
300       Other   4.5     4.6      0  ...      0        0     0         0

[298 rows x 54 columns]

In [0]:
#i think it is important to keep in the data if a yelp or google review was made or not
#going to turn the reviews into strings and one hot encode
X_train_pre_one_hot = X_train_binary
X_train_pre_one_hot['Yelp'] = X_train_pre_one_hot['Yelp'].apply(lambda x: str(x))
X_train_pre_one_hot['Google'] = X_train_pre_one_hot['Google'].apply(lambda x: str(x))

In [0]:
import category_encoders as ce

encoder = ce.one_hot.OneHotEncoder(use_cat_names=True)
X_train_post_one_hot = encoder.fit_transform(X_train_pre_one_hot)

In [123]:
X_train_post_one_hot

     Burrito_California  Burrito_Carnitas  ...  Corn  Zucchini
0                     1                 0  ...     0         0
1                     1                 0  ...     0         0
2                     0                 1  ...     0         0
3                     0                 0  ...     0         0
4                     1                 0  ...     0         0
..                  ...               ...  ...   ...       ...
296                   1                 0  ...     0         0
297                   0                 0  ...     0         0
298                   1                 0  ...     0         0
299                   0                 0  ...     0         0
300                   0                 0  ...     0         0

[298 rows x 80 columns]

In [113]:
X_train.describe()

            Yelp     Google        Cost  ...       Salsa     Synergy        Wrap
count  71.000000  71.000000  292.000000  ...  278.000000  296.000000  296.000000
mean    3.897183   4.142254    6.896781  ...    3.324640    3.540203    3.955068
std     0.478680   0.371738    1.211412  ...    0.971226    0.922426    1.167341
min     2.500000   2.900000    2.990000  ...    0.000000    1.000000    0.000000
25%     3.500000   4.000000    6.250000  ...    2.500000    3.000000    3.500000
50%     4.000000   4.200000    6.850000  ...    3.500000    3.750000    4.000000
75%     4.000000   4.400000    7.500000  ...    4.000000    4.000000    5.000000
max     4.500000   4.900000   11.950000  ...    5.000000    5.000000    5.000000

[8 rows x 16 columns]

In [0]:
from sklearn.impute import Simple_imputer

X_train_pre_impute = X_train.select_dtypes(include='number').drop(['Yelp', 'Google'], axis=1)

imputer = 
X_train_post_impute =