<a href="https://colab.research.google.com/github/timrocar/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [76]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [77]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [78]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [79]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [80]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [81]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

## EDA

In [82]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421 entries, 0 to 422
Data columns (total 59 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Burrito         421 non-null    object
 1   Date            421 non-null    object
 2   Yelp            87 non-null     float64
 3   Google          87 non-null     float64
 4   Chips           26 non-null     object
 5   Cost            414 non-null    float64
 6   Hunger          418 non-null    float64
 7   Mass (g)        22 non-null     float64
 8   Density (g/mL)  22 non-null     float64
 9   Length          283 non-null    float64
 10  Circum          281 non-null    float64
 11  Volume          281 non-null    float64
 12  Tortilla        421 non-null    float64
 13  Temp            401 non-null    float64
 14  Meat            407 non-null    float64
 15  Fillings        418 non-null    float64
 16  Meat:filling    412 non-null    float64
 17  Uniformity      419 non-null    float64
 18  Salsa           396 non-null    float64
 19  Synergy         419 non-null    float64
 20  Wrap            418 non-null    float64
 21  Unreliable      33 non-null     object
 22  NonSD           7 non-null      object
 23  Beef            179 non-null    object
 24  Pico            158 non-null    object
 25  Guac            154 non-null    object
 26  Cheese          159 non-null    object
 27  Fries           127 non-null    object
 28  Sour cream      92 non-null     object
 29  Pork            51 non-null     object
 30  Chicken         21 non-null     object
 31  Shrimp          21 non-null     object
 32  Fish            6 non-null      object
 33  Rice            36 non-null     object
 34  Beans           35 non-null     object
 35  Lettuce         11 non-null     object
 36  Tomato          7 non-null      object
 37  Bell peper      7 non-null      object
 38  Carrots         1 non-null      object
 39  Cabbage         8 non-null      object
 40  Sauce           38 non-null     object
 41  Salsa.1         7 non-null      object
 42  Cilantro        15 non-null     object
 43  Onion           17 non-null     object
 44  Taquito         4 non-null      object
 45  Pineapple       7 non-null      object
 46  Ham             2 non-null      object
 47  Chile relleno   4 non-null      object
 48  Nopales         4 non-null      object
 49  Lobster         1 non-null      object
 50  Queso           0 non-null      float64
 51  Egg             5 non-null      object
 52  Mushroom        3 non-null      object
 53  Bacon           3 non-null      object
 54  Sushi           2 non-null      object
 55  Avocado         13 non-null     object
 56  Corn            3 non-null      object
 57  Zucchini        1 non-null      object
 58  Great           421 non-null    bool
dtypes: bool(1), float64(19), object(39)
memory usage: 194.5+ KB

In [84]:
df.describe()

            Yelp     Google        Cost  ...     Synergy        Wrap  Queso
count  87.000000  87.000000  414.000000  ...  419.000000  418.000000    0.0
mean    3.887356   4.167816    7.067343  ...    3.586993    3.979904    NaN
std     0.475396   0.373698    1.506742  ...    0.886807    1.118185    NaN
min     2.500000   2.900000    2.990000  ...    1.000000    0.000000    NaN
25%     3.500000   4.000000    6.250000  ...    3.000000    3.500000    NaN
50%     4.000000   4.200000    6.990000  ...    3.800000    4.000000    NaN
75%     4.000000   4.400000    7.880000  ...    4.000000    5.000000    NaN
max     4.500000   5.000000   25.000000  ...    5.000000    5.000000    NaN

[8 rows x 19 columns]

In [85]:
df.select_dtypes('object').head()

      Burrito       Date Chips Unreliable  ... Sushi Avocado Corn Zucchini
0  California  1/18/2016   NaN        NaN  ...   NaN     NaN  NaN      NaN
1  California  1/24/2016   NaN        NaN  ...   NaN     NaN  NaN      NaN
2    Carnitas  1/24/2016   NaN        NaN  ...   NaN     NaN  NaN      NaN
3       Asada  1/24/2016   NaN        NaN  ...   NaN     NaN  NaN      NaN
4  California  1/27/2016     x        NaN  ...   NaN     NaN  NaN      NaN

[5 rows x 39 columns]

In [86]:
list(df.select_dtypes('object').columns)

['Burrito',
 'Date',
 'Chips',
 'Unreliable',
 'NonSD',
 'Beef',
 'Pico',
 'Guac',
 'Cheese',
 'Fries',
 'Sour cream',
 'Pork',
 'Chicken',
 'Shrimp',
 'Fish',
 'Rice',
 'Beans',
 'Lettuce',
 'Tomato',
 'Bell peper',
 'Carrots',
 'Cabbage',
 'Sauce',
 'Salsa.1',
 'Cilantro',
 'Onion',
 'Taquito',
 'Pineapple',
 'Ham',
 'Chile relleno',
 'Nopales',
 'Lobster',
 'Egg',
 'Mushroom',
 'Bacon',
 'Sushi',
 'Avocado',
 'Corn',
 'Zucchini']

We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.

In [87]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [88]:
## Setting the date column as my index
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y')

df.set_index('Date', inplace=True)

In [101]:
# Target vector

y = df.Great

# Feature Matrix

X = df.drop(['Queso', 'NonSD', 'Unreliable', 'Burrito', 'Mass (g)', 'Density (g/mL)', 'Great'], axis=1)

In [112]:
## Splitting Data 
# Training w data from 2016 and earlier

cutoff = '2017-01-01'
mask = X.index < cutoff

X_train, y_train = X.loc[mask], y.loc[mask]

## Validation data from 2017

end_date = '2018-01-01'
valmask = (X.index >= cutoff) & (X.index < end_date)


X_val, y_val = X.loc[valmask], y.loc[valmask]

## Test data
testmask = X.index > end_date
X_test, y_test = X.loc[testmask], y.loc[testmask]

In [113]:
print(X.shape)
print(X_train.shape)
print(X_val.shape)
print(X_test.shape)

(421, 51)
(298, 51)
(85, 51)
(38, 51)

## Setting Baselines!

In [104]:
## Classification baseline - (Majority Classifier ---> Accuracy score)

print('Baseline Accuracy Score:', y_train.value_counts(normalize=True).max())

Baseline Accuracy Score: 0.5906040268456376

## Model Building

In [105]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

log_model = Pipeline([
                      ('imputer', SimpleImputer()),
                      ('regressor', LogisticRegression())
])

log_model.fit(X_train[['Tortilla']], y_train)

y_pred_log = log_model.predict(X_train[['Tortilla']])

In [106]:
X_train.head()

            Yelp  Google Chips  Cost  Hunger  ...  Bacon  Sushi  Avocado  Corn  Zucchini
Date                                          ...
2016-01-18   3.5     4.2   NaN  6.49     3.0  ...    NaN    NaN      NaN   NaN       NaN
2016-01-24   3.5     3.3   NaN  5.45     3.5  ...    NaN    NaN      NaN   NaN       NaN
2016-01-24   NaN     NaN   NaN  4.85     1.5  ...    NaN    NaN      NaN   NaN       NaN
2016-01-24   NaN     NaN   NaN  5.25     2.0  ...    NaN    NaN      NaN   NaN       NaN
2016-01-27   4.0     3.8     x  6.59     4.0  ...    NaN    NaN      NaN   NaN       NaN

[5 rows x 51 columns]

In [107]:
from category_encoders import OneHotEncoder

In [110]:
full_model = Pipeline([
                       ('encoder', OneHotEncoder(cols=['Chips', 'Beef', 'Pico', 'Guac',
 'Cheese', 'Fries', 'Sour cream', 'Pork', 'Chicken', 'Shrimp', 'Fish',
 'Rice', 'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots',
 'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito',
 'Pineapple', 'Ham', 'Chile relleno', 'Nopales', 'Lobster', 'Egg',
 'Mushroom', 'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini'])),
 ('imputer', SimpleImputer()),
 ('regressor', LogisticRegression())
 ])

full_model.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Pipeline(memory=None,
         steps=[('encoder',
                 OneHotEncoder(cols=['Chips', 'Beef', 'Pico', 'Guac', 'Cheese',
                                     'Fries', 'Sour cream', 'Pork', 'Chicken',
                                     'Shrimp', 'Fish', 'Rice', 'Beans',
                                     'Lettuce', 'Tomato', 'Bell peper',
                                     'Carrots', 'Cabbage', 'Sauce', 'Salsa.1',
                                     'Cilantro', 'Onion', 'Taquito',
                                     'Pineapple', 'Ham', 'Chile relleno',
                                     'Nopales', 'Lobster', 'Egg', 'Mushroom', ...],
                               drop_invaria...
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='mean',
                               verbose=0)),
                ('regressor',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [115]:
print('Training Accuracy:', full_model.score(X_train, y_train))
print('Validation Accuracy:', full_model.score(X_val, y_val))
print('Testing Accuracy:', full_model.score(X_test, y_test))

Training Accuracy: 0.9093959731543624
Validation Accuracy: 0.8235294117647058
Testing Accuracy: 0.7631578947368421