<a href="https://colab.research.google.com/github/jasimrashid/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
df.head()

               Location      Burrito       Date  ... Avocado Corn Zucchini
0    Donato's taco shop  California   1/18/2016  ...     NaN  NaN      NaN
1  Oscar's Mexican food  California   1/24/2016  ...     NaN  NaN      NaN
2  Oscar's Mexican food     Carnitas  1/24/2016  ...     NaN  NaN      NaN
3  Oscar's Mexican food  Carne asada  1/24/2016  ...     NaN  NaN      NaN
4          Pollos Maria   California  1/27/2016  ...     NaN  NaN      NaN

[5 rows x 66 columns]

In [0]:
df.Burrito.value_counts()

California                    101
Carne asada                    29
California                     26
Carnitas                       23
Surf & Turf                    15
                             ...
Chile relleno and carnitas      1
Barbacoa                        1
Bean and rice grande size       1
Steak with guacamole            1
carne asada                     1
Name: Burrito, Length: 132, dtype: int64

In [0]:
df.Burrito.value_counts()

California                    101
Carne asada                    29
California                     26
Carnitas                       23
Surf & Turf                    15
                             ...
Chile relleno and carnitas      1
Barbacoa                        1
Bean and rice grande size       1
Steak with guacamole            1
carne asada                     1
Name: Burrito, Length: 132, dtype: int64

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

# print(california)

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [54]:
# Do train/test split
# Use data from April & May 2016 to train
# Use data from June 2016 to test
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)
cutoff_1 = pd.to_datetime('2017-01-01')
cutoff_2 = pd.to_datetime('2018-01-01')


train = df[df['Date'] < cutoff_1]
test = df[df['Date'] >= cutoff_2]
val = df[(df['Date'] < cutoff_2) & (df['Date'] >= cutoff_1)]

train.shape, validate.shape, test.shape

((298, 59), (85, 59), (38, 59))

**2.** baselines for classification

In [68]:
target = 'Great'
y_train = train[target]
y_val = val[target]
y_test = test[target]
y_train.value_counts(normalize=True), y_val.value_counts(normalize=True),y_test.value_counts(normalize=True)

(False    0.590604
 True     0.409396
 Name: Great, dtype: float64, False    0.552941
 True     0.447059
 Name: Great, dtype: float64, True     0.578947
 False    0.421053
 Name: Great, dtype: float64)

In [0]:
majority_class = y_train.mode()[0]
y_pred = [majority_class]*len(y_train)
# y_pred

In [57]:
# Baseline accuracy score
from sklearn.metrics import accuracy_score

accuracy_score(y_pred, y_train)

0.5906040268456376

**3.** Logistic regression

In [58]:
train.describe(exclude='number')

           Burrito                 Date Chips  ... Corn Zucchini  Great
count          298                  298    22  ...    2        1    298
unique           5                  110     2  ...    2        1      2
top     California  2016-08-30 00:00:00     x  ...    x        x  False
freq           118                   29    19  ...    1        1    176
first          NaN  2011-05-16 00:00:00   NaN  ...  NaN      NaN    NaN
last           NaN  2016-12-15 00:00:00   NaN  ...  NaN      NaN    NaN

[6 rows x 40 columns]

In [59]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 298 entries, 0 to 300
Data columns (total 59 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Burrito         298 non-null    object
 1   Date            298 non-null    datetime64[ns]
 2   Yelp            71 non-null     float64
 3   Google          71 non-null     float64
 4   Chips           22 non-null     object
 5   Cost            292 non-null    float64
 6   Hunger          297 non-null    float64
 7   Mass (g)        0 non-null      float64
 8   Density (g/mL)  0 non-null      float64
 9   Length          175 non-null    float64
 10  Circum          174 non-null    float64
 11  Volume          174 non-null    float64
 12  Tortilla        298 non-null    float64
 13  Temp            283 non-null    float64
 14  Meat            288 non-null    float64
 15  Fillings        297 non-null    float64
 16  Meat:filling    292 non-null    float64
 17  Uniformity      296 non-null    float64
 18  Salsa           278 non-null    float64
 19  Synergy         296 non-null    float64
 20  Wrap            296 non-null    float64
 21  Unreliable      27 non-null     object
 22  NonSD           5 non-null      object
 23  Beef            168 non-null    object
 24  Pico            143 non-null    object
 25  Guac            139 non-null    object
 26  Cheese          149 non-null    object
 27  Fries           119 non-null    object
 28  Sour cream      85 non-null     object
 29  Pork            43 non-null     object
 30  Chicken         20 non-null     object
 31  Shrimp          20 non-null     object
 32  Fish            5 non-null      object
 33  Rice            33 non-null     object
 34  Beans           32 non-null     object
 35  Lettuce         11 non-null     object
 36  Tomato          7 non-null      object
 37  Bell peper      7 non-null      object
 38  Carrots         1 non-null      object
 39  Cabbage         7 non-null      object
 40  Sauce           37 non-null     object
 41  Salsa.1         6 non-null      object
 42  Cilantro        15 non-null     object
 43  Onion           17 non-null     object
 44  Taquito         4 non-null      object
 45  Pineapple       7 non-null      object
 46  Ham             1 non-null      object
 47  Chile relleno   4 non-null      object
 48  Nopales         4 non-null      object
 49  Lobster         1 non-null      object
 50  Queso           0 non-null      float64
 51  Egg             4 non-null      object
 52  Mushroom        3 non-null      object
 53  Bacon           3 non-null      object
 54  Sushi           2 non-null      object
 55  Avocado         13 non-null     object
 56  Corn            2 non-null      object
 57  Zucchini        1 non-null      object
 58  Great           298 non-null    bool
dtypes: bool(1), datetime64[ns](1), float64(19), object(38)
memory usage: 137.7+ KB

In [69]:
# 1 import and instantiate log-reg class
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(solver='lbfgs')
# log_reg.fit(X_train_imputed, y_train)



# Arrange features and target
features = ['Yelp','Google','Cost','Hunger'] #excluded 'Chips'
X_train = train[features]
X_val = val[features]

# Impute missing values
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)

#comment: errors out on non-numerical feature chips

# Fit the model
# linear_reg.fit(X_train_imputed, y_train)
log_reg.fit(X_train_imputed, y_train)
print('Validation Accuracy', log_reg.score(X_val_imputed, y_val))

Validation Accuracy 0.5294117647058824