<a href="https://colab.research.google.com/github/manic2man/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [58]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [59]:
df['Date'].dtype

dtype('O')

In [0]:
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)

In [61]:
df['Date'].dtype

dtype('<M8[ns]')

In [62]:
df['Date'].dt.year

0      2016
1      2016
2      2016
3      2016
4      2016
       ...
418    2019
419    2019
420    2019
421    2019
422    2019
Name: Date, Length: 421, dtype: int64

In [0]:
#Split 3 ways along years
validate = df[df['Date'].dt.year == 2017]
train = df[df['Date'].dt.year < 2017]
test = df[df['Date'].dt.year > 2017]

In [64]:
target = 'Great'
y_train = train[target]
y_train.value_counts()

False    176
True     122
Name: Great, dtype: int64

In [65]:
#Calculating Accuracy Baseling for training
176/(176+122)

0.5906040268456376

In [66]:
y_val = validate[target]
b = y_val.value_counts()
b

False    47
True     38
Name: Great, dtype: int64

In [67]:
#Accuacy baseline for validation
b[0]/(b[0] + b[1])

0.5529411764705883

In [0]:
#Not doing anything with this just yet, just making sure it exists
y_test = test[target]

In [69]:
#Just here to pick features
train.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California 2016-01-18   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California 2016-01-24   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas 2016-01-24   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada 2016-01-24   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California 2016-01-27   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [70]:
features = ['Yelp',	'Google',	'Chips', 'Cost',	'Hunger',	'Length',	'Circum',	'Volume',	'Tortilla',	'Temp',	'Meat',	'Fillings',	'Meat:filling',	'Uniformity',	'Salsa',	'Synergy',	'Wrap',	'Unreliable',	'NonSD',	'Beef',	'Pico',	'Guac',	'Cheese',	'Fries',	'Sour cream',	'Pork',	'Chicken',	'Shrimp',	'Fish',	'Rice',	'Beans',	'Lettuce',	'Tomato',	'Bell peper',	'Carrots',	'Cabbage',	'Sauce',	'Salsa.1',	'Cilantro',	'Onion',	'Taquito', 'Pineapple',	'Ham',	'Chile relleno',	'Nopales',	'Lobster',	'Egg',	'Mushroom',	'Bacon',	'Sushi',	'Avocado',	'Corn',	'Zucchini']
train[features].head()

   Yelp  Google Chips  Cost  Hunger  ...  Bacon  Sushi  Avocado  Corn  Zucchini
0   3.5     4.2   NaN  6.49     3.0  ...    NaN    NaN      NaN   NaN       NaN
1   3.5     3.3   NaN  5.45     3.5  ...    NaN    NaN      NaN   NaN       NaN
2   NaN     NaN   NaN  4.85     1.5  ...    NaN    NaN      NaN   NaN       NaN
3   NaN     NaN   NaN  5.25     2.0  ...    NaN    NaN      NaN   NaN       NaN
4   4.0     3.8     x  6.59     4.0  ...    NaN    NaN      NaN   NaN       NaN

[5 rows x 53 columns]

In [0]:
X_train= train[features]
X_val = validate[features]
X_test = test[features]

In [0]:
# Using two different fill methods, I choose to separate categorical and numeric columns
num_col = X_train.describe().columns
cat_col = X_train.describe(exclude='number').columns
headers = num_col.to_list() + cat_col.to_list()

In [0]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
X_train_imputed_num = imputer.fit_transform(X_train[num_col])
X_val_imputed_num = imputer.transform(X_val[num_col])
X_test_imputed_num = imputer.transform(X_test[num_col])

In [0]:
imputer_cat = SimpleImputer(strategy='constant', fill_value='o')
X_train_imputed_cat = imputer_cat.fit_transform(X_train[cat_col])
X_val_imputed_cat = imputer_cat.transform(X_val[cat_col])
X_test_imputed_cat = imputer_cat.transform(X_test[cat_col])

In [0]:
import numpy as np
X_train_array = np.concatenate((X_train_imputed_num, X_train_imputed_cat), axis=1)
X_val_array = np.concatenate((X_val_imputed_num, X_val_imputed_cat), axis=1)
X_test_array = np.concatenate((X_test_imputed_num, X_test_imputed_cat), axis=1)
X_train_merge = pd.DataFrame(data=X_train_array, columns=headers)
X_val_merge = pd.DataFrame(data=X_val_array, columns=headers)
X_test_merge = pd.DataFrame(data=X_test_array, columns=headers)

In [78]:
X_train_merge.head()

      Yelp   Google  Cost Hunger   Length  ... Bacon Sushi Avocado Corn Zucchini
0      3.5      4.2  6.49      3  19.8299  ...     o     o       o    o        o
1      3.5      3.3  5.45    3.5  19.8299  ...     o     o       o    o        o
2  3.89718  4.14225  4.85    1.5  19.8299  ...     o     o       o    o        o
3  3.89718  4.14225  5.25      2  19.8299  ...     o     o       o    o        o
4        4      3.8  6.59      4  19.8299  ...     o     o       o    o        o

[5 rows x 53 columns]

In [0]:
import category_encoders as ce 

encoder = ce.one_hot.OneHotEncoder(use_cat_names=True, cols=cat_col.to_list())
X_train_enc = encoder.fit_transform(X_train_merge)
X_val_enc = encoder.transform(X_val_merge)
X_test_enc = encoder.transform(X_test_merge)

In [0]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_sc = scaler.fit_transform(X_train_enc)
X_val_sc = scaler.transform(X_val_enc)
X_test_sc = scaler.transform(X_test_enc)

In [89]:
from sklearn.linear_model import LogisticRegressionCV

model = LogisticRegressionCV(max_iter=500)
model.fit(X_train_sc, y_train)

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=500, multi_class='auto', n_jobs=None,
                     penalty='l2', random_state=None, refit=True, scoring=None,
                     solver='lbfgs', tol=0.0001, verbose=0)

In [90]:
#Get that validation score
print(f'Validation score: {model.score(X_val_sc, y_val)}')

Validation score: 0.788235294117647

In [91]:
#Get that test score
print(f'Test score: {model.score(X_test_sc, y_test)}')

Test score: 0.7894736842105263