Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [x] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [x] Begin with baselines for classification.
- [x] Use scikit-learn for logistic regression.
- [x] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [x] Get your model's test accuracy. (One time, at the end.)
- [x] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [5]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [6]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [7]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [8]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [9]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [12]:
# Convert Date column to datetime 
df['Date'] = pd.to_datetime(df['Date'])
df['Date'].dtype

dtype('<M8[ns]')

In [21]:
df['Date'].describe()

count                     421
unique                    169
top       2016-08-30 00:00:00
freq                       29
first     2011-05-16 00:00:00
last      2026-04-25 00:00:00
Name: Date, dtype: object

In [14]:
# Split into train/validate/test
t_six_and_below = df['Date'].dt.year <= 2016
t_sev = df['Date'].dt.year == 2017
t_eig = df['Date'].dt.year >= 2018
train = df[t_six_and_below].copy()
val = df[t_sev].copy()
test = df[t_eig].copy()

### Start with baselines
Determine majority class

In [44]:
target = 'Great'
y_train = train[target]
y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

For y_train, roughly 59% of burritos were not rated "Great"

In [49]:
# Guessing majority class for every prediction
m_class = y_train.mode()[0]
y_pred = [m_class] * len(y_train)

In [52]:
# Base rate
from sklearn.metrics import accuracy_score as accScore

y_val = val[target]
y_val_pred = [m_class] * len(y_val)

print("Training data accuracy:", accScore(y_train, y_pred)) 
print("Validation data accuracy:", accScore(y_val, y_val_pred))

Training data accuracy: 0.5906040268456376
Validation data accuracy: 0.5529411764705883

Need to beat 60% accuracy

### Use scikit-learn for classification

In [63]:
# View columns to select featuress
(train.describe(exclude='number').T
 .sort_values(by='unique', ascending=False))

              count unique                  top freq      first       last
Date            298    110  2016-08-30 00:00:00   29 2011-05-16 2016-12-15
Burrito         298      5           California  118        NaT        NaT
Rice             33      2                    x   24        NaT        NaT
Corn              2      2                    x    1        NaT        NaT
Pineapple         7      2                    x    5        NaT        NaT
Taquito           4      2                    x    3        NaT        NaT
Onion            17      2                    x    9        NaT        NaT
Cilantro         15      2                    x    9        NaT        NaT
Salsa.1           6      2                    x    5        NaT        NaT
Sauce            37      2                    x   33        NaT        NaT
Cabbage           7      2                    x    5        NaT        NaT
Bell peper        7      2                    x    4        NaT        NaT
Tomato            7      2                    x    5        NaT        NaT
Lettuce          11      2                    x    9        NaT        NaT
Beans            32      2                    x   24        NaT        NaT
Great           298      2                False  176        NaT        NaT
Fish              5      2                    x    3        NaT        NaT
Guac            139      2                    x  101        NaT        NaT
Chips            22      2                    x   19        NaT        NaT
Shrimp           20      2                    x   17        NaT        NaT
NonSD             5      2                    x    3        NaT        NaT
Beef            168      2                    x  130        NaT        NaT
Pico            143      2                    x  115        NaT        NaT
Cheese          149      2                    x  121        NaT        NaT
Fries           119      2                    x   97        NaT        NaT
Sour cream       85      2                    x   63        NaT        NaT
Pork             43      2                    x   29        NaT        NaT
Chicken          20      2                    x   19        NaT        NaT
Mushroom          3      1                    x    3        NaT        NaT
Zucchini          1      1                    x    1        NaT        NaT
Avocado          13      1                    x   13        NaT        NaT
Sushi             2      1                    x    2        NaT        NaT
Bacon             3      1                    x    3        NaT        NaT
Ham               1      1                    x    1        NaT        NaT
Egg               4      1                    x    4        NaT        NaT
Lobster           1      1                    x    1        NaT        NaT
Nopales           4      1                    x    4        NaT        NaT
Chile relleno     4      1                    x    4        NaT        NaT
Unreliable       27      1                    x   27        NaT        NaT
Carrots           1      1                    x    1        NaT        NaT

In [65]:
train.describe()

,Yelp,Google,Cost,Hunger,Mass (g),Density (g/mL),Length,Circum,Volume,Tortilla,Temp,Meat,Fillings,Meat:filling,Uniformity,Salsa,Synergy,Wrap,Queso
count,71.000000,71.000000,292.000000,297.000000,0.0,0.0,175.000000,174.000000,174.000000,298.000000,283.000000,288.000000,297.000000,292.000000,296.000000,278.000000,296.000000,296.000000,0.0
mean,3.897183,4.142254,6.896781,3.445286,NaN,NaN,19.829886,22.042241,0.770920,3.472315,3.706360,3.551215,3.519024,3.528870,3.395946,3.324640,3.540203,3.955068,NaN
std,0.478680,0.371738,1.211412,0.852150,NaN,NaN,2.081275,1.685043,0.137833,0.797606,0.991897,0.869483,0.850348,1.040457,1.089044,0.971226,0.922426,1.167341,NaN
min,2.500000,2.900000,2.990000,0.500000,NaN,NaN,15.000000,17.000000,0.400000,1.400000,1.000000,1.000000,1.000000,0.500000,1.000000,0.000000,1.000000,0.000000,NaN
25%,3.500000,4.000000,6.250000,3.000000,NaN,NaN,18.500000,21.000000,0.662500,3.000000,3.000000,3.000000,3.000000,3.000000,2.500000,2.500000,3.000000,3.500000,NaN
50%,4.000000,4.200000,6.850000,3.500000,NaN,NaN,19.500000,22.000000,0.750000,3.500000,4.000000,3.500000,3.500000,4.000000,3.500000,3.500000,3.750000,4.000000,NaN
75%,4.000000,4.400000,7.500000,4.000000,NaN,NaN,21.000000,23.000000,0.870000,4.000000,4.500000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,NaN
max,4.500000,4.900000,11.950000,5.000000,NaN,NaN,26.000000,27.000000,1.240000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,NaN

In [84]:
# Select features
target = 'Great'
unhelpful = ['Density (g/mL)', 'Mass (g)', 'Queso', 'Date']
features = train.columns.drop([target] + unhelpful)
features

Index(['Burrito', 'Yelp', 'Google', 'Chips', 'Cost', 'Hunger', 'Length',
       'Circum', 'Volume', 'Tortilla', 'Temp', 'Meat', 'Fillings',
       'Meat:filling', 'Uniformity', 'Salsa', 'Synergy', 'Wrap', 'Unreliable',
       'NonSD', 'Beef', 'Pico', 'Guac', 'Cheese', 'Fries', 'Sour cream',
       'Pork', 'Chicken', 'Shrimp', 'Fish', 'Rice', 'Beans', 'Lettuce',
       'Tomato', 'Bell peper', 'Carrots', 'Cabbage', 'Sauce', 'Salsa.1',
       'Cilantro', 'Onion', 'Taquito', 'Pineapple', 'Ham', 'Chile relleno',
       'Nopales', 'Lobster', 'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado',
       'Corn', 'Zucchini'],
      dtype='object')

In [85]:
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]

print(X_train.shape, y_train.shape)
print(X_val.shape, y_val.shape)

(298, 54) (298,)
(85, 54) (85,)

In [87]:
# Run logistic regression (prior to replacing upper case "X" entries)
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler

In [88]:
# encode
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)

In [92]:
# impute
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train_encoded)
X_val_imputed = imputer.transform(X_val_encoded)

In [95]:
# scale
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)

In [114]:
# Logistic Regression
model = LogisticRegressionCV(max_iter=500, cv=3)
model.fit(X_train_scaled, y_train)
print("Validation Set Score:", model.score(X_val_scaled, y_val))

Validation Set Score: 0.8823529411764706

In [115]:
# Test set accuracy
X_test = test[features]
X_test_encoded = encoder.transform(X_test)
X_test_imputed = imputer.transform(X_test_encoded)
X_test_scaled = scaler.transform(X_test_imputed)
y_test = test[target]

print("Test Set Score:", model.score(X_test_scaled, y_test))

Test Set Score: 0.7631578947368421

The Logistic Regression model beat the baseline rate by 17 percentage points