Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [10]:
print(df.shape)
df

(421, 59)

        Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
0    California  1/18/2016   3.5     4.2  ...     NaN   NaN       NaN  False
1    California  1/24/2016   3.5     3.3  ...     NaN   NaN       NaN  False
2      Carnitas  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
3         Asada  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
4    California  1/27/2016   4.0     3.8  ...     NaN   NaN       NaN   True
..          ...        ...   ...     ...  ...     ...   ...       ...    ...
418       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN  False
419       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True
420  California  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN  False
421       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True
422       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True

[421 rows x 59 columns]

In [11]:
df.dtypes

Burrito            object
Date               object
Yelp              float64
Google            float64
Chips              object
Cost              float64
Hunger            float64
Mass (g)          float64
Density (g/mL)    float64
Length            float64
Circum            float64
Volume            float64
Tortilla          float64
Temp              float64
Meat              float64
Fillings          float64
Meat:filling      float64
Uniformity        float64
Salsa             float64
Synergy           float64
Wrap              float64
Unreliable         object
NonSD              object
Beef               object
Pico               object
Guac               object
Cheese             object
Fries              object
Sour cream         object
Pork               object
Chicken            object
Shrimp             object
Fish               object
Rice               object
Beans              object
Lettuce            object
Tomato             object
Bell peper         object
Carrots            object
Cabbage            object
Sauce              object
Salsa.1            object
Cilantro           object
Onion              object
Taquito            object
Pineapple          object
Ham                object
Chile relleno      object
Nopales            object
Lobster            object
Queso             float64
Egg                object
Mushroom           object
Bacon              object
Sushi              object
Avocado            object
Corn               object
Zucchini           object
Great                bool
dtype: object

In [13]:
import datetime

df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)
df['Date'].dtype

dtype('<M8[ns]')

In [26]:
df['Great'] = df['Great'].replace({False : 0, True : 1})
print(df['Great'].dtype)
df['Great']

int64

0      0
1      0
2      0
3      0
4      1
      ..
418    0
419    1
420    0
421    1
422    1
Name: Great, Length: 421, dtype: int64

In [27]:
df.select_dtypes(exclude='number').describe().T

              count unique                  top freq      first       last
Burrito         421      5           California  169        NaT        NaT
Date            421    169  2016-08-30 00:00:00   29 2011-05-16 2026-04-25
Chips            26      4                    x   21        NaT        NaT
Unreliable       33      1                    x   33        NaT        NaT
NonSD             7      2                    x    5        NaT        NaT
Beef            179      2                    x  137        NaT        NaT
Pico            158      2                    x  127        NaT        NaT
Guac            154      2                    x  114        NaT        NaT
Cheese          159      2                    x  128        NaT        NaT
Fries           127      2                    x  102        NaT        NaT
Sour cream       92      2                    x   67        NaT        NaT
Pork             51      2                    x   36        NaT        NaT
Chicken          21      2                    x   20        NaT        NaT
Shrimp           21      2                    x   17        NaT        NaT
Fish              6      2                    x    4        NaT        NaT
Rice             36      2                    x   26        NaT        NaT
Beans            35      2                    x   27        NaT        NaT
Lettuce          11      2                    x    9        NaT        NaT
Tomato            7      2                    x    5        NaT        NaT
Bell peper        7      2                    x    4        NaT        NaT
Carrots           1      1                    x    1        NaT        NaT
Cabbage           8      2                    x    6        NaT        NaT
Sauce            38      2                    x   33        NaT        NaT
Salsa.1           7      2                    x    6        NaT        NaT
Cilantro         15      2                    x    9        NaT        NaT
Onion            17      2                    x    9        NaT        NaT
Taquito           4      2                    x    3        NaT        NaT
Pineapple         7      2                    x    5        NaT        NaT
Ham               2      1                    x    2        NaT        NaT
Chile relleno     4      1                    x    4        NaT        NaT
Nopales           4      1                    x    4        NaT        NaT
Lobster           1      1                    x    1        NaT        NaT
Egg               5      1                    x    5        NaT        NaT
Mushroom          3      1                    x    3        NaT        NaT
Bacon             3      1                    x    3        NaT        NaT
Sushi             2      1                    x    2        NaT        NaT
Avocado          13      1                    x   13        NaT        NaT
Corn              3      2                    x    2        NaT        NaT
Zucchini          1      1                    x    1        NaT        NaT

In [28]:
df['Lobster'].value_counts()

x    1
Name: Lobster, dtype: int64

In [30]:
df['Corn'].value_counts()

x    2
X    1
Name: Corn, dtype: int64

In [31]:
df['Pineapple'].value_counts()

x    5
X    2
Name: Pineapple, dtype: int64

In [35]:
import numpy as np
df = df.replace({'x':1,'X' : 1, np.nan : 0})
df

        Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
0    California 2016-01-18   3.5     4.2  ...       0     0         0      0
1    California 2016-01-24   3.5     3.3  ...       0     0         0      0
2      Carnitas 2016-01-24   0.0     0.0  ...       0     0         0      0
3         Asada 2016-01-24   0.0     0.0  ...       0     0         0      0
4    California 2016-01-27   4.0     3.8  ...       0     0         0      1
..          ...        ...   ...     ...  ...     ...   ...       ...    ...
418       Other 2019-08-27   0.0     0.0  ...       0     0         0      0
419       Other 2019-08-27   0.0     0.0  ...       0     0         0      1
420  California 2019-08-27   0.0     0.0  ...       0     0         0      0
421       Other 2019-08-27   0.0     0.0  ...       0     0         0      1
422       Other 2019-08-27   0.0     0.0  ...       0     0         0      1

[421 rows x 59 columns]

In [36]:
df.isna().sum()

Burrito           0
Date              0
Yelp              0
Google            0
Chips             0
Cost              0
Hunger            0
Mass (g)          0
Density (g/mL)    0
Length            0
Circum            0
Volume            0
Tortilla          0
Temp              0
Meat              0
Fillings          0
Meat:filling      0
Uniformity        0
Salsa             0
Synergy           0
Wrap              0
Unreliable        0
NonSD             0
Beef              0
Pico              0
Guac              0
Cheese            0
Fries             0
Sour cream        0
Pork              0
Chicken           0
Shrimp            0
Fish              0
Rice              0
Beans             0
Lettuce           0
Tomato            0
Bell peper        0
Carrots           0
Cabbage           0
Sauce             0
Salsa.1           0
Cilantro          0
Onion             0
Taquito           0
Pineapple         0
Ham               0
Chile relleno     0
Nopales           0
Lobster           0
Queso             0
Egg               0
Mushroom          0
Bacon             0
Sushi             0
Avocado           0
Corn              0
Zucchini          0
Great             0
dtype: int64

In [50]:
df.dtypes

Burrito                   object
Date              datetime64[ns]
Yelp                     float64
Google                   float64
Chips                     object
Cost                     float64
Hunger                   float64
Mass (g)                 float64
Density (g/mL)           float64
Length                   float64
Circum                   float64
Volume                   float64
Tortilla                 float64
Temp                     float64
Meat                     float64
Fillings                 float64
Meat:filling             float64
Uniformity               float64
Salsa                    float64
Synergy                  float64
Wrap                     float64
Unreliable                 int64
NonSD                      int64
Beef                       int64
Pico                       int64
Guac                       int64
Cheese                     int64
Fries                      int64
Sour cream                 int64
Pork                       int64
Chicken                    int64
Shrimp                     int64
Fish                       int64
Rice                       int64
Beans                      int64
Lettuce                    int64
Tomato                     int64
Bell peper                 int64
Carrots                    int64
Cabbage                    int64
Sauce                      int64
Salsa.1                    int64
Cilantro                   int64
Onion                      int64
Taquito                    int64
Pineapple                  int64
Ham                        int64
Chile relleno              int64
Nopales                    int64
Lobster                    int64
Queso                    float64
Egg                        int64
Mushroom                   int64
Bacon                      int64
Sushi                      int64
Avocado                    int64
Corn                       int64
Zucchini                   int64
Great                      int64
dtype: object

In [39]:
train = df[df['Date'].dt.year <= 2016]
print(train.shape)
val = df[df['Date'].dt.year == 2017]
print(val.shape)
test = df[df['Date'].dt.year >= 2018]
print(test.shape)

(298, 59)
(85, 59)
(38, 59)

In [0]:
target = 'Great'
high_cardinality = ['Date']
features = train.columns.drop([target] + high_cardinality)

X_train = train[features]
y_train = train[target]

X_val = val[features]
y_val = val[target]

X_test = test[features]
y_test = test[target]

In [87]:
import category_encoders as ce

encoder = ce.OneHotEncoder(use_cat_names=True)
X_train = encoder.fit_transform(X_train)
X_val = encoder.transform(X_val)
X_test_encoded = encoder.transform(X_test)

print(X_train.shape, X_val.shape)

(298, 62) (85, 62)

In [88]:
# Obtain a baseline
majority_class = y_train.mode()[0]
y_train_pred = [majority_class]*len(y_train)

y_val_pred = [majority_class]*len(y_val)

from sklearn.metrics import accuracy_score
baseline_train = accuracy_score(y_train, y_train_pred)
print(baseline_train)

baseline_val = accuracy_score(y_val, y_val_pred)
print(baseline_val)

0.5906040268456376
0.5529411764705883

In [89]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(solver='lbfgs')
log_reg.fit(X_train,y_train)
log_reg_train = log_reg.score(X_train,y_train)
log_reg_val = log_reg.score(X_val,y_val)
print(f'Train Accuracy: {log_reg_train}')
print(f'Val Accuracy: {log_reg_val}')

Train Accuracy: 0.8993288590604027
Val Accuracy: 0.7764705882352941

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [90]:
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)

model = LogisticRegressionCV(cv=5, n_jobs=-1)
model.fit(X_train_scaled, y_train)
print(f'Validation Accuracy: {model.score(X_val_scaled, y_val)}')

Validation Accuracy: 0.7647058823529411

In [93]:
X_test_scaled = scaler.transform(X_test_encoded)
y_test_pred = model.score(X_test_scaled,y_test)

print(f'Test Accuracy: {y_test_pred}')

Test Accuracy: 0.7631578947368421