<a href="https://colab.research.google.com/github/ScottLightfoot/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.
- [ ] Watch Aaron's [video #1](https://www.youtube.com/watch?v=pREaWFli-5I) (12 minutes) & [video #2](https://www.youtube.com/watch?v=bDQgVt4hFgY) (9 minutes) to learn about the mathematics of Logistic Regression.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
!pip install category_encoders==2.*

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/Burrito%20-%2010D.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [4]:
print(df.shape)
df.head()

(421, 67)

               Location      Burrito       Date  ... Corn Zucchini  Great
0    Donato's taco shop  California   1/18/2016  ...  NaN      NaN  False
1  Oscar's Mexican food  California   1/24/2016  ...  NaN      NaN  False
2  Oscar's Mexican food     Carnitas  1/24/2016  ...  NaN      NaN  False
3  Oscar's Mexican food  Carne asada  1/24/2016  ...  NaN      NaN  False
4          Pollos Maria   California  1/27/2016  ...  NaN      NaN   True

[5 rows x 67 columns]

In [7]:
df['Date'] = pd.to_datetime(df['Date'])
df['dd'] = df['Date'].dt.day
df['mm'] = df['Date'].dt.month
df['yyyy'] = df['Date'].dt.year
df['dow'] = df['Date'].dt.dayofweek # !!! Note - 0 is Monday !!!
df.head()

               Location      Burrito       Date Neighborhood  ...  dd mm  yyyy  dow
0    Donato's taco shop  California  2016-01-18      Miramar  ...  18  1  2016    0
1  Oscar's Mexican food  California  2016-01-24   San Marcos  ...  24  1  2016    6
2  Oscar's Mexican food     Carnitas 2016-01-24          NaN  ...  24  1  2016    6
3  Oscar's Mexican food  Carne asada 2016-01-24          NaN  ...  24  1  2016    6
4          Pollos Maria   California 2016-01-27     Carlsbad  ...  27  1  2016    2

[5 rows x 71 columns]

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Date', 'Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

### Split df to Train/Validate/Test sets

* Train: <= 2016
* Validate: 2017
* Test: After >= 2018

In [11]:
# Split df into train/validate/test
trainDf = df[df['yyyy'] <= 2016]
valDf = df[df['yyyy'] == 2017]
testDf = df[df['yyyy'] >= 2018]

print('sum lengths of splits equals original df?')
len(trainDf) + len(testDf) + len(valDf) == len(df)

sum lengths of splits equals original df?

True

### Establish Baseline

In [0]:
from sklearn.metrics import accuracy_score

In [111]:
target = 'Great'
yTrain = trainDf[target]
yVal = valDf[target]
yTest = testDf[target]

# mode for target
trainClass = yTrain.mode()[0]
yTrainPred = [trainClass] * len(yTrain)

valClass = yVal.mode()[0]
yValPred = [valClass] * len(yVal)

testClass = yTest.mode()[0]
yTestPred = [testClass] * len(yTest)

# accuracy using mode only (count of mode val / total count)
baseTrainAccuracy = accuracy_score(yTrain, yTrainPred)
baseValAccuracy = accuracy_score(yVal, yValPred)
baseTestAccuracy = accuracy_score(yTest, yTestPred)

def prtBaseAcc():

  print(f'Baseline Test Accuracy: {baseTrainAccuracy:.5f}')
  print(f'Baseline Validate Accuracy: {baseValAccuracy:.5f}')
  print(f'Baseline Train Accuracy: {baseTestAccuracy:.5f}')
  print('\n')
prtBaseAcc()

Baseline Test Accuracy: 0.59060
Baseline Validate Accuracy: 0.55294
Baseline Train Accuracy: 0.57895

### SciKit Logistic Regression

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer

from sklearn.metrics import mean_absolute_error as meanAbErr
from sklearn.metrics import mean_squared_error as meanSqErr
from sklearn.metrics import r2_score

In [0]:
impute = SimpleImputer()

In [94]:
numCols = list(trainDf.select_dtypes(include='number'))
trainDf[numCols].isnull().sum()

Yelp              227
Google            227
Cost                6
Hunger              1
Mass (g)          298
Density (g/mL)    298
Length            123
Circum            124
Volume            124
Tortilla            0
Temp               15
Meat               10
Fillings            1
Meat:filling        6
Uniformity          2
Salsa              20
Synergy             2
Wrap                2
Queso             298
dd                  0
mm                  0
yyyy                0
dow                 0
dtype: int64

In [0]:
?logReg
logReg = LogisticRegression(solver='sag')

In [139]:
numFeats = ['Yelp', 'Google', 'Cost', 'Hunger', 'Length', 'Circum', 'Volume', 
            'Tortilla', 'Temp', 'Meat', 'Fillings', 'Meat:filling', 'Uniformity',
            'Salsa', 'Synergy', 'Wrap', 'dd', 'mm', 'yyyy', 'dow']

feats = ['Yelp', 'Cost', 'Volume']
XTrain = trainDf[feats]
XVal = valDf[feats]
XTest = testDf[feats]

XTrainImpute = impute.fit_transform(XTrain)
XValImpute = impute.fit_transform(XVal)
XTestImpute = impute.fit_transform(XTest)

logReg.fit(XTrainImpute, yTrain)

prtBaseAcc() 
print('Train Accuracy: ', logReg.score(XTrainImpute, yTrain))
print('Validation Accuracy: ', logReg.score(XValImpute, yVal))
print('Test Accuracy: ', logReg.score(XTestImpute, yTest))
print('\n')

pd.Series(logReg.coef_[0], feats)

Baseline Test Accuracy: 0.59060
Baseline Validate Accuracy: 0.55294
Baseline Train Accuracy: 0.57895


Train Accuracy:  0.5906040268456376
Validation Accuracy:  0.5058823529411764
Test Accuracy:  0.4473684210526316

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/sag.py:337: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

Yelp      0.131863
Cost      0.199036
Volume   -0.059738
dtype: float64

In [0]:

XTrain = trainDf[feats]
XVal = valDf[feats]

XTrainImpute = impute.fit_transform(XTrain)
XValImpute = impute.fit_transform(XVal)

linearReg.fit(XTrainImpute, yTrain)

pd.Series(linearReg.coef_, feats)