Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

### import and initial cleaning

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [256]:
print(df.shape)
df.head()

(423, 66)

               Location      Burrito       Date  ... Avocado Corn Zucchini
0    Donato's taco shop  California   1/18/2016  ...     NaN  NaN      NaN
1  Oscar's Mexican food  California   1/24/2016  ...     NaN  NaN      NaN
2  Oscar's Mexican food     Carnitas  1/24/2016  ...     NaN  NaN      NaN
3  Oscar's Mexican food  Carne asada  1/24/2016  ...     NaN  NaN      NaN
4          Pollos Maria   California  1/27/2016  ...     NaN  NaN      NaN

[5 rows x 66 columns]

In [257]:
df['overall'].isnull().value_counts()

False    421
True       2
Name: overall, dtype: int64

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4
df['Great'] = df['Great'].astype(int)

In [259]:
print(df.shape)
df.head(5)

(421, 67)

               Location      Burrito       Date  ... Corn Zucchini Great
0    Donato's taco shop  California   1/18/2016  ...  NaN      NaN     0
1  Oscar's Mexican food  California   1/24/2016  ...  NaN      NaN     0
2  Oscar's Mexican food     Carnitas  1/24/2016  ...  NaN      NaN     0
3  Oscar's Mexican food  Carne asada  1/24/2016  ...  NaN      NaN     0
4          Pollos Maria   California  1/27/2016  ...  NaN      NaN     1

[5 rows x 67 columns]

In [260]:
df['Burrito'].value_counts().index[:5]

Index(['California', 'Carne asada', 'California ', 'Carnitas', 'Local'], dtype='object')

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [262]:
df['Burrito'].value_counts()

California     169
Other          156
Asada           43
Surf & Turf     28
Carnitas        25
Name: Burrito, dtype: int64

In [263]:
df.describe(include='all')

          Location     Burrito       Date  ... Corn Zucchini       Great
count          421         421        421  ...    3        1  421.000000
unique         108           5        169  ...    2        1         NaN
top     Taco Villa  California  8/30/2016  ...    x        x         NaN
freq            28         169         29  ...    2        1         NaN
mean           NaN         NaN        NaN  ...  NaN      NaN    0.432304
std            NaN         NaN        NaN  ...  NaN      NaN    0.495985
min            NaN         NaN        NaN  ...  NaN      NaN    0.000000
25%            NaN         NaN        NaN  ...  NaN      NaN    0.000000
50%            NaN         NaN        NaN  ...  NaN      NaN    0.000000
75%            NaN         NaN        NaN  ...  NaN      NaN    1.000000
max            NaN         NaN        NaN  ...  NaN      NaN    1.000000

[11 rows x 67 columns]

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [266]:
df.describe(include='all')

           Burrito       Date       Yelp  ...  Corn Zucchini       Great
count          421        421  87.000000  ...     3        1  421.000000
unique           5        169        NaN  ...     2        1         NaN
top     California  8/30/2016        NaN  ...     x        x         NaN
freq           169         29        NaN  ...     2        1         NaN
mean           NaN        NaN   3.887356  ...   NaN      NaN    0.432304
std            NaN        NaN   0.475396  ...   NaN      NaN    0.495985
min            NaN        NaN   2.500000  ...   NaN      NaN    0.000000
25%            NaN        NaN   3.500000  ...   NaN      NaN    0.000000
50%            NaN        NaN   4.000000  ...   NaN      NaN    0.000000
75%            NaN        NaN   4.000000  ...   NaN      NaN    1.000000
max            NaN        NaN   4.500000  ...   NaN      NaN    1.000000

[11 rows x 59 columns]

### Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.

In [0]:
# Set the cutoff points for the train, validate, and test datasets. 
# change the date to datetime formate

df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)

cutoff_point_1 = pd.to_datetime('2017-01-01', infer_datetime_format=True)
cutoff_point_2 = pd.to_datetime('2018-01-01')

In [0]:
# create the Train, Validate, and Test subsets

train = df[df.Date < cutoff_point_1]
val = df[(df.Date >= cutoff_point_1) & (df.Date < cutoff_point_2)]
test = df[df.Date >= cutoff_point_2]

In [269]:
# look at the dimensions of these subsets. 

print(train.shape)
print(val.shape)
print(test.shape)

(298, 59)
(85, 59)
(38, 59)

### Begin with baselines for classification.

In [270]:
# set your target. In this case we want it to get whether it is great or not. 

target = 'Great'

y_train = train[target]
print(y_train.shape)

y_train.value_counts()

(298,)

0    176
1    122
Name: Great, dtype: int64

In [271]:
# So we have the total amounts but we want to see this as a proportion. 
# to do this use the normalize==True in the value_counts

y_train.value_counts(normalize=True)

0    0.590604
1    0.409396
Name: Great, dtype: float64

In [0]:
# get an accuracy score using the baseline.
# we will use the majority class as the baseline to predict outcomes for great or not.
# because False or 'not a great burrito' has the largest proportion this is the majority class

majority_class = y_train.mode()[0]

In [0]:
# predict outcomes for great or not based on the majority class

y_pred = [majority_class] * len(y_train)
y_pred

In [0]:
# get the accuracy score

from sklearn.metrics import accuracy_score

In [276]:
# our accuracy score will just be the proportion of great to not great. 

accuracy_score(y_train, y_pred)

0.5906040268456376

### Use scikit-learn for logistic regression.

In [0]:
# import the logistic regression from sklearn

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
import category_encoders as ce
from sklearn.linear_model import LogisticRegressionCV

In [278]:
train.describe()

            Yelp     Google        Cost  ...        Wrap  Queso       Great
count  71.000000  71.000000  292.000000  ...  296.000000    0.0  298.000000
mean    3.897183   4.142254    6.896781  ...    3.955068    NaN    0.409396
std     0.478680   0.371738    1.211412  ...    1.167341    NaN    0.492550
min     2.500000   2.900000    2.990000  ...    0.000000    NaN    0.000000
25%     3.500000   4.000000    6.250000  ...    3.500000    NaN    0.000000
50%     4.000000   4.200000    6.850000  ...    4.000000    NaN    0.000000
75%     4.000000   4.400000    7.500000  ...    5.000000    NaN    1.000000
max     4.500000   4.900000   11.950000  ...    5.000000    NaN    1.000000

[8 rows x 20 columns]

In [279]:
train.describe(exclude='number')

           Burrito                 Date Chips  ... Avocado Corn Zucchini
count          298                  298    22  ...      13    2        1
unique           5                  110     2  ...       1    2        1
top     California  2016-08-30 00:00:00     x  ...       x    x        x
freq           118                   29    19  ...      13    1        1
first          NaN  2011-05-16 00:00:00   NaN  ...     NaN  NaN      NaN
last           NaN  2016-12-15 00:00:00   NaN  ...     NaN  NaN      NaN

[6 rows x 39 columns]

In [280]:
train['Cheese'].value_counts()

x    121
X     28
Name: Cheese, dtype: int64

In [0]:
# set the target and the featurest that we will use in train, val, and Test

target = 'Great'

features = train.columns.drop([target] + ['Date'])

In [0]:
# we need to make x and X and NaN equal to binary. This will limit the amount of 
# features we have in our dataset


# for feature in features:
#  train[feature] = train[feature].replace({'x': 1, '': 0, 'X': 0})


# not working come back and look into

In [0]:
# set the train and val datasets to the target and feature matrix and vector

X_train = train[features]
y_train = train[target]

X_val = val[features]
y_val = val[target]

In [0]:
# one hot key encode to convert categorical data

encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)

In [284]:
print(X_train_encoded.shape)
print(X_val_encoded.shape)

(298, 123)
(85, 123)

In [0]:
#impute the encoded sets

imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train_encoded)
X_val_imputed = imputer.transform(X_val_encoded)

In [286]:
print(X_train_imputed.shape)
print(X_val_imputed.shape)

(298, 120)
(85, 120)

In [0]:
#Scale the imputed arrays

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)

In [288]:
print(X_train_scaled.shape)
print(X_val_scaled.shape)

(298, 120)
(85, 120)

In [289]:
# fit the model to the scaled training data

model = LogisticRegressionCV()
model.fit(X_train_scaled, y_train)

#why is there some big convergence warings?? maybe its because the number of observations
# isnt much larger than the number of features?

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=100, multi_class='auto', n_jobs=None,
                     penalty='l2', random_state=None, refit=True, scoring=None,
                     solver='lbfgs', tol=0.0001, verbose=0)

In [0]:
#predict on the validated scaled subset

y_pred = model.predict(X_val_scaled)

### Get your model's validation accuracy. (Multiple times if you try multiple iterations.)

In [291]:
# get the accuracy of the validation set
accuracy_score(y_val, y_pred)

0.7647058823529411

### before we one hot encode why dont we try and figure out how to make all the columns with null values a 0 and x as a 1

In [292]:
# look at the train features again

train.describe()

            Yelp     Google        Cost  ...        Wrap  Queso       Great
count  71.000000  71.000000  292.000000  ...  296.000000    0.0  298.000000
mean    3.897183   4.142254    6.896781  ...    3.955068    NaN    0.409396
std     0.478680   0.371738    1.211412  ...    1.167341    NaN    0.492550
min     2.500000   2.900000    2.990000  ...    0.000000    NaN    0.000000
25%     3.500000   4.000000    6.250000  ...    3.500000    NaN    0.000000
50%     4.000000   4.200000    6.850000  ...    4.000000    NaN    0.000000
75%     4.000000   4.400000    7.500000  ...    5.000000    NaN    1.000000
max     4.500000   4.900000   11.950000  ...    5.000000    NaN    1.000000

[8 rows x 20 columns]

In [184]:
train.describe(exclude='number')

           Burrito                 Date Chips  ... Avocado Corn Zucchini
count          298                  298    22  ...      13    2        1
unique           5                  110     2  ...       1    2        1
top     California  2016-08-30 00:00:00     x  ...       x    x        x
freq           118                   29    19  ...      13    1        1
first          NaN  2011-05-16 00:00:00   NaN  ...     NaN  NaN      NaN
last           NaN  2016-12-15 00:00:00   NaN  ...     NaN  NaN      NaN

[6 rows x 39 columns]

In [0]:
target = 'Great'

features = train.columns.drop([target] + ['Date'])

In [294]:
features

Index(['Burrito', 'Yelp', 'Google', 'Chips', 'Cost', 'Hunger', 'Mass (g)',
       'Density (g/mL)', 'Length', 'Circum', 'Volume', 'Tortilla', 'Temp',
       'Meat', 'Fillings', 'Meat:filling', 'Uniformity', 'Salsa', 'Synergy',
       'Wrap', 'Unreliable', 'NonSD', 'Beef', 'Pico', 'Guac', 'Cheese',
       'Fries', 'Sour cream', 'Pork', 'Chicken', 'Shrimp', 'Fish', 'Rice',
       'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots', 'Cabbage',
       'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito', 'Pineapple', 'Ham',
       'Chile relleno', 'Nopales', 'Lobster', 'Queso', 'Egg', 'Mushroom',
       'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini'],
      dtype='object')

In [0]:
def encode_col(dataframe):
  dataframe = dataframe.replace({'x': 1, 'X': 1, 'Yes': 1, 'No': 0})
  return dataframe
  # return dataframe.describe(exclude='number')
# train = train.replace({'x': 1, 'X': 1})

# for feature in features:
#  train[feature] = train[feature].replace({'x': 1, '': 0, 'X': 0})

In [360]:
train.describe(exclude='number')

           Burrito                 Date
count          298                  298
unique           5                  110
top     California  2016-08-30 00:00:00
freq           118                   29
first          NaN  2011-05-16 00:00:00
last           NaN  2016-12-15 00:00:00

In [0]:
# set the target and the features to use. 

target = 'Great'

features = train.columns.drop([target] + ['Date'])

In [0]:
# Make sure all subsets have the same cleaned columns

train = encode_col(train)
val = encode_col(val)
test = encode_col(test)

In [363]:
print(train.shape)
print(val.shape)
print(test.shape)

(298, 59)
(85, 59)
(38, 59)

In [364]:
train.describe(exclude='number')

           Burrito                 Date
count          298                  298
unique           5                  110
top     California  2016-08-30 00:00:00
freq           118                   29
first          NaN  2011-05-16 00:00:00
last           NaN  2016-12-15 00:00:00

In [365]:
val.describe(exclude='number')

           Burrito                 Date
count           85                   85
unique           5                   42
top     California  2017-04-07 00:00:00
freq            38                    6
first          NaN  2017-01-04 00:00:00
last           NaN  2017-12-29 00:00:00

In [366]:
val['Chips'].value_counts()

1.0    3
Name: Chips, dtype: int64

In [367]:
test.describe(exclude='number')

       Burrito                 Date
count       38                   38
unique       5                   17
top      Other  2019-08-27 00:00:00
freq        15                    9
first      NaN  2018-01-02 00:00:00
last       NaN  2026-04-25 00:00:00

In [0]:
test.head(23)

In [0]:
# set my subsets to just the features and target that i want to use in the model

X_train = train[features]
y_train = train[target]

X_val = val[features]
y_val = val[target]

In [0]:
X_val.info()

In [0]:
# one hot encode on my train and val sets

encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)

In [372]:
# we have much less features to use in our data set now. 

print(X_train_encoded.shape)
print(X_val_encoded.shape)

(298, 61)
(85, 61)

In [0]:
# impute over our encoded train and val sets

imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train_encoded)
X_val_imputed = imputer.transform(X_val_encoded)

In [374]:
print(X_train_imputed.shape)
print(X_val_imputed.shape)

(298, 58)
(85, 58)

In [0]:
# Standardize the the imputed sets

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)

In [376]:
# fit the model to the scaled training data

model = LogisticRegressionCV()
model.fit(X_train_scaled, y_train)

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=100, multi_class='auto', n_jobs=None,
                     penalty='l2', random_state=None, refit=True, scoring=None,
                     solver='lbfgs', tol=0.0001, verbose=0)

In [0]:
#predict on the validated scaled subset

y_pred = model.predict(X_val_scaled)

In [388]:
accuracy_score(y_val, y_pred)

0.8470588235294118

In [0]:
# this score was much more accurate

In [0]:
# Lets apply it to our test data now

X_test = test[features]
X_test_encoded = encoder.transform(X_test)
X_test_imputed = imputer.transform(X_test_encoded)
X_test_scaled = scaler.transform(X_test_imputed)
y_pred = model.predict(X_test_scaled)

In [392]:
#get accuracy score

y_test = test[target]

accuracy_score(y_test, y_pred)

0.7631578947368421

In [0]:
# interesting that the prediction on the test model werent as accurate as the 
# . score on the intial validation set