<a href="https://colab.research.google.com/github/boscolio/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [30]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv', index_col='Date', parse_dates=['Date'])

In [31]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [32]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [33]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [34]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [35]:
df.head()

               Burrito  Yelp  Google Chips  ...  Avocado  Corn  Zucchini  Great
Date                                        ...
2016-01-18  California   3.5     4.2   NaN  ...      NaN   NaN       NaN  False
2016-01-24  California   3.5     3.3   NaN  ...      NaN   NaN       NaN  False
2016-01-24    Carnitas   NaN     NaN   NaN  ...      NaN   NaN       NaN  False
2016-01-24       Asada   NaN     NaN   NaN  ...      NaN   NaN       NaN  False
2016-01-27  California   4.0     3.8     x  ...      NaN   NaN       NaN   True

[5 rows x 58 columns]

In [36]:
df.dropna(subset=['Great'], inplace=True)

In [37]:
df.shape

(421, 58)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 421 entries, 2016-01-18 to 2019-08-27
Data columns (total 58 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Burrito         421 non-null    object
 1   Yelp            87 non-null     float64
 2   Google          87 non-null     float64
 3   Chips           26 non-null     object
 4   Cost            414 non-null    float64
 5   Hunger          418 non-null    float64
 6   Mass (g)        22 non-null     float64
 7   Density (g/mL)  22 non-null     float64
 8   Length          283 non-null    float64
 9   Circum          281 non-null    float64
 10  Volume          281 non-null    float64
 11  Tortilla        421 non-null    float64
 12  Temp            401 non-null    float64
 13  Meat            407 non-null    float64
 14  Fillings        418 non-null    float64
 15  Meat:filling    412 non-null    float64
 16  Uniformity      419 non-null    float64
 17  Salsa           396 non-null    float64
 18  Synergy         419 non-null    float64
 19  Wrap            418 non-null    float64
 20  Unreliable      33 non-null     object
 21  NonSD           7 non-null      object
 22  Beef            179 non-null    object
 23  Pico            158 non-null    object
 24  Guac            154 non-null    object
 25  Cheese          159 non-null    object
 26  Fries           127 non-null    object
 27  Sour cream      92 non-null     object
 28  Pork            51 non-null     object
 29  Chicken         21 non-null     object
 30  Shrimp          21 non-null     object
 31  Fish            6 non-null      object
 32  Rice            36 non-null     object
 33  Beans           35 non-null     object
 34  Lettuce         11 non-null     object
 35  Tomato          7 non-null      object
 36  Bell peper      7 non-null      object
 37  Carrots         1 non-null      object
 38  Cabbage         8 non-null      object
 39  Sauce           38 non-null     object
 40  Salsa.1         7 non-null      object
 41  Cilantro        15 non-null     object
 42  Onion           17 non-null     object
 43  Taquito         4 non-null      object
 44  Pineapple       7 non-null      object
 45  Ham             2 non-null      object
 46  Chile relleno   4 non-null      object
 47  Nopales         4 non-null      object
 48  Lobster         1 non-null      object
 49  Queso           0 non-null      float64
 50  Egg             5 non-null      object
 51  Mushroom        3 non-null      object
 52  Bacon           3 non-null      object
 53  Sushi           2 non-null      object
 54  Avocado         13 non-null     object
 55  Corn            3 non-null      object
 56  Zucchini        1 non-null      object
 57  Great           421 non-null    bool
dtypes: bool(1), float64(19), object(38)
memory usage: 191.2+ KB

In [39]:
# Split Data
# Dropping anything with a large number of NaNs
target = 'Great'

y = df[target]
X = df.drop([target] + ['Yelp', 'Google', 'Chips', 'Mass (g)', 'Density (g/mL)'], axis=1)

# Doing .drop in two steps because range doesn't play well with others
X = X.drop(X.columns[15:52], axis=1)

In [51]:
y.isnull().sum()

0

In [41]:
X.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 421 entries, 2016-01-18 to 2019-08-27
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Burrito       421 non-null    object
 1   Cost          414 non-null    float64
 2   Hunger        418 non-null    float64
 3   Length        283 non-null    float64
 4   Circum        281 non-null    float64
 5   Volume        281 non-null    float64
 6   Tortilla      421 non-null    float64
 7   Temp          401 non-null    float64
 8   Meat          407 non-null    float64
 9   Fillings      418 non-null    float64
 10  Meat:filling  412 non-null    float64
 11  Uniformity    419 non-null    float64
 12  Salsa         396 non-null    float64
 13  Synergy       419 non-null    float64
 14  Wrap          418 non-null    float64
dtypes: float64(14), object(1)
memory usage: 52.6+ KB

In [42]:
X.head()

               Burrito  Cost  Hunger  Length  ...  Uniformity  Salsa  Synergy  Wrap
Date                                          ...
2016-01-18  California  6.49     3.0     NaN  ...         4.0    4.0      4.0   4.0
2016-01-24  California  5.45     3.5     NaN  ...         4.0    3.5      2.5   5.0
2016-01-24    Carnitas  4.85     1.5     NaN  ...         4.0    3.0      3.0   5.0
2016-01-24       Asada  5.25     2.0     NaN  ...         5.0    4.0      4.0   5.0
2016-01-27  California  6.59     4.0     NaN  ...         5.0    2.5      4.5   4.0

[5 rows x 15 columns]

In [43]:
print(y.shape)
print(X.shape)

(421,)
(421, 15)

In [44]:
X.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 421 entries, 2016-01-18 to 2019-08-27
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Burrito       421 non-null    object
 1   Cost          414 non-null    float64
 2   Hunger        418 non-null    float64
 3   Length        283 non-null    float64
 4   Circum        281 non-null    float64
 5   Volume        281 non-null    float64
 6   Tortilla      421 non-null    float64
 7   Temp          401 non-null    float64
 8   Meat          407 non-null    float64
 9   Fillings      418 non-null    float64
 10  Meat:filling  412 non-null    float64
 11  Uniformity    419 non-null    float64
 12  Salsa         396 non-null    float64
 13  Synergy       419 non-null    float64
 14  Wrap          418 non-null    float64
dtypes: float64(14), object(1)
memory usage: 52.6+ KB

In [45]:
# Split *target vector* from our *feature matrix*

cutoff_1 = '1/01/2017'
cutoff_2 = '1/01/2018'
mask_1 = X.index < cutoff_1
mask_2 = (cutoff_1 <= X.index) & (X.index < cutoff_2)
mask_3 = X.index >= cutoff_2

X_train, y_train = X.loc[mask_1], y.loc[mask_1]
X_val, y_val = X.loc[mask_2], y.loc[mask_2]

In [46]:
X_val.shape

(85, 15)

In [47]:
# Establish our Baseline
print('Baseline Accuracy:', y_train.value_counts(normalize=True).max())

Baseline Accuracy: 0.5906040268456376

In [48]:
# Pipeline time
from sklearn.pipeline import make_pipeline
from category_encoders import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression

# Instantiate the pipeline
model = make_pipeline(
    OneHotEncoder(),
    SimpleImputer(),
    LogisticRegression()
)

# Fit our model to the training data
model.fit(X_train, y_train);

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [49]:
# Check Metrics
print('Training Accuracy:', model.score(X_train, y_train))
print('Validation Accuracy:', model.score(X_val, y_val))

Training Accuracy: 0.8825503355704698
Validation Accuracy: 0.8117647058823529

In [50]:
from sklearn.metrics import accuracy_score

# Predict
y_pred = model.predict(X_val)
accuracy_score(y_val, y_pred)

0.8117647058823529