Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [7]:
print(df.shape)
df.head()

(421, 59)

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [8]:
df.isnull().sum()

Burrito             0
Date                0
Yelp              334
Google            334
Chips             395
Cost                7
Hunger              3
Mass (g)          399
Density (g/mL)    399
Length            138
Circum            140
Volume            140
Tortilla            0
Temp               20
Meat               14
Fillings            3
Meat:filling        9
Uniformity          2
Salsa              25
Synergy             2
Wrap                3
Unreliable        388
NonSD             414
Beef              242
Pico              263
Guac              267
Cheese            262
Fries             294
Sour cream        329
Pork              370
Chicken           400
Shrimp            400
Fish              415
Rice              385
Beans             386
Lettuce           410
Tomato            414
Bell peper        414
Carrots           420
Cabbage           413
Sauce             383
Salsa.1           414
Cilantro          406
Onion             404
Taquito           417
Pineapple         414
Ham               419
Chile relleno     417
Nopales           417
Lobster           420
Queso             421
Egg               416
Mushroom          418
Bacon             418
Sushi             419
Avocado           408
Corn              418
Zucchini          420
Great               0
dtype: int64

In [0]:
# making function to turn boolean value to int for the target variable
def bool_to_int(boolean_value):
  if boolean_value:
    return 1
  else:
    return 0

In [0]:
# applying the function
df['Great'] = df['Great'].apply(bool_to_int)

In [0]:
# changing datatype to pandas datetime format
# creating variables to split them into train, val, test set

df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)
split_2016_earlier = pd.to_datetime('2016-12-31')
split_2018_later = pd.to_datetime('2017-12-31')

In [0]:
# dividing the df into three set
# train set is 2016 and before
# val set is just 2017
# test set is 2017 and after

train = df[df['Date'] < split_2016_earlier]
val = df[~(df['Date'] < split_2016_earlier) & ~(df['Date'] > split_2018_later)]
test = df[df['Date'] > split_2018_later]

In [0]:
# arranging y vectors

target = 'Great'
y_train = train[target]
y_val = val[target]
y_test = test[target]

In [16]:
y_train.shape, y_val.shape, y_test.shape

((298,), (85,), (38,))

In [17]:
# distribution of target in train df

y_train.value_counts(normalize=True)

0    0.590604
1    0.409396
Name: Great, dtype: float64

In [0]:
# 0 has most majority, so using mode to make all prediction 0 for baseline

majority_class = y_train.mode()[0]
y_pred = [majority_class] * len(y_train)

In [26]:
# import accruracy_score from sklearn.metrics
# baseline for train df

from sklearn.metrics import accuracy_score

print(f'Train accuracy score: {accuracy_score(y_train, y_pred)}')

Train accuracy score: 0.5906040268456376

In [28]:
# baseline for val df

y_pred = [majority_class] * len(y_val)
print(f'Val accuracy score: {accuracy_score(y_val, y_pred)}')

Val accuracy score: 0.5529411764705883

In [29]:
# baseline for test df

y_pred = [majority_class] * len(y_test)
print(f'Test accuracy score: {accuracy_score(y_test, y_pred)}')

Test accuracy score: 0.42105263157894735

In [39]:
print(train.columns)

Index(['Burrito', 'Date', 'Yelp', 'Google', 'Chips', 'Cost', 'Hunger',
       'Mass (g)', 'Density (g/mL)', 'Length', 'Circum', 'Volume', 'Tortilla',
       'Temp', 'Meat', 'Fillings', 'Meat:filling', 'Uniformity', 'Salsa',
       'Synergy', 'Wrap', 'Unreliable', 'NonSD', 'Beef', 'Pico', 'Guac',
       'Cheese', 'Fries', 'Sour cream', 'Pork', 'Chicken', 'Shrimp', 'Fish',
       'Rice', 'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots',
       'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito',
       'Pineapple', 'Ham', 'Chile relleno', 'Nopales', 'Lobster', 'Queso',
       'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini',
       'Great'],
      dtype='object')

In [0]:
# features variable with different features

features = ['Volume', 'Tortilla', 'Temp', 'Meat', 'Fillings', 'Meat:filling', 'Uniformity', 'Salsa', 'Synergy', 'Wrap']

# arranging x matrices
X_train = train[features]
X_val = val[features]
X_test = test[features]

In [42]:
X_train.isnull().sum()

Volume          124
Tortilla          0
Temp             15
Meat             10
Fillings          1
Meat:filling      6
Uniformity        2
Salsa            20
Synergy           2
Wrap              2
dtype: int64

In [43]:
X_train.head()

   Volume  Tortilla  Temp  Meat  ...  Uniformity  Salsa  Synergy  Wrap
0     NaN       3.0   5.0   3.0  ...         4.0    4.0      4.0   4.0
1     NaN       2.0   3.5   2.5  ...         4.0    3.5      2.5   5.0
2     NaN       3.0   2.0   2.5  ...         4.0    3.0      3.0   5.0
3     NaN       3.0   2.0   3.5  ...         5.0    4.0      4.0   5.0
4     NaN       4.0   5.0   4.0  ...         5.0    2.5      4.5   4.0

[5 rows x 10 columns]

In [44]:
X_train.dtypes

Volume          float64
Tortilla        float64
Temp            float64
Meat            float64
Fillings        float64
Meat:filling    float64
Uniformity      float64
Salsa           float64
Synergy         float64
Wrap            float64
dtype: object

In [45]:
X_train.describe()

           Volume    Tortilla        Temp  ...       Salsa     Synergy        Wrap
count  174.000000  298.000000  283.000000  ...  278.000000  296.000000  296.000000
mean     0.770920    3.472315    3.706360  ...    3.324640    3.540203    3.955068
std      0.137833    0.797606    0.991897  ...    0.971226    0.922426    1.167341
min      0.400000    1.400000    1.000000  ...    0.000000    1.000000    0.000000
25%      0.662500    3.000000    3.000000  ...    2.500000    3.000000    3.500000
50%      0.750000    3.500000    4.000000  ...    3.500000    3.750000    4.000000
75%      0.870000    4.000000    4.500000  ...    4.000000    4.000000    5.000000
max      1.240000    5.000000    5.000000  ...    5.000000    5.000000    5.000000

[8 rows x 10 columns]

In [47]:
# import class Logistic Regression
from sklearn.linear_model import LogisticRegression
# instantiate the object
log_reg = LogisticRegression()

# impute missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)
X_test_imputed = imputer.transform(X_test)

# fit the model
log_reg.fit(X_train_imputed, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [48]:
log_reg.score(X_train_imputed, y_train)

0.8859060402684564

In [49]:
log_reg.score(X_val_imputed, y_val)

0.8470588235294118

In [50]:
log_reg.score(X_test_imputed, y_test)

0.7631578947368421

In [52]:
log_reg.predict(X_test_imputed)

array([1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1])

In [55]:
test['Great'].values

array([1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1])