<a href="https://colab.research.google.com/github/Mike-Xie/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/Mike_Xie_assignment_regression_classification_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [19]:
# turn date into date time object
df.dtypes

Location                object
Burrito                 object
Date            datetime64[ns]
Neighborhood            object
Address                 object
                     ...
Sushi                   object
Avocado                 object
Corn                    object
Zucchini                object
Great                     bool
Length: 67, dtype: object

In [32]:
df.shape

(421, 67)

In [39]:
df.head(5)

               Location      Burrito       Date  ... Corn Zucchini  Great
0    Donato's taco shop  California  2016-01-18  ...  NaN      NaN  False
1  Oscar's Mexican food  California  2016-01-24  ...  NaN      NaN  False
2  Oscar's Mexican food     Carnitas 2016-01-24  ...  NaN      NaN  False
3  Oscar's Mexican food  Carne asada 2016-01-24  ...  NaN      NaN  False
4          Pollos Maria   California 2016-01-27  ...  NaN      NaN   True

[5 rows x 66 columns]

count    401.000000
mean       3.783042
std        0.980338
min        1.000000
25%        3.000000
50%        4.000000
75%        4.500000
max        5.000000
Name: Temp, dtype: float64

In [34]:
df.describe()

            Yelp     Google        Cost  ...     Synergy        Wrap     overall
count  87.000000  87.000000  414.000000  ...  419.000000  418.000000  421.000000
mean    3.887356   4.167816    7.067343  ...    3.586993    3.979904    3.620887
std     0.475396   0.373698    1.506742  ...    0.886807    1.118185    0.755718
min     2.500000   2.900000    2.990000  ...    1.000000    0.000000    1.000000
25%     3.500000   4.000000    6.250000  ...    3.000000    3.500000    3.100000
50%     4.000000   4.200000    6.990000  ...    3.800000    4.000000    3.800000
75%     4.000000   4.400000    7.880000  ...    4.000000    5.000000    4.100000
max     4.500000   5.000000   25.000000  ...    5.000000    5.000000    5.000000

[8 rows x 19 columns]

In [0]:
df = df.drop(columns=['Queso']) # because it's all NaNs

In [0]:
df['Date'] = pd.to_datetime(df['Date'],infer_datetime_format=True)

In [0]:
#  Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
train = df[df.Date.dt.year < 2017]

validate = df[df.Date.dt.year == 2017]

test = df[df.Date.dt.year > 2017]

In [36]:
#  Begin with baselines for classification.
# Figure out what is the majority and use that as default

target = 'Great'
y_train = train[target]
y_train.value_counts(normalize=True)

# Baseline is only 40.9%

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [45]:
majority_class = y_train.mode()[0]


y_val = validate[target]
y_pred = [majority_class] * len(y_train)

from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_pred)

# Uh, bizarrely high, oh well

0.5906040268456376

In [43]:
# This seems to skip most of the columns that are 95%+ NaNs, fine by me
# Ask Jordan why this is, seems smart design decision
list(df.describe().columns)

['Yelp',
 'Google',
 'Cost',
 'Hunger',
 'Mass (g)',
 'Density (g/mL)',
 'Length',
 'Circum',
 'Volume',
 'Tortilla',
 'Temp',
 'Meat',
 'Fillings',
 'Meat:filling',
 'Uniformity',
 'Salsa',
 'Synergy',
 'Wrap',
 'overall']

In [48]:
#  Use scikit-learn for logistic regression.
from sklearn.linear_model import LogisticRegression

# arrange features, 
features = list(df.describe().columns)

X_train = train[features]
X_validate = validate[features]

# Imput missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_validate)

#  Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
log_reg = LogisticRegression(solver='lbfgs')
log_reg.fit(X_train_imputed, y_train)
print('Validated Accuracy', log_reg.score(X_val_imputed, y_val))

# wow 91.7%, pretty good

Validated Accuracy 0.9176470588235294

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

In [49]:
#  Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
print('Validated Accuracy', log_reg.score(X_val_imputed, y_val))

Validated Accuracy 0.9176470588235294

In [51]:
#  Get your model's test accuracy. (One time, at the end.)
y_test = test[target]
X_test_validate = test[features]
X_test_val_imputed = imputer.transform(X_test_validate)

print('Test Accuracy', log_reg.score(X_test_val_imputed, y_test))

Test Accuracy 0.868421052631579

In [0]:
#  Commit your notebook to your fork of the GitHub repo.