<a href="https://colab.research.google.com/github/skhabiri/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/skhabiri_LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [2]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [4]:
print(df.shape)
df.head()

(423, 66)

               Location      Burrito       Date  ... Avocado Corn Zucchini
0    Donato's taco shop  California   1/18/2016  ...     NaN  NaN      NaN
1  Oscar's Mexican food  California   1/24/2016  ...     NaN  NaN      NaN
2  Oscar's Mexican food     Carnitas  1/24/2016  ...     NaN  NaN      NaN
3  Oscar's Mexican food  Carne asada  1/24/2016  ...     NaN  NaN      NaN
4          Pollos Maria   California  1/27/2016  ...     NaN  NaN      NaN

[5 rows x 66 columns]

In [15]:
# check number of ns in class label
df["overall"].value_counts(dropna=False)

4.00000    74
3.50000    46
3.00000    39
4.50000    24
4.20000    24
2.00000    19
3.90000    17
3.70000    15
3.80000    15
4.10000    12
5.00000    11
3.20000    11
2.50000     9
3.60000     9
4.25000     8
4.80000     7
4.30000     7
3.10000     6
3.75000     6
2.60000     6
2.80000     5
4.60000     4
4.70000     4
2.70000     4
2.90000     4
3.30000     4
2.20000     4
4.40000     4
1.50000     4
3.40000     3
4.90000     3
NaN         2
3.25000     2
1.80000     2
2.40000     2
2.75000     2
2.30000     2
2.66000     1
1.00000     1
3.33333     1
Name: overall, dtype: int64

In [16]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [17]:
df.shape

(421, 67)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421 entries, 0 to 422
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Location        421 non-null    object
 1   Burrito         421 non-null    object
 2   Date            421 non-null    object
 3   Neighborhood    92 non-null     object
 4   Address         88 non-null     object
 5   URL             87 non-null     object
 6   Yelp            87 non-null     float64
 7   Google          87 non-null     float64
 8   Chips           26 non-null     object
 9   Cost            414 non-null    float64
 10  Hunger          418 non-null    float64
 11  Mass (g)        22 non-null     float64
 12  Density (g/mL)  22 non-null     float64
 13  Length          283 non-null    float64
 14  Circum          281 non-null    float64
 15  Volume          281 non-null    float64
 16  Tortilla        421 non-null    float64
 17  Temp            401 non-null    float64
 18  Meat            407 non-null    float64
 19  Fillings        418 non-null    float64
 20  Meat:filling    412 non-null    float64
 21  Uniformity      419 non-null    float64
 22  Salsa           396 non-null    float64
 23  Synergy         419 non-null    float64
 24  Wrap            418 non-null    float64
 25  overall         421 non-null    float64
 26  Rec             231 non-null    object
 27  Reviewer        420 non-null    object
 28  Notes           146 non-null    object
 29  Unreliable      33 non-null     object
 30  NonSD           7 non-null      object
 31  Beef            179 non-null    object
 32  Pico            158 non-null    object
 33  Guac            154 non-null    object
 34  Cheese          159 non-null    object
 35  Fries           127 non-null    object
 36  Sour cream      92 non-null     object
 37  Pork            51 non-null     object
 38  Chicken         21 non-null     object
 39  Shrimp          21 non-null     object
 40  Fish            6 non-null      object
 41  Rice            36 non-null     object
 42  Beans           35 non-null     object
 43  Lettuce         11 non-null     object
 44  Tomato          7 non-null      object
 45  Bell peper      7 non-null      object
 46  Carrots         1 non-null      object
 47  Cabbage         8 non-null      object
 48  Sauce           38 non-null     object
 49  Salsa.1         7 non-null      object
 50  Cilantro        15 non-null     object
 51  Onion           17 non-null     object
 52  Taquito         4 non-null      object
 53  Pineapple       7 non-null      object
 54  Ham             2 non-null      object
 55  Chile relleno   4 non-null      object
 56  Nopales         4 non-null      object
 57  Lobster         1 non-null      object
 58  Queso           0 non-null      float64
 59  Egg             5 non-null      object
 60  Mushroom        3 non-null      object
 61  Bacon           3 non-null      object
 62  Sushi           2 non-null      object
 63  Avocado         13 non-null     object
 64  Corn            3 non-null      object
 65  Zucchini        1 non-null      object
 66  Great           421 non-null    bool
dtypes: bool(1), float64(20), object(46)
memory usage: 220.8+ KB

In [22]:
df["Burrito"].value_counts()

California            101
Carne asada            29
California             26
Carnitas               23
Local                  14
                     ...
California Burrito      1
Tejano                  1
Hawaiian                1
Barbacoa                1
Especial                1
Name: Burrito, Length: 132, dtype: int64

In [23]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

# california is a boolean pd.Series
california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [26]:
california.head()

0     True
1     True
2    False
3    False
4     True
Name: Burrito, dtype: bool

In [27]:
df["Burrito"].value_counts()

California     169
Other          156
Asada           43
Surf & Turf     28
Carnitas        25
Name: Burrito, dtype: int64

In [28]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [29]:
# Drop some columns to prevent "leakage"
# Recommended and overal are derivatives of class label Great, causing leakage
df = df.drop(columns=['Rec', 'overall'])

In [30]:
df.shape

(421, 59)

In [33]:
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)

In [58]:
df["Date"].value_counts()

2016-08-30    29
2016-06-24     9
2019-08-27     9
2016-05-13     7
2016-04-15     7
              ..
2016-09-13     1
2016-11-14     1
2016-12-15     1
2016-10-07     1
2019-08-24     1
Name: Date, Length: 169, dtype: int64

In [60]:
mask_2017 = pd.to_datetime('01-01-2017')
mask_2018 = pd.to_datetime('01-01-2018')

In [63]:
# split data into three categories
train = df[df["Date"] < mask_2017]
valid = df[(df["Date"] >= mask_2017) & (df["Date"] < mask_2018)]
test = df[df["Date"] >= mask_2018]

In [67]:
# Chck if the split left anything out or overlaps
assert len(df) == len(train) + len(valid) + len(test)

* X and Y label

In [68]:
train.shape

(298, 59)

In [72]:
X_train = train
y_train = X_train.pop("Great")

X_valid = valid
y_valid = X_valid.pop("Great")

X_test = test
y_test = X_test.pop("Great")

* Baseline model

In [75]:
y_train.unique()

array([False,  True])

In [76]:
y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

* Base line model: False
and that's accurate with 59% chance

* Logistic Regression

In [77]:
# # Import my predictor
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.impute import SimpleImputer

In [91]:
X_train.head(5)

      Burrito       Date  Yelp  Google Chips  ...  Bacon  Sushi  Avocado  Corn  Zucchini
0  California 2016-01-18   3.5     4.2   NaN  ...    NaN    NaN      NaN   NaN       NaN
1  California 2016-01-24   3.5     3.3   NaN  ...    NaN    NaN      NaN   NaN       NaN
2    Carnitas 2016-01-24   NaN     NaN   NaN  ...    NaN    NaN      NaN   NaN       NaN
3       Asada 2016-01-24   NaN     NaN   NaN  ...    NaN    NaN      NaN   NaN       NaN
4  California 2016-01-27   4.0     3.8     x  ...    NaN    NaN      NaN   NaN       NaN

[5 rows x 58 columns]

In [89]:
# Filter out nopn-numeric features
features = X_train.select_dtypes(include='number').columns
type(features)

pandas.core.indexes.base.Index

In [88]:
lin_model = LinearRegression()

In [106]:

# Fill na with SimpleImputer, we won't do that for y though
si = SimpleImputer()
X_train_sel = si.fit_transform(X_train[features])
X_valid_sel = si.fit_transform(X_valid[features])

In [153]:
print(X_train.shape)
print(X_valid.shape)

print(X_train[features].shape)
print(X_valid[features].shape)

print(X_train_sel.shape)
print(X_valid_sel.shape)

(298, 58)
(85, 58)
(298, 19)
(85, 19)
(298, 16)
(85, 18)

* Seems like columns of X_valid and X_train independantly are dropped by SimpleImputer. Perhaps there were all NaN

In [170]:
# Number of columns with all NaN
print((X_valid[features].isna().sum(axis=0)==len(X_valid)).sum())
print((X_train[features].isna().sum(axis=0)==len(X_train)).sum())

1
3

* Let's align columns of X_train_sel and X_valid_sel

In [182]:
(X_valid[features].isna().sum(axis=0)> 0.8*len(X_valid)).sum()

3

In [175]:
X_valid[features].shape

(85, 19)

In [202]:
Col_valid_na = X_valid[features].columns[(X_valid[features].isna().sum(axis=0) >= 0.7*len(X_valid))]
Col_train_na = X_train[features].columns[(X_train[features].isna().sum(axis=0) >= 0.2*len(X_train))]
print("Training columns to drop", Col_train_na)
print("validation columns to drop", Col_valid_na)
Col_valid_na_ser = pd.Series(Col_valid_na)
Col_train_na_ser = pd.Series(Col_train_na)

# Col_drop = pd.merge(Col_valid_na_ser, Col_train_na_ser, how='outer')

Training columns to drop Index(['Yelp', 'Google', 'Mass (g)', 'Density (g/mL)', 'Length', 'Circum',
       'Volume', 'Queso'],
      dtype='object')
validation columns to drop Index(['Yelp', 'Google', 'Mass (g)', 'Density (g/mL)', 'Queso'], dtype='object')

ValueError: ignored

In [ ]:
# df1 = df.dropna(thresh=370, axis=1)

In [162]:
if X_valid[features]
col_list = X_valid.columns
X_train[col_list].shape

(298, 58)

In [97]:
lin_model.fit(X_train_sel, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [149]:
X_valid_sel

array([[ 3.84615385,  4.35384615,  6.6       , ...,  1.5       ,
         3.5       ,  4.5       ],
       [ 3.84615385,  4.35384615,  6.6       , ...,  4.2       ,
         3.75      ,  5.        ],
       [ 3.84615385,  4.35384615,  8.5       , ...,  4.3       ,
         4.2       ,  5.        ],
       ...,
       [ 4.        ,  4.5       , 11.5       , ...,  3.5       ,
         4.        ,  2.        ],
       [ 3.84615385,  4.35384615,  7.89      , ...,  3.5       ,
         4.3       ,  4.5       ],
       [ 3.84615385,  4.35384615,  7.89      , ...,  5.        ,
         5.        ,  3.        ]])

In [140]:
X_valid[X_valid.columns == (X_valid.isna().sum(axis=0)==len(X_valid.columns))]

ValueError: ignored

In [100]:
# Apply our model to new data
lin_model.predict(X_train_sel)

array([ 0.44488067, -0.09326176,  0.03711416,  0.30425209,  0.78847568,
        0.48012925, -0.14529904, -0.00142295,  0.42455352, -0.22353051,
       -0.05458493,  0.02949579,  0.27050957,  0.1041616 ,  0.08296338,
        0.6553216 ,  0.81796274,  0.45778379,  0.46962221,  0.09064877,
        0.22460883,  0.32635558,  0.08296122,  0.62541771,  0.59759904,
        0.22264169,  0.16992311,  0.56473841,  0.73924418,  0.32094949,
        0.48235143, -0.01063053, -0.30003272, -0.90046533,  0.33739931,
        0.20862901,  0.57738671,  0.38728819,  0.60539483,  0.68782292,
        0.40553032,  0.2620027 ,  0.6384121 ,  0.35917695,  0.59154376,
        0.19163055,  0.3939565 ,  0.27142973,  0.08377925,  0.19528983,
        0.70002524,  0.91186785, -0.21679332,  0.55132464,  0.5167455 ,
        0.23981618,  0.53983593,  0.5638558 ,  0.82709064,  1.01352166,
        0.47791233,  0.26390009,  0.44651361,  0.07924928,  0.64161032,
        0.51677498,  0.47322073,  0.43331513,  1.05547855,  1.14732707,
        0.92019147,  0.46754305,  0.52721697,  0.40496554,  0.15012106,
       -0.34728588, -0.3439639 ,  0.07369744,  0.28833648,  0.31204966,
        0.35175229,  0.68910824,  0.92501679,  0.51724658,  0.59107978,
        0.76021472,  0.44666163,  1.21390912,  0.00477747,  0.26465612,
        0.4281368 ,  0.66236758, -0.10493183,  0.68312212,  0.29765174,
        0.93735863,  0.82240209,  0.89468547,  1.04706811,  0.45572649,
        0.43307604,  0.34707459,  0.52122708, -0.55611229,  0.80566113,
        0.91755353,  0.78294995,  0.72610405, -0.00443267, -0.36148187,
        0.53756408,  1.14822048,  0.66783905,  0.51471041,  0.44148685,
       -0.27322949,  0.01195877,  0.41931858,  0.19336864,  0.196471  ,
        0.52574651,  0.02773119,  0.73669427,  0.73467137,  0.42056956,
       -0.14695364,  0.00268159, -0.34185203,  0.88274193,  1.22679215,
        0.99221295,  0.4428949 ,  1.2202881 ,  0.74917391,  1.1314466 ,
        1.26861781, -0.31990757,  0.08602182, -0.29591209, -0.2444399 ,
        0.4648731 , -0.12848608,  0.55571953,  0.74916136,  0.56329416,
        0.50148835,  0.29439856,  0.32055514,  0.73058321,  0.4896461 ,
        0.56947103,  0.21617817,  0.81084716,  0.47618802, -0.26926984,
        0.62036919,  0.14228624,  0.6657981 ,  0.47241335,  0.70807162,
        0.29244255,  0.7229456 ,  0.79367102,  0.92993463,  0.41861409,
        0.79476312,  0.89004269,  0.50505329,  0.56886643,  0.55288559,
        0.19036596,  0.8628748 ,  0.09063491,  0.05563789, -0.36445836,
       -0.18189367,  0.50406673,  0.60684269,  0.31524448,  0.72286423,
        0.10204851, -0.12075215,  0.66043994,  0.54736184,  0.37008782,
        0.6850979 ,  0.18124269,  0.48013672,  0.21908801,  0.46175303,
        0.02358489,  0.09621534,  0.41954536, -0.07041164,  0.12230517,
        0.46181471,  0.33625705,  0.5684915 ,  0.22080269,  0.46338824,
        0.40826807,  0.69674363,  0.32176935,  0.76612699,  0.96303844,
        0.40707301, -0.15569583,  0.58793098,  0.05745286,  0.20866041,
        0.67657509,  0.96443074,  0.52907734,  0.40202154,  0.08402443,
       -0.33120971,  0.58676077,  0.28455337,  0.77997744,  0.02074456,
       -0.22287426,  0.3196194 ,  0.61663622,  0.46912926,  0.14546792,
        0.76947405, -0.04477448, -0.00687232,  0.99369249,  0.95496249,
        0.68518601,  0.69429419,  0.36839758,  0.71681922,  0.23579252,
        0.03895289,  0.27582954,  0.35090536, -0.21552883,  0.79569659,
        0.61819875,  0.79672541,  0.14829164,  0.78203303,  0.64503233,
        0.2416408 ,  0.44502049,  0.33657377,  0.09994836,  0.03878761,
        0.34532692,  0.33553152,  0.68676008,  0.209589  ,  0.96690214,
       -0.17023338,  0.3430848 ,  0.07214336,  0.30677328,  0.50999014,
        0.27986331,  0.61141921,  0.61572497,  0.40615367,  0.06093977,
        0.5784788 ,  0.74971119,  0.28631236,  0.51159948,  0.79386571,
        0.19100951,  0.73366508,  0.32504963, -0.00748206,  0.42660839,
        0.48074506,  0.40008406,  0.07733327,  0.51917351,  0.05226747,
        0.69605915,  1.10998034,  0.97203953,  0.45453578,  0.80750458,
        0.93988003,  0.83642726,  0.46650084,  0.93354606,  0.64390484,
        0.41937845,  0.29014326, -0.0449428 , -0.08263139, -0.05739845,
        0.12277262, -0.00255598,  0.6174696 ])

In [ ]:
# # Import my predictor
# from sklearn.linear_model import LinearRegression, LogisticRegression
# from sklearn.impute import SimpleImputer

# # Instantiate
# lin_model = LinearRegression()

# # Get your data in order
# features = ['Pclass', 'Age', 'Fare']
# X_train_small = X_train[features] 
# X_val_small = X_val[features]

# # Transform our data
# si = SimpleImputer()
# X_train_small_t = si.fit_transform(X_train_small)
# X_val_small_t = si.fit_transform(X_val_small)

# # Fit model
# lin_model.fit(X_train_small_t, y_train)

# # Apply our model to new data
# Y_val_pred = lin_model.predict(X_val_small_t)