<a href="https://colab.research.google.com/github/ericaburdett/DS-Unit-2-Linear-Models/blob/master/module2-wrangle-ml-datasets/232_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Wrangle ML datasets

- [ ] Continue to clean and explore your data. 
- [ ] For the evaluation metric you chose, what score would you get just by guessing?
- [ ] Can you make a fast, first model that beats guessing?

**We recommend that you use your portfolio project dataset for all assignments this sprint.**

**But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset for today's assignment.** Follow the instructions below, to just keep a subset for the Tribeca neighborhood, and remove outliers or dirty data. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!

- Data Source: [NYC OpenData: NYC Citywide Rolling Calendar Sales](https://data.cityofnewyork.us/dataset/NYC-Citywide-Rolling-Calendar-Sales/usep-8jbt)
- Glossary: [NYC Department of Finance: Rolling Sales Data](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page)

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*
    !pip install pandas-profiling==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Read New York City property sales data
import pandas as pd
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

In [3]:
df.head()

   BOROUGH             NEIGHBORHOOD  ... SALE PRICE   SALE DATE
0        1                  CHELSEA  ...    $   - 0  01/01/2019
1        1                  FASHION  ...    $   - 0  01/01/2019
2        1                  FASHION  ...    $   - 0  01/01/2019
3        1   GREENWICH VILLAGE-WEST  ...    $   - 0  01/01/2019
4        1  UPPER EAST SIDE (59-79)  ...    $   - 0  01/01/2019

[5 rows x 21 columns]

Your code starts here:

In [4]:
# Change column names: replace spaces with underscores
df.columns = df.columns.str.replace(' ', '_')
df.head()

   BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0        1                  CHELSEA  ...    $   - 0  01/01/2019
1        1                  FASHION  ...    $   - 0  01/01/2019
2        1                  FASHION  ...    $   - 0  01/01/2019
3        1   GREENWICH VILLAGE-WEST  ...    $   - 0  01/01/2019
4        1  UPPER EAST SIDE (59-79)  ...    $   - 0  01/01/2019

[5 rows x 21 columns]

In [0]:
from pandas_profiling import ProfileReport
#profile = ProfileReport(df)

In [0]:
#profile

In [7]:
# Keep just the subset of data for the Tribeca neighborhood
# Check how many rows you have now. (Should go down from > 20k rows to 146)
df = df[df['NEIGHBORHOOD'] == 'TRIBECA']
df.shape

(146, 21)

In [8]:
# Q. What's the date range of these property sales in Tribeca?
df['SALE_DATE'].dtype

dtype('O')

In [9]:
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'], infer_datetime_format=True)
df['SALE_DATE'].describe()

count                     146
unique                     66
top       2019-02-12 00:00:00
freq                       17
first     2019-01-03 00:00:00
last      2019-04-30 00:00:00
Name: SALE_DATE, dtype: object

In [10]:
# The Pandas Profiling Report showed that SALE_PRICE was read as strings
# Convert it to integers
def str_to_int(mystring):
  mystring = mystring.strip('$')
  mystring = mystring.strip()
  mystring = mystring.replace(',', '')
  mystring = mystring.replace('-', '')
  myint = int(mystring)
  return myint

df['SALE_PRICE'] = df['SALE_PRICE'].apply(str_to_int)
df['SALE_PRICE'].dtype

dtype('int64')

In [11]:
# Q. What is the maximum SALE_PRICE in this dataset?
df['SALE_PRICE'].max()

260000000

In [12]:
# Look at the row with the max SALE_PRICE
df[df['SALE_PRICE'] == df['SALE_PRICE'].max()]

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
6499        1      TRIBECA  ...  260000000 2019-02-01

[1 rows x 21 columns]

In [13]:
# Get value counts of TOTAL_UNITS
# Q. How many property sales were for multiple units?
df['TOTAL_UNITS'].value_counts()

1.0      131
0.0       11
5.0        1
286.0      1
8.0        1
3.0        1
Name: TOTAL_UNITS, dtype: int64

In [14]:
# Keep only the single units
df = df[df['TOTAL_UNITS']==1.0]
df.head()

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
220         1      TRIBECA  ...    2800000 2019-01-03
763         1      TRIBECA  ...    2650000 2019-01-07
996         1      TRIBECA  ...          0 2019-01-08
1276        1      TRIBECA  ...    1005000 2019-01-09
1543        1      TRIBECA  ...    1678000 2019-01-10

[5 rows x 21 columns]

In [15]:
# Q. Now what is the max sales price? How many square feet does it have?
df['SALE_PRICE'].max()

39285000

In [16]:
(df[df['SALE_PRICE'] == df['SALE_PRICE'].max()])['GROSS_SQUARE_FEET']

9236    8346.0
Name: GROSS_SQUARE_FEET, dtype: float64

In [17]:
# Q. How often did $0 sales occur in this subset of the data?

# There's a glossary here: 
# https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page

# It says:
# A $0 sale indicates that there was a transfer of ownership without a 
# cash consideration. There can be a number of reasons for a $0 sale including 
# transfers of ownership from parents to children. 

len(df[df['SALE_PRICE'] == 0])

15

In [18]:
# Look at property sales for > 5,000 square feet
# Q. What is the highest square footage you see?
(df[df['GROSS_SQUARE_FEET'] > 5000])['GROSS_SQUARE_FEET'].max()

39567.0

In [19]:
# What are the building class categories?
# How frequently does each occur?
df['BUILDING_CLASS_CATEGORY'].value_counts()

13 CONDOS - ELEVATOR APARTMENTS               121
15 CONDOS - 2-10 UNIT RESIDENTIAL               8
46 CONDO STORE BUILDINGS                        1
16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT      1
Name: BUILDING_CLASS_CATEGORY, dtype: int64

In [20]:
# Keep subset of rows:
# Sale price more than $0, 
# Building class category = Condos - Elevator Apartments

# Check how many rows you have now. (Should be 106 rows.)
df = df[df['SALE_PRICE'] > 0]
df = df[df['BUILDING_CLASS_CATEGORY'] == '13 CONDOS - ELEVATOR APARTMENTS']
df.head()

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
220         1      TRIBECA  ...    2800000 2019-01-03
763         1      TRIBECA  ...    2650000 2019-01-07
1276        1      TRIBECA  ...    1005000 2019-01-09
1543        1      TRIBECA  ...    1678000 2019-01-10
1855        1      TRIBECA  ...    1380000 2019-01-11

[5 rows x 21 columns]

In [22]:
# Make a Plotly Express scatter plot of GROSS_SQUARE_FEET vs SALE_PRICE
import plotly.express as px

fig = px.scatter(df, x='GROSS_SQUARE_FEET', y='SALE_PRICE', trendline = 'ols')
fig.show()

In [0]:
# Add an OLS (Ordinary Least Squares) trendline,
# to see how the outliers influence the "line of best fit"

In [24]:
# Look at sales for more than $35 million

# All are at 70 Vestry Street
# All but one have the same SALE_PRICE & SALE_DATE
# Was the SALE_PRICE for each? Or in total?
# Is this dirty data?
df[df['SALE_PRICE'] > 35000000]

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE  SALE_DATE
8370        1      TRIBECA  ...   36681561 2019-02-12
8371        1      TRIBECA  ...   36681561 2019-02-12
8372        1      TRIBECA  ...   36681561 2019-02-12
8373        1      TRIBECA  ...   36681561 2019-02-12
8374        1      TRIBECA  ...   36681561 2019-02-12
8375        1      TRIBECA  ...   36681561 2019-02-12
8376        1      TRIBECA  ...   36681561 2019-02-12
8377        1      TRIBECA  ...   36681561 2019-02-12
8378        1      TRIBECA  ...   36681561 2019-02-12
8379        1      TRIBECA  ...   36681561 2019-02-12
8380        1      TRIBECA  ...   36681561 2019-02-12
8381        1      TRIBECA  ...   36681561 2019-02-12
8382        1      TRIBECA  ...   36681561 2019-02-12
8383        1      TRIBECA  ...   36681561 2019-02-12
8384        1      TRIBECA  ...   36681561 2019-02-12
9236        1      TRIBECA  ...   39285000 2019-02-15

[16 rows x 21 columns]

In [25]:
# Make a judgment call:
# Keep rows where sale price was < $35 million
df = df[df['SALE_PRICE'] < 35000000]
# Check how many rows you have now. (Should be down to 90 rows.)
df.shape

(90, 21)

In [27]:
# Now that you've removed outliers,
# Look again at a scatter plot with OLS (Ordinary Least Squares) trendline
fig = px.scatter(df, x='GROSS_SQUARE_FEET', y='SALE_PRICE', trendline='ols')
fig.show()

In [0]:
# Select these columns, then write to a csv file named tribeca.csv. Don't include the index
df.to_csv('tribeca.csv', index=False)