<a href="https://colab.research.google.com/github/ericaburdett/DS-Unit-2-Linear-Models/blob/master/module1-regression-1/assignment_211.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 1*

---

# Regression 1

## Assignment

You'll use another **New York City** real estate dataset. 

But now you'll **predict how much it costs to rent an apartment**, instead of how much it costs to buy a condo.

The data comes from renthop.com, an apartment listing website.

- [ ] Look at the data. Choose a feature, and plot its relationship with the target.
- [ ] Use scikit-learn for linear regression with one feature. You can follow the [5-step process from Jake VanderPlas](https://jakevdp.github.io/PythonDataScienceHandbook/05.02-introducing-scikit-learn.html#Basics-of-the-API).
- [ ] Define a function to make new predictions and explain the model coefficient.
- [ ] Organize and comment your code.

> [Do Not Copy-Paste.](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit) You must type each of these exercises in, manually. If you copy and paste, you might as well not even do them. The point of these exercises is to train your hands, your brain, and your mind in how to read, write, and see code. If you copy-paste, you are cheating yourself out of the effectiveness of the lessons.

If your **Plotly** visualizations aren't working:
- You must have JavaScript enabled in your browser
- You probably want to use Chrome or Firefox
- You may need to turn off ad blockers
- [If you're using Jupyter Lab locally, you need to install some "extensions"](https://plot.ly/python/getting-started/#jupyterlab-support-python-35)

## Stretch Goals
- [ ] Do linear regression with two or more features.
- [ ] Read [The Discovery of Statistical Regression](https://priceonomics.com/the-discovery-of-statistical-regression/)
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapter 2.1: What Is Statistical Learning?

In [0]:
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
# Read New York City apartment rental listing data
import pandas as pd
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

In [0]:
# Remove outliers: 
# the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= 1375) & (df['price'] <= 15500) & 
        (df['latitude'] >=40.57) & (df['latitude'] < 40.99) &
        (df['longitude'] >= -74.1) & (df['longitude'] <= -73.38)]

In [0]:
df.shape

(48818, 34)

In [0]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
df.describe()

          bathrooms      bedrooms  ...  wheelchair_access  common_outdoor_space
count  48818.000000  48818.000000  ...       48818.000000          48818.000000
mean       1.201790      1.537158  ...           0.027224              0.026240
std        0.470707      1.106078  ...           0.162736              0.159851
min        0.000000      0.000000  ...           0.000000              0.000000
25%        1.000000      1.000000  ...           0.000000              0.000000
50%        1.000000      1.000000  ...           0.000000              0.000000
75%        1.000000      2.000000  ...           0.000000              0.000000
max       10.000000      8.000000  ...           1.000000              1.000000

[8 rows x 29 columns]

In [0]:
df.columns

Index(['bathrooms', 'bedrooms', 'created', 'description', 'display_address',
       'latitude', 'longitude', 'price', 'street_address', 'interest_level',
       'elevator', 'cats_allowed', 'hardwood_floors', 'dogs_allowed',
       'doorman', 'dishwasher', 'no_fee', 'laundry_in_building',
       'fitness_center', 'pre-war', 'laundry_in_unit', 'roof_deck',
       'outdoor_space', 'dining_room', 'high_speed_internet', 'balcony',
       'swimming_pool', 'new_construction', 'terrace', 'exclusive', 'loft',
       'garden_patio', 'wheelchair_access', 'common_outdoor_space'],
      dtype='object')

In [0]:
#1. Import the appropriate estimator class from Scikit-Learn
from sklearn.linear_model import LinearRegression

In [0]:
#2. Instatiate the class
model = LinearRegression()

In [0]:
#3. Arrange X features matrix & y target vector
X = df[['bedrooms']]
y = df['price']

In [0]:
#4. Fit the model
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
#5. Apply the model to new data
bedrooms = 3
X_test = [[bedrooms]]
y_pred = model.predict(X_test)
print(f'Predicted price for {bedrooms} bedrooms: ${y_pred[0]:,.0f}')

Predicted price for 3 bedrooms: $4,828

In [33]:
# Find the coefficient
coef = model.coef_
print(f'For every additional bedroom, ${coef[0]:,.2f} is added.')

For every additional bedroom, $853.25 is added.

In [34]:
# Find y-intercept
model.intercept_

2267.9741491780505

In [0]:
# Define function to make new predictions and explain model coefficiient
def predict(bedrooms):
  y_pred = model.predict([[bedrooms]])
  coef = model.coef_
  return print(f'The predicted price for {bedrooms} bedrooms is: ${y_pred[0]:,.0f}\nEach additional bedroom adds ${coef[0]:,.2f}')

In [38]:
predict(1)

The predicted price for 1 bedrooms is: $3,121
Each additional bedroom adds $853.25

In [39]:
predict(5)

The predicted price for 5 bedrooms is: $6,534
Each additional bedroom adds $853.25

## Linear regression with two features

In [0]:
# Define features to be used
features = df[['bedrooms', 'bathrooms']]

In [0]:
model2 = LinearRegression()

In [42]:
# y has already been defined as price above
model2.fit(features, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
def predict2(bedrooms, bathrooms):
  y_pred = model2.predict([[bedrooms, bathrooms]])
  coef2 = model2.coef_
  return print(f'An apartment with {bedrooms} bedrooms and {bathrooms} bathrooms will rent for ${y_pred[0]:.0f}.\nEach additional bedroom will add {coef2[1]:.0f}. Each additional bathroom will add {coef2[0]:.0f}')

In [47]:
predict2(2, 2)

An apartment with 2 bedrooms and 2 bathrooms will rent for $5433.
Each additional bedroom will add 2099. Each additional bathroom will add 385